Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

refactor(jenkinsfile): clear mechanical aislop findings in the generator scripts (#390)
  skills/ci-cd/jenkinsfile/generator/scripts/generate_declarative.py
  skills/ci-cd/jenkinsfile/generator/scripts/generate_scripted.py
  skills/ci-cd/jenkinsfile/generator/scripts/generate_shared_library.py
  skills/ci-cd/jenkinsfile/generator/scripts/lib/common_patterns.py
  skills/ci-cd/jenkinsfile/generator/scripts/lib/syntax_helpers.py
Due: none

refactor(ansible): clear mechanical aislop findings in the validator script
  skills/infrastructure/ansible/validator/scripts/extract_ansible_info.py
Due: none

refactor(ansible): clear mechanical aislop findings in the validator script (#391)
  skills/infrastructure/ansible/validator/scripts/extract_ansible_info.py
Due: none

refactor(terraform): clear mechanical aislop findings in the validator script
  skills/infrastructure/terraform/validator/scripts/extract_tf_info.py
Due: none

refactor(terraform): clear mechanical aislop findings in the validator script (#392)
  skills/infrastructure/terraform/validator/scripts/extract_tf_info.py
Due: none

refactor(terragrunt): clear mechanical aislop findings in the validator script
  skills/infrastructure/terragrunt/validator/scripts/detect_custom_resources.py
Due: none

refactor(terragrunt): clear mechanical aislop findings in the validator script (#393)
  skills/infrastructure/terragrunt/validator/scripts/detect_custom_resources.py
Due: none

refactor(google-scholar-search): clear mechanical aislop findings in the search script
  skills/documentation/research/google-scholar-search/references/setup-and-troubleshooting.md
  skills/documentation/research/google-scholar-search/scripts/google-scholar-search.py
Due: markdownlint

refactor(google-scholar-search): clear mechanical aislop findings in the search script (#394)
  skills/documentation/research/google-scholar-search/references/setup-and-troubleshooting.md
  skills/documentation/research/google-scholar-search/scripts/google-scholar-search.py
Due: markdownlint

refactor(pubmed-search): clear mechanical aislop findings in the search script
  skills/documentation/research/pubmed-search/references/setup-and-troubleshooting.md
  skills/documentation/research/pubmed-search/scripts/pubmed_search.py
Due: markdownlint

refactor(pubmed-search): clear mechanical aislop findings in the search script (#395)
  skills/documentation/research/pubmed-search/references/setup-and-troubleshooting.md
  skills/documentation/research/pubmed-search/scripts/pubmed_search.py
Due: markdownlint

refactor(semantic-scholar-search): clear mechanical aislop findings in the search script
  skills/documentation/research/semantic-scholar-search/scripts/semantic-scholar-search.py
Due: none

refactor(semantic-scholar-search): clear mechanical aislop findings in the search script (#396)
  skills/documentation/research/semantic-scholar-search/scripts/semantic-scholar-search.py
Due: none

refactor(sci-data-extractor): clear mechanical aislop findings in the extraction scripts
  skills/documentation/research/sci-data-extractor/scripts/batch_extract.py
  skills/documentation/research/sci-data-extractor/scripts/extractor.py
Due: none

refactor(sci-data-extractor): clear mechanical aislop findings in the extraction scripts (#397)
  skills/documentation/research/sci-data-extractor/scripts/batch_extract.py
  skills/documentation/research/sci-data-extractor/scripts/extractor.py
Due: none

refactor(sci-hub-search): clear mechanical aislop findings in the search script
  skills/documentation/research/sci-hub-search/scripts/sci_hub_search.py
Due: none

refactor(sci-hub-search): clear mechanical aislop findings in the search script (#398)
  skills/documentation/research/sci-hub-search/scripts/sci_hub_search.py
Due: none

refactor(notebooklm): clear mechanical aislop findings in the scripts
  skills/documentation/research/notebooklm/references/troubleshooting.md
  skills/documentation/research/notebooklm/scripts/__init__.py
  skills/documentation/research/notebooklm/scripts/ask_question.py
  skills/documentation/research/notebooklm/scripts/auth_manager.py
  skills/documentation/research/notebooklm/scripts/browser_session.py
  skills/documentation/research/notebooklm/scripts/browser_utils.py
  skills/documentation/research/notebooklm/scripts/cleanup_manager.py
  skills/documentation/research/notebooklm/scripts/config.py
  skills/documentation/research/notebooklm/scripts/logger.py
  skills/documentation/research/notebooklm/scripts/notebook_manager.py
  skills/documentation/research/notebooklm/scripts/run.py
  skills/documentation/research/notebooklm/scripts/setup_environment.py
Due: markdownlint

refactor(notebooklm): clear mechanical aislop findings in the scripts (#399)
  skills/documentation/research/notebooklm/references/troubleshooting.md
  skills/documentation/research/notebooklm/scripts/__init__.py
  skills/documentation/research/notebooklm/scripts/ask_question.py
  skills/documentation/research/notebooklm/scripts/auth_manager.py
  skills/documentation/research/notebooklm/scripts/browser_session.py
  skills/documentation/research/notebooklm/scripts/browser_utils.py
  skills/documentation/research/notebooklm/scripts/cleanup_manager.py
  skills/documentation/research/notebooklm/scripts/config.py
  skills/documentation/research/notebooklm/scripts/logger.py
  skills/documentation/research/notebooklm/scripts/notebook_manager.py
  skills/documentation/research/notebooklm/scripts/run.py
  skills/documentation/research/notebooklm/scripts/setup_environment.py
Due: markdownlint

refactor(validators): catch only the expected errors when reading and parsing files
  skills/ci-cd/azure-pipelines/validator/scripts/check_best_practices.py
  skills/ci-cd/azure-pipelines/validator/scripts/check_security.py
  skills/ci-cd/azure-pipelines/validator/scripts/validate_syntax.py
  skills/ci-cd/fluentbit/validator/scripts/validate_config.py
  skills/ci-cd/gitlab-ci/validator/scripts/check_best_practices.py
  skills/ci-cd/gitlab-ci/validator/scripts/check_security.py
  skills/ci-cd/gitlab-ci/validator/scripts/validate_syntax.py
  skills/ci-cd/helm/validator/scripts/detect_crd.py
  skills/infrastructure/ansible/validator/scripts/extract_ansible_info.py
  skills/infrastructure/k8s/yaml-validator/scripts/detect_crd.py
  skills/infrastructure/terragrunt/validator/scripts/detect_custom_resources.py
Due: none

refactor(validators): catch only the expected errors when reading and parsing files (#401)
  skills/ci-cd/azure-pipelines/validator/scripts/check_best_practices.py
  skills/ci-cd/azure-pipelines/validator/scripts/check_security.py
  skills/ci-cd/azure-pipelines/validator/scripts/validate_syntax.py
  skills/ci-cd/fluentbit/validator/scripts/validate_config.py
  skills/ci-cd/gitlab-ci/validator/scripts/check_best_practices.py
  skills/ci-cd/gitlab-ci/validator/scripts/check_security.py
  skills/ci-cd/gitlab-ci/validator/scripts/validate_syntax.py
  skills/ci-cd/helm/validator/scripts/detect_crd.py
  skills/infrastructure/ansible/validator/scripts/extract_ansible_info.py
  skills/infrastructure/k8s/yaml-validator/scripts/detect_crd.py
  skills/infrastructure/terragrunt/validator/scripts/detect_custom_resources.py
Due: none

refactor(notebooklm): catch only the expected errors in file, process and browser-close handlers
  skills/documentation/research/notebooklm/scripts/ask_question.py
  skills/documentation/research/notebooklm/scripts/auth_manager.py
  skills/documentation/research/notebooklm/scripts/browser_session.py
  skills/documentation/research/notebooklm/scripts/browser_utils.py
  skills/documentation/research/notebooklm/scripts/cleanup_manager.py
  skills/documentation/research/notebooklm/scripts/notebook_manager.py
  skills/documentation/research/notebooklm/scripts/run.py
  skills/documentation/research/notebooklm/scripts/setup_environment.py
Due: none

refactor(notebooklm): catch only the expected errors in file, process and browser-close handlers (#403)
  skills/documentation/research/notebooklm/scripts/ask_question.py
  skills/documentation/research/notebooklm/scripts/auth_manager.py
  skills/documentation/research/notebooklm/scripts/browser_session.py
  skills/documentation/research/notebooklm/scripts/browser_utils.py
  skills/documentation/research/notebooklm/scripts/cleanup_manager.py
  skills/documentation/research/notebooklm/scripts/notebook_manager.py
  skills/documentation/research/notebooklm/scripts/run.py
  skills/documentation/research/notebooklm/scripts/setup_environment.py
Due: none

ci(aislop): bring the skill scripts under the blocking gate
  .aislop/config.yml
  .github/workflows/aislop.yml
Due: yamllint

ci(aislop): bring the skill scripts under the blocking gate (#404)
  .aislop/config.yml
  .github/workflows/aislop.yml
Due: yamllint

feat(context-index): index handovers under their own typology
  skills/project-mgmt/context-index/scripts/check-context-filenames.sh
  skills/project-mgmt/context-index/scripts/regenerate-context-index.sh
  skills/project-mgmt/create-context-file/scripts/create-context-file.sh
Due: shellcheck

docs(context-index): document the handovers typology in the three skills
  docs/src/content/docs/tiles.md
  skills/agentic-harness/handover-document-creator/CHANGELOG.md
  skills/agentic-harness/handover-document-creator/SKILL.md
  skills/agentic-harness/handover-document-creator/references/typology-and-lifecycle.md
  skills/project-mgmt/context-index/.tekhne/plugin.json
  skills/project-mgmt/context-index/SKILL.md
  skills/project-mgmt/context-index/evals/instructions.json
  skills/project-mgmt/context-index/evals/summary.json
  skills/project-mgmt/context-index/references/regeneration-reference.md
  skills/project-mgmt/create-context-file/CHANGELOG.md
Due: biome, markdownlint, tessl-lint, tessl-review

chore(skills): refresh stored audits for context-index, create-context-file and handover-document-creator
  docs/src/content/docs/tiles.md
  skills/agentic-harness/handover-document-creator/.audits/2026-10-07/Analysis.md
  skills/agentic-harness/handover-document-creator/.audits/2026-10-07/Remediation.md
  skills/agentic-harness/handover-document-creator/.audits/2026-10-07/audit.json
  skills/project-mgmt/context-index/.audits/2026-10-07/Analysis.md
  skills/project-mgmt/context-index/.audits/2026-10-07/Remediation.md
  skills/project-mgmt/context-index/.audits/2026-10-07/audit.json
  skills/project-mgmt/create-context-file/.audits/2026-10-07/Analysis.md
  skills/project-mgmt/create-context-file/.audits/2026-10-07/Remediation.md
  skills/project-mgmt/create-context-file/.audits/2026-10-07/audit.json
Due: biome, markdownlint

feat(context-index): index handovers under their own typology (#407)
  docs/src/content/docs/tiles.md
  skills/agentic-harness/handover-document-creator/.audits/2026-10-07/Analysis.md
  skills/agentic-harness/handover-document-creator/.audits/2026-10-07/Remediation.md
  skills/agentic-harness/handover-document-creator/.audits/2026-10-07/audit.json
  skills/agentic-harness/handover-document-creator/CHANGELOG.md
  skills/agentic-harness/handover-document-creator/SKILL.md
  skills/agentic-harness/handover-document-creator/references/typology-and-lifecycle.md
  skills/project-mgmt/context-index/.audits/2026-10-07/Analysis.md
  skills/project-mgmt/context-index/.audits/2026-10-07/Remediation.md
  skills/project-mgmt/context-index/.audits/2026-10-07/audit.json
  skills/project-mgmt/context-index/.tekhne/plugin.json
  skills/project-mgmt/context-index/SKILL.md
  skills/project-mgmt/context-index/evals/instructions.json
  skills/project-mgmt/context-index/evals/summary.json
  skills/project-mgmt/context-index/references/regeneration-reference.md
  skills/project-mgmt/context-index/scripts/check-context-filenames.sh
  skills/project-mgmt/context-index/scripts/regenerate-context-index.sh
  skills/project-mgmt/create-context-file/.audits/2026-10-07/Analysis.md
  skills/project-mgmt/create-context-file/.audits/2026-10-07/Remediation.md
  skills/project-mgmt/create-context-file/.audits/2026-10-07/audit.json
  skills/project-mgmt/create-context-file/CHANGELOG.md
  skills/project-mgmt/create-context-file/scripts/create-context-file.sh
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review

feat(skill-validator-rs): add analyze listing budget report
  crates/skill-validator-rs/src/lib.rs
  crates/skill-validator-rs/src/listing.rs
  crates/skill-validator-rs/src/main.rs
  crates/skill-validator-rs/src/model.rs
  crates/skill-validator-rs/src/render.rs
  crates/skill-validator-rs/src/run.rs
  crates/skill-validator-rs/tests/cli.rs
Due: none

feat(skill-validator-rs): listing budget bands, settings, CI report, docs
  .github/workflows/skill-audit.yml
  AGENTS.md
  crates/skill-validator-rs/src/listing.rs
  crates/skill-validator-rs/src/main.rs
  crates/skill-validator-rs/src/render.rs
  crates/skill-validator-rs/src/run.rs
  crates/skill-validator-rs/tests/cli.rs
  mise.toml
Due: markdownlint, yamllint

feat(skill-validator-rs): add analyze listing budget report (#411)
  .github/workflows/skill-audit.yml
  AGENTS.md
  crates/skill-validator-rs/src/lib.rs
  crates/skill-validator-rs/src/listing.rs
  crates/skill-validator-rs/src/main.rs
  crates/skill-validator-rs/src/model.rs
  crates/skill-validator-rs/src/render.rs
  crates/skill-validator-rs/src/run.rs
  crates/skill-validator-rs/tests/cli.rs
  mise.toml
Due: markdownlint, yamllint

docs: add a pull request template
  .github/pull_request_template.md
  AGENTS.md
Due: markdownlint

docs: forbid session links in commits and pull requests
  CLAUDE.md
Due: markdownlint

docs: make CLAUDE.md a symlink to AGENTS.md
  AGENTS.md
  CLAUDE.md
Due: markdownlint

docs: add a pull request template (#413)
  .github/pull_request_template.md
  AGENTS.md
  CLAUDE.md
Due: markdownlint

feat(frame-problem): raise the skill to grade A
  docs/src/content/docs/tiles.md
  skills/software-engineering/frame-problem/.audits/2026-10-07/Analysis.md
  skills/software-engineering/frame-problem/.audits/2026-10-07/Remediation.md
  skills/software-engineering/frame-problem/.audits/2026-10-07/audit.json
  skills/software-engineering/frame-problem/SKILL.md
  skills/software-engineering/frame-problem/evals/instructions.json
  skills/software-engineering/frame-problem/evals/scenario-5/criteria.json
  skills/software-engineering/frame-problem/evals/scenario-5/task.md
  skills/software-engineering/frame-problem/evals/scenario-6/capability.txt
  skills/software-engineering/frame-problem/evals/scenario-6/criteria.json
  skills/software-engineering/frame-problem/evals/scenario-6/task.md
  skills/software-engineering/frame-problem/evals/scenario-7/capability.txt
  skills/software-engineering/frame-problem/evals/scenario-7/criteria.json
  skills/software-engineering/frame-problem/evals/scenario-7/task.md
  skills/software-engineering/frame-problem/evals/scenario-8/capability.txt
  skills/software-engineering/frame-problem/evals/scenario-8/criteria.json
  skills/software-engineering/frame-problem/evals/scenario-8/task.md
  skills/software-engineering/frame-problem/evals/scenario-9/capability.txt
  skills/software-engineering/frame-problem/evals/scenario-9/criteria.json
  skills/software-engineering/frame-problem/evals/scenario-9/task.md
  skills/software-engineering/frame-problem/evals/summary.json
  skills/software-engineering/frame-problem/references/triangulation-tests.md
  skills/software-engineering/frame-problem/references/worked-examples.md
Due: biome, markdownlint, tessl-lint, tessl-review

fix(pick-model): remove leaked tool-call markup from the reference file
  skills/agentic-harness/pick-model/references/reference.md
Due: markdownlint

feat(create-context): raise the skill to grade A and harden the scanner
  docs/src/content/docs/tiles.md
  skills/agentic-harness/create-context/.audits/2026-10-07/Analysis.md
  skills/agentic-harness/create-context/.audits/2026-10-07/Remediation.md
  skills/agentic-harness/create-context/.audits/2026-10-07/audit.json
  skills/agentic-harness/create-context/SKILL.md
  skills/agentic-harness/create-context/evals/instructions.json
  skills/agentic-harness/create-context/evals/scenario-1/capability.txt
  skills/agentic-harness/create-context/evals/scenario-1/criteria.json
  skills/agentic-harness/create-context/evals/scenario-1/task.md
  skills/agentic-harness/create-context/evals/scenario-2/capability.txt
  skills/agentic-harness/create-context/evals/scenario-2/criteria.json
  skills/agentic-harness/create-context/evals/scenario-2/task.md
  skills/agentic-harness/create-context/evals/scenario-3/capability.txt
  skills/agentic-harness/create-context/evals/scenario-3/criteria.json
  skills/agentic-harness/create-context/evals/scenario-3/task.md
  skills/agentic-harness/create-context/evals/scenario-4/capability.txt
  skills/agentic-harness/create-context/evals/scenario-4/criteria.json
  skills/agentic-harness/create-context/evals/scenario-4/task.md
  skills/agentic-harness/create-context/evals/summary.json
  skills/agentic-harness/create-context/references/examples.md
  skills/agentic-harness/create-context/references/reference.md
  skills/agentic-harness/create-context/scripts/scan-in-folder.sh
  skills/agentic-harness/create-context/scripts/validate-manifest.sh
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
