Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

chore(audits): archive stale nx skill audits under nx-plugin-authoring/legacy (Group C)
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/executors/2026-02-21/analysis.md
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/executors/2026-02-21/audit.json
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/executors/2026-02-21/remediation-plan.md
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/executors/2026-02-22/analysis.md
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/executors/2026-02-22/audit.json
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/executors/2026-02-22/remediation-plan.md
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/executors/2026-02-23/analysis.md
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/executors/2026-02-23/audit.json
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/executors/2026-02-23/remediation-plan.md
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/executors/2026-03-02/analysis.md
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/executors/2026-03-02/audit.json
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/executors/latest
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/extending-plugins/2026-02-21/analysis.md
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/extending-plugins/2026-02-21/audit.json
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/extending-plugins/2026-02-21/remediation-plan.md
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/extending-plugins/2026-02-22/analysis.md
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/extending-plugins/2026-02-22/audit.json
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/extending-plugins/2026-02-22/remediation-plan.md
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/extending-plugins/2026-03-02/analysis.md
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/extending-plugins/2026-03-02/audit.json
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/extending-plugins/2026-03-02/remediation-plan.md
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/extending-plugins/2026-03-03/analysis.md
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/extending-plugins/2026-03-03/audit.json
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/extending-plugins/2026-03-03/remediation-plan.md
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/extending-plugins/latest
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/generators/2026-02-21/analysis.md
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/generators/2026-02-21/audit.json
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/generators/2026-02-21/remediation-plan.md
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/generators/2026-02-22/analysis.md
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/generators/2026-02-22/audit.json
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/generators/2026-02-22/remediation-plan.md
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/generators/2026-02-23/analysis.md
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/generators/2026-02-23/audit.json
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/generators/2026-02-23/remediation-plan.md
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/generators/2026-03-02/analysis.md
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/generators/2026-03-02/audit.json
  .context/audits/repository-mgmt/nx/nx-plugin-authoring/legacy/generators/latest
Due: biome, markdownlint, audit-readme-sync

chore(audits): move aggregate skill-audit report to .context/analysis/
  .context/audits/skill-audit/2026-03-16/analysis.md
  .context/audits/skill-audit/2026-03-16/audit.json
  .context/audits/skill-audit/2026-03-16/remediation-plan.md
  .context/audits/skill-audit/latest
Due: biome, markdownlint, audit-readme-sync

feat(aws): add aws-investigation-toolkit tile
  README.md
  docs/src/content/docs/tiles.md
  skills/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/SKILL.md
  skills/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/scenario-0/capability.txt
  skills/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/scenario-0/criteria.json
  skills/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/scenario-0/task.md
  skills/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/scenario-1/capability.txt
  skills/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/scenario-1/criteria.json
  skills/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/scenario-1/task.md
  skills/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/scenario-2/capability.txt
  skills/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/scenario-2/criteria.json
  skills/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/scenario-2/task.md
  skills/aws/investigation-toolkit/skills/aws-console-navigator/SKILL.md
  skills/aws/investigation-toolkit/skills/aws-console-navigator/evals/scenario-0/capability.txt
  skills/aws/investigation-toolkit/skills/aws-console-navigator/evals/scenario-0/criteria.json
  skills/aws/investigation-toolkit/skills/aws-console-navigator/evals/scenario-0/task.md
  skills/aws/investigation-toolkit/skills/aws-console-navigator/evals/scenario-1/capability.txt
  skills/aws/investigation-toolkit/skills/aws-console-navigator/evals/scenario-1/criteria.json
  skills/aws/investigation-toolkit/skills/aws-console-navigator/evals/scenario-1/task.md
  skills/aws/investigation-toolkit/skills/aws-console-navigator/evals/scenario-2/capability.txt
  skills/aws/investigation-toolkit/skills/aws-console-navigator/evals/scenario-2/criteria.json
  skills/aws/investigation-toolkit/skills/aws-console-navigator/evals/scenario-2/task.md
  skills/aws/investigation-toolkit/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

feat(infrastructure): move aws-investigation-toolkit under infrastructure/aws and raise to A grade
  .context/audits/infrastructure/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/2026-04-06/analysis.md
  .context/audits/infrastructure/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/2026-04-06/audit.json
  .context/audits/infrastructure/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/latest
  .context/audits/infrastructure/aws/investigation-toolkit/skills/aws-console-navigator/2026-04-06/analysis.md
  .context/audits/infrastructure/aws/investigation-toolkit/skills/aws-console-navigator/2026-04-06/audit.json
  .context/audits/infrastructure/aws/investigation-toolkit/skills/aws-console-navigator/2026-04-06/remediation-plan.md
  .context/audits/infrastructure/aws/investigation-toolkit/skills/aws-console-navigator/latest
  docs/src/content/docs/tiles.md
  skills/infrastructure/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/SKILL.md
  skills/infrastructure/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/instructions.json
  skills/infrastructure/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/scenario-0/capability.txt
  skills/infrastructure/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/scenario-0/criteria.json
  skills/infrastructure/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/scenario-0/task.md
  skills/infrastructure/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/scenario-1/capability.txt
  skills/infrastructure/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/scenario-1/criteria.json
  skills/infrastructure/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/scenario-1/task.md
  skills/infrastructure/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/scenario-2/capability.txt
  skills/infrastructure/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/scenario-2/criteria.json
  skills/infrastructure/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/scenario-2/task.md
  skills/infrastructure/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/summary.json
  skills/infrastructure/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/references/encoding-reference.md
  skills/infrastructure/aws/investigation-toolkit/skills/aws-console-navigator/SKILL.md
  skills/infrastructure/aws/investigation-toolkit/skills/aws-console-navigator/evals/instructions.json
  skills/infrastructure/aws/investigation-toolkit/skills/aws-console-navigator/evals/scenario-0/capability.txt
  skills/infrastructure/aws/investigation-toolkit/skills/aws-console-navigator/evals/scenario-0/criteria.json
  skills/infrastructure/aws/investigation-toolkit/skills/aws-console-navigator/evals/scenario-0/task.md
  skills/infrastructure/aws/investigation-toolkit/skills/aws-console-navigator/evals/scenario-1/capability.txt
  skills/infrastructure/aws/investigation-toolkit/skills/aws-console-navigator/evals/scenario-1/criteria.json
  skills/infrastructure/aws/investigation-toolkit/skills/aws-console-navigator/evals/scenario-1/task.md
  skills/infrastructure/aws/investigation-toolkit/skills/aws-console-navigator/evals/scenario-2/capability.txt
  skills/infrastructure/aws/investigation-toolkit/skills/aws-console-navigator/evals/scenario-2/criteria.json
  skills/infrastructure/aws/investigation-toolkit/skills/aws-console-navigator/evals/scenario-2/task.md
  skills/infrastructure/aws/investigation-toolkit/skills/aws-console-navigator/evals/summary.json
  skills/infrastructure/aws/investigation-toolkit/skills/aws-console-navigator/references/console-reference.md
  skills/infrastructure/aws/investigation-toolkit/skills/aws-console-navigator/references/playwright-patterns.md
  skills/infrastructure/aws/investigation-toolkit/tile.json
Due: biome, markdownlint, audit-readme-sync, tessl-lint, tessl-review, tessl-publish-check

feat(documentation): add proof-of-work skill (A grade, 129/140)
  README.md
  docs/src/content/docs/tiles.md
  skills/documentation/proof-of-work/skills/proof-of-work/SKILL.md
  skills/documentation/proof-of-work/skills/proof-of-work/evals/instructions.json
  skills/documentation/proof-of-work/skills/proof-of-work/evals/scenario-1/capability.txt
  skills/documentation/proof-of-work/skills/proof-of-work/evals/scenario-1/criteria.json
  skills/documentation/proof-of-work/skills/proof-of-work/evals/scenario-1/task.md
  skills/documentation/proof-of-work/skills/proof-of-work/evals/scenario-2/capability.txt
  skills/documentation/proof-of-work/skills/proof-of-work/evals/scenario-2/criteria.json
  skills/documentation/proof-of-work/skills/proof-of-work/evals/scenario-2/task.md
  skills/documentation/proof-of-work/skills/proof-of-work/evals/scenario-3/capability.txt
  skills/documentation/proof-of-work/skills/proof-of-work/evals/scenario-3/criteria.json
  skills/documentation/proof-of-work/skills/proof-of-work/evals/scenario-3/task.md
  skills/documentation/proof-of-work/skills/proof-of-work/evals/scenario-4/capability.txt
  skills/documentation/proof-of-work/skills/proof-of-work/evals/scenario-4/criteria.json
  skills/documentation/proof-of-work/skills/proof-of-work/evals/scenario-4/task.md
  skills/documentation/proof-of-work/skills/proof-of-work/evals/scenario-5/capability.txt
  skills/documentation/proof-of-work/skills/proof-of-work/evals/scenario-5/criteria.json
  skills/documentation/proof-of-work/skills/proof-of-work/evals/scenario-5/task.md
  skills/documentation/proof-of-work/skills/proof-of-work/evals/summary.json
  skills/documentation/proof-of-work/skills/proof-of-work/references/artifact-storage.md
  skills/documentation/proof-of-work/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

refactor(journal-entry-creator): migrate to canonical skill directory layout
  skills/agentic-harness/skill-quality-auditor/scripts/validate-skill-artifacts.sh
  skills/documentation/journal-entry-creator/SKILL.md
  skills/documentation/journal-entry-creator/assets/templates/article-summary.yaml
  skills/documentation/journal-entry-creator/assets/templates/journal-entry.yaml
  skills/documentation/journal-entry-creator/assets/templates/learning.yaml
  skills/documentation/journal-entry-creator/assets/templates/troubleshooting.yaml
  skills/documentation/journal-entry-creator/references/compliance.md
Due: markdownlint, yamllint, shellcheck, tessl-lint, tessl-review

feat(journal-entry-creator): add JIRA ticket prefix convention for troubleshooting filenames
  skills/documentation/journal-entry-creator/SKILL.md
  skills/documentation/journal-entry-creator/assets/templates/troubleshooting.yaml
Due: markdownlint, yamllint, tessl-lint, tessl-review

feat(skills): add pantheon-ai/agentic-context tile with triage-paper and triage-tool skills
  README.md
  skills/agentic-context/tile.json
  skills/agentic-context/triage-paper/SKILL.md
  skills/agentic-context/triage-paper/evals/instructions.json
  skills/agentic-context/triage-paper/evals/scenario-1/capability.txt
  skills/agentic-context/triage-paper/evals/scenario-1/criteria.json
  skills/agentic-context/triage-paper/evals/scenario-1/task.md
  skills/agentic-context/triage-paper/evals/scenario-2/capability.txt
  skills/agentic-context/triage-paper/evals/scenario-2/criteria.json
  skills/agentic-context/triage-paper/evals/scenario-2/task.md
  skills/agentic-context/triage-paper/evals/scenario-3/capability.txt
  skills/agentic-context/triage-paper/evals/scenario-3/criteria.json
  skills/agentic-context/triage-paper/evals/scenario-3/task.md
  skills/agentic-context/triage-paper/evals/summary.json
  skills/agentic-context/triage-paper/references/analysis-paper-template.md
  skills/agentic-context/triage-paper/references/reference-paper-template.md
  skills/agentic-context/triage-tool/SKILL.md
  skills/agentic-context/triage-tool/evals/instructions.json
  skills/agentic-context/triage-tool/evals/scenario-1/capability.txt
  skills/agentic-context/triage-tool/evals/scenario-1/criteria.json
  skills/agentic-context/triage-tool/evals/scenario-1/task.md
  skills/agentic-context/triage-tool/evals/scenario-2/capability.txt
  skills/agentic-context/triage-tool/evals/scenario-2/criteria.json
  skills/agentic-context/triage-tool/evals/scenario-2/task.md
  skills/agentic-context/triage-tool/evals/scenario-3/capability.txt
  skills/agentic-context/triage-tool/evals/scenario-3/criteria.json
  skills/agentic-context/triage-tool/evals/scenario-3/task.md
  skills/agentic-context/triage-tool/evals/summary.json
  skills/agentic-context/triage-tool/references/analysis-tool-template.md
  skills/agentic-context/triage-tool/references/reference-tool-template.md
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

chore(agentic-context): add audits and tidy aws skill docs
  .context/audits/agentic-context/triage-paper/2026-04-08/analysis.md
  .context/audits/agentic-context/triage-paper/2026-04-08/audit.json
  .context/audits/agentic-context/triage-paper/2026-04-08/remediation-plan.md
  .context/audits/agentic-context/triage-paper/latest
  .context/audits/agentic-context/triage-tool/2026-04-08/analysis.md
  .context/audits/agentic-context/triage-tool/2026-04-08/audit.json
  .context/audits/agentic-context/triage-tool/2026-04-08/remediation-plan.md
  .context/audits/agentic-context/triage-tool/latest
  .mcp.json
  skills/infrastructure/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/SKILL.md
  skills/infrastructure/aws/investigation-toolkit/skills/aws-cloudwatch-url-builder/references/encoding-reference.md
  skills/infrastructure/aws/investigation-toolkit/skills/aws-console-navigator/SKILL.md
Due: biome, markdownlint, audit-readme-sync, tessl-lint, tessl-review

fix(agentic-context): replace XML tags in description frontmatter
  skills/agentic-context/triage-paper/SKILL.md
  skills/agentic-context/triage-tool/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

feat(agentic-context): add YAML templates, schemas, and validate scripts
  skills/agentic-context/triage-paper/SKILL.md
  skills/agentic-context/triage-paper/assets/schemas/reference-paper.schema.json
  skills/agentic-context/triage-paper/assets/templates/REFERENCE-paper.yaml
  skills/agentic-context/triage-paper/scripts/validate-reference-paper.sh
  skills/agentic-context/triage-tool/SKILL.md
  skills/agentic-context/triage-tool/assets/schemas/reference-tool.schema.json
  skills/agentic-context/triage-tool/assets/templates/REFERENCE-tool.yaml
  skills/agentic-context/triage-tool/scripts/validate-reference-tool.sh
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review

feat(agentic-context): remediate triage-paper and triage-tool to A grade
  .context/audits/agentic-context/triage-paper/2026-04-08/analysis.md
  .context/audits/agentic-context/triage-paper/2026-04-08/audit.json
  .context/audits/agentic-context/triage-tool/2026-04-08/analysis.md
  .context/audits/agentic-context/triage-tool/2026-04-08/audit.json
  .context/audits/agentic-context/triage-tool/2026-04-08/remediation-plan.md
  skills/agentic-context/triage-paper/SKILL.md
  skills/agentic-context/triage-tool/SKILL.md
  skills/agentic-context/triage-tool/references/classification-guide.md
Due: biome, markdownlint, audit-readme-sync, tessl-lint, tessl-review

feat(agentic-context): add analysis artifacts and rename guide files
  skills/agentic-context/triage-paper/SKILL.md
  skills/agentic-context/triage-paper/assets/schemas/analysis-paper.schema.json
  skills/agentic-context/triage-paper/assets/templates/ANALYSIS-paper.yaml
  skills/agentic-context/triage-paper/references/analysis-paper-guide.md
  skills/agentic-context/triage-paper/references/reference-paper-guide.md
  skills/agentic-context/triage-paper/scripts/validate-analysis-paper.sh
  skills/agentic-context/triage-tool/SKILL.md
  skills/agentic-context/triage-tool/assets/schemas/analysis-tool.schema.json
  skills/agentic-context/triage-tool/assets/templates/ANALYSIS-tool.yaml
  skills/agentic-context/triage-tool/references/analysis-tool-guide.md
  skills/agentic-context/triage-tool/references/reference-tool-guide.md
  skills/agentic-context/triage-tool/scripts/validate-analysis-tool.sh
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review

refactor(research): make triage skills domain-agnostic
  docs/src/content/docs/tiles.md
  skills/documentation/research/tile.json
  skills/documentation/research/triage-paper/SKILL.md
  skills/documentation/research/triage-paper/assets/schemas/reference-paper.schema.json
  skills/documentation/research/triage-paper/assets/templates/ANALYSIS-paper.yaml
  skills/documentation/research/triage-paper/assets/templates/REFERENCE-paper.yaml
  skills/documentation/research/triage-paper/evals/scenario-1/task.md
  skills/documentation/research/triage-tool/SKILL.md
  skills/documentation/research/triage-tool/assets/schemas/reference-tool.schema.json
  skills/documentation/research/triage-tool/assets/templates/ANALYSIS-tool.yaml
  skills/documentation/research/triage-tool/assets/templates/REFERENCE-tool.yaml
  skills/documentation/research/triage-tool/evals/scenario-1/task.md
  skills/documentation/research/triage-tool/evals/scenario-2/task.md
  skills/documentation/research/triage-tool/references/classification-guide.md
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review, tessl-publish-check

feat(troubleshooting): add follow-up tickets section to session outcome
  skills/documentation/journal-entry-creator/assets/templates/troubleshooting.yaml
Due: yamllint

feat(troubleshooting): require source code location as final investigation step
  skills/documentation/journal-entry-creator/assets/templates/troubleshooting.yaml
Due: yamllint

chore(audits): migrate triage-paper and triage-tool audit records to documentation/research
  .context/audits/documentation/conventional-commits/latest
  .context/audits/documentation/research/triage-paper/2026-04-08/analysis.md
  .context/audits/documentation/research/triage-paper/2026-04-08/audit.json
  .context/audits/documentation/research/triage-paper/2026-04-08/remediation-plan.md
  .context/audits/documentation/research/triage-paper/latest
  .context/audits/documentation/research/triage-tool/2026-04-08/analysis.md
  .context/audits/documentation/research/triage-tool/2026-04-08/audit.json
  .context/audits/documentation/research/triage-tool/2026-04-08/remediation-plan.md
  .context/audits/documentation/research/triage-tool/latest
  PUNCHLIST.md
  docs/src/content/docs/tiles.md
Due: biome, markdownlint, audit-readme-sync

feat(documentation): raise conventional-commits skill to A grade (127/140)
  .context/audits/documentation/conventional-commits/2026-04-08/analysis.md
  .context/audits/documentation/conventional-commits/2026-04-08/audit.json
  .context/audits/documentation/conventional-commits/2026-04-08/remediation-plan.md
  skills/documentation/conventional-commits/SKILL.md
  skills/documentation/conventional-commits/references/scope-and-strategy.md
  skills/documentation/conventional-commits/references/tooling.md
Due: biome, markdownlint, audit-readme-sync, tessl-lint, tessl-review

chore(audits): refresh agents-md audit — A+ grade (133/140)
  .context/audits/agentic-harness/agents-md/2026-04-08/analysis.md
  .context/audits/agentic-harness/agents-md/2026-04-08/audit.json
  .context/audits/agentic-harness/agents-md/latest
  PUNCHLIST.md
  docs/src/content/docs/tiles.md
Due: biome, markdownlint, audit-readme-sync

feat(agentic-harness): raise skill-quality-auditor and tessl/publish-public to A grade
  .context/audits/agentic-harness/skill-quality-auditor/2026-04-08/analysis.md
  .context/audits/agentic-harness/skill-quality-auditor/2026-04-08/audit.json
  .context/audits/agentic-harness/skill-quality-auditor/2026-04-08/remediation-plan.md
  .context/audits/agentic-harness/skill-quality-auditor/latest
  .context/audits/agentic-harness/tessl/publish-public/2026-04-08/analysis.md
  .context/audits/agentic-harness/tessl/publish-public/2026-04-08/audit.json
  .context/audits/agentic-harness/tessl/publish-public/2026-04-08/remediation-plan.md
  .context/audits/agentic-harness/tessl/publish-public/latest
  docs/src/content/docs/tiles.md
  skills/agentic-harness/skill-quality-auditor/SKILL.md
  skills/agentic-harness/tessl/publish-public/SKILL.md
  skills/agentic-harness/tessl/publish-public/evals/scenario-01.md
  skills/agentic-harness/tessl/publish-public/evals/scenario-02.md
  skills/agentic-harness/tessl/publish-public/evals/scenario-03.md
  skills/agentic-harness/tessl/publish-public/evals/scenario-04.md
  skills/agentic-harness/tessl/publish-public/evals/scenario-05.md
  skills/agentic-harness/tessl/publish-public/evals/scenario-06.md
  skills/agentic-harness/tessl/publish-public/evals/scenario-07.md
  skills/agentic-harness/tessl/publish-public/evals/scenario-08.md
  skills/agentic-harness/tessl/publish-public/evals/scenario-09.md
  skills/agentic-harness/tessl/publish-public/tile.json
Due: biome, markdownlint, audit-readme-sync, tessl-lint, tessl-review, tessl-publish-check

chore(audits): refresh agentic-harness batch audits — all A grade
  .context/audits/agentic-harness/opencode-toolkit/build-plugins/2026-04-08/analysis.md
  .context/audits/agentic-harness/opencode-toolkit/build-plugins/2026-04-08/audit.json
  .context/audits/agentic-harness/opencode-toolkit/build-plugins/latest
  .context/audits/agentic-harness/opencode-toolkit/build-tool/2026-04-08/analysis.md
  .context/audits/agentic-harness/opencode-toolkit/build-tool/2026-04-08/audit.json
  .context/audits/agentic-harness/opencode-toolkit/build-tool/latest
  .context/audits/agentic-harness/opencode-toolkit/configure/2026-04-08/analysis.md
  .context/audits/agentic-harness/opencode-toolkit/configure/2026-04-08/audit.json
  .context/audits/agentic-harness/opencode-toolkit/configure/latest
  .context/audits/agentic-harness/opencode-toolkit/design-agents/2026-04-08/analysis.md
  .context/audits/agentic-harness/opencode-toolkit/design-agents/2026-04-08/audit.json
  .context/audits/agentic-harness/opencode-toolkit/design-agents/latest
  .context/audits/agentic-harness/opencode-toolkit/design-commands/2026-04-08/analysis.md
  .context/audits/agentic-harness/opencode-toolkit/design-commands/2026-04-08/audit.json
  .context/audits/agentic-harness/opencode-toolkit/design-commands/latest
  .context/audits/agentic-harness/socratic-method/2026-04-08/analysis.md
  .context/audits/agentic-harness/socratic-method/2026-04-08/audit.json
  .context/audits/agentic-harness/socratic-method/latest
  PUNCHLIST.md
Due: biome, markdownlint, audit-readme-sync

fix(cli): correct audit-status path resolution, score field, and max score
  PUNCHLIST.md
  cli/lib/audit/audit-status.ts
Due: biome, markdownlint

chore(punchlist): mark 84/87 audit items resolved, collapse to 3 genuinely missing
  PUNCHLIST.md
Due: markdownlint

chore(audits): run proof-of-work audit — A grade (129/140)
  .context/audits/documentation/proof-of-work/skills/proof-of-work/2026-04-08/analysis.md
  .context/audits/documentation/proof-of-work/skills/proof-of-work/2026-04-08/audit.json
  .context/audits/documentation/proof-of-work/skills/proof-of-work/latest
  PUNCHLIST.md
  docs/src/content/docs/tiles.md
Due: biome, markdownlint, audit-readme-sync

feat(development): remediate front-end skills to A grade
  docs/src/content/docs/tiles.md
  skills/development/front-end/web-reference-sheet-generator/SKILL.md
  skills/development/front-end/web-reference-sheet-generator/references/design-reference.schema.json
  skills/development/front-end/web-reference-sheet-generator/references/skill-output.yaml
  skills/development/front-end/web-reference-sheet-generator/references/workflow.md
  skills/development/front-end/website-theme-porter/SKILL.md
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review

feat(audits): add audit records for development/front-end skills
  .context/audits/development/front-end/web-reference-sheet-generator/2026-04-08/analysis.md
  .context/audits/development/front-end/web-reference-sheet-generator/2026-04-08/audit.json
  .context/audits/development/front-end/web-reference-sheet-generator/2026-04-08/remediation-plan.md
  .context/audits/development/front-end/web-reference-sheet-generator/latest
  .context/audits/development/front-end/website-theme-porter/2026-04-08/analysis.md
  .context/audits/development/front-end/website-theme-porter/2026-04-08/audit.json
  .context/audits/development/front-end/website-theme-porter/2026-04-08/remediation-plan.md
  .context/audits/development/front-end/website-theme-porter/latest
  PUNCHLIST.md
Due: biome, markdownlint, audit-readme-sync

fix(skill-artifacts): allow schemas/ and templates/ as standard directories
  skills/agentic-harness/skill-quality-auditor/scripts/validate-skill-artifacts.sh
  skills/development/front-end/web-reference-sheet-generator/SKILL.md
  skills/development/front-end/web-reference-sheet-generator/references/workflow.md
  skills/development/front-end/web-reference-sheet-generator/schemas/design-reference.schema.json
  skills/development/front-end/web-reference-sheet-generator/templates/skill-output.yaml
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review

feat(research): add eval instructions and summary to reach A-grade for publication
  docs/src/content/docs/tiles.md
  skills/documentation/research/triage-paper/evals/instructions.json
  skills/documentation/research/triage-paper/evals/summary.json
  skills/documentation/research/triage-tool/evals/instructions.json
  skills/documentation/research/triage-tool/evals/summary.json
Due: biome, markdownlint

chore(audits): update research skill audits to A-grade results
  .context/audits/documentation/research/triage-paper/2026-04-08/analysis.md
  .context/audits/documentation/research/triage-paper/2026-04-08/audit.json
  .context/audits/documentation/research/triage-paper/2026-04-08/remediation-plan.md
  .context/audits/documentation/research/triage-tool/2026-04-08/analysis.md
  .context/audits/documentation/research/triage-tool/2026-04-08/audit.json
  .context/audits/documentation/research/triage-tool/2026-04-08/remediation-plan.md
Due: biome, markdownlint, audit-readme-sync

feat(research): add reproduce-benchmark skill with schema, template, and evals
  README.md
  docs/src/content/docs/tiles.md
  skills/documentation/research/reproduce-benchmark/SKILL.md
  skills/documentation/research/reproduce-benchmark/assets/schemas/repro-benchmark.schema.json
  skills/documentation/research/reproduce-benchmark/assets/templates/REPRO-benchmark.yaml
  skills/documentation/research/reproduce-benchmark/evals/scenario-1/capability.txt
  skills/documentation/research/reproduce-benchmark/evals/scenario-1/criteria.json
  skills/documentation/research/reproduce-benchmark/evals/scenario-1/task.md
  skills/documentation/research/reproduce-benchmark/evals/scenario-2/capability.txt
  skills/documentation/research/reproduce-benchmark/evals/scenario-2/criteria.json
  skills/documentation/research/reproduce-benchmark/evals/scenario-2/task.md
  skills/documentation/research/reproduce-benchmark/evals/scenario-3/capability.txt
  skills/documentation/research/reproduce-benchmark/evals/scenario-3/criteria.json
  skills/documentation/research/reproduce-benchmark/evals/scenario-3/task.md
  skills/documentation/research/reproduce-benchmark/scripts/validate-repro-benchmark.sh
  skills/documentation/research/tile.json
  skills/documentation/research/triage-paper/SKILL.md
  skills/documentation/research/triage-tool/SKILL.md
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

fix(research): remove XML tag from reproduce-benchmark description
  skills/documentation/research/reproduce-benchmark/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

feat(research): recommend semantic-scholar and google-scholar MCPs
  docs/src/content/docs/tiles.md
  skills/documentation/research/reproduce-benchmark/SKILL.md
  skills/documentation/research/tile.json
  skills/documentation/research/triage-paper/SKILL.md
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

feat(research): add google-scholar-search skill to research tile
  README.md
  docs/src/content/docs/tiles.md
  skills/documentation/research/google-scholar-search/SKILL.md
  skills/documentation/research/google-scholar-search/requirements.txt
  skills/documentation/research/google-scholar-search/scripts/google-scholar-search.py
  skills/documentation/research/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

feat(research): audit remediation for google-scholar-search — A+ grade
  .context/audits/documentation/research/google-scholar-search/2026-04-09/analysis.md
  .context/audits/documentation/research/google-scholar-search/2026-04-09/audit.json
  .context/audits/documentation/research/google-scholar-search/2026-04-09/remediation-plan.md
  .context/audits/documentation/research/google-scholar-search/latest
  docs/src/content/docs/tiles.md
  skills/documentation/research/google-scholar-search/SKILL.md
  skills/documentation/research/google-scholar-search/evals/instructions.json
  skills/documentation/research/google-scholar-search/evals/scenario-1/capability.txt
  skills/documentation/research/google-scholar-search/evals/scenario-1/criteria.json
  skills/documentation/research/google-scholar-search/evals/scenario-1/task.md
  skills/documentation/research/google-scholar-search/evals/scenario-2/capability.txt
  skills/documentation/research/google-scholar-search/evals/scenario-2/criteria.json
  skills/documentation/research/google-scholar-search/evals/scenario-2/task.md
  skills/documentation/research/google-scholar-search/evals/scenario-3/capability.txt
  skills/documentation/research/google-scholar-search/evals/scenario-3/criteria.json
  skills/documentation/research/google-scholar-search/evals/scenario-3/task.md
  skills/documentation/research/google-scholar-search/evals/summary.json
  skills/documentation/research/google-scholar-search/references/setup-and-troubleshooting.md
Due: biome, markdownlint, audit-readme-sync, tessl-lint, tessl-review

feat(research): add semantic-scholar-search skill to research tile
  .context/audits/documentation/research/semantic-scholar-search/2026-04-10/analysis.md
  .context/audits/documentation/research/semantic-scholar-search/2026-04-10/audit.json
  .context/audits/documentation/research/semantic-scholar-search/latest
  README.md
  docs/src/content/docs/tiles.md
  skills/documentation/research/semantic-scholar-search/SKILL.md
  skills/documentation/research/semantic-scholar-search/evals/instructions.json
  skills/documentation/research/semantic-scholar-search/evals/scenario-1/capability.txt
  skills/documentation/research/semantic-scholar-search/evals/scenario-1/criteria.json
  skills/documentation/research/semantic-scholar-search/evals/scenario-1/task.md
  skills/documentation/research/semantic-scholar-search/evals/scenario-2/capability.txt
  skills/documentation/research/semantic-scholar-search/evals/scenario-2/criteria.json
  skills/documentation/research/semantic-scholar-search/evals/scenario-2/task.md
  skills/documentation/research/semantic-scholar-search/evals/scenario-3/capability.txt
  skills/documentation/research/semantic-scholar-search/evals/scenario-3/criteria.json
  skills/documentation/research/semantic-scholar-search/evals/scenario-3/task.md
  skills/documentation/research/semantic-scholar-search/evals/summary.json
  skills/documentation/research/semantic-scholar-search/references/setup-and-troubleshooting.md
  skills/documentation/research/semantic-scholar-search/requirements.txt
  skills/documentation/research/semantic-scholar-search/scripts/semantic-scholar-search.py
  skills/documentation/research/tile.json
Due: biome, markdownlint, audit-readme-sync, tessl-lint, tessl-review, tessl-publish-check

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
