Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

chore(opencode): bump design-agents, design-commands, build-plugins to v0.2.0
  skills/agentic-harness/opencode/build-plugins/tile.json
  skills/agentic-harness/opencode/design-agents/tile.json
  skills/agentic-harness/opencode/design-commands/tile.json
Due: biome, tessl-publish-check

docs: update README to reflect opencode-toolkit tile (5 skills, v0.2.0)
  README.md
Due: markdownlint

docs: update TILES.md to reflect opencode-toolkit (5 skills, v0.2.0)
  TILES.md
Due: markdownlint

fix: address Copilot PR review comments on opencode tile
  .markdownlint-cli2.jsonc
  skills/agentic-harness/opencode/design-agents/SKILL.md
  skills/agentic-harness/opencode/design-agents/references/opencode-config.md
Due: biome, markdownlint, tessl-lint, tessl-review

fix(readme): fix lefthook sync hooks and regenerate README/TILES from actual skills
  README.md
  TILES.md
  cli/lib/readme/domain-config.ts
  cli/lib/readme/tile-parser.ts
  cli/lib/readme/update-readme.ts
  lefthook.yml
Due: biome, markdownlint, yamllint

feat(cli): improve install command robustness and filtering
  bun.lock
  cli/commands/install.ts
  cli/lib/install/install-skills.test.ts
  cli/lib/install/install-skills.ts
  package.json
Due: biome

Potential fix for pull request finding
  README.md
Due: markdownlint

Potential fix for pull request finding
  TILES.md
Due: markdownlint

fix(readme): fix pre-commit hooks and regenerate README/TILES from actual skills (#8)
  README.md
  TILES.md
  cli/lib/readme/domain-config.ts
  cli/lib/readme/tile-parser.ts
  cli/lib/readme/update-readme.ts
  lefthook.yml
Due: biome, markdownlint, yamllint

feat(ci-cd): add jenkins-build-monitor skill for Jenkins dashboard status
  .cursor/rules/tessl__rule__tessl__cli-setup__query_library_docs.mdc
  .gitignore
  README.md
  TILES.md
  skills/ci-cd/jenkinsfile/jenkins-build-monitor/SKILL.md
  skills/ci-cd/jenkinsfile/jenkins-build-monitor/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix(cli): address install command review findings
  cli/lib/install/install-skills.test.ts
  cli/lib/install/install-skills.ts
Due: biome

feat(cli): improve install command robustness and filtering (#9)
  bun.lock
  cli/commands/install.ts
  cli/lib/install/install-skills.test.ts
  cli/lib/install/install-skills.ts
  package.json
Due: biome

improve(development/front-end): address tessl skill review suggestions
  skills/development/front-end/web-reference-sheet-generator/SKILL.md
  skills/development/front-end/website-theme-porter/SKILL.md
  skills/development/front-end/website-theme-porter/references/extraction.md
Due: markdownlint, tessl-lint, tessl-review

feat(gitignore): add tessl__ pattern to ignore list
  .gitignore
Due: none

feat(gitignore): add .tessl/ directory to ignore list
  .gitignore
Due: none

fix(development/front-end): convert eval criteria to weighted_checklist format and set private:false
  README.md
  skills/development/front-end/web-reference-sheet-generator/evals/scenario-01-tailwind-v4/criteria.json
  skills/development/front-end/web-reference-sheet-generator/evals/scenario-02-plain-css-dark-mode/criteria.json
  skills/development/front-end/web-reference-sheet-generator/evals/scenario-03-sparse-codebase/criteria.json
  skills/development/front-end/web-reference-sheet-generator/tile.json
  skills/development/front-end/website-theme-porter/tile.json
Due: biome, markdownlint, tessl-publish-check

docs(agents): add front-end subdomain to development domain description
  AGENTS.md
Due: markdownlint

fix(plain-english): address PR#6 Copilot review comments
  skills/documentation/plain-english/evals/summary.json
  skills/documentation/plain-english/evals/summary_infeasible.json
  skills/documentation/plain-english/references/before-after-examples.md
  skills/documentation/plain-english/references/constraints-and-fallbacks.md
Due: biome, markdownlint

feat(plain-english): lift skill quality from C (103/140) to A-grade (128/140) (#6)
  .claude/skills/tessl__pr-comment-resolver
  .codex/skills/tessl__pr-comment-resolver
  .context/audits/documentation/plain-english/2026-03-11/analysis.md
  .context/audits/documentation/plain-english/2026-03-11/audit.json
  .context/audits/documentation/plain-english/2026-03-11/remediation-plan.md
  .context/audits/documentation/plain-english/latest
  .cursor/skills/tessl__pr-comment-resolver
  .gemini/skills/tessl__pr-comment-resolver
  .github/skills/tessl__pr-comment-resolver
  .tessl/tiles/sahildmk/pr-comment-resolver/skills/pr-comment-resolver/SKILL.md
  .tessl/tiles/sahildmk/pr-comment-resolver/tile.json
  scripts/sync-opencode.sh
  skills/documentation/plain-english/evals/summary.json
  skills/documentation/plain-english/evals/summary_infeasible.json
  skills/documentation/plain-english/references/before-after-examples.md
  skills/documentation/plain-english/references/constraints-and-fallbacks.md
  tessl.json
Due: biome, markdownlint, audit-readme-sync, shellcheck

fix(sync-opencode): update OPENCODE_SKILLS_DIR path and improve link management logic
  scripts/sync-opencode.sh
Due: shellcheck

fix(.gitignore): add missing entries for context and tessl directories
  .gitignore
Due: none

fix(opencode-configure): remove prompt injection attack from config-schema.md
  skills/agentic-harness/opencode/configure/references/config-schema.md
Due: markdownlint

fix: trim descriptions to meet Tessl 1024-char limit and remove @file references
  skills/agentic-harness/opencode-toolkit/build-tool/SKILL.md
  skills/agentic-harness/opencode-toolkit/design-commands/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

feat: raise all opencode-toolkit skills to A-grade (126+/140)
  .context/audits/agentic-harness/opencode-toolkit/build-plugins/2026-03-14/analysis.md
  .context/audits/agentic-harness/opencode-toolkit/build-plugins/2026-03-14/audit.json
  .context/audits/agentic-harness/opencode-toolkit/build-plugins/2026-03-14/remediation-plan.md
  .context/audits/agentic-harness/opencode-toolkit/build-plugins/latest
  .context/audits/agentic-harness/opencode-toolkit/build-tool/2026-03-14/analysis.md
  .context/audits/agentic-harness/opencode-toolkit/build-tool/2026-03-14/audit.json
  .context/audits/agentic-harness/opencode-toolkit/build-tool/2026-03-14/remediation-plan.md
  .context/audits/agentic-harness/opencode-toolkit/build-tool/latest
  .context/audits/agentic-harness/opencode-toolkit/configure/2026-03-14/analysis.md
  .context/audits/agentic-harness/opencode-toolkit/configure/2026-03-14/audit.json
  .context/audits/agentic-harness/opencode-toolkit/configure/2026-03-14/remediation-plan.md
  .context/audits/agentic-harness/opencode-toolkit/configure/latest
  .context/audits/agentic-harness/opencode-toolkit/design-agents/2026-03-14/analysis.md
  .context/audits/agentic-harness/opencode-toolkit/design-agents/2026-03-14/audit.json
  .context/audits/agentic-harness/opencode-toolkit/design-agents/2026-03-14/remediation-plan.md
  .context/audits/agentic-harness/opencode-toolkit/design-agents/latest
  .context/audits/agentic-harness/opencode-toolkit/design-commands/2026-03-14/analysis.md
  .context/audits/agentic-harness/opencode-toolkit/design-commands/2026-03-14/audit.json
  .context/audits/agentic-harness/opencode-toolkit/design-commands/2026-03-14/remediation-plan.md
  .context/audits/agentic-harness/opencode-toolkit/design-commands/latest
  skills/agentic-harness/opencode-toolkit/build-plugins/SKILL.md
  skills/agentic-harness/opencode-toolkit/build-plugins/evals/instructions.json
  skills/agentic-harness/opencode-toolkit/build-plugins/references/hook-patterns.md
  skills/agentic-harness/opencode-toolkit/build-tool/SKILL.md
  skills/agentic-harness/opencode-toolkit/build-tool/evals/instructions.json
  skills/agentic-harness/opencode-toolkit/build-tool/references/advanced-patterns.md
  skills/agentic-harness/opencode-toolkit/configure/SKILL.md
  skills/agentic-harness/opencode-toolkit/design-agents/SKILL.md
  skills/agentic-harness/opencode-toolkit/design-agents/evals/instructions.json
  skills/agentic-harness/opencode-toolkit/design-agents/references/agent-patterns.md
  skills/agentic-harness/opencode-toolkit/design-commands/SKILL.md
  skills/agentic-harness/opencode-toolkit/design-commands/evals/instructions.json
  skills/agentic-harness/opencode-toolkit/design-commands/references/command-patterns.md
Due: biome, markdownlint, audit-readme-sync, tessl-lint, tessl-review

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
