Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
      stage_fixed: true
    skill-artifacts:
      run: ./skills/skill-quality-auditor/scripts/validate-skill-artifacts.sh {staged_files}
      stage_fixed: true
    audit-readme-sync:
      glob: ".context/audits/*.md"
      run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
      stage_fixed: true
    shellcheck:
      glob: "*.sh"
      run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
      stage_fixed: true
    tessl-lint:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
      stage_fixed: true
    tessl-review:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
      stage_fixed: true
    tessl-publish-check:
      glob: "skills/**/tile.json"
      run: ./scripts/tessl-publish-check.sh {staged_files}
      stage_fixed: true

audit: k8s-debug quality review
  .context/jenkinsfile-validator-audit-final-20260302-192006.txt
  .context/k8s-debug-audit-20260302-192104.md
  .context/k8s-yaml-generator-audit-20260302-192105.md
  .context/k8s-yaml-validator-audit-20260302.md
  .context/logql-generator-audit-20260302-192108.txt
  .context/makefile-generator-audit-20260302-192109.md
Due: markdownlint

audit: makefile-generator quality review
  .context/k8s-yaml-generator-audit-20260302-192105.md
Due: markdownlint

fix: address audit findings for makefile-generator
  skills/makefile-generator/SKILL.md
  skills/makefile-generator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: address audit findings for k8s-yaml-generator
  skills/k8s-yaml-generator/tile.json
  skills/k8s-yaml-validator/SKILL.md
  skills/k8s-yaml-validator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: address audit findings for logql-generator
  skills/logql-generator/SKILL.md
  skills/logql-generator/references/function_reference.md
  skills/logql-generator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: address audit findings for k8s-debug
  skills/k8s-debug/SKILL.md
  skills/k8s-debug/tile.json
  skills/k8s-yaml-validator/SKILL.md
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: improve conciseness by consolidating workflow stages and documentation lookup
  skills/k8s-yaml-validator/SKILL.md
  skills/logql-generator/SKILL.md
  skills/logql-generator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: remove redundant 'When to Use' section
  skills/logql-generator/SKILL.md
  skills/logql-generator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: condense workflow stages and remove redundant explanations
  skills/logql-generator/SKILL.md
  skills/logql-generator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

audit: markdown-authoring quality review
  .context/markdown-authoring-audit-20260302-192553.txt
Due: none

audit: mise-complete quality review
  .context/mise-complete-audit-20260302-192554.txt
Due: none

fix: address audit findings for markdown-authoring
  skills/markdown-authoring/tile.json
Due: biome, tessl-publish-check

audit: makefile-validator quality review
  .context/makefile-validator-audit-20260302-192554.md
Due: markdownlint

audit: nx-biome-integration quality review
  .context/nx-biome-integration-audit-20260302-192556.md
Due: markdownlint

audit: moscow-prioritization quality review
  .context/moscow-prioritization-audit-20260302.txt
Due: none

fix: address audit findings for makefile-validator
  skills/makefile-validator/tile.json
Due: biome, tessl-publish-check

fix: address audit findings for nx-biome-integration
  skills/nx-biome-integration/tile.json
Due: biome, tessl-publish-check

fix: address audit findings for mise-complete
  skills/mise-complete/tile.json
Due: biome, tessl-publish-check

fix: address audit findings for moscow-prioritization
  skills/moscow-prioritization/tile.json
Due: biome, tessl-publish-check

audit: nx-vite-integration quality review
  .context/nx-vite-integration-audit-20260302-192703.txt
Due: none
