Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
      stage_fixed: true
    skill-artifacts:
      run: ./skills/skill-quality-auditor/scripts/validate-skill-artifacts.sh {staged_files}
      stage_fixed: true
    audit-readme-sync:
      glob: ".context/audits/*.md"
      run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
      stage_fixed: true
    shellcheck:
      glob: "*.sh"
      run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
      stage_fixed: true
    tessl-lint:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
      stage_fixed: true
    tessl-review:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
      stage_fixed: true
    tessl-publish-check:
      glob: "skills/**/tile.json"
      run: ./scripts/tessl-publish-check.sh {staged_files}
      stage_fixed: true

ci: remove Tessl lint/review and Copilot eval-request PR jobs
  .github/workflows/pr-agent.yml
  .github/workflows/pr-skill-checks.yml
  .github/workflows/publish-skills.yml
  .plumber.yaml
Due: yamllint

ci: remove Tessl and Copilot from the PR pipeline (#339)
  .github/workflows/pr-agent.yml
  .github/workflows/pr-skill-checks.yml
  .github/workflows/publish-skills.yml
  .plumber.yaml
  hk.pkl
  package.json
  scripts/test-tessl-api.ts
  tessl.json
Due: biome, yamllint

chore(skills): strip the local worktree path from the load-context and save-context audits
  skills/agentic-harness/load-context/.audits/2026-09-30/Analysis.md
  skills/agentic-harness/load-context/.audits/2026-09-30/Remediation.md
  skills/agentic-harness/load-context/.audits/2026-09-30/audit.json
  skills/agentic-harness/save-context/.audits/2026-09-30/Analysis.md
  skills/agentic-harness/save-context/.audits/2026-09-30/Remediation.md
  skills/agentic-harness/save-context/.audits/2026-09-30/audit.json
Due: biome, markdownlint

chore(skills): strip the local worktree path from the load-context and save-context audits (#338)
  skills/agentic-harness/load-context/.audits/2026-09-30/Analysis.md
  skills/agentic-harness/load-context/.audits/2026-09-30/Remediation.md
  skills/agentic-harness/load-context/.audits/2026-09-30/audit.json
  skills/agentic-harness/save-context/.audits/2026-09-30/Analysis.md
  skills/agentic-harness/save-context/.audits/2026-09-30/Remediation.md
  skills/agentic-harness/save-context/.audits/2026-09-30/audit.json
Due: biome, markdownlint

docs(skill-quality-auditor): align the eval format doc with the auditor
  PUNCHLIST.md
  skills/agentic-harness/skill-quality-auditor/references/eval-format.md
  skills/agentic-harness/skill-quality-auditor/references/framework-scoring-rubric.md
Due: markdownlint

docs(skill-quality-auditor): align the eval format doc with the auditor (#340)
  PUNCHLIST.md
  skills/agentic-harness/skill-quality-auditor/references/eval-format.md
  skills/agentic-harness/skill-quality-auditor/references/framework-scoring-rubric.md
Due: markdownlint

chore(skills): raise the infrastructure validators and generators to grade B
  skills/infrastructure/ansible/generator/SKILL.md
  skills/infrastructure/ansible/validator/SKILL.md
  skills/infrastructure/dockerfile/generator/SKILL.md
  skills/infrastructure/dockerfile/validator/SKILL.md
  skills/infrastructure/terraform/generator/SKILL.md
  skills/infrastructure/terraform/generator/assets/README.md
  skills/infrastructure/terragrunt/generator/SKILL.md
  skills/infrastructure/terragrunt/validator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

chore(skills): raise the ci-cd validators and generators to grade B
  skills/ci-cd/azure-pipelines/validator/SKILL.md
  skills/ci-cd/fluentbit/generator/SKILL.md
  skills/ci-cd/fluentbit/generator/references/filter-patterns.md
  skills/ci-cd/fluentbit/generator/references/manual-config-structure.md
  skills/ci-cd/fluentbit/generator/references/output-patterns.md
  skills/ci-cd/fluentbit/validator/SKILL.md
  skills/ci-cd/github-actions/validator/SKILL.md
  skills/ci-cd/gitlab-ci/generator/SKILL.md
  skills/ci-cd/gitlab-ci/validator/SKILL.md
  skills/ci-cd/helm/validator/SKILL.md
  skills/ci-cd/jenkinsfile/generator/SKILL.md
  skills/ci-cd/jenkinsfile/validator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

chore(skills): raise the promql generator and validator to grade B
  skills/observability/promql/generator/SKILL.md
  skills/observability/promql/validator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

chore(skills): raise 18 ci-cd, infrastructure and observability skills to grade B (#342)
  skills/ci-cd/azure-pipelines/validator/SKILL.md
  skills/ci-cd/fluentbit/generator/SKILL.md
  skills/ci-cd/fluentbit/generator/references/filter-patterns.md
  skills/ci-cd/fluentbit/generator/references/manual-config-structure.md
  skills/ci-cd/fluentbit/generator/references/output-patterns.md
  skills/ci-cd/fluentbit/validator/SKILL.md
  skills/ci-cd/github-actions/validator/SKILL.md
  skills/ci-cd/gitlab-ci/generator/SKILL.md
  skills/ci-cd/gitlab-ci/validator/SKILL.md
  skills/ci-cd/helm/validator/SKILL.md
  skills/ci-cd/jenkinsfile/generator/SKILL.md
  skills/ci-cd/jenkinsfile/validator/SKILL.md
  skills/infrastructure/ansible/generator/SKILL.md
  skills/infrastructure/ansible/validator/SKILL.md
  skills/infrastructure/dockerfile/generator/SKILL.md
  skills/infrastructure/dockerfile/validator/SKILL.md
  skills/infrastructure/terraform/generator/SKILL.md
  skills/infrastructure/terraform/generator/assets/README.md
  skills/infrastructure/terragrunt/generator/SKILL.md
  skills/infrastructure/terragrunt/validator/SKILL.md
  skills/observability/promql/generator/SKILL.md
  skills/observability/promql/validator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

chore(skills): convert flat evals to scenario folders for the promql skills
  skills/observability/promql/generator/evals/scenario-01.md
  skills/observability/promql/generator/evals/scenario-02.md
  skills/observability/promql/generator/evals/scenario-03.md
  skills/observability/promql/generator/evals/scenario-04.md
  skills/observability/promql/generator/evals/scenario-04/capability.txt
  skills/observability/promql/generator/evals/scenario-04/criteria.json
  skills/observability/promql/generator/evals/scenario-04/task.md
  skills/observability/promql/generator/evals/scenario-05.md
  skills/observability/promql/generator/evals/scenario-05/capability.txt
  skills/observability/promql/generator/evals/scenario-05/criteria.json
  skills/observability/promql/generator/evals/scenario-05/task.md
  skills/observability/promql/generator/evals/scenario-06/capability.txt
  skills/observability/promql/generator/evals/scenario-06/criteria.json
  skills/observability/promql/generator/evals/scenario-06/task.md
  skills/observability/promql/generator/evals/scenario-07/capability.txt
  skills/observability/promql/generator/evals/scenario-07/criteria.json
  skills/observability/promql/generator/evals/scenario-07/task.md
  skills/observability/promql/generator/evals/scenario-08/capability.txt
  skills/observability/promql/generator/evals/scenario-08/criteria.json
  skills/observability/promql/generator/evals/scenario-08/task.md
  skills/observability/promql/generator/evals/summary.json
  skills/observability/promql/validator/evals/scenario-01.md
  skills/observability/promql/validator/evals/scenario-02.md
  skills/observability/promql/validator/evals/scenario-03.md
  skills/observability/promql/validator/evals/scenario-04.md
  skills/observability/promql/validator/evals/scenario-04/capability.txt
  skills/observability/promql/validator/evals/scenario-04/criteria.json
  skills/observability/promql/validator/evals/scenario-04/task.md
  skills/observability/promql/validator/evals/scenario-05/capability.txt
  skills/observability/promql/validator/evals/scenario-05/criteria.json
  skills/observability/promql/validator/evals/scenario-05/task.md
  skills/observability/promql/validator/evals/scenario-06/capability.txt
  skills/observability/promql/validator/evals/scenario-06/criteria.json
  skills/observability/promql/validator/evals/scenario-06/task.md
  skills/observability/promql/validator/evals/scenario-07/capability.txt
  skills/observability/promql/validator/evals/scenario-07/criteria.json
  skills/observability/promql/validator/evals/scenario-07/task.md
  skills/observability/promql/validator/evals/summary.json
Due: biome, markdownlint

chore: drop tessl from bun.lock
  bun.lock
Due: none

chore: drop tessl from bun.lock (#344)
  bun.lock
Due: none

chore(skills): finish the eval migration for the package-mgmt skills
  skills/package-mgmt/mise-complete/SKILL.md
  skills/package-mgmt/mise-complete/evals/instructions.json
  skills/package-mgmt/mise-complete/evals/scenario-01.md
  skills/package-mgmt/mise-complete/evals/scenario-02.md
  skills/package-mgmt/mise-complete/evals/scenario-03.md
  skills/package-mgmt/mise-complete/evals/scenario-04.md
  skills/package-mgmt/mise-complete/evals/scenario-1/capability.txt
  skills/package-mgmt/mise-complete/evals/scenario-1/criteria.json
  skills/package-mgmt/mise-complete/evals/scenario-1/task.md
  skills/package-mgmt/mise-complete/evals/scenario-2/capability.txt
  skills/package-mgmt/mise-complete/evals/scenario-2/criteria.json
  skills/package-mgmt/mise-complete/evals/scenario-2/task.md
  skills/package-mgmt/mise-complete/evals/scenario-3/capability.txt
  skills/package-mgmt/mise-complete/evals/scenario-3/criteria.json
  skills/package-mgmt/mise-complete/evals/scenario-3/task.md
  skills/package-mgmt/mise-complete/evals/scenario-4/capability.txt
  skills/package-mgmt/mise-complete/evals/scenario-4/criteria.json
  skills/package-mgmt/mise-complete/evals/scenario-4/task.md
  skills/package-mgmt/mise-complete/evals/scenario-5/capability.txt
  skills/package-mgmt/mise-complete/evals/scenario-5/criteria.json
  skills/package-mgmt/mise-complete/evals/scenario-5/task.md
  skills/package-mgmt/mise-complete/evals/scenario-6/capability.txt
  skills/package-mgmt/mise-complete/evals/scenario-6/criteria.json
  skills/package-mgmt/mise-complete/evals/scenario-6/task.md
  skills/package-mgmt/mise-complete/evals/scenario-7/capability.txt
  skills/package-mgmt/mise-complete/evals/scenario-7/criteria.json
  skills/package-mgmt/mise-complete/evals/scenario-7/task.md
  skills/package-mgmt/mise-complete/evals/scenario-8/capability.txt
  skills/package-mgmt/mise-complete/evals/scenario-8/criteria.json
  skills/package-mgmt/mise-complete/evals/scenario-8/task.md
  skills/package-mgmt/mise-complete/evals/summary.json
Due: biome, markdownlint, tessl-lint, tessl-review

style: rustfmt the renamed manifest path in a validator test
  crates/skill-validator-rs/src/artifacts.rs
Due: none

ci: ignore toolkit manifest changes when finding skills to audit
  .github/workflows/skill-audit.yml
Due: yamllint

ci(rust): skip the Rust build for PRs that only change audit snapshots
  .github/workflows/rust-ci.yml
Due: yamllint

ci(rust): skip the Rust build for PRs that only change audit snapshots (#347)
  .github/workflows/rust-ci.yml
Due: yamllint
