Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

fix(nx-biome-integration): address linting issues
  skills/nx-biome-integration/tile.json
Due: biome, tessl-publish-check

fix(moscow-prioritization): address linting issues
  skills/moscow-prioritization/SKILL.md
  skills/moscow-prioritization/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix(makefile-validator): address linting issues
  .markdownlint-cli2.jsonc
  skills/makefile-validator/SKILL.md
  skills/makefile-validator/assets/bad-makefile.mk
  skills/makefile-validator/assets/good-makefile.mk
  skills/makefile-validator/references/bake-tool.md
  skills/makefile-validator/references/best-practices.md
  skills/makefile-validator/references/common-mistakes.md
  skills/nx-biome-integration/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix(mise-complete): address linting issues
  skills/mise-complete/SKILL.md
  skills/mise-complete/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

refactor(moscow-prioritization): apply tessl optimization
  skills/moscow-prioritization/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

chore(moscow-prioritization): set private=false for public release
  skills/moscow-prioritization/tile.json
Due: biome, tessl-publish-check

refactor(mise-complete): apply tessl optimization
  skills/mise-complete/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

fix(makefile-generator): address linting issues
  skills/makefile-generator/SKILL.md
  skills/makefile-generator/references/README.md
  skills/makefile-generator/references/makefile-structure.md
  skills/makefile-generator/references/optimization-guide.md
  skills/makefile-generator/references/patterns-guide.md
  skills/makefile-generator/references/security-guide.md
  skills/makefile-generator/references/targets-guide.md
  skills/makefile-generator/references/variables-guide.md
  skills/makefile-generator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

chore(mise-complete): mark as public for registry
  skills/mise-complete/tile.json
Due: biome, tessl-publish-check

refactor(makefile-validator): apply tessl optimization
  skills/makefile-validator/SKILL.md
  skills/makefile-validator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

refactor(makefile-generator): apply tessl optimization
  skills/makefile-generator/SKILL.md
  skills/makefile-generator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

chore(makefile-generator): mark as public for registry
  skills/makefile-generator/tile.json
Due: biome, tessl-publish-check

fix(nx-executors): address linting issues
  skills/nx-executors/references/troubleshooting.md
Due: markdownlint

fix(nx-bun-integration): address linting issues
  skills/nx-bun-integration/SKILL.md
  skills/nx-bun-integration/references/nx-executor-configuration.md
  skills/nx-bun-integration/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

refactor(nx-bun-integration): apply tessl optimization
  skills/nx-bun-integration/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

refactor(opencode-config): apply tessl optimization
  skills/opencode-config/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

fix(promql-validator): address linting issues
  skills/promql-validator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

fix(promql-generator): address linting issues
  skills/promql-generator/SKILL.md
  skills/promql-generator/assets/alerting_rules.yaml
  skills/promql-generator/assets/common_queries.promql
  skills/promql-generator/assets/kubernetes_patterns.promql
  skills/promql-generator/assets/recording_rules.yaml
  skills/promql-generator/assets/red_method.promql
  skills/promql-generator/assets/slo_patterns.promql
  skills/promql-generator/assets/use_method.promql
  skills/promql-generator/tile.json
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review, tessl-publish-check

refactor(plain-english): apply tessl optimization
  skills/plain-english/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

refactor(promql-generator): apply tessl optimization
  skills/promql-generator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
