Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
      stage_fixed: true
    skill-artifacts:
      run: ./skills/skill-quality-auditor/scripts/validate-skill-artifacts.sh {staged_files}
      stage_fixed: true
    audit-readme-sync:
      glob: ".context/audits/*.md"
      run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
      stage_fixed: true
    shellcheck:
      glob: "*.sh"
      run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
      stage_fixed: true
    tessl-lint:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
      stage_fixed: true
    tessl-review:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
      stage_fixed: true
    tessl-publish-check:
      glob: "skills/**/tile.json"
      run: ./scripts/tessl-publish-check.sh {staged_files}
      stage_fixed: true

audit: terraform-generator quality review
  .context/terraform-generator-audit-20260302-193208.md
Due: markdownlint

audit: terraform-validator quality review
  .context/terraform-validator-audit-20260302-193209.md
Due: markdownlint

fix: address audit findings for software-design-principles
  skills/software-design-principles/SKILL.md
  skills/software-design-principles/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: address audit findings for terraform-generator
  skills/terraform-generator/SKILL.md
  skills/terraform-generator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: address audit findings for terraform-validator
  skills/terraform-validator/SKILL.md
  skills/terraform-validator/references/security_checklist.md
  skills/terraform-validator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: address audit findings for terragrunt-generator
  skills/terragrunt-generator/SKILL.md
  skills/terragrunt-generator/references/troubleshooting.md
  skills/terragrunt-generator/tile.json
  skills/terragrunt-validator/SKILL.md
  skills/terragrunt-validator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

audit: test-driven-development quality review
  .context/test-driven-development-audit-20260302-193934.md
  .context/typescript-advanced-audit-20260302-193934.md
  .context/ui-debug-workflow-audit-20260302-193937.txt
Due: markdownlint

fix: address audit findings for test-driven-development
  skills/test-driven-development/tile.json
Due: biome, tessl-publish-check

audit: typescript-advanced quality review
  .context/typescript-advanced-audit-20260302-193934.md
Due: markdownlint

fix: address audit findings for typescript-advanced
  skills/typescript-advanced/tile.json
  skills/ui-debug-workflow/tile.json
Due: biome, tessl-publish-check

fix: address audit findings for ui-debug-workflow
  skills/ui-debug-workflow/tile.json
Due: biome, tessl-publish-check

fix: update tile.json files to set 'private' to false for all skills
  skills/ansible-generator/tile.json
  skills/azure-pipelines-generator/tile.json
  skills/azure-pipelines-validator/tile.json
  skills/bash-script-generator/tile.json
  skills/bash-script-validator/tile.json
  skills/biome-complete/tile.json
  skills/bun-development/tile.json
  skills/conventional-commits/tile.json
  skills/create-context-file/tile.json
  skills/dockerfile-generator/tile.json
  skills/extending-nx-plugins/tile.json
  skills/fluentbit-generator/tile.json
  skills/fluentbit-validator/tile.json
  skills/github-copilot-models/tile.json
  skills/gitlab-api/tile.json
  skills/helm-validator/tile.json
  skills/jenkinsfile-generator/tile.json
  skills/journal-entry-creator/tile.json
  skills/k8s-yaml-generator/tile.json
  skills/nx-bun-integration/tile.json
  skills/nx-executors/tile.json
  skills/nx-generators/tile.json
  skills/nx-vite-integration/tile.json
  skills/nx-workspace-patterns/tile.json
  skills/opencode-config/tile.json
  skills/plain-english/tile.json
  skills/terraform-generator/tile.json
  skills/ui-debug-workflow/tile.json
Due: biome, tessl-publish-check

enhance: automate skill audit storage with dated directories and multi-file generation
  .context/plans/phase-1-establish-baseline.md
  skills/skill-quality-auditor/scripts/evaluate.sh
Due: markdownlint, shellcheck

fix: rewrite Phase 2 plan with correct automation and all recommendations
  .context/plans/phase-2-batch-processing.md
  scripts/audit-helpers.sh
  scripts/audit-skill.sh
Due: markdownlint, shellcheck

fix: rewrite Phase 3 plan with correct automation and all recommendations
  .context/plans/phase-3-analysis-documentation.md
  scripts/generate-audit-summary.sh
Due: markdownlint, shellcheck

fix: rewrite Phase 4 plan and eliminate all persistent bugs across ALL plans
  .context/plans/complete-skill-audit-remediation.md
  .context/plans/phase-4-process-improvement.md
  scripts/check-skill-audit-status.sh
Due: markdownlint, shellcheck

feat: add comprehensive skill audit and publication summary for March 2026
  .context/skill-audit-summary-20260302.md
Due: markdownlint

Add cross-harness portability checks to D4 evaluation
  skills/skill-quality-auditor/SKILL.md
  skills/skill-quality-auditor/references/detailed-anti-patterns.md
  skills/skill-quality-auditor/references/framework-quality-standards.md
  skills/skill-quality-auditor/references/framework-scoring-rubric.md
  skills/skill-quality-auditor/references/framework-skill-judge-dimensions.md
  skills/skill-quality-auditor/scripts/evaluate.sh
Due: markdownlint, shellcheck, tessl-lint, tessl-review

feat: complete production-ready phase plans for skill audit remediation
  .context/analysis/phase1-blockers.md
  .context/analysis/phase2-issues.md
  .context/analysis/score-mapping-phase1.md
  .context/plans/phase-1-establish-baseline.md
  .context/plans/phase-2-batch-processing.md
  .context/plans/phase-3-analysis-documentation.md
  .context/plans/phase-4-process-improvement.md
  scripts/batch-audit.sh
Due: markdownlint, shellcheck

fix: move batch-audit.sh to skill-quality-auditor scripts directory
  .context/plans/phase-2-batch-processing.md
  skills/skill-quality-auditor/scripts/batch-audit.sh
Due: markdownlint, shellcheck
