Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

Add TypeScript CLI tool using Commander.js
  bun.lock
  cli/.gitignore
  cli/README.md
  cli/commands/audit.ts
  cli/commands/tessl.ts
  cli/index.ts
  cli/lib/audit/audit-all.ts
  cli/lib/audit/audit-skill.ts
  cli/lib/audit/audit-status.ts
  cli/lib/audit/audit-summary.ts
  cli/lib/tessl/manage.ts
  cli/lib/tessl/publish-check.ts
  cli/lib/utils/logger.ts
  cli/lib/utils/shell.ts
  cli/tsconfig.json
  package.json
Due: biome, markdownlint

Add install command to symlink skills for local development
  cli/README.md
  cli/commands/install.ts
  cli/index.ts
  cli/lib/install/install-skills.ts
  package.json
Due: biome, markdownlint

Update AGENTS.md and README.md to document CLI tool
  AGENTS.md
  README.md
Due: markdownlint

Complete migration from shell scripts to TypeScript CLI tool
  README.md
  cli/README.md
  cli/commands/readme.ts
  cli/index.ts
  cli/lib/readme/audit-info.ts
  cli/lib/readme/domain-config.ts
  cli/lib/readme/skill-parser.ts
  cli/lib/readme/tessl-status.ts
  cli/lib/readme/update-readme.ts
  lefthook.yml
  package.json
  scripts/archive/README.md
  scripts/archive/convert-audits.sh
  scripts/archive/migrate-audit-paths.sh
  scripts/archive/migrate-skills-from-agents.sh
  scripts/archive/restructure-audits.sh
  scripts/audit-all-skills.sh
  scripts/audit-helpers.sh
  scripts/audit-single-skill.sh
  scripts/audit-skill.sh
  scripts/check-skill-audit-status.sh
  scripts/fix-remediation.sh
  scripts/generate-analysis.sh
  scripts/generate-audit-summary.sh
  scripts/generate-remediation.sh
  scripts/manage-skills.sh
  scripts/regenerate-readme-table.sh
  scripts/simple-remediation.sh
  scripts/tessl-manage-skills.sh
  scripts/tessl-publish-check.sh
  scripts/update-readme-ratings.sh
Due: biome, markdownlint, yamllint, shellcheck

refactor(cli): implement software engineering best practices
  .context/cli-architecture-review.md
  .context/cli-refactoring-summary.md
  bun.lock
  cli/commands/audit.ts
  cli/commands/install.ts
  cli/commands/readme.ts
  cli/commands/tessl.ts
  cli/lib/audit/audit-skill.test.ts
  cli/lib/audit/audit-skill.ts
  cli/lib/readme/update-readme.ts
  cli/lib/schemas/audit.schema.ts
  cli/lib/schemas/tile.schema.ts
  cli/lib/tessl/manage.ts
  cli/lib/utils/errors.test.ts
  cli/lib/utils/errors.ts
  cli/lib/utils/logger.test.ts
  cli/lib/utils/shell.test.ts
  package.json
Due: biome, markdownlint

feat(linter): add cognitive complexity rule to reduce code complexity
  .context/cognitive-complexity-reduction-plan.md
  biome.json
Due: biome, markdownlint

refactor(cli): reduce cognitive complexity in all flagged functions
  cli/lib/audit/audit-summary.test.ts
  cli/lib/audit/audit-summary.ts
  cli/lib/install/install-skills.test.ts
  cli/lib/install/install-skills.ts
  cli/lib/readme/skill-parser.test.ts
  cli/lib/readme/skill-parser.ts
  cli/lib/readme/update-readme.ts
  cli/lib/tessl/publish-check.ts
Due: biome

docs: add complexity reduction completion report
  .context/complexity-reduction-complete.md
Due: markdownlint

chore: update .gitignore to include .context/investigations
  .gitignore
Due: none

feat(skill-quality-auditor): add kitchen-sink anti-pattern and improve to A-grade (113/120)
  .context/audits/agentic-harness/skill-quality-auditor/2026-03-04/analysis.md
  .context/audits/agentic-harness/skill-quality-auditor/2026-03-04/audit.json
  .context/audits/agentic-harness/skill-quality-auditor/2026-03-04/remediation-plan.md
  .context/audits/agentic-harness/skill-quality-auditor/latest
  skills/agentic-harness/skill-quality-auditor/SKILL.md
  skills/agentic-harness/skill-quality-auditor/references/detailed-anti-patterns.md
  skills/agentic-harness/skill-quality-auditor/references/framework-quality-standards.md
  skills/agentic-harness/skill-quality-auditor/scripts/evaluate.sh
Due: biome, markdownlint, audit-readme-sync, shellcheck, tessl-lint, tessl-review

feat(skill-quality-auditor): add D9 Eval Validation dimension and scale to 140-point framework
  .context/audits/agentic-harness/skill-quality-auditor/2026-03-04/analysis.md
  .context/audits/agentic-harness/skill-quality-auditor/2026-03-04/audit.json
  AGENTS.md
  skills/agentic-harness/skill-quality-auditor/AGENTS.md
  skills/agentic-harness/skill-quality-auditor/SKILL.md
  skills/agentic-harness/skill-quality-auditor/references/framework-quality-standards.md
  skills/agentic-harness/skill-quality-auditor/references/framework-scoring-rubric.md
  skills/agentic-harness/skill-quality-auditor/references/framework-skill-judge-dimensions.md
  skills/agentic-harness/skill-quality-auditor/references/quality-thresholds-scoring.md
  skills/agentic-harness/skill-quality-auditor/references/scoring-rubric.md
  skills/agentic-harness/skill-quality-auditor/schemas/remediation-plan.schema.json
  skills/agentic-harness/skill-quality-auditor/scripts/evaluate.sh
  skills/agentic-harness/skill-quality-auditor/scripts/generate-remediation-plan.sh
  skills/agentic-harness/skill-quality-auditor/templates/remediation-plan-template.yaml
Due: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review

feat(skill-quality-auditor): add self-containment penalties and script portability bonus to D4
  AGENTS.md
  skills/agentic-harness/skill-quality-auditor/references/framework-skill-judge-dimensions.md
  skills/agentic-harness/skill-quality-auditor/scripts/evaluate.sh
  skills/agentic-harness/skill-quality-auditor/scripts/validate-skill-artifacts.sh
Due: markdownlint, shellcheck

feat(skill-quality-auditor): improve D4/D5/D7/D8 dimensions and fix 9-dimension references
  .context/audits/agentic-harness/skill-quality-auditor/2026-03-04/analysis.md
  .context/audits/agentic-harness/skill-quality-auditor/2026-03-04/audit.json
  .context/audits/agentic-harness/skill-quality-auditor/2026-03-04/remediation-plan.md
  skills/agentic-harness/skill-quality-auditor/SKILL.md
  skills/agentic-harness/skill-quality-auditor/references/examples-audit-workflows.md
  skills/agentic-harness/skill-quality-auditor/tile.json
Due: biome, markdownlint, audit-readme-sync, tessl-lint, tessl-review, tessl-publish-check

docs(planning): add split-software-design-principles implementation plan
  .context/plans/split-software-design-principles/README.md
  .context/plans/split-software-design-principles/phases/README.md
  .context/plans/split-software-design-principles/phases/phase-0-baseline-audit/README.md
  .context/plans/split-software-design-principles/phases/phase-1-create-directory-structure/README.md
  .context/plans/split-software-design-principles/phases/phase-2-redistribute-reference-documents/README.md
  .context/plans/split-software-design-principles/phases/phase-3-author-new-skill-files/README.md
  .context/plans/split-software-design-principles/phases/phase-4-create-unified-tile/README.md
  .context/plans/split-software-design-principles/phases/phase-5-create-eval-scenarios/README.md
  .context/plans/split-software-design-principles/phases/phase-6-delete-original-hub/README.md
  .context/plans/split-software-design-principles/phases/phase-7-update-repository-docs/README.md
  .context/plans/split-software-design-principles/phases/phase-8-validation/README.md
  .context/plans/split-software-design-principles/phases/phase-9-tessl-integration/README.md
Due: markdownlint

docs: update README with new skill paths and tessl scores
  README.md
Due: markdownlint

docs: add next actions TODO for design-principles split
  .context/plans/split-software-design-principles/TODO.md
Due: markdownlint

feat(readme): switch tables from skills to tiles as primary unit
  cli/lib/readme/tile-parser.ts
  cli/lib/readme/update-readme.ts
Due: biome

feat(readme): switch to section-per-tile layout (option C)
  README.md
  cli/lib/readme/update-readme.ts
Due: biome, markdownlint

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
