Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

feat: document batch-audit.sh capability in skill-quality-auditor
  .context/plans/phase-2-batch-processing.md
  skills/skill-quality-auditor/SKILL.md
  skills/skill-quality-auditor/references/scripts-audit-workflow.md
Due: markdownlint, tessl-lint, tessl-review

docs: align master remediation plan with detailed phase documents
  .context/plans/complete-skill-audit-remediation.md
Due: markdownlint

fix: correct markdown formatting for required output section in SKILL.md
  skills/ansible-generator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

docs(skills): add taxonomy guide and update AGENTS.md for domain reorganization
  AGENTS.md
  skills/testing/skill-quality-auditor/references/skill-taxonomy.md
Due: markdownlint

refactor(skills): move agentic-harness domain to skills/agentic-harness/
  skills/agentic-harness/agents-md/SKILL.md
  skills/agentic-harness/agents-md/evals/instructions.json
  skills/agentic-harness/agents-md/evals/scenario-0/capability.txt
  skills/agentic-harness/agents-md/evals/scenario-0/criteria.json
  skills/agentic-harness/agents-md/evals/scenario-0/task.md
  skills/agentic-harness/agents-md/evals/scenario-1/capability.txt
  skills/agentic-harness/agents-md/evals/scenario-1/criteria.json
  skills/agentic-harness/agents-md/evals/scenario-1/task.md
  skills/agentic-harness/agents-md/evals/scenario-2/capability.txt
  skills/agentic-harness/agents-md/evals/scenario-2/criteria.json
  skills/agentic-harness/agents-md/evals/scenario-2/task.md
  skills/agentic-harness/agents-md/evals/scenario-3/capability.txt
  skills/agentic-harness/agents-md/evals/scenario-3/criteria.json
  skills/agentic-harness/agents-md/evals/scenario-3/task.md
  skills/agentic-harness/agents-md/evals/scenario-4/capability.txt
  skills/agentic-harness/agents-md/evals/scenario-4/criteria.json
  skills/agentic-harness/agents-md/evals/scenario-4/task.md
  skills/agentic-harness/agents-md/evals/summary.json
  skills/agentic-harness/agents-md/evals/summary_infeasible.json
  skills/agentic-harness/agents-md/references/anti-patterns.md
  skills/agentic-harness/agents-md/references/api-template.md
  skills/agentic-harness/agents-md/references/database-template.md
  skills/agentic-harness/agents-md/references/design-system-template.md
  skills/agentic-harness/agents-md/references/discovery-commands.md
  skills/agentic-harness/agents-md/references/testing-template.md
  skills/agentic-harness/agents-md/references/troubleshooting.md
  skills/agentic-harness/agents-md/tile.json
  skills/agentic-harness/opencode/SKILL.md
  skills/agentic-harness/opencode/references/config-schema.md
  skills/agentic-harness/opencode/references/permission-schema.md
  skills/agentic-harness/opencode/references/provider-configuration.md
  skills/agentic-harness/opencode/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

refactor(skills): move observability domain to skills/observability/
  skills/observability/k8s-debug/.gitignore
  skills/observability/k8s-debug/SKILL.md
  skills/observability/k8s-debug/references/common_issues.md
  skills/observability/k8s-debug/references/troubleshooting_workflow.md
  skills/observability/k8s-debug/scripts/cluster_health.sh
  skills/observability/k8s-debug/scripts/network_debug.sh
  skills/observability/k8s-debug/scripts/pod_diagnostics.py
  skills/observability/k8s-debug/tile.json
  skills/observability/logql-generator/SKILL.md
  skills/observability/logql-generator/assets/common_queries.logql
  skills/observability/logql-generator/references/best_practices.md
  skills/observability/logql-generator/references/function_reference.md
  skills/observability/logql-generator/tile.json
  skills/observability/promql/generator/SKILL.md
  skills/observability/promql/generator/assets/alerting_rules.yaml
  skills/observability/promql/generator/assets/common_queries.promql
  skills/observability/promql/generator/assets/kubernetes_patterns.promql
  skills/observability/promql/generator/assets/recording_rules.yaml
  skills/observability/promql/generator/assets/red_method.promql
  skills/observability/promql/generator/assets/slo_patterns.promql
  skills/observability/promql/generator/assets/use_method.promql
  skills/observability/promql/generator/references/best_practices.md
  skills/observability/promql/generator/references/metric_types.md
  skills/observability/promql/generator/references/promql_functions.md
  skills/observability/promql/generator/references/promql_patterns.md
  skills/observability/promql/generator/tile.json
  skills/observability/promql/validator/SKILL.md
  skills/observability/promql/validator/assets/bad_queries.promql
  skills/observability/promql/validator/assets/good_queries.promql
  skills/observability/promql/validator/assets/optimization_examples.promql
  skills/observability/promql/validator/references/anti_patterns.md
  skills/observability/promql/validator/references/best_practices.md
  skills/observability/promql/validator/scripts/check_best_practices.py
  skills/observability/promql/validator/scripts/validate_syntax.py
  skills/observability/promql/validator/tile.json
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

refactor(skills): move package-mgmt domain to skills/package-mgmt/
  skills/package-mgmt/mise-complete/AGENTS.md
  skills/package-mgmt/mise-complete/SKILL.md
  skills/package-mgmt/mise-complete/references/config-anti-patterns.md
  skills/package-mgmt/mise-complete/references/config-best-practices.md
  skills/package-mgmt/mise-complete/references/config-management.md
  skills/package-mgmt/mise-complete/references/config-structure.md
  skills/package-mgmt/mise-complete/references/env-definition.md
  skills/package-mgmt/mise-complete/references/env-hierarchies.md
  skills/package-mgmt/mise-complete/references/env-loading.md
  skills/package-mgmt/mise-complete/references/env-patterns.md
  skills/package-mgmt/mise-complete/references/tasks-definition.md
  skills/package-mgmt/mise-complete/references/tasks-execution.md
  skills/package-mgmt/mise-complete/references/tasks-organization.md
  skills/package-mgmt/mise-complete/references/tasks-patterns.md
  skills/package-mgmt/mise-complete/references/tools-installation.md
  skills/package-mgmt/mise-complete/references/tools-migration.md
  skills/package-mgmt/mise-complete/references/tools-plugins.md
  skills/package-mgmt/mise-complete/references/tools-versions.md
  skills/package-mgmt/mise-complete/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

refactor(skills): move project-mgmt domain to skills/project-mgmt/
  skills/project-mgmt/create-context-file/SKILL.md
  skills/project-mgmt/create-context-file/scripts/create-context-file.sh
  skills/project-mgmt/create-context-file/tile.json
  skills/project-mgmt/implementation-plan-splitter/SKILL.md
  skills/project-mgmt/implementation-plan-splitter/references/example-transformation.md
  skills/project-mgmt/implementation-plan-splitter/references/schemas-and-templates.md
  skills/project-mgmt/implementation-plan-splitter/schemas/readme-file.schema.json
  skills/project-mgmt/implementation-plan-splitter/schemas/step-file.schema.json
  skills/project-mgmt/implementation-plan-splitter/scripts/generate-structure.sh
  skills/project-mgmt/implementation-plan-splitter/scripts/validate-structure.sh
  skills/project-mgmt/implementation-plan-splitter/templates/group-readme.yaml
  skills/project-mgmt/implementation-plan-splitter/templates/intermediate-readme.yaml
  skills/project-mgmt/implementation-plan-splitter/templates/phase-readme.yaml
  skills/project-mgmt/implementation-plan-splitter/templates/step-file.yaml
  skills/project-mgmt/implementation-plan-splitter/tile.json
  skills/project-mgmt/moscow-prioritization/SKILL.md
  skills/project-mgmt/moscow-prioritization/references/categorization-decision-tree.md
  skills/project-mgmt/moscow-prioritization/references/effort-balancing-and-tradeoffs.md
  skills/project-mgmt/moscow-prioritization/references/facilitator-workshop-template.md
  skills/project-mgmt/moscow-prioritization/tile.json
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

refactor(skills): move specialized domain to skills/specialized/
  skills/specialized/colyseus-multiplayer/SKILL.md
  skills/specialized/colyseus-multiplayer/references/matchmaking-and-reconnection.md
  skills/specialized/colyseus-multiplayer/references/message-validation-and-security.md
  skills/specialized/colyseus-multiplayer/references/room-lifecycle-and-state.md
  skills/specialized/colyseus-multiplayer/tile.json
  skills/specialized/github-copilot-models/SKILL.md
  skills/specialized/github-copilot-models/scripts/fetch-models.sh
  skills/specialized/github-copilot-models/tile.json
  skills/specialized/gitlab-api/SKILL.md
  skills/specialized/gitlab-api/evals/instructions.json
  skills/specialized/gitlab-api/evals/scenario-0/capability.txt
  skills/specialized/gitlab-api/evals/scenario-0/criteria.json
  skills/specialized/gitlab-api/evals/scenario-0/task.md
  skills/specialized/gitlab-api/evals/scenario-1/capability.txt
  skills/specialized/gitlab-api/evals/scenario-1/criteria.json
  skills/specialized/gitlab-api/evals/scenario-1/task.md
  skills/specialized/gitlab-api/evals/scenario-2/capability.txt
  skills/specialized/gitlab-api/evals/scenario-2/criteria.json
  skills/specialized/gitlab-api/evals/scenario-2/task.md
  skills/specialized/gitlab-api/evals/scenario-3/capability.txt
  skills/specialized/gitlab-api/evals/scenario-3/criteria.json
  skills/specialized/gitlab-api/evals/scenario-3/task.md
  skills/specialized/gitlab-api/evals/scenario-4/capability.txt
  skills/specialized/gitlab-api/evals/scenario-4/criteria.json
  skills/specialized/gitlab-api/evals/scenario-4/task.md
  skills/specialized/gitlab-api/evals/summary.json
  skills/specialized/gitlab-api/evals/summary_infeasible.json
  skills/specialized/gitlab-api/scripts/get_mr_comments.sh
  skills/specialized/gitlab-api/tile.json
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

refactor(scripts): update scripts for recursive skill discovery
  scripts/check-skill-audit-status.sh
  scripts/generate-audit-summary.sh
  scripts/manage-skills.sh
Due: shellcheck

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
