Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

feat(skills): add helm-generator
  skills/helm-generator/.gitignore
  skills/helm-generator/SKILL.md
  skills/helm-generator/assets/.helmignore
  skills/helm-generator/assets/values-schema-template.json
  skills/helm-generator/examples/webapp/.helmignore
  skills/helm-generator/examples/webapp/Chart.yaml
  skills/helm-generator/examples/webapp/templates/NOTES.txt
  skills/helm-generator/examples/webapp/templates/deployment.yaml
  skills/helm-generator/examples/webapp/templates/hpa.yaml
  skills/helm-generator/examples/webapp/templates/ingress.yaml
  skills/helm-generator/examples/webapp/templates/service.yaml
  skills/helm-generator/examples/webapp/templates/serviceaccount.yaml
  skills/helm-generator/examples/webapp/values.yaml
  skills/helm-generator/references/crd_patterns.md
  skills/helm-generator/references/helm_template_functions.md
  skills/helm-generator/references/resource_templates.md
  skills/helm-generator/scripts/generate_chart_structure.sh
  skills/helm-generator/scripts/generate_standard_helpers.sh
  skills/helm-generator/tile.json
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add gitlab-ci-validator
  skills/gitlab-ci-validator/.gitignore
  skills/gitlab-ci-validator/SKILL.md
  skills/gitlab-ci-validator/docs/best-practices.md
  skills/gitlab-ci-validator/docs/common-issues.md
  skills/gitlab-ci-validator/docs/gitlab-ci-reference.md
  skills/gitlab-ci-validator/examples/basic-pipeline.gitlab-ci.yml
  skills/gitlab-ci-validator/examples/complex-workflow.gitlab-ci.yml
  skills/gitlab-ci-validator/examples/component-pipeline.gitlab-ci.yml
  skills/gitlab-ci-validator/examples/docker-build.gitlab-ci.yml
  skills/gitlab-ci-validator/examples/multi-stage.gitlab-ci.yml
  skills/gitlab-ci-validator/scripts/check_best_practices.py
  skills/gitlab-ci-validator/scripts/check_security.py
  skills/gitlab-ci-validator/scripts/install_tools.sh
  skills/gitlab-ci-validator/scripts/python_wrapper.sh
  skills/gitlab-ci-validator/scripts/validate_gitlab_ci.sh
  skills/gitlab-ci-validator/scripts/validate_syntax.py
  skills/gitlab-ci-validator/tile.json
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add helm-validator
  skills/helm-validator/.gitignore
  skills/helm-validator/SKILL.md
  skills/helm-validator/assets/.helmignore
  skills/helm-validator/assets/.yamllint
  skills/helm-validator/assets/values.schema.json
  skills/helm-validator/references/helm_best_practices.md
  skills/helm-validator/references/k8s_best_practices.md
  skills/helm-validator/references/template_functions.md
  skills/helm-validator/scripts/detect_crd.py
  skills/helm-validator/scripts/detect_crd_wrapper.sh
  skills/helm-validator/scripts/generate_helpers.sh
  skills/helm-validator/scripts/setup_tools.sh
  skills/helm-validator/scripts/validate_chart_structure.sh
  skills/helm-validator/test/test-crd-chart/.helmignore
  skills/helm-validator/test/test-crd-chart/Chart.yaml
  skills/helm-validator/test/test-crd-chart/README.md
  skills/helm-validator/test/test-crd-chart/templates/NOTES.txt
  skills/helm-validator/test/test-crd-chart/templates/certificate.yaml
  skills/helm-validator/test/test-crd-chart/templates/servicemonitor.yaml
  skills/helm-validator/test/test-crd-chart/values.yaml
  skills/helm-validator/tile.json
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add k8s-debug
  skills/k8s-debug/.gitignore
  skills/k8s-debug/SKILL.md
  skills/k8s-debug/references/common_issues.md
  skills/k8s-debug/references/troubleshooting_workflow.md
  skills/k8s-debug/scripts/cluster_health.sh
  skills/k8s-debug/scripts/network_debug.sh
  skills/k8s-debug/scripts/pod_diagnostics.py
  skills/k8s-debug/tile.json
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add jenkinsfile-generator
  skills/jenkinsfile-generator/.gitignore
  skills/jenkinsfile-generator/SKILL.md
  skills/jenkinsfile-generator/assets/templates/declarative/basic.Jenkinsfile
  skills/jenkinsfile-generator/assets/templates/scripted/basic.Jenkinsfile
  skills/jenkinsfile-generator/examples/declarative-ci-basic.Jenkinsfile
  skills/jenkinsfile-generator/examples/declarative-docker.Jenkinsfile
  skills/jenkinsfile-generator/examples/declarative-kubernetes.Jenkinsfile
  skills/jenkinsfile-generator/examples/declarative-matrix.Jenkinsfile
  skills/jenkinsfile-generator/examples/declarative-parallel.Jenkinsfile
  skills/jenkinsfile-generator/examples/declarative-security-scan.Jenkinsfile
  skills/jenkinsfile-generator/examples/declarative-shared-library.Jenkinsfile
  skills/jenkinsfile-generator/examples/scripted-basic.Jenkinsfile
  skills/jenkinsfile-generator/examples/scripted-conditional.Jenkinsfile
  skills/jenkinsfile-generator/examples/scripted-docker.Jenkinsfile
  skills/jenkinsfile-generator/references/best_practices.md
  skills/jenkinsfile-generator/references/common_plugins.md
  skills/jenkinsfile-generator/scripts/generate_declarative.py
  skills/jenkinsfile-generator/scripts/generate_scripted.py
  skills/jenkinsfile-generator/scripts/generate_shared_library.py
  skills/jenkinsfile-generator/scripts/lib/common_patterns.py
  skills/jenkinsfile-generator/scripts/lib/syntax_helpers.py
  skills/jenkinsfile-generator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add jenkinsfile-validator
  skills/jenkinsfile-validator/.gitignore
  skills/jenkinsfile-validator/SKILL.md
  skills/jenkinsfile-validator/examples/bad-declarative-pipeline.Jenkinsfile
  skills/jenkinsfile-validator/examples/bad-scripted-pipeline.Jenkinsfile
  skills/jenkinsfile-validator/examples/declarative-docker.Jenkinsfile
  skills/jenkinsfile-validator/examples/declarative-kubernetes.Jenkinsfile
  skills/jenkinsfile-validator/examples/declarative-parallel.Jenkinsfile
  skills/jenkinsfile-validator/examples/declarative-unknown-plugins.Jenkinsfile
  skills/jenkinsfile-validator/examples/scripted-basic.Jenkinsfile
  skills/jenkinsfile-validator/examples/scripted-conditional.Jenkinsfile
  skills/jenkinsfile-validator/examples/scripted-docker.Jenkinsfile
  skills/jenkinsfile-validator/examples/shared-library/src/com/example/BuildConfig.groovy
  skills/jenkinsfile-validator/examples/shared-library/vars/BadStep.groovy
  skills/jenkinsfile-validator/examples/shared-library/vars/buildApp.groovy
  skills/jenkinsfile-validator/references/best_practices.md
  skills/jenkinsfile-validator/references/common_plugins.md
  skills/jenkinsfile-validator/references/declarative_syntax.md
  skills/jenkinsfile-validator/references/scripted_syntax.md
  skills/jenkinsfile-validator/scripts/best_practices.sh
  skills/jenkinsfile-validator/scripts/common_validation.sh
  skills/jenkinsfile-validator/scripts/validate_declarative.sh
  skills/jenkinsfile-validator/scripts/validate_jenkinsfile.sh
  skills/jenkinsfile-validator/scripts/validate_scripted.sh
  skills/jenkinsfile-validator/scripts/validate_shared_library.sh
  skills/jenkinsfile-validator/tile.json
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add k8s-yaml-generator
  skills/k8s-yaml-generator/SKILL.md
  skills/k8s-yaml-generator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add k8s-yaml-validator
  skills/k8s-yaml-validator/.gitignore
  skills/k8s-yaml-validator/SKILL.md
  skills/k8s-yaml-validator/assets/.yamllint
  skills/k8s-yaml-validator/references/k8s_best_practices.md
  skills/k8s-yaml-validator/references/validation_workflow.md
  skills/k8s-yaml-validator/scripts/detect_crd.py
  skills/k8s-yaml-validator/scripts/detect_crd_wrapper.sh
  skills/k8s-yaml-validator/scripts/setup_tools.sh
  skills/k8s-yaml-validator/test/certificate-crd-test.yaml
  skills/k8s-yaml-validator/test/comprehensive-test.yaml
  skills/k8s-yaml-validator/test/deployment-test.yaml
  skills/k8s-yaml-validator/tile.json
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add makefile-generator
  skills/makefile-generator/SKILL.md
  skills/makefile-generator/assets/templates/.gitkeep
  skills/makefile-generator/docs/makefile-structure.md
  skills/makefile-generator/docs/optimization-guide.md
  skills/makefile-generator/docs/patterns-guide.md
  skills/makefile-generator/docs/security-guide.md
  skills/makefile-generator/docs/targets-guide.md
  skills/makefile-generator/docs/variables-guide.md
  skills/makefile-generator/scripts/add_standard_targets.sh
  skills/makefile-generator/scripts/generate_makefile_template.sh
  skills/makefile-generator/tile.json
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add logql-generator
  skills/logql-generator/SKILL.md
  skills/logql-generator/examples/common_queries.logql
  skills/logql-generator/references/best_practices.md
  skills/logql-generator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add promql-generator
  skills/promql-generator/SKILL.md
  skills/promql-generator/examples/alerting_rules.yaml
  skills/promql-generator/examples/common_queries.promql
  skills/promql-generator/examples/kubernetes_patterns.promql
  skills/promql-generator/examples/recording_rules.yaml
  skills/promql-generator/examples/red_method.promql
  skills/promql-generator/examples/slo_patterns.promql
  skills/promql-generator/examples/use_method.promql
  skills/promql-generator/references/best_practices.md
  skills/promql-generator/references/metric_types.md
  skills/promql-generator/references/promql_functions.md
  skills/promql-generator/references/promql_patterns.md
  skills/promql-generator/tile.json
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add makefile-validator
  skills/makefile-validator/SKILL.md
  skills/makefile-validator/docs/bake-tool.md
  skills/makefile-validator/docs/best-practices.md
  skills/makefile-validator/docs/common-mistakes.md
  skills/makefile-validator/examples/bad-makefile.mk
  skills/makefile-validator/examples/good-makefile.mk
  skills/makefile-validator/scripts/validate_makefile.sh
  skills/makefile-validator/tile.json
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add promql-validator
  skills/promql-validator/.gitignore
  skills/promql-validator/SKILL.md
  skills/promql-validator/docs/anti_patterns.md
  skills/promql-validator/docs/best_practices.md
  skills/promql-validator/examples/bad_queries.promql
  skills/promql-validator/examples/good_queries.promql
  skills/promql-validator/examples/optimization_examples.promql
  skills/promql-validator/scripts/check_best_practices.py
  skills/promql-validator/scripts/validate_syntax.py
  skills/promql-validator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add terraform-generator
  skills/terraform-generator/SKILL.md
  skills/terraform-generator/assets/README.md
  skills/terraform-generator/assets/minimal-project/README.md
  skills/terraform-generator/assets/minimal-project/main.tf
  skills/terraform-generator/assets/minimal-project/outputs.tf
  skills/terraform-generator/assets/minimal-project/terraform.tfvars.example
  skills/terraform-generator/assets/minimal-project/variables.tf
  skills/terraform-generator/assets/minimal-project/versions.tf
  skills/terraform-generator/references/common_patterns.md
  skills/terraform-generator/references/provider_examples.md
  skills/terraform-generator/references/terraform_best_practices.md
  skills/terraform-generator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add terragrunt-generator
  skills/terragrunt-generator/SKILL.md
  skills/terragrunt-generator/assets/templates/catalog/terragrunt.hcl
  skills/terragrunt-generator/assets/templates/child/terragrunt.hcl
  skills/terragrunt-generator/assets/templates/module/terragrunt.hcl
  skills/terragrunt-generator/assets/templates/root/terragrunt.hcl
  skills/terragrunt-generator/assets/templates/stack/terragrunt.stack.hcl
  skills/terragrunt-generator/references/common-patterns.md
  skills/terragrunt-generator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add terraform-validator
  skills/terraform-validator/SKILL.md
  skills/terraform-validator/references/advanced_features.md
  skills/terraform-validator/references/best_practices.md
  skills/terraform-validator/references/common_errors.md
  skills/terraform-validator/references/security_checklist.md
  skills/terraform-validator/scripts/extract_tf_info.py
  skills/terraform-validator/scripts/extract_tf_info_wrapper.sh
  skills/terraform-validator/scripts/install_checkov.sh
  skills/terraform-validator/scripts/run_checkov.sh
  skills/terraform-validator/tests/.terraform.lock.hcl
  skills/terraform-validator/tests/sample.tf
  skills/terraform-validator/tile.json
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

refactor(skills): optimize ansible-generator with tessl review
  skills/ansible-generator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

fix(ansible-generator): address linting issues
  skills/ansible-generator/tile.json
Due: biome, tessl-publish-check

fix(azure-pipelines-generator): address linting issues
  skills/azure-pipelines-generator/SKILL.md
  skills/azure-pipelines-generator/assets/examples/basic-ci.yml
  skills/azure-pipelines-generator/assets/examples/dotnet-cicd.yml
  skills/azure-pipelines-generator/assets/examples/go-cicd.yml
  skills/azure-pipelines-generator/assets/examples/kubernetes-deploy.yml
  skills/azure-pipelines-generator/assets/examples/multi-stage-cicd.yml
  skills/azure-pipelines-generator/assets/examples/python-cicd.yml
  skills/azure-pipelines-generator/assets/examples/template-usage.yml
  skills/azure-pipelines-generator/assets/examples/templates/build-template.yml
  skills/azure-pipelines-generator/assets/examples/templates/deploy-template.yml
  skills/azure-pipelines-generator/references/best-practices.md
  skills/azure-pipelines-generator/references/tasks-reference.md
  skills/azure-pipelines-generator/references/templates-guide.md
  skills/azure-pipelines-generator/references/yaml-schema.md
  skills/azure-pipelines-generator/tile.json
  skills/bash-script-generator/SKILL.md
  skills/bash-script-generator/assets/log-analyzer.sh
  skills/bash-script-generator/references/bash-scripting-guide.md
  skills/bash-script-generator/references/generation-best-practices.md
  skills/bash-script-generator/references/script-patterns.md
  skills/bash-script-generator/references/text-processing-guide.md
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
