Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, yamllint, shellcheck

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}

audit(skill-quality): add audit for ui-debug-workflow
  .context/audits/acceptance-criteria-skill-quality-audit-2026-02-21.md
  .context/audits/agents-md-skill-quality-audit-2026-02-21.md
  .context/audits/bdd-testing-skill-quality-audit-2026-02-21.md
  .context/audits/biome-complete-skill-quality-audit-2026-02-21.md
  .context/audits/bun-development-skill-quality-audit-2026-02-21.md
  .context/audits/cdk-nag-skill-quality-audit-2026-02-21.md
  .context/audits/cfn-behavior-validator-skill-quality-audit-2026-02-21.md
  .context/audits/cfn-template-compare-skill-quality-audit-2026-02-21.md
  .context/audits/colyseus-multiplayer-skill-quality-audit-2026-02-21.md
  .context/audits/commanderjs-skill-quality-audit-2026-02-21.md
  .context/audits/conventional-commits-skill-quality-audit-2026-02-21.md
  .context/audits/create-context-file-skill-quality-audit-2026-02-21.md
  .context/audits/extending-nx-plugins-skill-quality-audit-2026-02-21.md
  .context/audits/github-copilot-models-skill-quality-audit-2026-02-21.md
  .context/audits/implementation-plan-splitter-skill-quality-audit-2026-02-21.md
  .context/audits/markdown-authoring-skill-quality-audit-2026-02-21.md
  .context/audits/mise-complete-skill-quality-audit-2026-02-21.md
  .context/audits/moscow-prioritization-skill-quality-audit-2026-02-21.md
  .context/audits/nx-biome-integration-skill-quality-audit-2026-02-21.md
  .context/audits/nx-bun-integration-skill-quality-audit-2026-02-21.md
  .context/audits/nx-executors-skill-quality-audit-2026-02-21.md
  .context/audits/nx-generators-skill-quality-audit-2026-02-21.md
  .context/audits/nx-vite-integration-skill-quality-audit-2026-02-21.md
  .context/audits/nx-workspace-patterns-skill-quality-audit-2026-02-21.md
  .context/audits/opencode-config-skill-quality-audit-2026-02-21.md
  .context/audits/plain-english-skill-quality-audit-2026-02-21.md
  .context/audits/skill-quality-auditor-skill-quality-audit-2026-02-21.md
  .context/audits/software-design-principles-skill-quality-audit-2026-02-21.md
  .context/audits/test-driven-development-skill-quality-audit-2026-02-21.md
  .context/audits/typescript-advanced-skill-quality-audit-2026-02-21.md
  .context/audits/ui-debug-workflow-skill-quality-audit-2026-02-21.md
Due: markdownlint

feat(scripts): add audit-single-skill.sh for per-skill quality audits
  package.json
  scripts/audit-single-skill.sh
Due: biome, shellcheck

feat(linting): enable staging of fixed files for all pre-commit checks
  lefthook.yml
Due: yamllint

chore: remove duplicate .context/analysis directory
  .context/analysis/skill-audit-agents-md-2026-02-21.md
  .context/analysis/skill-audit-bdd-testing-2026-02-21.md
Due: markdownlint

feat(skill-quality): enforce narrow task focus in skill audits
  skills/skill-quality-auditor/SKILL.md
  skills/skill-quality-auditor/references/framework-skill-judge-dimensions.md
Due: markdownlint

chore: remove obsolete skill evaluation reports for acceptance criteria, colyseus multiplayer, commanderjs, and skill quality auditor
  .context/audits/acceptance-criteria-skill-review.md
  .context/audits/colyseus-multiplayer-skill-quality-audit-2026-02-20.md
  .context/audits/commanderjs-skill-review.md
  .context/audits/skill-quality-auditor-review.md
Due: markdownlint

refactor: replace TypeScript utility scripts with POSIX shell equivalents
  README.md
  scripts/update-readme-ratings.sh
  scripts/update-readme-ratings.ts
  skills/create-context-file/scripts/create-context-file.sh
  skills/create-context-file/scripts/create-context-file.ts
  skills/implementation-plan-splitter/scripts/generate-structure.sh
  skills/implementation-plan-splitter/scripts/generate-structure.ts
  skills/implementation-plan-splitter/scripts/validate-structure.sh
  skills/implementation-plan-splitter/scripts/validate-structure.ts
  skills/skill-quality-auditor/scripts/evaluate.sh
  skills/skill-quality-auditor/scripts/evaluate.ts
  skills/skill-quality-auditor/scripts/plan-aggregation.sh
  skills/skill-quality-auditor/scripts/plan-aggregation.ts
  skills/skill-quality-auditor/scripts/validate-review-format.sh
  skills/skill-quality-auditor/scripts/validate-review-format.ts
Due: biome, markdownlint, shellcheck

Improve rating badge color scheme in README
  README.md
  scripts/update-readme-ratings.sh
Due: markdownlint, shellcheck

Change rating badges from score to letter grade
  README.md
  scripts/update-readme-ratings.sh
Due: markdownlint, shellcheck

Pad single-letter grades with space for consistent badge width
  README.md
  scripts/update-readme-ratings.sh
Due: markdownlint, shellcheck

refactor: simplify audit report filenames
  .context/audits/acceptance-criteria-2026-02-21.md
  .context/audits/agents-md-2026-02-21.md
  .context/audits/bdd-testing-2026-02-21.md
  .context/audits/biome-complete-2026-02-21.md
  .context/audits/bun-development-2026-02-21.md
  .context/audits/cdk-nag-2026-02-21.md
  .context/audits/cfn-behavior-validator-2026-02-21.md
  .context/audits/cfn-template-compare-2026-02-21.md
  .context/audits/colyseus-multiplayer-2026-02-21.md
  .context/audits/commanderjs-2026-02-21.md
  .context/audits/conventional-commits-2026-02-21.md
  .context/audits/create-context-file-2026-02-21.md
  .context/audits/extending-nx-plugins-2026-02-21.md
  .context/audits/github-copilot-models-2026-02-21.md
  .context/audits/implementation-plan-splitter-2026-02-21.md
  .context/audits/markdown-authoring-2026-02-21.md
  .context/audits/mise-complete-2026-02-21.md
  .context/audits/moscow-prioritization-2026-02-21.md
  .context/audits/nx-biome-integration-2026-02-21.md
  .context/audits/nx-bun-integration-2026-02-21.md
  .context/audits/nx-executors-2026-02-21.md
  .context/audits/nx-generators-2026-02-21.md
  .context/audits/nx-vite-integration-2026-02-21.md
  .context/audits/nx-workspace-patterns-2026-02-21.md
  .context/audits/opencode-config-2026-02-21.md
  .context/audits/plain-english-2026-02-21.md
  .context/audits/skill-quality-auditor-2026-02-21.md
  .context/audits/software-design-principles-2026-02-21.md
  .context/audits/test-driven-development-2026-02-21.md
  .context/audits/typescript-advanced-2026-02-21.md
  .context/audits/ui-debug-workflow-2026-02-21.md
  README.md
  scripts/audit-all-skills.sh
  scripts/audit-single-skill.sh
  scripts/update-readme-ratings.sh
Due: markdownlint, shellcheck

chore: add .gitignore to exclude node_modules, .vscode, and skills-lock.json
  .gitignore
Due: none

feat: add new skill files for various agent capabilities
  .agents/skills/agents-md
  .agents/skills/bdd-testing
  .agents/skills/biome-complete
  .agents/skills/bun-development
  .agents/skills/cfn-template-compare
  .agents/skills/colyseus-multiplayer
  .agents/skills/commanderjs
  .agents/skills/create-context-file
  .agents/skills/extending-nx-plugins
  .agents/skills/github-copilot-models
  .agents/skills/markdown-authoring
  .agents/skills/mise-complete
  .agents/skills/nx-biome-integration
  .agents/skills/nx-bun-integration
  .agents/skills/nx-executors
  .agents/skills/nx-generators
  .agents/skills/nx-vite-integration
  .agents/skills/nx-workspace-patterns
  .agents/skills/opencode-config
  .agents/skills/plain-english
  .agents/skills/software-design-principles
  .agents/skills/test-driven-development
  .agents/skills/typescript-advanced
  .agents/skills/ui-debug-workflow
Due: none

chore: remove deprecated skill files from agents directory
  .agents/skills/agents-md
  .agents/skills/bdd-testing
  .agents/skills/biome-complete
  .agents/skills/bun-development
  .agents/skills/cfn-template-compare
  .agents/skills/colyseus-multiplayer
  .agents/skills/commanderjs
  .agents/skills/create-context-file
  .agents/skills/extending-nx-plugins
  .agents/skills/github-copilot-models
  .agents/skills/markdown-authoring
  .agents/skills/mise-complete
  .agents/skills/nx-biome-integration
  .agents/skills/nx-bun-integration
  .agents/skills/nx-executors
  .agents/skills/nx-generators
  .agents/skills/nx-vite-integration
  .agents/skills/nx-workspace-patterns
  .agents/skills/opencode-config
  .agents/skills/plain-english
  .agents/skills/software-design-principles
  .agents/skills/test-driven-development
  .agents/skills/typescript-advanced
  .agents/skills/ui-debug-workflow
Due: none

chore: update .gitignore to include .agents and node_modules directories
  .gitignore
Due: none

skill-quality-auditor: enforce YAML template and frontmatter report format
  .context/audits/agents-md-2026-02-21.md
  scripts/audit-all-skills.sh
  scripts/audit-single-skill.sh
  skills/skill-quality-auditor/SKILL.md
  skills/skill-quality-auditor/references/duplication-remediation.md
  skills/skill-quality-auditor/references/framework-skill-judge-canonical.md
  skills/skill-quality-auditor/references/review-report.requirements.json
  skills/skill-quality-auditor/references/scripts-audit-workflow.md
  skills/skill-quality-auditor/references/scripts-ci-integration.md
  skills/skill-quality-auditor/schemas/review-report.schema.json
  skills/skill-quality-auditor/scripts/validate-review-format.sh
  skills/skill-quality-auditor/scripts/validate-skill-artifacts.sh
  skills/skill-quality-auditor/templates/review-report-template.md
  skills/skill-quality-auditor/templates/review-report-template.yaml
Due: biome, markdownlint, yamllint, shellcheck

skill-quality-auditor: generate deep audit reports with deterministic issue detail
  .context/audits/acceptance-criteria-2026-02-21.md
  scripts/audit-all-skills.sh
  scripts/audit-single-skill.sh
  skills/skill-quality-auditor/references/review-report.requirements.json
  skills/skill-quality-auditor/templates/review-report-template.yaml
Due: biome, markdownlint, yamllint, shellcheck

Fix skill audit scripts and rerun skills audit
  .context/analysis/duplication-report-2026-02-21.md
  .context/analysis/skill-audit-skills-only-excluding-skill-quality-auditor-2026-02-21.md
  skills/cfn-behavior-validator/scripts/compare-resources.sh
  skills/cfn-behavior-validator/scripts/watch-cfn-events.sh
  skills/cfn-template-compare/scripts/compare-cfn-templates.sh
  skills/skill-quality-auditor/scripts/audit-skills.sh
  skills/skill-quality-auditor/scripts/detect-duplication.sh
  skills/skill-quality-auditor/scripts/validate-skill-artifacts.sh
  skills/ui-debug-workflow/scripts/capture-evidence.sh
  skills/ui-debug-workflow/scripts/compare-evidence.sh
  skills/ui-debug-workflow/scripts/full-debug-session.sh
Due: markdownlint, shellcheck

Add pre-commit README refresh on audit changes
  lefthook.yml
Due: yamllint

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
