Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

audit: nx-executors quality review
  .context/nx-executors-audit-20260302-192701.md
Due: markdownlint

audit: nx-bun-integration quality review
  .context/nx-bun-integration-audit-20260302-192659.md
Due: markdownlint

audit: nx-workspace-patterns quality review
  .context/nx-workspace-patterns-audit-20260302-192705.md
Due: markdownlint

audit: nx-generators quality review
  skills/nx-bun-integration/tile.json
  skills/nx-vite-integration/SKILL.md
  skills/nx-vite-integration/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: address audit findings for nx-workspace-patterns
  skills/nx-workspace-patterns/SKILL.md
  skills/nx-workspace-patterns/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: address audit findings for nx-executors
  skills/nx-executors/SKILL.md
  skills/nx-executors/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: address audit findings for nx-generators
  skills/nx-generators/SKILL.md
  skills/nx-generators/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

audit: skill-quality-auditor quality review
  .context/nx-generators-audit-20260302-192702.md
  .context/promql-generator-audit-20260302-192923.md
  .context/promql-validator-audit-20260302-192925.txt
  .context/skill-quality-auditor-audit-20260302.md
Due: markdownlint

audit: opencode-config quality review
  .context/opencode-config-audit-20260302-192927.json
  .context/opencode-config-audit-20260302-192927.md
Due: biome, markdownlint

audit: plain-english quality review
  .context/plain-english-audit-20260302.md
Due: markdownlint

fix: address audit findings for skill-quality-auditor
  skills/skill-quality-auditor/tile.json
Due: biome, tessl-publish-check

audit: promql-generator quality review
  .context/promql-generator-audit-20260302.md
Due: markdownlint

audit: promql-validator quality review
  .context/promql-generator-audit-20260302-192923.md
  .context/promql-validator-audit-20260302-192955.md
Due: markdownlint

fix: address audit findings for opencode-config
  skills/opencode-config/tile.json
Due: biome, tessl-publish-check

fix: address audit findings for promql-generator
  skills/promql-generator/tile.json
Due: biome, tessl-publish-check

fix: address audit findings for promql-validator
  skills/promql-validator/SKILL.md
  skills/promql-validator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: address audit findings for plain-english
  skills/plain-english/SKILL.md
  skills/plain-english/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: consolidate two-phase dialogue explanation and remove redundancy
  skills/promql-validator/SKILL.md
  skills/promql-validator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

audit: terragrunt-validator quality review
  .context/software-design-principles-audit-20260302-193207.md
  .context/terraform-generator-audit-20260302-193208.md
  .context/terraform-validator-audit-20260302-193209.md
  .context/terragrunt-generator-audit-20260302-193210.txt
  .context/terragrunt-validator-audit-20260302-193212.txt
Due: markdownlint

audit: software-design-principles quality review
  .context/software-design-principles-audit-20260302-193207.md
  .context/terraform-generator-audit-20260302-193208.md
Due: markdownlint

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
