Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
      stage_fixed: true
    skill-artifacts:
      run: ./skills/skill-quality-auditor/scripts/validate-skill-artifacts.sh {staged_files}
      stage_fixed: true
    audit-readme-sync:
      glob: ".context/audits/*.md"
      run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
      stage_fixed: true
    shellcheck:
      glob: "*.sh"
      run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
      stage_fixed: true
    tessl-lint:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
      stage_fixed: true
    tessl-review:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
      stage_fixed: true
    tessl-publish-check:
      glob: "skills/**/tile.json"
      run: ./scripts/tessl-publish-check.sh {staged_files}
      stage_fixed: true

Potential fix for pull request finding
  scripts/sync-opencode.sh
Due: shellcheck

feat(scripts): add broken symlink cleanup to sync-opencode.sh
  scripts/sync-opencode.sh
Due: shellcheck

fix(scripts): address Copilot PR review comments in sync-opencode.sh
  scripts/sync-opencode.sh
Due: shellcheck

feat(cli): add `sync opencode` command to replace scripts/sync-opencode.sh
  README.md
  TILES.md
  cli/commands/sync.ts
  cli/index.ts
  cli/lib/sync/sync-opencode.ts
  package.json
Due: biome, markdownlint

refactor(cli): fix biome warnings in sync-opencode command
  cli/lib/sync/sync-opencode.ts
Due: biome

chore: update .gitignore to include dist/ directory
  .gitignore
Due: none

docs(cli): document sync opencode command and remove replaced shell script
  cli/README.md
  scripts/sync-opencode.sh
Due: markdownlint, shellcheck

feat(docs): add Astro Starlight docs site, frontmatter validator CLI command, and GitHub Pages deploy workflow
  .context/pr-reviews/pr-9-copilot-review.md
  .github/workflows/deploy-docs.yml
  .gitignore
  cli/commands/validate.ts
  cli/index.ts
  cli/lib/validate/validate-skill-frontmatter.ts
  docs/.gitignore
  docs/README.md
  docs/astro.config.mjs
  docs/bun.lock
  docs/package.json
  docs/public/favicon.svg
  docs/src/assets/houston.webp
  docs/src/content.config.ts
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skills
  docs/src/content/docs/tiles.md
  docs/src/styles/custom.css
  docs/tsconfig.json
  lefthook.yml
  skills/agentic-harness/skill-quality-auditor/SKILL.md
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review

fix(docs): address Copilot PR review feedback
  bun.lock
  cli/lib/readme/update-readme.ts
  cli/lib/validate/validate-skill-frontmatter.ts
  docs/.gitignore
  docs/README.md
  docs/package.json
  docs/src/content/docs/skills
  docs/src/content/docs/tiles.md
  package.json
Due: biome, markdownlint

fix(docs): address second Copilot review feedback
  cli/lib/validate/validate-skill-frontmatter.ts
  docs/src/content.config.ts
  docs/src/styles/custom.css
Due: biome

feat(docs): extend skill rating badges to full A+ through F scale
  docs/src/styles/custom.css
Due: none

fix(docs): address third Copilot review feedback
  cli/lib/validate/validate-skill-frontmatter.test.ts
  cli/lib/validate/validate-skill-frontmatter.ts
  docs/package.json
  docs/scripts/prelink.mjs
Due: biome

feat(docs): add Astro Starlight docs site with GitHub Pages deployment (#13)
  .context/pr-reviews/pr-9-copilot-review.md
  .github/workflows/deploy-docs.yml
  .gitignore
  bun.lock
  cli/commands/validate.ts
  cli/index.ts
  cli/lib/readme/update-readme.ts
  cli/lib/validate/validate-skill-frontmatter.test.ts
  cli/lib/validate/validate-skill-frontmatter.ts
  docs/.gitignore
  docs/README.md
  docs/astro.config.mjs
  docs/bun.lock
  docs/package.json
  docs/public/favicon.svg
  docs/scripts/prelink.mjs
  docs/src/assets/houston.webp
  docs/src/content.config.ts
  docs/src/content/docs/index.mdx
  docs/src/content/docs/tiles.md
  docs/src/styles/custom.css
  docs/tsconfig.json
  lefthook.yml
  package.json
  skills/agentic-harness/skill-quality-auditor/SKILL.md
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review

fix(ci): pin Node.js 22 in deploy-docs workflow for Astro >=22.12.0 requirement
  .github/workflows/deploy-docs.yml
Due: yamllint

fix(ci): pin Node.js 22 in deploy-docs workflow for Astro >=22.12.0 requirement (#14)
  .github/workflows/deploy-docs.yml
Due: yamllint

fix(ci): skip PR skill checks when PR is already closed/merged
  .github/workflows/pr-skill-checks.yml
Due: yamllint

fix(ci): skip PR skill checks when PR is already closed/merged (#15)
  .github/workflows/pr-skill-checks.yml
Due: yamllint

fix(ci): fix secrets in if expressions and add Tessl publish workflow
  .github/workflows/pr-skill-checks.yml
  .github/workflows/publish-skills.yml
Due: yamllint

fix(ci): fix secrets in if-conditions and add Tessl publish-on-merge workflow (#16)
  .github/workflows/pr-skill-checks.yml
  .github/workflows/publish-skills.yml
Due: yamllint

fix(docs): add site URL to Astro config for GitHub Pages
  docs/astro.config.mjs
Due: biome

fix(docs): add site URL to Astro config and document GitHub Pages setup requirements (#17)
  docs/astro.config.mjs
Due: biome

fix(schema): remove minItems constraints and fix rgba regex
  skills/development/front-end/web-reference-sheet-generator/schemas/design-reference.schema.json
Due: biome

fix(ci): run tessl lint/review against changed skill paths
  .github/workflows/pr-skill-checks.yml
Due: yamllint

fix(ci): use bunx to invoke tessl in shell scripts
  .github/workflows/pr-skill-checks.yml
Due: yamllint

refactor(cli): migrate from commander/inquirer to cliffy
  bun.lock
  cli/commands/audit.ts
  cli/commands/install.ts
  cli/commands/readme.ts
  cli/commands/sync.ts
  cli/commands/tessl.ts
  cli/commands/validate.ts
  cli/index.ts
  cli/lib/install/install-skills.ts
  package.json
Due: biome

feat(cli): add cliffy EnumType for agent option validation
  cli/commands/install.ts
Due: biome

test(cli): raise unit test coverage from 71% to 89%
  cli/lib/audit/audit-skill.test.ts
  cli/lib/install/install-skills.test.ts
  cli/lib/validate/validate-skill-frontmatter.test.ts
Due: biome

test(cli): raise unit test coverage and fix YAML array detection
  bun.lock
  cli/lib/audit/audit-skill.test.ts
  cli/lib/install/install-skills-for-agent.test.ts
  cli/lib/install/install-skills.test.ts
  cli/lib/readme/build-active-domains.test.ts
  cli/lib/readme/build-active-domains.ts
  cli/lib/readme/build-catalog-sections.test.ts
  cli/lib/readme/build-catalog-sections.ts
  cli/lib/readme/build-catalog-toc.test.ts
  cli/lib/readme/build-catalog-toc.ts
  cli/lib/readme/build-count-label.test.ts
  cli/lib/readme/build-count-label.ts
  cli/lib/readme/build-domain-docs-section.ts
  cli/lib/readme/build-domain-table-section.ts
  cli/lib/readme/build-tile-skills.ts
  cli/lib/readme/domain-config.test.ts
  cli/lib/readme/find-all-tiles.ts
  cli/lib/readme/generate-catalog-content.ts
  cli/lib/readme/generate-docs-tiles-page.ts
  cli/lib/readme/generate-readme-summary-tables.ts
  cli/lib/readme/generate-tile-section.test.ts
  cli/lib/readme/generate-untiled-skill-section.test.ts
  cli/lib/readme/get-audit-link.test.ts
  cli/lib/readme/get-badge-markdown.test.ts
  cli/lib/readme/get-eval-count.test.ts
  cli/lib/readme/get-grade-color.test.ts
  cli/lib/readme/get-latest-audit-info.test.ts
  cli/lib/readme/index.ts
  cli/lib/readme/is-child-tile.test.ts
  cli/lib/readme/is-child-tile.ts
  cli/lib/readme/parse-published-status.test.ts
  cli/lib/readme/parse-published-status.ts
  cli/lib/readme/parse-short-name.test.ts
  cli/lib/readme/parse-short-name.ts
  cli/lib/validate/collect-skill-files.test.ts
  cli/lib/validate/validate-file.test.ts
  cli/lib/validate/validate-file.ts
  package.json
Due: biome
