Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

fix(docs): accept comma-separated metadata.tags in the content schema
  docs/src/content.config.ts
Due: biome

fix(docs): accept comma-separated metadata.tags in the content schema (#435)
  docs/src/content.config.ts
Due: biome

ci(pr-agent): comment on the PR when no review was posted
  .github/workflows/pr-agent.yml
Due: yamllint

ci(pr-agent): comment on the PR when no review was posted (#436)
  .github/workflows/pr-agent.yml
Due: yamllint

ci(pr-agent): drop the Mistral and Cerebras fallbacks
  .github/workflows/pr-agent.yml
Due: yamllint

ci(pr-agent): drop the Mistral and Cerebras fallbacks (#437)
  .github/workflows/pr-agent.yml
Due: yamllint

ci: add coderabbit config as an alternative to pr-agent
  .coderabbit.yaml
Due: yamllint

ci: add coderabbit config as an alternative to pr-agent (#438)
  .coderabbit.yaml
Due: yamllint

test(skill-auditor): pin the D9 outcome for criteria that sum to 100
  crates/skill-auditor/src/scorer/d9_eval_validation.rs
Due: none

feat(skill-auditor): add likely cause and fix to each remediation gap
  crates/skill-auditor/src/reporter/remediation.rs
  skills/agentic-harness/skill-quality-auditor/assets/schemas/remediation-plan.schema.json
  skills/agentic-harness/skill-quality-auditor/assets/templates/remediation-plan-template.yaml
Due: biome, yamllint

test(skill-auditor): regenerate the pinned remediation output for the three-line gaps
  crates/skill-auditor/src/reporter/remediation.rs
Due: none

style(skill-auditor): format the remediation tests
  crates/skill-auditor/src/reporter/remediation.rs
Due: none

feat(skill-auditor): add --base to score a skill at a git ref
  crates/skill-auditor/NOTICE
  crates/skill-auditor/src/baseline.rs
  crates/skill-auditor/src/lib.rs
  crates/skill-auditor/src/main.rs
  crates/skill-auditor/tests/base_ref.rs
  skills/agentic-harness/skill-quality-auditor/references/scripts-audit-workflow.md
Due: markdownlint

feat(skill-auditor): add failure checks to eval criteria
  crates/skill-auditor/src/scorer/d9_eval_validation.rs
  crates/skill-auditor/tests/legacy_criteria.rs
  skills/agentic-harness/skill-quality-auditor/assets/schemas/criteria.schema.json
  skills/agentic-harness/skill-quality-auditor/references/eval-format.md
  skills/agentic-harness/skill-quality-auditor/scripts/validate-skill-artifacts.sh
Due: biome, markdownlint, shellcheck

test(skill-auditor): regenerate the pins for the report-only failure-check warning
  crates/skill-auditor/src/scorer/d9_eval_validation.rs
  crates/skill-auditor/tests/golden-corpus/goldens.json
Due: biome

chore(skill-auditor): release 0.3.0 changelog and version bump
  Cargo.lock
  crates/skill-auditor/Cargo.toml
  docs/src/content/docs/tiles.md
  skills/agentic-harness/skill-quality-auditor/.tekhne/plugin.json
  skills/agentic-harness/skill-quality-auditor/CHANGELOG.md
Due: biome, markdownlint

fix(skill-auditor): report a failed --base comparison without hiding the score
  crates/skill-auditor/src/baseline.rs
  crates/skill-auditor/src/main.rs
  crates/skill-auditor/tests/base_ref.rs
Due: none

feat(skill-auditor): add likely causes, --base and failure checks (#439)
  Cargo.lock
  crates/skill-auditor/Cargo.toml
  crates/skill-auditor/NOTICE
  crates/skill-auditor/src/baseline.rs
  crates/skill-auditor/src/lib.rs
  crates/skill-auditor/src/main.rs
  crates/skill-auditor/src/reporter/remediation.rs
  crates/skill-auditor/src/scorer/d9_eval_validation.rs
  crates/skill-auditor/tests/base_ref.rs
  crates/skill-auditor/tests/golden-corpus/goldens.json
  crates/skill-auditor/tests/legacy_criteria.rs
  docs/src/content/docs/tiles.md
  skills/agentic-harness/skill-quality-auditor/.tekhne/plugin.json
  skills/agentic-harness/skill-quality-auditor/CHANGELOG.md
  skills/agentic-harness/skill-quality-auditor/assets/schemas/criteria.schema.json
  skills/agentic-harness/skill-quality-auditor/assets/schemas/remediation-plan.schema.json
  skills/agentic-harness/skill-quality-auditor/assets/templates/remediation-plan-template.yaml
  skills/agentic-harness/skill-quality-auditor/references/eval-format.md
  skills/agentic-harness/skill-quality-auditor/references/scripts-audit-workflow.md
  skills/agentic-harness/skill-quality-auditor/scripts/validate-skill-artifacts.sh
Due: biome, markdownlint, yamllint, shellcheck

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
