Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
      stage_fixed: true
    skill-artifacts:
      run: ./skills/skill-quality-auditor/scripts/validate-skill-artifacts.sh {staged_files}
      stage_fixed: true
    audit-readme-sync:
      glob: ".context/audits/*.md"
      run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
      stage_fixed: true
    shellcheck:
      glob: "*.sh"
      run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
      stage_fixed: true
    tessl-lint:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
      stage_fixed: true
    tessl-review:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
      stage_fixed: true
    tessl-publish-check:
      glob: "skills/**/tile.json"
      run: ./scripts/tessl-publish-check.sh {staged_files}
      stage_fixed: true

fix: address audit findings for github-actions-generator
  skills/github-actions-generator/tile.json
  skills/github-actions-validator/SKILL.md
  skills/github-actions-validator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: address audit findings for fluentbit-validator
  skills/fluentbit-validator/SKILL.md
  skills/fluentbit-validator/references/SECTION-RULES.md
  skills/fluentbit-validator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: set github-actions-validator to public
  skills/github-actions-validator/tile.json
Due: biome, tessl-publish-check

audit: github-copilot-models quality review
  .context/github-copilot-models-audit-20260302-191451.txt
Due: none

audit: gitlab-api quality review
  .context/gitlab-api-audit-20260302-191453.txt
  .context/gitlab-ci-validator-audit-20260302-191455.txt
Due: none

audit: add missing audit files
  .context/gitlab-ci-generator-audit-20260302-191453.md
  .context/helm-generator-audit-20260302-191456.md
Due: markdownlint

fix: address audit findings for gitlab-ci-validator
  skills/gitlab-ci-validator/tile.json
Due: biome, tessl-publish-check

fix: address audit findings for github-copilot-models
  .context/helm-generator-audit-20260302-191456.md
  skills/github-copilot-models/SKILL.md
  skills/github-copilot-models/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: address audit findings for gitlab-api
  skills/gitlab-api/SKILL.md
  skills/gitlab-api/tile.json
  skills/gitlab-ci-generator/SKILL.md
  skills/gitlab-ci-generator/references/validation-presentation.md
  skills/gitlab-ci-generator/tile.json
  skills/helm-generator/SKILL.md
  skills/helm-generator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: add template files to gitlab-ci-generator manifest
  skills/gitlab-ci-generator/tile.json
  skills/helm-generator/SKILL.md
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

audit: implementation-plan-splitter quality review
  .context/helm-validator-audit-20260302.md
  .context/implementation-plan-splitter-audit-20260302.txt
Due: markdownlint

audit: jenkinsfile-generator quality review
  .context/jenkinsfile-generator-audit-2026-03-02.md
Due: markdownlint

fix: address audit findings for implementation-plan-splitter
  skills/implementation-plan-splitter/tile.json
Due: biome, tessl-publish-check

fix: address audit findings for jenkinsfile-validator
  skills/jenkinsfile-validator/SKILL.md
  skills/jenkinsfile-validator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

audit: journal-entry-creator quality review
  .context/jenkinsfile-validator-audit-20260302-191815.txt
  .context/journal-entry-creator-audit-20260302-191816.md
Due: markdownlint

fix: further consolidate redundant sections in jenkinsfile-validator
  skills/jenkinsfile-validator/SKILL.md
  skills/jenkinsfile-validator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: address audit findings for jenkinsfile-generator
  skills/jenkinsfile-generator/SKILL.md
  skills/jenkinsfile-generator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: address audit findings for helm-validator
  skills/helm-validator/SKILL.md
  skills/helm-validator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: remove redundant Tools Available section
  skills/jenkinsfile-validator/SKILL.md
  skills/jenkinsfile-validator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: address audit findings for journal-entry-creator
  skills/journal-entry-creator/SKILL.md
  skills/journal-entry-creator/references/edge-cases.md
  skills/journal-entry-creator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check
