Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
      stage_fixed: true
    skill-artifacts:
      run: ./skills/skill-quality-auditor/scripts/validate-skill-artifacts.sh {staged_files}
      stage_fixed: true
    audit-readme-sync:
      glob: ".context/audits/*.md"
      run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
      stage_fixed: true
    shellcheck:
      glob: "*.sh"
      run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
      stage_fixed: true
    tessl-lint:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
      stage_fixed: true
    tessl-review:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
      stage_fixed: true
    tessl-publish-check:
      glob: "skills/**/tile.json"
      run: ./scripts/tessl-publish-check.sh {staged_files}
      stage_fixed: true

fix(skill-auditor): normalize storage key to domain/skill-name for filesystem path args
  tools/skill-auditor/cmd/evaluate.go
Due: none

fix(skill-auditor): handle ./ and ../ prefixed paths in evaluate command
  tools/skill-auditor/cmd/evaluate.go
Due: none

feat(tools): add skill-auditor Go binary replacing evaluate.sh
  README.md
Due: markdownlint

feat(skill-auditor): add diagnostics to scorer and reporter
  tools/skill-auditor/reporter/reporter.go
  tools/skill-auditor/scorer/dimensions.go
  tools/skill-auditor/scorer/scorer.go
  tools/skill-auditor/scorer/scorer_test.go
Due: none

refactor(skill-auditor): split scorer.go into per-dimension files
  tools/skill-auditor/scorer/d1_knowledge_delta.go
  tools/skill-auditor/scorer/d2_mindset_procedures.go
  tools/skill-auditor/scorer/d3_anti_pattern.go
  tools/skill-auditor/scorer/d4_specification.go
  tools/skill-auditor/scorer/d5_progressive_disclosure.go
  tools/skill-auditor/scorer/d6_freedom_calibration.go
  tools/skill-auditor/scorer/d7_pattern_recognition.go
  tools/skill-auditor/scorer/d8_practical_usability.go
  tools/skill-auditor/scorer/d9_eval_validation.go
  tools/skill-auditor/scorer/scorer.go
  tools/skill-auditor/scorer/util.go
Due: none

fix(skill-auditor): match legacy audit.json format (camelCase dims, skill key, metadata fields)
  tools/skill-auditor/cmd/evaluate.go
  tools/skill-auditor/reporter/reporter.go
  tools/skill-auditor/reporter/reporter_test.go
  tools/skill-auditor/reporter/store_test.go
  tools/skill-auditor/scorer/dimensions.go
  tools/skill-auditor/scorer/scorer.go
  tools/skill-auditor/scorer/scorer_test.go
Due: none

refactor(skill-auditor): replace harness/agent regexes with slice lookups
  tools/skill-auditor/scorer/agents.go
  tools/skill-auditor/scorer/d4_specification.go
Due: none

test(skill-auditor): collocate unit tests and raise coverage to 90.9%
  tools/skill-auditor/scorer/d1_knowledge_delta_test.go
  tools/skill-auditor/scorer/d2_mindset_procedures_test.go
  tools/skill-auditor/scorer/d3_anti_pattern_test.go
  tools/skill-auditor/scorer/d4_specification_test.go
  tools/skill-auditor/scorer/d5_progressive_disclosure_test.go
  tools/skill-auditor/scorer/d6_freedom_calibration_test.go
  tools/skill-auditor/scorer/d7_pattern_recognition_test.go
  tools/skill-auditor/scorer/d8_practical_usability_test.go
  tools/skill-auditor/scorer/d9_eval_validation_test.go
  tools/skill-auditor/scorer/dimensions_test.go
  tools/skill-auditor/scorer/scorer_test.go
Due: none

feat(skill-auditor): expand D4 harness/agent detection to all supported agents
  tools/skill-auditor/scorer/d4_specification.go
  tools/skill-auditor/scorer/d4_specification_test.go
Due: none

feat(skill-auditor): write Analysis.md and Remediation.md on --store
  tools/skill-auditor/reporter/analysis.go
  tools/skill-auditor/reporter/remediation.go
  tools/skill-auditor/reporter/store.go
  tools/skill-auditor/scorer/dimensions.go
Due: none

feat(skill-auditor): add date field to audit.json Result
  tools/skill-auditor/reporter/store.go
  tools/skill-auditor/reporter/store_test.go
  tools/skill-auditor/scorer/dimensions.go
  tools/skill-auditor/scorer/scorer.go
Due: none

fix(skill-auditor): expand D8 language tags and run-command detection
  tools/skill-auditor/scorer/d8_practical_usability.go
  tools/skill-auditor/scorer/d8_practical_usability_test.go
Due: none

fix(skill-auditor): warn when flat scenario-NN.md format detected in D9
  tools/skill-auditor/scorer/d9_eval_validation.go
  tools/skill-auditor/scorer/d9_eval_validation_test.go
Due: none

feat(skill-auditor): integrate skill-validator library (Phase 2)
  tools/skill-auditor/go.mod
  tools/skill-auditor/go.sum
  tools/skill-auditor/scorer/d2_mindset_procedures.go
  tools/skill-auditor/scorer/d2_mindset_procedures_test.go
  tools/skill-auditor/scorer/d3_anti_pattern.go
  tools/skill-auditor/scorer/d3_anti_pattern_test.go
  tools/skill-auditor/scorer/d4_specification.go
  tools/skill-auditor/scorer/d4_specification_test.go
  tools/skill-auditor/scorer/d5_progressive_disclosure.go
  tools/skill-auditor/scorer/d5_progressive_disclosure_test.go
  tools/skill-auditor/scorer/d6_freedom_calibration.go
  tools/skill-auditor/scorer/d6_freedom_calibration_test.go
  tools/skill-auditor/scorer/d7_pattern_recognition.go
  tools/skill-auditor/scorer/d7_pattern_recognition_test.go
  tools/skill-auditor/scorer/d8_practical_usability.go
  tools/skill-auditor/scorer/d8_practical_usability_test.go
  tools/skill-auditor/scorer/scorer.go
  tools/skill-auditor/scorer/util.go
  tools/skill-auditor/scorer/validator_bridge.go
  tools/skill-auditor/testdata/fixtures/skill-full/SKILL.md
  tools/skill-auditor/testdata/fixtures/skill-full/evals/instructions.json
Due: biome, markdownlint

fix(markdown-authoring): upgrade quality score from C+ to A (109→132)
  .context/audits/agentic-harness/agents-md/2026-04-27/Analysis.md
  .context/audits/agentic-harness/agents-md/2026-04-27/Remediation.md
  .context/audits/agentic-harness/agents-md/2026-04-27/audit.json
  .context/audits/documentation/markdown-authoring/2026-07-01/analysis.md
  .context/audits/documentation/markdown-authoring/2026-07-01/audit.json
  .context/audits/documentation/markdown-authoring/2026-07-01/remediation-plan.md
  .context/audits/documentation/markdown-authoring/latest
  docs/src/content/docs/tiles.md
  skills/documentation/markdown-authoring/AGENTS.md
  skills/documentation/markdown-authoring/SKILL.md
  skills/documentation/markdown-authoring/evals/instructions.json
  skills/documentation/markdown-authoring/evals/scenario-01.md
  skills/documentation/markdown-authoring/evals/scenario-02.md
  skills/documentation/markdown-authoring/evals/scenario-03.md
  skills/documentation/markdown-authoring/evals/scenario-04.md
  skills/documentation/markdown-authoring/evals/scenario-1/capability.txt
  skills/documentation/markdown-authoring/evals/scenario-1/criteria.json
  skills/documentation/markdown-authoring/evals/scenario-1/task.md
  skills/documentation/markdown-authoring/evals/scenario-2/capability.txt
  skills/documentation/markdown-authoring/evals/scenario-2/criteria.json
  skills/documentation/markdown-authoring/evals/scenario-2/task.md
  skills/documentation/markdown-authoring/evals/scenario-3/capability.txt
  skills/documentation/markdown-authoring/evals/scenario-3/criteria.json
  skills/documentation/markdown-authoring/evals/scenario-3/task.md
  skills/documentation/markdown-authoring/evals/scenario-4/capability.txt
  skills/documentation/markdown-authoring/evals/scenario-4/criteria.json
  skills/documentation/markdown-authoring/evals/scenario-4/task.md
  skills/documentation/markdown-authoring/evals/scenario-5/capability.txt
  skills/documentation/markdown-authoring/evals/scenario-5/criteria.json
  skills/documentation/markdown-authoring/evals/scenario-5/task.md
  skills/documentation/markdown-authoring/evals/scenario-6/capability.txt
  skills/documentation/markdown-authoring/evals/scenario-6/criteria.json
  skills/documentation/markdown-authoring/evals/scenario-6/task.md
  skills/documentation/markdown-authoring/evals/scenario-7/capability.txt
  skills/documentation/markdown-authoring/evals/scenario-7/criteria.json
  skills/documentation/markdown-authoring/evals/scenario-7/task.md
  skills/documentation/markdown-authoring/evals/summary.json
  skills/documentation/markdown-authoring/references/docs-writing-style.md
  skills/documentation/markdown-authoring/scripts/read-reference.sh
Due: biome, markdownlint, audit-readme-sync, shellcheck, tessl-lint, tessl-review

fix(markdown-authoring): migrate tile.json to .tessl-plugin/plugin.json format
  README.md
  docs/src/content/docs/tiles.md
  skills/documentation/markdown-authoring/.tessl-plugin/plugin.json
  skills/documentation/markdown-authoring/tile.json
Due: biome, markdownlint, tessl-publish-check

fix(ci): make tessl skill review advisory and label-gated
  .github/workflows/pr-skill-checks.yml
Due: yamllint

fix(ci): make tessl skill review advisory and label-gated (#95)
  .github/workflows/pr-skill-checks.yml
Due: yamllint

feat(journal-entry-creator): add ticket-refinement entry type
  skills/documentation/journal-entry-creator/SKILL.md
  skills/documentation/journal-entry-creator/assets/templates/ticket-refinement.yaml
  skills/documentation/journal-entry-creator/scripts/validate-journal-entry.sh
Due: markdownlint, yamllint, shellcheck, tessl-lint, tessl-review

feat(journal-entry-creator): add ticket-refinement entry type (#97)
  skills/documentation/journal-entry-creator/SKILL.md
  skills/documentation/journal-entry-creator/assets/templates/ticket-refinement.yaml
  skills/documentation/journal-entry-creator/scripts/validate-journal-entry.sh
Due: markdownlint, yamllint, shellcheck, tessl-lint, tessl-review

feat: migrate four deadalus keep-list skills into tekhne
  docs/src/content/docs/tiles.md
  skills/agentic-harness/cache-audit/SKILL.md
  skills/documentation/humanizer/SKILL.md
  skills/documentation/mermaid-diagrams/SKILL.md
  skills/software-engineering/simplicity-principles/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

fix(mermaid-diagrams): add references/ dir (fix 7 broken internal links)
  skills/documentation/mermaid-diagrams/references/advanced-features.md
  skills/documentation/mermaid-diagrams/references/architecture-diagrams.md
  skills/documentation/mermaid-diagrams/references/c4-diagrams.md
  skills/documentation/mermaid-diagrams/references/class-diagrams.md
  skills/documentation/mermaid-diagrams/references/erd-diagrams.md
  skills/documentation/mermaid-diagrams/references/flowcharts.md
  skills/documentation/mermaid-diagrams/references/sequence-diagrams.md
Due: markdownlint

feat: migrate four deadalus keep-list skills (#98)
  docs/src/content/docs/tiles.md
  skills/agentic-harness/cache-audit/SKILL.md
  skills/documentation/humanizer/SKILL.md
  skills/documentation/mermaid-diagrams/SKILL.md
  skills/documentation/mermaid-diagrams/references/advanced-features.md
  skills/documentation/mermaid-diagrams/references/architecture-diagrams.md
  skills/documentation/mermaid-diagrams/references/c4-diagrams.md
  skills/documentation/mermaid-diagrams/references/class-diagrams.md
  skills/documentation/mermaid-diagrams/references/erd-diagrams.md
  skills/documentation/mermaid-diagrams/references/flowcharts.md
  skills/documentation/mermaid-diagrams/references/sequence-diagrams.md
  skills/software-engineering/simplicity-principles/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

feat(fp): migrate functional-programming trio with references split
  docs/src/content/docs/tiles.md
  skills/software-engineering/fp-higher-order-functions/SKILL.md
  skills/software-engineering/fp-higher-order-functions/references/advanced-patterns.md
  skills/software-engineering/fp-higher-order-functions/references/language-examples.md
  skills/software-engineering/fp-immutability/SKILL.md
  skills/software-engineering/fp-immutability/references/language-examples.md
  skills/software-engineering/fp-pure-functions/SKILL.md
  skills/software-engineering/fp-pure-functions/references/other-language-examples.md
Due: markdownlint, tessl-lint, tessl-review

feat(fp): migrate functional-programming trio with references split (#99)
  docs/src/content/docs/tiles.md
  skills/software-engineering/fp-higher-order-functions/SKILL.md
  skills/software-engineering/fp-higher-order-functions/references/advanced-patterns.md
  skills/software-engineering/fp-higher-order-functions/references/language-examples.md
  skills/software-engineering/fp-immutability/SKILL.md
  skills/software-engineering/fp-immutability/references/language-examples.md
  skills/software-engineering/fp-pure-functions/SKILL.md
  skills/software-engineering/fp-pure-functions/references/other-language-examples.md
Due: markdownlint, tessl-lint, tessl-review

feat: migrate two opencode-recon-storage-cli keep-list skills
  docs/src/content/docs/tiles.md
  skills/agentic-harness/professional-honesty/SKILL.md
  skills/documentation/professional-communication/SKILL.md
  skills/documentation/professional-communication/references/email-templates.md
  skills/documentation/professional-communication/references/jargon-simplification.md
  skills/documentation/professional-communication/references/meeting-structures.md
  skills/documentation/professional-communication/references/remote-async-communication.md
Due: markdownlint, tessl-lint, tessl-review

feat: migrate two opencode-recon-storage-cli keep-list skills (#101)
  docs/src/content/docs/tiles.md
  skills/agentic-harness/professional-honesty/SKILL.md
  skills/documentation/professional-communication/SKILL.md
  skills/documentation/professional-communication/references/email-templates.md
  skills/documentation/professional-communication/references/jargon-simplification.md
  skills/documentation/professional-communication/references/meeting-structures.md
  skills/documentation/professional-communication/references/remote-async-communication.md
Due: markdownlint, tessl-lint, tessl-review
