Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

feat(skill-quality-auditor): enforce ## References section standard as D4 bonus criterion
  skills/agentic-harness/skill-quality-auditor/SKILL.md
  skills/agentic-harness/skill-quality-auditor/references/detailed-anti-patterns.md
  skills/agentic-harness/skill-quality-auditor/references/framework-scoring-rubric.md
  skills/agentic-harness/skill-quality-auditor/references/framework-skill-judge-dimensions.md
  skills/agentic-harness/skill-quality-auditor/schemas/review-report.schema.json
  skills/agentic-harness/skill-quality-auditor/templates/review-report-template.yaml
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review

feat(skill-quality-auditor): wire References section check into evaluate.sh + requirements
  skills/agentic-harness/skill-quality-auditor/references/review-report.requirements.json
  skills/agentic-harness/skill-quality-auditor/scripts/evaluate.sh
Due: biome, shellcheck

feat(gitignore): update ignored files and directories for improved project structure
  .gitignore
Due: none

chore: stop tracking .claude/ (covered by .gitignore)
  .claude/skills/tessl__pr-comment-resolver
Due: none

feat(gitignore): add missing slashes for context directories
  .gitignore
Due: none

fix(skill-quality-auditor): fix audit-skills.sh PROJECT_ROOT depth and skill path collection
  skills/agentic-harness/skill-quality-auditor/scripts/audit-skills.sh
Due: shellcheck

fix(skill-quality-auditor): update audit-skills.sh to 9-dimension/140-point scale
  skills/agentic-harness/skill-quality-auditor/scripts/audit-skills.sh
Due: shellcheck

fix(skills): add Anti-Patterns (D3) to 17 D/F-grade skills
  lefthook.yml
  skills/ci-cd/azure-pipelines/generator/SKILL.md
  skills/ci-cd/azure-pipelines/validator/SKILL.md
  skills/ci-cd/fluentbit/generator/SKILL.md
  skills/ci-cd/fluentbit/validator/SKILL.md
  skills/ci-cd/github-actions/generator/SKILL.md
  skills/ci-cd/github-actions/validator/SKILL.md
  skills/ci-cd/gitlab-ci/generator/SKILL.md
  skills/ci-cd/gitlab-ci/validator/SKILL.md
  skills/ci-cd/helm/generator/SKILL.md
  skills/ci-cd/helm/validator/SKILL.md
  skills/ci-cd/jenkinsfile/generator/SKILL.md
  skills/ci-cd/jenkinsfile/validator/SKILL.md
  skills/development/scripting/makefile/validator/SKILL.md
  skills/documentation/conventional-commits/SKILL.md
  skills/observability/logql-generator/SKILL.md
  skills/observability/promql/generator/SKILL.md
  skills/observability/promql/validator/SKILL.md
Due: markdownlint, yamllint, tessl-lint, tessl-review

fix(skills): add Anti-Patterns (D3) to 6 infrastructure D-grade skills
  skills/infrastructure/ansible/generator/SKILL.md
  skills/infrastructure/ansible/validator/SKILL.md
  skills/infrastructure/terraform/generator/SKILL.md
  skills/infrastructure/terraform/validator/SKILL.md
  skills/infrastructure/terragrunt/generator/SKILL.md
  skills/infrastructure/terragrunt/validator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

fix(skills): add Anti-Patterns (D3) to 6 more D/C-grade skills
  skills/development/commanderjs/SKILL.md
  skills/development/scripting/bash-script/generator/SKILL.md
  skills/development/scripting/makefile/generator/SKILL.md
  skills/infrastructure/cfn/behavior-validator/SKILL.md
  skills/infrastructure/dockerfile/validator/SKILL.md
  skills/specialized/gitlab-api/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

fix(skills): add Anti-Patterns (D3) to final 9 remaining skills
  skills/development/front-end/web-reference-sheet-generator/SKILL.md
  skills/development/front-end/website-theme-porter/SKILL.md
  skills/development/scripting/bash-script/validator/SKILL.md
  skills/infrastructure/dockerfile/generator/SKILL.md
  skills/infrastructure/k8s/debug/SKILL.md
  skills/infrastructure/k8s/yaml-generator/SKILL.md
  skills/infrastructure/k8s/yaml-validator/SKILL.md
  skills/project-mgmt/implementation-planner/SKILL.md
  skills/software-engineering/design-principles/solid-principles/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

feat(skill-quality-auditor): upgrade References section standard to Topic|Reference|When to Use table
  skills/agentic-harness/skill-quality-auditor/SKILL.md
  skills/agentic-harness/skill-quality-auditor/references/framework-quality-standards.md
  skills/agentic-harness/skill-quality-auditor/references/framework-scoring-rubric.md
  skills/agentic-harness/skill-quality-auditor/references/framework-skill-judge-dimensions.md
  skills/agentic-harness/skill-quality-auditor/references/skill-template.md
  skills/agentic-harness/skill-quality-auditor/schemas/review-report.schema.json
Due: biome, markdownlint, tessl-lint, tessl-review

chore(context): add skill audit results and review notes
  .context/audits/skill-audit/2026-03-16/analysis.md
  .context/audits/skill-audit/2026-03-16/audit.json
  .context/audits/skill-audit/2026-03-16/remediation-plan.md
  .context/audits/skill-audit/latest
  .context/reviews/2026-03-16-skill-audit.md
Due: biome, markdownlint, audit-readme-sync

fix(github-actions/validator): remove stale references and convert to table format
  skills/ci-cd/github-actions/validator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

feat(obsidian): add obsidian-toolkit tile with 5 skills
  README.md
  docs/src/content/docs/tiles.md
  skills/documentation/obsidian/defuddle/SKILL.md
  skills/documentation/obsidian/json-canvas/SKILL.md
  skills/documentation/obsidian/json-canvas/references/EXAMPLES.md
  skills/documentation/obsidian/obsidian-bases/SKILL.md
  skills/documentation/obsidian/obsidian-bases/references/FUNCTIONS_REFERENCE.md
  skills/documentation/obsidian/obsidian-cli/SKILL.md
  skills/documentation/obsidian/obsidian-markdown/SKILL.md
  skills/documentation/obsidian/obsidian-markdown/references/CALLOUTS.md
  skills/documentation/obsidian/obsidian-markdown/references/EMBEDS.md
  skills/documentation/obsidian/obsidian-markdown/references/PROPERTIES.md
  skills/documentation/obsidian/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

chore(audits): store initial quality audit results for obsidian skills
  .context/audits/documentation/obsidian/defuddle/2026-03-16/analysis.md
  .context/audits/documentation/obsidian/defuddle/2026-03-16/audit.json
  .context/audits/documentation/obsidian/defuddle/2026-03-16/remediation-plan.md
  .context/audits/documentation/obsidian/defuddle/latest
  .context/audits/documentation/obsidian/json-canvas/2026-03-16/analysis.md
  .context/audits/documentation/obsidian/json-canvas/2026-03-16/audit.json
  .context/audits/documentation/obsidian/json-canvas/2026-03-16/remediation-plan.md
  .context/audits/documentation/obsidian/json-canvas/latest
  .context/audits/documentation/obsidian/obsidian-bases/2026-03-16/analysis.md
  .context/audits/documentation/obsidian/obsidian-bases/2026-03-16/audit.json
  .context/audits/documentation/obsidian/obsidian-bases/2026-03-16/remediation-plan.md
  .context/audits/documentation/obsidian/obsidian-bases/latest
  .context/audits/documentation/obsidian/obsidian-cli/2026-03-16/analysis.md
  .context/audits/documentation/obsidian/obsidian-cli/2026-03-16/audit.json
  .context/audits/documentation/obsidian/obsidian-cli/2026-03-16/remediation-plan.md
  .context/audits/documentation/obsidian/obsidian-cli/latest
  .context/audits/documentation/obsidian/obsidian-markdown/2026-03-16/analysis.md
  .context/audits/documentation/obsidian/obsidian-markdown/2026-03-16/audit.json
  .context/audits/documentation/obsidian/obsidian-markdown/2026-03-16/remediation-plan.md
  .context/audits/documentation/obsidian/obsidian-markdown/latest
  docs/src/content/docs/tiles.md
Due: biome, markdownlint, audit-readme-sync

feat(obsidian): improve all 5 skills from B to B+ grade
  .context/audits/documentation/obsidian/defuddle/2026-03-16/analysis.md
  .context/audits/documentation/obsidian/defuddle/2026-03-16/audit.json
  .context/audits/documentation/obsidian/defuddle/2026-03-16/remediation-plan.md
  .context/audits/documentation/obsidian/json-canvas/2026-03-16/analysis.md
  .context/audits/documentation/obsidian/json-canvas/2026-03-16/audit.json
  .context/audits/documentation/obsidian/json-canvas/2026-03-16/remediation-plan.md
  .context/audits/documentation/obsidian/obsidian-bases/2026-03-16/analysis.md
  .context/audits/documentation/obsidian/obsidian-bases/2026-03-16/audit.json
  .context/audits/documentation/obsidian/obsidian-bases/2026-03-16/remediation-plan.md
  .context/audits/documentation/obsidian/obsidian-cli/2026-03-16/analysis.md
  .context/audits/documentation/obsidian/obsidian-cli/2026-03-16/audit.json
  .context/audits/documentation/obsidian/obsidian-cli/2026-03-16/remediation-plan.md
  .context/audits/documentation/obsidian/obsidian-markdown/2026-03-16/analysis.md
  .context/audits/documentation/obsidian/obsidian-markdown/2026-03-16/audit.json
  .context/audits/documentation/obsidian/obsidian-markdown/2026-03-16/remediation-plan.md
  docs/src/content/docs/tiles.md
  skills/documentation/obsidian/defuddle/SKILL.md
  skills/documentation/obsidian/defuddle/references/ANTI-PATTERNS.md
  skills/documentation/obsidian/json-canvas/SKILL.md
  skills/documentation/obsidian/json-canvas/references/COMMON-MISTAKES.md
  skills/documentation/obsidian/json-canvas/references/NODE-REFERENCE.md
  skills/documentation/obsidian/obsidian-bases/SKILL.md
  skills/documentation/obsidian/obsidian-cli/SKILL.md
  skills/documentation/obsidian/obsidian-markdown/SKILL.md
  skills/documentation/obsidian/obsidian-markdown/references/COMMON-MISTAKES.md
  skills/documentation/obsidian/obsidian-markdown/references/EXAMPLES.md
Due: biome, markdownlint, audit-readme-sync, tessl-lint, tessl-review

feat(docs): add custom components and references to sidebar in astro.config.mjs
  docs/astro.config.mjs
  tessl.json
Due: biome

feat(docs): implement SkillPageTitle component and enhance SKILL.md processing
  docs/scripts/prelink.mjs
  docs/src/components/SkillPageTitle.astro
  docs/src/content.config.ts
  docs/src/styles/custom.css
Due: biome

feat(docs): convert processed SKILL.md files to MDX
  docs/scripts/prelink.mjs
  docs/src/content.config.ts
Due: biome

feat(docs): add astro-starlight tile with base, theme, and custom-component skills
  README.md
  docs/src/content/docs/tiles.md
  skills/documentation/astro-starlight/skills/starlight-base/SKILL.md
  skills/documentation/astro-starlight/skills/starlight-custom-component/SKILL.md
  skills/documentation/astro-starlight/skills/starlight-theme/SKILL.md
  skills/documentation/astro-starlight/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

feat(docs): add skill quality analysis, audit, and remediation plans for starlight-base, starlight-custom-component, and starlight-theme
  .context/audits/documentation/astro-starlight/skills/starlight-base/2026-03-17/analysis.md
  .context/audits/documentation/astro-starlight/skills/starlight-base/2026-03-17/audit.json
  .context/audits/documentation/astro-starlight/skills/starlight-base/2026-03-17/remediation-plan.md
  .context/audits/documentation/astro-starlight/skills/starlight-base/latest
  .context/audits/documentation/astro-starlight/skills/starlight-custom-component/2026-03-17/analysis.md
  .context/audits/documentation/astro-starlight/skills/starlight-custom-component/2026-03-17/audit.json
  .context/audits/documentation/astro-starlight/skills/starlight-custom-component/2026-03-17/remediation-plan.md
  .context/audits/documentation/astro-starlight/skills/starlight-custom-component/latest
  .context/audits/documentation/astro-starlight/skills/starlight-theme/2026-03-17/analysis.md
  .context/audits/documentation/astro-starlight/skills/starlight-theme/2026-03-17/audit.json
  .context/audits/documentation/astro-starlight/skills/starlight-theme/2026-03-17/remediation-plan.md
  .context/audits/documentation/astro-starlight/skills/starlight-theme/latest
Due: biome, markdownlint, audit-readme-sync

feat(docs): raise astro-starlight skills to A grade (126-131/140)
  docs/src/content/docs/tiles.md
  skills/documentation/astro-starlight/skills/starlight-base/SKILL.md
  skills/documentation/astro-starlight/skills/starlight-base/evals/instructions.json
  skills/documentation/astro-starlight/skills/starlight-base/evals/summary.json
  skills/documentation/astro-starlight/skills/starlight-custom-component/SKILL.md
  skills/documentation/astro-starlight/skills/starlight-custom-component/evals/instructions.json
  skills/documentation/astro-starlight/skills/starlight-theme/SKILL.md
  skills/documentation/astro-starlight/skills/starlight-theme/evals/instructions.json
  skills/documentation/astro-starlight/skills/starlight-theme/evals/summary.json
Due: biome, markdownlint, tessl-lint, tessl-review

chore(audits): update astro-starlight quality audit results to A grade
  .context/audits/documentation/astro-starlight/skills/starlight-base/2026-03-17/analysis.md
  .context/audits/documentation/astro-starlight/skills/starlight-base/2026-03-17/audit.json
  .context/audits/documentation/astro-starlight/skills/starlight-custom-component/2026-03-17/analysis.md
  .context/audits/documentation/astro-starlight/skills/starlight-custom-component/2026-03-17/audit.json
  .context/audits/documentation/astro-starlight/skills/starlight-theme/2026-03-17/analysis.md
  .context/audits/documentation/astro-starlight/skills/starlight-theme/2026-03-17/audit.json
Due: biome, markdownlint, audit-readme-sync

refactor(astro-starlight): raise D2/D5/D8 scores across all 3 skills
  skills/documentation/astro-starlight/skills/starlight-base/SKILL.md
  skills/documentation/astro-starlight/skills/starlight-base/references/configuration-reference.md
  skills/documentation/astro-starlight/skills/starlight-custom-component/SKILL.md
  skills/documentation/astro-starlight/skills/starlight-custom-component/references/overrides-reference.md
  skills/documentation/astro-starlight/skills/starlight-theme/SKILL.md
  skills/documentation/astro-starlight/skills/starlight-theme/references/css-variables-reference.md
Due: markdownlint, tessl-lint, tessl-review

feat(docs): add tabbed skill view with inline references and audit scorecard
  docs/astro.config.mjs
  docs/scripts/prelink.mjs
  docs/src/components/SkillTabs.astro
  docs/src/content.config.ts
Due: biome

feat(docs): redesign skill tabs — Skill/Audit/Evals/References layout
  docs/scripts/prelink.mjs
  docs/src/components/SkillTabs.astro
  docs/src/content.config.ts
Due: biome

docs(plans): incorporate critical review into starlight migration plan
  .context/plans/docs-starlight-to-astro-migration.md
Due: markdownlint

fix(install): deduplicate agents that resolve to the same target directory
  cli/lib/install/dedup-agents-by-target.ts
  cli/lib/install/index.ts
  cli/lib/install/install-skills.test.ts
  cli/lib/install/install-skills.ts
Due: biome

feat(cli): add uninstall command to remove project-owned skills
  cli/commands/uninstall.ts
  cli/index.ts
  cli/lib/install/classify-entry.ts
  cli/lib/install/display-uninstall-summary.ts
  cli/lib/install/find-installed-skills.ts
  cli/lib/install/index.ts
  cli/lib/install/is-owned-by-cwd.ts
  cli/lib/install/resolve-hard-copy-source.ts
  cli/lib/install/resolve-symlink-source.ts
  cli/lib/install/uninstall-skills-for-agent.ts
  cli/lib/install/uninstall-skills.ts
Due: biome

docs: trim AGENTS.md to reduce agent session context by 68%
  AGENTS.md
Due: markdownlint

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
