Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

docs(skill-quality-auditor): link the repository instead of a local path (#364)
  skills/agentic-harness/skill-quality-auditor/references/skill-taxonomy.md
Due: markdownlint

test(scripts): run the tracked-files test's git commands in a clean environment
  scripts/check-no-cache-files.test.ts
Due: biome

ci(skills): fail a pull request that tracks a cache folder
  .github/workflows/no-cache-files.yml
Due: yamllint

proof: force-add a cache file without the hook (do not merge)
  skills/infrastructure/terragrunt/validator/test/infrastructure/dev/vpc/.terragrunt-cache/proofabc/main.tf
Due: none

chore(lint): replace markdownlint-cli2 with rumdl
  .rumdl.toml
  AGENTS.md
  CONTRIBUTING.md
  hk.pkl
  mise.toml
  package.json
Due: biome, markdownlint

docs(skills): point documented lint commands at rumdl
  skills/agentic-harness/agents-md/SKILL.md
  skills/agentic-harness/skill-quality-auditor/references/remediation-planning.md
  skills/agentic-harness/skill-quality-auditor/scripts/generate-remediation-plan.sh
  skills/project-mgmt/issue-tracker-toolkit/moscow-prioritization/SKILL.md
  skills/repository-mgmt/nx/vite-integration/SKILL.md
  skills/specialized/colyseus-multiplayer/SKILL.md
  skills/testing/test-driven-development/SKILL.md
Due: markdownlint, shellcheck, tessl-lint, tessl-review

docs(skills): make journal-entry lint wording tool-neutral
  skills/documentation/journal-entry-creator/SKILL.md
  skills/documentation/journal-entry-creator/references/compliance.md
  skills/documentation/journal-entry-creator/references/example-journal-entry.md
  skills/documentation/journal-entry-import/SKILL.md
  skills/documentation/journal-entry-import/references/mode-a-bulk-import.md
  skills/documentation/journal-entry-import/references/mode-c-link-migration.md
  skills/documentation/journal-entry-import/scripts/import-legacy-entries.sh
Due: markdownlint, shellcheck, tessl-lint, tessl-review

docs(skills): fix markdown-authoring quick commands for rumdl
  skills/documentation/markdown-authoring/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

docs(skills): restore blank line in markdown-authoring quick commands
  skills/documentation/markdown-authoring/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

docs(skills): make eval wording match the tool-neutral lint step
  skills/agentic-harness/agents-md/evals/instructions.json
  skills/documentation/journal-entry-creator/evals/instructions.json
  skills/documentation/journal-entry-creator/evals/scenario-2/criteria.json
  skills/documentation/journal-entry-import/evals/scenario-4/criteria.json
  skills/documentation/journal-entry-import/evals/scenario-4/task.md
Due: biome, markdownlint

chore(lint): remove the markdownlint-cli2 config files
  .markdownlint-cli2.jsonc
  .markdownlintignore
Due: biome

chore(lint): ignore four rules on two ADR documents
  .rumdl.toml
Due: none

fix(opencode-configure): raise skill grade from C+ to B
  skills/agentic-harness/opencode-toolkit/configure/SKILL.md
  skills/agentic-harness/opencode-toolkit/configure/evals/instructions.json
  skills/agentic-harness/opencode-toolkit/configure/evals/summary.json
Due: biome, markdownlint, tessl-lint, tessl-review

chore(audits): refresh stored audits for opencode-configure and test-driven-development
  docs/src/content/docs/tiles.md
  skills/agentic-harness/opencode-toolkit/configure/.audits/2026-10-03/Analysis.md
  skills/agentic-harness/opencode-toolkit/configure/.audits/2026-10-03/Remediation.md
  skills/agentic-harness/opencode-toolkit/configure/.audits/2026-10-03/audit.json
  skills/testing/test-driven-development/.audits/2026-10-03/Analysis.md
  skills/testing/test-driven-development/.audits/2026-10-03/Remediation.md
  skills/testing/test-driven-development/.audits/2026-10-03/audit.json
Due: biome, markdownlint

fix(lint): leave CHANGELOG blank lines in nine below-B skills as they were
  .rumdl.toml
  skills/agentic-harness/create-context/CHANGELOG.md
  skills/agentic-harness/opencode-toolkit/build-plugins/CHANGELOG.md
  skills/agentic-harness/opencode-toolkit/build-tool/CHANGELOG.md
  skills/agentic-harness/opencode-toolkit/design-agents/CHANGELOG.md
  skills/agentic-harness/pick-model/CHANGELOG.md
  skills/agentic-harness/socratic-method/CHANGELOG.md
  skills/infrastructure/cfn/behavior-validator/CHANGELOG.md
  skills/software-engineering/bridge/CHANGELOG.md
  skills/software-engineering/frame-problem/CHANGELOG.md
Due: markdownlint

feat(skill-audit): file a tracking issue for each skill graded below B
  .github/workflows/skill-audit.yml
  AGENTS.md
  scripts/skill-audit/file-issues.sh
  scripts/skill-audit/file-issues.test.ts
Due: biome, markdownlint, yamllint, shellcheck

feat(skill-audit): block only on regression, track known debt by issue
  .github/workflows/skill-audit.yml
  AGENTS.md
  scripts/skill-audit/classify.sh
  scripts/skill-audit/classify.test.ts
  scripts/skill-audit/file-issues.sh
  scripts/skill-audit/file-issues.test.ts
Due: biome, markdownlint, yamllint, shellcheck

feat(skill-audit): block only on regression, track known debt by issue (#378)
  .github/workflows/skill-audit.yml
  AGENTS.md
  scripts/skill-audit/classify.sh
  scripts/skill-audit/classify.test.ts
  scripts/skill-audit/file-issues.sh
  scripts/skill-audit/file-issues.test.ts
Due: biome, markdownlint, yamllint, shellcheck

chore(lint): drop the nine CHANGELOG MD012 ignores
  .rumdl.toml
  skills/agentic-harness/create-context/CHANGELOG.md
  skills/agentic-harness/opencode-toolkit/build-plugins/CHANGELOG.md
  skills/agentic-harness/opencode-toolkit/build-tool/CHANGELOG.md
  skills/agentic-harness/opencode-toolkit/design-agents/CHANGELOG.md
  skills/agentic-harness/pick-model/CHANGELOG.md
  skills/agentic-harness/socratic-method/CHANGELOG.md
  skills/infrastructure/cfn/behavior-validator/CHANGELOG.md
  skills/software-engineering/bridge/CHANGELOG.md
  skills/software-engineering/frame-problem/CHANGELOG.md
Due: markdownlint

chore(lint): drop the nine CHANGELOG MD012 ignores (#379)
  .rumdl.toml
  skills/agentic-harness/create-context/CHANGELOG.md
  skills/agentic-harness/opencode-toolkit/build-plugins/CHANGELOG.md
  skills/agentic-harness/opencode-toolkit/build-tool/CHANGELOG.md
  skills/agentic-harness/opencode-toolkit/design-agents/CHANGELOG.md
  skills/agentic-harness/pick-model/CHANGELOG.md
  skills/agentic-harness/socratic-method/CHANGELOG.md
  skills/infrastructure/cfn/behavior-validator/CHANGELOG.md
  skills/software-engineering/bridge/CHANGELOG.md
  skills/software-engineering/frame-problem/CHANGELOG.md
Due: markdownlint

docs: explain the Skill Audit gate in CONTRIBUTING
  CONTRIBUTING.md
Due: markdownlint

docs: explain the Skill Audit gate in CONTRIBUTING (#380)
  CONTRIBUTING.md
Due: markdownlint

chore(ci): pin aislop to 0.17.0 in the quality gate
  .github/workflows/aislop.yml
Due: yamllint

chore(ci): pin aislop to 0.17.0 in the quality gate (#381)
  .github/workflows/aislop.yml
Due: yamllint

refactor(skills): clear mechanical aislop findings in helm and k8s scripts
  ruff.toml
  skills/infrastructure/k8s/debug/scripts/pod_diagnostics.py
  skills/infrastructure/k8s/yaml-validator/scripts/detect_crd.py
Due: none

refactor(skills): clear mechanical aislop findings in helm and k8s scripts (#383)
  ruff.toml
  skills/infrastructure/k8s/debug/scripts/pod_diagnostics.py
  skills/infrastructure/k8s/yaml-validator/scripts/detect_crd.py
Due: none

refactor(fluentbit): clear mechanical aislop findings in the generator and validator scripts
  skills/ci-cd/fluentbit/generator/scripts/generate_config.py
  skills/ci-cd/fluentbit/validator/scripts/validate_config.py
Due: none

refactor(fluentbit): clear mechanical aislop findings in the generator and validator scripts (#387)
  skills/ci-cd/fluentbit/generator/scripts/generate_config.py
  skills/ci-cd/fluentbit/validator/scripts/validate_config.py
Due: none

refactor(gitlab-ci): clear mechanical aislop findings in the validator scripts
  skills/ci-cd/gitlab-ci/validator/SKILL.md
  skills/ci-cd/gitlab-ci/validator/scripts/check_best_practices.py
  skills/ci-cd/gitlab-ci/validator/scripts/check_security.py
  skills/ci-cd/gitlab-ci/validator/scripts/validate_syntax.py
Due: markdownlint, tessl-lint, tessl-review

fix(gitlab-ci): match registry and component hosts exactly instead of by substring
  skills/ci-cd/gitlab-ci/validator/scripts/check_best_practices.py
  skills/ci-cd/gitlab-ci/validator/scripts/check_security.py
Due: none

fix(gitlab-ci): clear aislop findings and match registry hosts exactly (#385)
  skills/ci-cd/gitlab-ci/validator/SKILL.md
  skills/ci-cd/gitlab-ci/validator/scripts/check_best_practices.py
  skills/ci-cd/gitlab-ci/validator/scripts/check_security.py
  skills/ci-cd/gitlab-ci/validator/scripts/validate_syntax.py
Due: markdownlint, tessl-lint, tessl-review

refactor(azure-pipelines): clear mechanical aislop findings in the validator scripts
  skills/ci-cd/azure-pipelines/validator/SKILL.md
  skills/ci-cd/azure-pipelines/validator/scripts/check_best_practices.py
  skills/ci-cd/azure-pipelines/validator/scripts/check_security.py
  skills/ci-cd/azure-pipelines/validator/scripts/validate_syntax.py
Due: markdownlint, tessl-lint, tessl-review

refactor(azure-pipelines): clear mechanical aislop findings in the validator scripts (#386)
  skills/ci-cd/azure-pipelines/validator/SKILL.md
  skills/ci-cd/azure-pipelines/validator/scripts/check_best_practices.py
  skills/ci-cd/azure-pipelines/validator/scripts/check_security.py
  skills/ci-cd/azure-pipelines/validator/scripts/validate_syntax.py
Due: markdownlint, tessl-lint, tessl-review

refactor(promql): clear mechanical aislop findings in the validator scripts
  skills/observability/promql/validator/scripts/check_best_practices.py
  skills/observability/promql/validator/scripts/validate_syntax.py
Due: none

refactor(promql): clear mechanical aislop findings in the validator scripts (#389)
  skills/observability/promql/validator/scripts/check_best_practices.py
  skills/observability/promql/validator/scripts/validate_syntax.py
Due: none

refactor(jenkinsfile): clear mechanical aislop findings in the generator scripts
  skills/ci-cd/jenkinsfile/generator/scripts/generate_declarative.py
  skills/ci-cd/jenkinsfile/generator/scripts/generate_scripted.py
  skills/ci-cd/jenkinsfile/generator/scripts/generate_shared_library.py
  skills/ci-cd/jenkinsfile/generator/scripts/lib/common_patterns.py
  skills/ci-cd/jenkinsfile/generator/scripts/lib/syntax_helpers.py
Due: none

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
