Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
      stage_fixed: true
    skill-artifacts:
      run: ./skills/skill-quality-auditor/scripts/validate-skill-artifacts.sh {staged_files}
      stage_fixed: true
    audit-readme-sync:
      glob: ".context/audits/*.md"
      run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
      stage_fixed: true
    shellcheck:
      glob: "*.sh"
      run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
      stage_fixed: true
    tessl-lint:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
      stage_fixed: true
    tessl-review:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
      stage_fixed: true
    tessl-publish-check:
      glob: "skills/**/tile.json"
      run: ./scripts/tessl-publish-check.sh {staged_files}
      stage_fixed: true

fix: address audit findings for cdk-nag
  skills/cdk-nag/tile.json
Due: biome, tessl-publish-check

fix: address audit findings for cfn-behavior-validator
  .context/colyseus-multiplayer-audit-20260302-190712.md
  skills/cfn-behavior-validator/tile.json
Due: biome, markdownlint, tessl-publish-check

fix: address audit findings for cfn-template-compare
  skills/cfn-template-compare/tile.json
Due: biome, tessl-publish-check

fix: address audit findings for colyseus-multiplayer
  skills/colyseus-multiplayer/SKILL.md
  skills/colyseus-multiplayer/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

audit: commanderjs quality review
  .context/commanderjs-audit-20260302-190851.txt
Due: none

audit: dockerfile-generator quality review
  .context/dockerfile-generator-audit-20260302-190855.txt
Due: none

audit: dockerfile-validator quality review
  .context/conventional-commits-audit-20260302-190855.txt
  .context/create-context-file-audit-20260302-190854.md
  .context/dockerfile-validator-audit-20260302-190856.txt
Due: markdownlint

fix: address audit findings for commanderjs
  skills/commanderjs/tile.json
Due: biome, tessl-publish-check

fix: address audit findings for dockerfile-validator
  skills/dockerfile-validator/SKILL.md
  skills/dockerfile-validator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: address audit findings for conventional-commits
  skills/conventional-commits/SKILL.md
  skills/conventional-commits/tile.json
  skills/dockerfile-generator/references/modern_docker_features.md
  skills/dockerfile-generator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: address audit findings for create-context-file
  skills/create-context-file/SKILL.md
  skills/create-context-file/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

docs: add post-fix audit results for conventional-commits
  .context/conventional-commits-audit-after-20260302-191014.txt
Due: none

fix: set dockerfile-validator to public
  skills/dockerfile-validator/tile.json
Due: biome, tessl-publish-check

fix: address audit findings for dockerfile-generator
  skills/dockerfile-generator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

audit: fluentbit-generator quality review
  .context/extending-nx-plugins-audit-20260302-191144.md
  .context/fluentbit-generator-audit-20260302.md
  .context/fluentbit-validator-audit-20260302-191146.md
  .context/github-actions-generator-audit-20260302-191148.md
  .context/github-actions-validator-audit-20260302-191149.md
Due: markdownlint

audit: github-actions-validator quality review
  .context/github-actions-generator-audit-20260302-191148.md
Due: markdownlint

fix: address audit findings for fluentbit-generator
  skills/fluentbit-generator/tile.json
Due: biome, tessl-publish-check

audit: extending-nx-plugins quality review
  .context/fluentbit-validator-audit-20260302-191146.md
Due: markdownlint

audit: github-actions-generator quality review
  .context/github-actions-generator-audit-20260302-191148.md
Due: markdownlint

fix: address audit findings for extending-nx-plugins
  skills/extending-nx-plugins/tile.json
Due: biome, tessl-publish-check
