Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

test(cli): raise coverage to 98% with 31 new test files
  cli/lib/audit/calculate-dimension-averages.test.ts
  cli/lib/audit/calculate-grade-distribution.test.ts
  cli/lib/audit/calculate-statistics.test.ts
  cli/lib/audit/display-bottom-skills.test.ts
  cli/lib/audit/display-dimensional-analysis.test.ts
  cli/lib/audit/display-grade-distribution.test.ts
  cli/lib/audit/display-statistics.test.ts
  cli/lib/audit/display-top-skills.test.ts
  cli/lib/readme/build-tile-skills.test.ts
  cli/lib/readme/find-untiled-skills.test.ts
  cli/lib/readme/generate-catalog-content.test.ts
  cli/lib/readme/generate-docs-tiles-page.test.ts
  cli/lib/readme/generate-readme-summary-tables.test.ts
  cli/lib/readme/get-tile-tessl.test.ts
  cli/lib/readme/is-skill-section-end.test.ts
  cli/lib/readme/is-skill-section-start.test.ts
  cli/lib/readme/parse-readme-sections.test.ts
  cli/lib/readme/resolve-skill-dir.test.ts
  cli/lib/readme/tessl-status.test.ts
  cli/lib/schemas/audit.schema.test.ts
  cli/lib/schemas/tile.schema.test.ts
  cli/lib/sync/clean-broken-symlinks.test.ts
  cli/lib/sync/process-tile-skill-link.test.ts
  cli/lib/sync/sync-mcp-config.test.ts
  cli/lib/tessl/validate-skill-files.test.ts
  cli/lib/tessl/validate-tile-exists.test.ts
  cli/lib/types/get-agent-config.test.ts
  cli/lib/types/get-non-universal-agents.test.ts
  cli/lib/types/get-open-claw-global-skills-dir.test.ts
  cli/lib/types/get-universal-agents.test.ts
  cli/lib/types/is-universal-agent.test.ts
Due: biome

feat(docs): add new skills for website theme porting and web design reference generation
  .npmrc
  docs/src/content/docs/tiles.md
Due: markdownlint

fix(gitignore): reorder entries and ensure proper exclusion of local settings and generated files
  .gitignore
Due: none

docs: add root CONTRIBUTING.md
  CONTRIBUTING.md
Due: markdownlint

docs(cli): add directory size guideline as Rule 7
  AGENTS.md
  cli/CONVENTIONS.md
Due: markdownlint

feat(cli): replace shields.io badges with local SVG generation via badge-maker
  TILES.md
  bun.lock
  cli/lib/readme/rendering/generate-tile-section.test.ts
  cli/lib/readme/rendering/generate-tile-section.ts
  cli/lib/readme/rendering/generate-untiled-skill-section.test.ts
  cli/lib/readme/rendering/generate-untiled-skill-section.ts
  cli/lib/readme/rendering/get-badge-filename.test.ts
  cli/lib/readme/rendering/get-badge-filename.ts
  cli/lib/readme/rendering/get-badge-markdown.test.ts
  cli/lib/readme/rendering/get-badge-markdown.ts
  cli/lib/readme/rendering/index.ts
  cli/lib/readme/rendering/make-badge-svg.test.ts
  cli/lib/readme/rendering/make-badge-svg.ts
  cli/lib/readme/rendering/write-badge-files.ts
  cli/lib/readme/update-readme.ts
Due: biome, markdownlint

fix(deps): add badge-maker to package.json dependencies
  package.json
Due: biome

fix(cli): fix badge rendering in docs site
  cli/lib/readme/rendering/build-domain-docs-section.ts
  cli/lib/readme/rendering/get-docs-badge-markdown.test.ts
  cli/lib/readme/rendering/get-docs-badge-markdown.ts
  cli/lib/readme/rendering/index.ts
  cli/lib/readme/rendering/write-badge-files.ts
Due: biome

chore: add generated badge SVGs and update docs tiles
  .github/badges/A-plus.svg
  .github/badges/A.svg
  .github/badges/B-plus.svg
  .github/badges/B.svg
  .github/badges/C-plus.svg
  .github/badges/C.svg
  .github/badges/D.svg
  .github/badges/F.svg
  .github/badges/unknown.svg
  docs/public/.github/badges/A-plus.svg
  docs/public/.github/badges/A.svg
  docs/public/.github/badges/B-plus.svg
  docs/public/.github/badges/B.svg
  docs/public/.github/badges/C-plus.svg
  docs/public/.github/badges/C.svg
  docs/public/.github/badges/D.svg
  docs/public/.github/badges/F.svg
  docs/public/.github/badges/unknown.svg
  docs/src/content/docs/tiles.md
Due: markdownlint

feat(cli): replace shields.io badges with local SVG generation via badge-maker (#20)
  .github/badges/A-plus.svg
  .github/badges/A.svg
  .github/badges/B-plus.svg
  .github/badges/B.svg
  .github/badges/C-plus.svg
  .github/badges/C.svg
  .github/badges/D.svg
  .github/badges/F.svg
  .github/badges/unknown.svg
  TILES.md
  bun.lock
  cli/lib/readme/rendering/build-domain-docs-section.ts
  cli/lib/readme/rendering/generate-tile-section.test.ts
  cli/lib/readme/rendering/generate-tile-section.ts
  cli/lib/readme/rendering/generate-untiled-skill-section.test.ts
  cli/lib/readme/rendering/generate-untiled-skill-section.ts
  cli/lib/readme/rendering/get-badge-filename.test.ts
  cli/lib/readme/rendering/get-badge-filename.ts
  cli/lib/readme/rendering/get-badge-markdown.test.ts
  cli/lib/readme/rendering/get-badge-markdown.ts
  cli/lib/readme/rendering/get-docs-badge-markdown.test.ts
  cli/lib/readme/rendering/get-docs-badge-markdown.ts
  cli/lib/readme/rendering/index.ts
  cli/lib/readme/rendering/make-badge-svg.test.ts
  cli/lib/readme/rendering/make-badge-svg.ts
  cli/lib/readme/rendering/write-badge-files.ts
  cli/lib/readme/update-readme.ts
  docs/public/.github/badges/A-plus.svg
  docs/public/.github/badges/A.svg
  docs/public/.github/badges/B-plus.svg
  docs/public/.github/badges/B.svg
  docs/public/.github/badges/C-plus.svg
  docs/public/.github/badges/C.svg
  docs/public/.github/badges/D.svg
  docs/public/.github/badges/F.svg
  docs/public/.github/badges/unknown.svg
  docs/src/content/docs/tiles.md
  package.json
Due: biome, markdownlint

refactor(cli): consolidate skill catalog into GitHub Pages docs
  README.md
  TILES.md
  cli/commands/readme.ts
  cli/lib/readme/index.ts
  cli/lib/readme/rendering/build-active-domains.test.ts
  cli/lib/readme/rendering/build-active-domains.ts
  cli/lib/readme/rendering/build-catalog-sections.test.ts
  cli/lib/readme/rendering/build-catalog-sections.ts
  cli/lib/readme/rendering/build-catalog-toc.test.ts
  cli/lib/readme/rendering/build-catalog-toc.ts
  cli/lib/readme/rendering/build-domain-docs-section.ts
  cli/lib/readme/rendering/build-domain-table-section.ts
  cli/lib/readme/rendering/build-skill-docs-row.ts
  cli/lib/readme/rendering/generate-catalog-content.test.ts
  cli/lib/readme/rendering/generate-catalog-content.ts
  cli/lib/readme/rendering/generate-readme-summary-tables.test.ts
  cli/lib/readme/rendering/generate-readme-summary-tables.ts
  cli/lib/readme/rendering/generate-tile-section.test.ts
  cli/lib/readme/rendering/generate-tile-section.ts
  cli/lib/readme/rendering/generate-untiled-skill-section.test.ts
  cli/lib/readme/rendering/generate-untiled-skill-section.ts
  cli/lib/readme/rendering/index.ts
  cli/lib/readme/sections/index.ts
  cli/lib/readme/sections/is-skill-section-end.test.ts
  cli/lib/readme/sections/is-skill-section-end.ts
  cli/lib/readme/sections/is-skill-section-start.test.ts
  cli/lib/readme/sections/is-skill-section-start.ts
  cli/lib/readme/sections/parse-readme-sections.test.ts
  cli/lib/readme/sections/parse-readme-sections.ts
  cli/lib/readme/update-readme.ts
  docs/src/content/docs/tiles.md
  lefthook.yml
Due: biome, markdownlint, yamllint

refactor(cli): consolidate skill catalog into GitHub Pages docs (#21)
  README.md
  TILES.md
  cli/commands/readme.ts
  cli/lib/readme/index.ts
  cli/lib/readme/rendering/build-active-domains.test.ts
  cli/lib/readme/rendering/build-active-domains.ts
  cli/lib/readme/rendering/build-catalog-sections.test.ts
  cli/lib/readme/rendering/build-catalog-sections.ts
  cli/lib/readme/rendering/build-catalog-toc.test.ts
  cli/lib/readme/rendering/build-catalog-toc.ts
  cli/lib/readme/rendering/build-domain-docs-section.ts
  cli/lib/readme/rendering/build-domain-table-section.ts
  cli/lib/readme/rendering/build-skill-docs-row.ts
  cli/lib/readme/rendering/generate-catalog-content.test.ts
  cli/lib/readme/rendering/generate-catalog-content.ts
  cli/lib/readme/rendering/generate-readme-summary-tables.test.ts
  cli/lib/readme/rendering/generate-readme-summary-tables.ts
  cli/lib/readme/rendering/generate-tile-section.test.ts
  cli/lib/readme/rendering/generate-tile-section.ts
  cli/lib/readme/rendering/generate-untiled-skill-section.test.ts
  cli/lib/readme/rendering/generate-untiled-skill-section.ts
  cli/lib/readme/rendering/index.ts
  cli/lib/readme/sections/index.ts
  cli/lib/readme/sections/is-skill-section-end.test.ts
  cli/lib/readme/sections/is-skill-section-end.ts
  cli/lib/readme/sections/is-skill-section-start.test.ts
  cli/lib/readme/sections/is-skill-section-start.ts
  cli/lib/readme/sections/parse-readme-sections.test.ts
  cli/lib/readme/sections/parse-readme-sections.ts
  cli/lib/readme/update-readme.ts
  docs/src/content/docs/tiles.md
  lefthook.yml
Due: biome, markdownlint, yamllint

feat(cli): auto-generate tile/skill counts in README.md
  README.md
  cli/lib/readme/rendering/build-readme-catalog-line.ts
  cli/lib/readme/rendering/index.ts
  cli/lib/readme/update-readme.ts
  lefthook.yml
Due: biome, markdownlint, yamllint

feat(cli): auto-generate tile/skill counts in README.md (#22)
  README.md
  cli/lib/readme/rendering/build-readme-catalog-line.ts
  cli/lib/readme/rendering/index.ts
  cli/lib/readme/update-readme.ts
  lefthook.yml
Due: biome, markdownlint, yamllint

fix(docs): improve gh-pages rendering quality
  .markdownlint-cli2.jsonc
  cli/lib/readme/rendering/get-docs-badge-markdown.test.ts
  cli/lib/readme/rendering/get-docs-badge-markdown.ts
  docs/astro.config.mjs
  docs/src/content.config.ts
  docs/src/content/docs/tiles.md
  docs/src/styles/custom.css
  lefthook.yml
Due: biome, markdownlint, yamllint

fix(docs): improve gh-pages rendering quality (#23)
  .markdownlint-cli2.jsonc
  cli/lib/readme/rendering/get-docs-badge-markdown.test.ts
  cli/lib/readme/rendering/get-docs-badge-markdown.ts
  docs/astro.config.mjs
  docs/src/content.config.ts
  docs/src/content/docs/tiles.md
  docs/src/styles/custom.css
  lefthook.yml
Due: biome, markdownlint, yamllint

fix(docs): update references section for clarity and formatting
  skills/specialized/colyseus-multiplayer/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

feat(docs): hierarchical sidebar and working reference links
  .markdownlint-cli2.jsonc
  .markdownlintignore
  docs/.gitignore
  docs/astro.config.mjs
  docs/scripts/prelink.mjs
  docs/src/content.config.ts
  package.json
Due: biome

fix(docs): hierarchical sidebar + working reference links (#24)
  .markdownlint-cli2.jsonc
  .markdownlintignore
  docs/.gitignore
  docs/astro.config.mjs
  docs/scripts/prelink.mjs
  docs/src/content.config.ts
  package.json
  skills/specialized/colyseus-multiplayer/SKILL.md
Due: biome, markdownlint, tessl-lint, tessl-review

fix(config): format JSON structure for better readability
  .mcp.json
Due: biome

feat(cli): add Cucumber/Gherkin integration tests
  bun.lock
  cli/features/install.feature
  cli/features/step-definitions/common.steps.ts
  cli/features/step-definitions/run-cli.ts
  cli/features/step-definitions/world.ts
  cli/features/validate.feature
  cucumber.js
  package.json
Due: biome

feat(cli): add cucumber integration tests for audit, readme, sync, tessl
  cli/features/audit.feature
  cli/features/readme.feature
  cli/features/sync.feature
  cli/features/tessl.feature
  cli/lib/audit/collect-audit-data.ts
  cli/lib/schemas/tile.schema.ts
  cli/lib/tessl/validate-skill-files.ts
Due: biome

feat(cli): expand install integration tests with global/local scenarios
  cli/features/install.feature
  cli/features/step-definitions/common.steps.ts
Due: biome

refactor(cli): wire install command to agents registry from lib/types
  cli/commands/install.ts
  cli/features/install.feature
  cli/lib/install/index.ts
  cli/lib/install/install-skills-for-agent.test.ts
  cli/lib/install/install-skills-for-agent.ts
  cli/lib/install/install-skills.test.ts
  cli/lib/install/install-skills.ts
  cli/lib/install/resolve-target-dir.ts
  cli/lib/tessl/review-skill.ts
Due: biome

fix(cli): update tile schema tests for record format + add pre-push test hooks
  cli/lib/schemas/tile.schema.test.ts
  cli/lib/tessl/validate-skill-files.test.ts
  lefthook.yml
Due: biome, yamllint

fix(cli): exclude skills/ from unit tests + fix selectSkillsInteractively TTY assumption
  cli/lib/install/install-skills.test.ts
  lefthook.yml
  package.json
Due: biome, yamllint

ci: add PR workflow for CLI unit and integration tests
  .github/workflows/pr-cli-tests.yml
Due: yamllint

feat(cli): add Cucumber/Gherkin integration tests + wire install to agents registry (#25)
  .github/workflows/pr-cli-tests.yml
  .mcp.json
  bun.lock
  cli/commands/install.ts
  cli/features/audit.feature
  cli/features/install.feature
  cli/features/readme.feature
  cli/features/step-definitions/common.steps.ts
  cli/features/step-definitions/run-cli.ts
  cli/features/step-definitions/world.ts
  cli/features/sync.feature
  cli/features/tessl.feature
  cli/features/validate.feature
  cli/lib/audit/collect-audit-data.ts
  cli/lib/install/index.ts
  cli/lib/install/install-skills-for-agent.test.ts
  cli/lib/install/install-skills-for-agent.ts
  cli/lib/install/install-skills.test.ts
  cli/lib/install/install-skills.ts
  cli/lib/install/resolve-target-dir.ts
  cli/lib/schemas/tile.schema.test.ts
  cli/lib/schemas/tile.schema.ts
  cli/lib/tessl/review-skill.ts
  cli/lib/tessl/validate-skill-files.test.ts
  cli/lib/tessl/validate-skill-files.ts
  cucumber.js
  lefthook.yml
  package.json
Due: biome, yamllint

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
