Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
      stage_fixed: true
    skill-artifacts:
      run: ./skills/skill-quality-auditor/scripts/validate-skill-artifacts.sh {staged_files}
      stage_fixed: true
    audit-readme-sync:
      glob: ".context/audits/*.md"
      run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
      stage_fixed: true
    shellcheck:
      glob: "*.sh"
      run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
      stage_fixed: true
    tessl-lint:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
      stage_fixed: true
    tessl-review:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
      stage_fixed: true
    tessl-publish-check:
      glob: "skills/**/tile.json"
      run: ./scripts/tessl-publish-check.sh {staged_files}
      stage_fixed: true

feat(research): add pubmed-search skill to research tile
  .context/audits/documentation/research/pubmed-search/2026-04-10/analysis.md
  .context/audits/documentation/research/pubmed-search/2026-04-10/audit.json
  .context/audits/documentation/research/pubmed-search/latest
  docs/src/content/docs/tiles.md
  skills/documentation/research/pubmed-search/SKILL.md
  skills/documentation/research/pubmed-search/evals/instructions.json
  skills/documentation/research/pubmed-search/evals/scenario-1/capability.txt
  skills/documentation/research/pubmed-search/evals/scenario-1/criteria.json
  skills/documentation/research/pubmed-search/evals/scenario-1/task.md
  skills/documentation/research/pubmed-search/evals/scenario-2/capability.txt
  skills/documentation/research/pubmed-search/evals/scenario-2/criteria.json
  skills/documentation/research/pubmed-search/evals/scenario-2/task.md
  skills/documentation/research/pubmed-search/evals/scenario-3/capability.txt
  skills/documentation/research/pubmed-search/evals/scenario-3/criteria.json
  skills/documentation/research/pubmed-search/evals/scenario-3/task.md
  skills/documentation/research/pubmed-search/evals/summary.json
  skills/documentation/research/pubmed-search/references/setup-and-troubleshooting.md
  skills/documentation/research/pubmed-search/requirements.txt
  skills/documentation/research/pubmed-search/scripts/pubmed_search.py
Due: biome, markdownlint, audit-readme-sync, tessl-lint, tessl-review

feat(research): add sci-hub-search skill to research tile
  .context/audits/documentation/research/sci-hub-search/2026-04-10/analysis.md
  .context/audits/documentation/research/sci-hub-search/2026-04-10/audit.json
  .context/audits/documentation/research/sci-hub-search/latest
  docs/src/content/docs/tiles.md
  skills/documentation/research/sci-hub-search/SKILL.md
  skills/documentation/research/sci-hub-search/evals/instructions.json
  skills/documentation/research/sci-hub-search/evals/scenario-1/capability.txt
  skills/documentation/research/sci-hub-search/evals/scenario-1/criteria.json
  skills/documentation/research/sci-hub-search/evals/scenario-1/task.md
  skills/documentation/research/sci-hub-search/evals/scenario-2/capability.txt
  skills/documentation/research/sci-hub-search/evals/scenario-2/criteria.json
  skills/documentation/research/sci-hub-search/evals/scenario-2/task.md
  skills/documentation/research/sci-hub-search/evals/scenario-3/capability.txt
  skills/documentation/research/sci-hub-search/evals/scenario-3/criteria.json
  skills/documentation/research/sci-hub-search/evals/scenario-3/task.md
  skills/documentation/research/sci-hub-search/evals/summary.json
  skills/documentation/research/sci-hub-search/references/setup-and-troubleshooting.md
  skills/documentation/research/sci-hub-search/requirements.txt
  skills/documentation/research/sci-hub-search/scripts/sci_hub_search.py
Due: biome, markdownlint, audit-readme-sync, tessl-lint, tessl-review

feat(research): add sci-data-extractor skill to research tile
  .context/audits/documentation/research/sci-data-extractor/2026-04-10/analysis.md
  .context/audits/documentation/research/sci-data-extractor/2026-04-10/audit.json
  .context/audits/documentation/research/sci-data-extractor/latest
  docs/src/content/docs/tiles.md
  skills/documentation/research/sci-data-extractor/SKILL.md
  skills/documentation/research/sci-data-extractor/evals/instructions.json
  skills/documentation/research/sci-data-extractor/evals/scenario-1/capability.txt
  skills/documentation/research/sci-data-extractor/evals/scenario-1/criteria.json
  skills/documentation/research/sci-data-extractor/evals/scenario-1/task.md
  skills/documentation/research/sci-data-extractor/evals/scenario-2/capability.txt
  skills/documentation/research/sci-data-extractor/evals/scenario-2/criteria.json
  skills/documentation/research/sci-data-extractor/evals/scenario-2/task.md
  skills/documentation/research/sci-data-extractor/evals/scenario-3/capability.txt
  skills/documentation/research/sci-data-extractor/evals/scenario-3/criteria.json
  skills/documentation/research/sci-data-extractor/evals/scenario-3/task.md
  skills/documentation/research/sci-data-extractor/evals/summary.json
  skills/documentation/research/sci-data-extractor/references/setup-and-troubleshooting.md
  skills/documentation/research/sci-data-extractor/requirements.txt
  skills/documentation/research/sci-data-extractor/scripts/batch_extract.py
  skills/documentation/research/sci-data-extractor/scripts/extractor.py
Due: biome, markdownlint, audit-readme-sync, tessl-lint, tessl-review

feat(research): add sci-data-extractor skill to research tile
  docs/src/content/docs/tiles.md
Due: markdownlint

chore(research): consolidate tile.json to v0.2.4 with all 8 skills
  README.md
  docs/src/content/docs/tiles.md
  skills/documentation/research/tile.json
Due: biome, markdownlint, tessl-publish-check

feat(research): add scholar-evaluation skill to research tile
  .context/audits/documentation/research/scholar-evaluation/2026-04-10/analysis.md
  .context/audits/documentation/research/scholar-evaluation/2026-04-10/audit.json
  .context/audits/documentation/research/scholar-evaluation/2026-04-10/remediation-plan.md
  .context/audits/documentation/research/scholar-evaluation/latest
  README.md
  docs/src/content/docs/tiles.md
  skills/documentation/research/scholar-evaluation/SKILL.md
  skills/documentation/research/scholar-evaluation/evals/instructions.json
  skills/documentation/research/scholar-evaluation/evals/scenario-1/capability.txt
  skills/documentation/research/scholar-evaluation/evals/scenario-1/criteria.json
  skills/documentation/research/scholar-evaluation/evals/scenario-1/task.md
  skills/documentation/research/scholar-evaluation/evals/scenario-2/capability.txt
  skills/documentation/research/scholar-evaluation/evals/scenario-2/criteria.json
  skills/documentation/research/scholar-evaluation/evals/scenario-2/task.md
  skills/documentation/research/scholar-evaluation/evals/scenario-3/capability.txt
  skills/documentation/research/scholar-evaluation/evals/scenario-3/criteria.json
  skills/documentation/research/scholar-evaluation/evals/scenario-3/task.md
  skills/documentation/research/scholar-evaluation/references/evaluation_framework.md
Due: biome, markdownlint, audit-readme-sync, tessl-lint, tessl-review

feat(research): add scientific-schematics skill to research tile
  .context/audits/documentation/research/scientific-schematics/2026-04-10/analysis.md
  .context/audits/documentation/research/scientific-schematics/2026-04-10/audit.json
  .context/audits/documentation/research/scientific-schematics/2026-04-10/remediation-plan.md
  .context/audits/documentation/research/scientific-schematics/latest
  skills/documentation/research/scientific-schematics/SKILL.md
  skills/documentation/research/scientific-schematics/evals/instructions.json
  skills/documentation/research/scientific-schematics/evals/scenario-1/capability.txt
  skills/documentation/research/scientific-schematics/evals/scenario-1/criteria.json
  skills/documentation/research/scientific-schematics/evals/scenario-1/task.md
  skills/documentation/research/scientific-schematics/evals/scenario-2/capability.txt
  skills/documentation/research/scientific-schematics/evals/scenario-2/criteria.json
  skills/documentation/research/scientific-schematics/evals/scenario-2/task.md
  skills/documentation/research/scientific-schematics/evals/scenario-3/capability.txt
  skills/documentation/research/scientific-schematics/evals/scenario-3/criteria.json
  skills/documentation/research/scientific-schematics/evals/scenario-3/task.md
  skills/documentation/research/scientific-schematics/references/advanced-usage.md
  skills/documentation/research/scientific-schematics/references/best_practices.md
  skills/documentation/research/scientific-schematics/references/diagram_types.md
  skills/documentation/research/scientific-schematics/references/generation-examples.md
  skills/documentation/research/scientific-schematics/references/troubleshooting.md
Due: biome, markdownlint, audit-readme-sync, tessl-lint, tessl-review

chore(research): consolidate tile.json to v0.2.5 with scholar-evaluation and scientific-schematics
  skills/documentation/research/tile.json
Due: biome, tessl-publish-check

feat(research): add notebooklm skill to research tile
  .context/audits/documentation/research/notebooklm/2026-04-10/analysis.md
  .context/audits/documentation/research/notebooklm/2026-04-10/audit.json
  .context/audits/documentation/research/notebooklm/2026-04-10/remediation-plan.md
  .context/audits/documentation/research/notebooklm/latest
  README.md
  docs/src/content/docs/tiles.md
  skills/documentation/research/notebooklm/SKILL.md
  skills/documentation/research/notebooklm/evals/instructions.json
  skills/documentation/research/notebooklm/evals/scenario-1/capability.txt
  skills/documentation/research/notebooklm/evals/scenario-1/criteria.json
  skills/documentation/research/notebooklm/evals/scenario-1/task.md
  skills/documentation/research/notebooklm/evals/scenario-2/capability.txt
  skills/documentation/research/notebooklm/evals/scenario-2/criteria.json
  skills/documentation/research/notebooklm/evals/scenario-2/task.md
  skills/documentation/research/notebooklm/evals/scenario-3/capability.txt
  skills/documentation/research/notebooklm/evals/scenario-3/criteria.json
  skills/documentation/research/notebooklm/evals/scenario-3/task.md
  skills/documentation/research/notebooklm/references/api_reference.md
  skills/documentation/research/notebooklm/references/troubleshooting.md
  skills/documentation/research/notebooklm/references/usage_patterns.md
  skills/documentation/research/tile.json
Due: biome, markdownlint, audit-readme-sync, tessl-lint, tessl-review, tessl-publish-check

feat(notebooklm): add scripts, requirements, and port PRs 28+21
  skills/documentation/research/notebooklm/SKILL.md
  skills/documentation/research/notebooklm/requirements.txt
  skills/documentation/research/notebooklm/scripts/__init__.py
  skills/documentation/research/notebooklm/scripts/ask_question.py
  skills/documentation/research/notebooklm/scripts/auth_manager.py
  skills/documentation/research/notebooklm/scripts/browser_session.py
  skills/documentation/research/notebooklm/scripts/browser_utils.py
  skills/documentation/research/notebooklm/scripts/cleanup_manager.py
  skills/documentation/research/notebooklm/scripts/config.py
  skills/documentation/research/notebooklm/scripts/logger.py
  skills/documentation/research/notebooklm/scripts/notebook_manager.py
  skills/documentation/research/notebooklm/scripts/run.py
  skills/documentation/research/notebooklm/scripts/setup_environment.py
Due: markdownlint, tessl-lint, tessl-review

feat(planning-toolkit): add wave-executor skill and extend wave format with Model column
  README.md
  docs/src/content/docs/tiles.md
  skills/project-mgmt/planning-toolkit/tile.json
  skills/project-mgmt/planning-toolkit/wave-execution-planner/evals/scenario-7/capability.txt
  skills/project-mgmt/planning-toolkit/wave-execution-planner/evals/scenario-7/criteria.json
  skills/project-mgmt/planning-toolkit/wave-execution-planner/evals/scenario-7/task.md
  skills/project-mgmt/planning-toolkit/wave-execution-planner/references/wave-document.yaml
  skills/project-mgmt/planning-toolkit/wave-execution-planner/references/wave-format.md
  skills/project-mgmt/planning-toolkit/wave-executor/SKILL.md
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-1/capability.txt
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-1/criteria.json
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-1/task.md
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-2/capability.txt
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-2/criteria.json
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-2/task.md
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-3/capability.txt
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-3/criteria.json
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-3/task.md
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-4/capability.txt
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-4/criteria.json
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-4/task.md
  skills/project-mgmt/planning-toolkit/wave-executor/references/model-tier-guide.md
  skills/project-mgmt/planning-toolkit/wave-executor/references/per-agent-template.md
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review, tessl-publish-check

feat(planning-toolkit): add wave-executor skill and extend wave format with Model column (#78)
  README.md
  docs/src/content/docs/tiles.md
  skills/project-mgmt/planning-toolkit/tile.json
  skills/project-mgmt/planning-toolkit/wave-execution-planner/evals/scenario-7/capability.txt
  skills/project-mgmt/planning-toolkit/wave-execution-planner/evals/scenario-7/criteria.json
  skills/project-mgmt/planning-toolkit/wave-execution-planner/evals/scenario-7/task.md
  skills/project-mgmt/planning-toolkit/wave-execution-planner/references/wave-document.yaml
  skills/project-mgmt/planning-toolkit/wave-execution-planner/references/wave-format.md
  skills/project-mgmt/planning-toolkit/wave-executor/SKILL.md
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-1/capability.txt
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-1/criteria.json
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-1/task.md
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-2/capability.txt
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-2/criteria.json
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-2/task.md
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-3/capability.txt
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-3/criteria.json
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-3/task.md
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-4/capability.txt
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-4/criteria.json
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-4/task.md
  skills/project-mgmt/planning-toolkit/wave-executor/references/model-tier-guide.md
  skills/project-mgmt/planning-toolkit/wave-executor/references/per-agent-template.md
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review, tessl-publish-check

refactor(planning-toolkit): abstract model tiers from provider-specific names
  skills/project-mgmt/planning-toolkit/wave-execution-planner/evals/scenario-7/criteria.json
  skills/project-mgmt/planning-toolkit/wave-execution-planner/references/wave-document.yaml
  skills/project-mgmt/planning-toolkit/wave-execution-planner/references/wave-format.md
  skills/project-mgmt/planning-toolkit/wave-executor/SKILL.md
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-1/criteria.json
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-1/task.md
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-2/criteria.json
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-2/task.md
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-4/task.md
  skills/project-mgmt/planning-toolkit/wave-executor/references/model-map.yaml
  skills/project-mgmt/planning-toolkit/wave-executor/references/model-tier-guide.md
  skills/project-mgmt/planning-toolkit/wave-executor/references/per-agent-template.md
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review

refactor(planning-toolkit): abstract model tiers from provider-specific names (#79)
  skills/project-mgmt/planning-toolkit/wave-execution-planner/evals/scenario-7/criteria.json
  skills/project-mgmt/planning-toolkit/wave-execution-planner/references/wave-document.yaml
  skills/project-mgmt/planning-toolkit/wave-execution-planner/references/wave-format.md
  skills/project-mgmt/planning-toolkit/wave-executor/SKILL.md
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-1/criteria.json
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-1/task.md
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-2/criteria.json
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-2/task.md
  skills/project-mgmt/planning-toolkit/wave-executor/evals/scenario-4/task.md
  skills/project-mgmt/planning-toolkit/wave-executor/references/model-map.yaml
  skills/project-mgmt/planning-toolkit/wave-executor/references/model-tier-guide.md
  skills/project-mgmt/planning-toolkit/wave-executor/references/per-agent-template.md
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review

chore(punchlist): update after eval scenario migration (#80)
  PUNCHLIST.md
Due: markdownlint

fix(skills): convert allowed-tools from YAML array to comma-separated string
  skills/agentic-harness/create-context/SKILL.md
  skills/agentic-harness/load-context/SKILL.md
  skills/agentic-harness/pin/SKILL.md
  skills/agentic-harness/save-context/SKILL.md
  skills/software-engineering/bridge/SKILL.md
  skills/software-engineering/challenge/SKILL.md
  skills/specialized/retrospect-collab/SKILL.md
  skills/specialized/retrospect-domain/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

chore(punchlist): mark Section 5 complete — 12 digital-stoic skills imported (#82)
  PUNCHLIST.md
Due: markdownlint

fix(docs): escape {title} template placeholder in sci-hub-search SKILL.md
  skills/documentation/research/sci-hub-search/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

fix(scholar-evaluation): remove broken link to unimplemented calculate_scores.py
  skills/documentation/research/scholar-evaluation/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

fix(bridge): remove duplicate old-format scenario-*/ subdirs from evals
  docs/src/content/docs/tiles.md
  skills/software-engineering/bridge/evals/scenario-01/capability.txt
  skills/software-engineering/bridge/evals/scenario-01/criteria.json
  skills/software-engineering/bridge/evals/scenario-01/task.md
  skills/software-engineering/bridge/evals/scenario-02/capability.txt
  skills/software-engineering/bridge/evals/scenario-02/criteria.json
  skills/software-engineering/bridge/evals/scenario-02/task.md
  skills/software-engineering/bridge/evals/scenario-03/capability.txt
  skills/software-engineering/bridge/evals/scenario-03/criteria.json
  skills/software-engineering/bridge/evals/scenario-03/task.md
  skills/software-engineering/bridge/evals/scenario-04/capability.txt
  skills/software-engineering/bridge/evals/scenario-04/criteria.json
  skills/software-engineering/bridge/evals/scenario-04/task.md
  skills/software-engineering/bridge/evals/scenario-05/capability.txt
  skills/software-engineering/bridge/evals/scenario-05/criteria.json
  skills/software-engineering/bridge/evals/scenario-05/task.md
Due: biome, markdownlint

chore: update triage-tool with settled filename and frontmatter conventions
  skills/documentation/research/triage-tool/SKILL.md
  skills/documentation/research/triage-tool/assets/schemas/analysis-tool.schema.json
  skills/documentation/research/triage-tool/assets/schemas/repro-tool.schema.json
  skills/documentation/research/triage-tool/assets/templates/ANALYSIS-tool.yaml
  skills/documentation/research/triage-tool/assets/templates/REPRO-tool.yaml
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review

chore: update dependencies in tessl.json to latest versions
  tessl.json
Due: biome

fix(triage-tool): replace Stage 1/2/3 section checks with actual required sections
  skills/documentation/research/triage-tool/assets/templates/ANALYSIS-tool.yaml
  skills/documentation/research/triage-tool/scripts/validate-analysis-tool.sh
Due: yamllint, shellcheck

feat(skills): add chezmoi dotfiles manager skill
  README.md
  docs/src/content/docs/tiles.md
  skills/specialized/chezmoi/chezmoi-assistant/SKILL.md
  skills/specialized/chezmoi/chezmoi-assistant/evals/scenario-01.md
  skills/specialized/chezmoi/chezmoi-assistant/evals/scenario-02.md
  skills/specialized/chezmoi/chezmoi-assistant/evals/scenario-03.md
  skills/specialized/chezmoi/chezmoi-assistant/references/commands.md
  skills/specialized/chezmoi/chezmoi-assistant/references/source-attrs.md
  skills/specialized/chezmoi/chezmoi-assistant/references/templates.md
  skills/specialized/chezmoi/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix(chezmoi): remove flagged URLs to clear security warnings
  docs/src/content/docs/tiles.md
  skills/specialized/chezmoi/chezmoi-assistant/SKILL.md
  skills/specialized/chezmoi/chezmoi-assistant/references/templates.md
  skills/specialized/chezmoi/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

feat(chezmoi): add managing-chezmoi-packages skill to chezmoi tile
  README.md
  docs/src/content/docs/tiles.md
  skills/specialized/chezmoi/managing-chezmoi-packages/SKILL.md
  skills/specialized/chezmoi/managing-chezmoi-packages/references/ecosystem-guide.md
  skills/specialized/chezmoi/managing-chezmoi-packages/references/externals-reference.md
  skills/specialized/chezmoi/managing-chezmoi-packages/references/renovate-integration.md
  skills/specialized/chezmoi/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

feat(chezmoi): add eval scenarios and anti-patterns to managing-chezmoi-packages skill
  docs/src/content/docs/tiles.md
  skills/specialized/chezmoi/managing-chezmoi-packages/SKILL.md
  skills/specialized/chezmoi/managing-chezmoi-packages/evals/instructions.json
  skills/specialized/chezmoi/managing-chezmoi-packages/evals/scenario-0/capability.txt
  skills/specialized/chezmoi/managing-chezmoi-packages/evals/scenario-0/criteria.json
  skills/specialized/chezmoi/managing-chezmoi-packages/evals/scenario-0/task.md
  skills/specialized/chezmoi/managing-chezmoi-packages/evals/scenario-1/capability.txt
  skills/specialized/chezmoi/managing-chezmoi-packages/evals/scenario-1/criteria.json
  skills/specialized/chezmoi/managing-chezmoi-packages/evals/scenario-1/task.md
  skills/specialized/chezmoi/managing-chezmoi-packages/evals/scenario-2/capability.txt
  skills/specialized/chezmoi/managing-chezmoi-packages/evals/scenario-2/criteria.json
  skills/specialized/chezmoi/managing-chezmoi-packages/evals/scenario-2/task.md
  skills/specialized/chezmoi/managing-chezmoi-packages/evals/scenario-3/capability.txt
  skills/specialized/chezmoi/managing-chezmoi-packages/evals/scenario-3/criteria.json
  skills/specialized/chezmoi/managing-chezmoi-packages/evals/scenario-3/task.md
  skills/specialized/chezmoi/managing-chezmoi-packages/evals/scenario-4/capability.txt
  skills/specialized/chezmoi/managing-chezmoi-packages/evals/scenario-4/criteria.json
  skills/specialized/chezmoi/managing-chezmoi-packages/evals/scenario-4/task.md
  skills/specialized/chezmoi/managing-chezmoi-packages/evals/summary.json
  skills/specialized/chezmoi/managing-chezmoi-packages/evals/summary_infeasible.json
  skills/specialized/chezmoi/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

refactor(jira-ticket-readyup): replace Python-embedded shell script with Bun TypeScript
  skills/project-mgmt/issue-tracker-toolkit/jira-ticket-readyup/SKILL.md
  skills/project-mgmt/issue-tracker-toolkit/jira-ticket-readyup/scripts/validate-ticket.sh
  skills/project-mgmt/issue-tracker-toolkit/jira-ticket-readyup/scripts/validate-ticket.ts
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review

fix(jira-ticket-readyup): rewrite validate-ticket as Bun TypeScript with AJV JSON schema
  bun.lock
  package.json
  skills/project-mgmt/issue-tracker-toolkit/jira-ticket-readyup/scripts/validate-ticket.ts
Due: biome

feat(ci): integrate skill-validator into pre-push hooks and GitHub Actions
  .github/workflows/skill-validate.yml
  lefthook.yml
Due: yamllint

fix(ci): install skill-validator via go install instead of mise github backend
  .github/workflows/skill-validate.yml
Due: yamllint

fix(ci): treat skill-validator exit 2 (warnings) as non-blocking
  .github/workflows/skill-validate.yml
Due: yamllint

fix(ci): add set +e to prevent bash -e from swallowing exit code
  .github/workflows/skill-validate.yml
Due: yamllint

chore(audits): commit missing chezmoi managing-packages audit (2026-04-24)
  .context/audits/specialized/chezmoi/managing-chezmoi-packages/2026-04-24/analysis.md
  .context/audits/specialized/chezmoi/managing-chezmoi-packages/2026-04-24/audit.json
  .context/audits/specialized/chezmoi/managing-chezmoi-packages/2026-04-24/remediation-plan.md
  .context/audits/specialized/chezmoi/managing-chezmoi-packages/latest
  README.md
Due: biome, markdownlint, audit-readme-sync

feat(tools): add skill-auditor Go binary replacing evaluate.sh
  .gitignore
  lefthook.yml
  package.json
  skills/agentic-harness/skill-quality-auditor/SKILL.md
  skills/agentic-harness/skill-quality-auditor/references/advanced-pattern-recognition.md
  skills/agentic-harness/skill-quality-auditor/references/skill-taxonomy.md
  tools/skill-auditor/cmd/batch.go
  tools/skill-auditor/cmd/evaluate.go
  tools/skill-auditor/cmd/root.go
  tools/skill-auditor/go.mod
  tools/skill-auditor/go.sum
  tools/skill-auditor/main.go
  tools/skill-auditor/reporter/reporter.go
  tools/skill-auditor/reporter/reporter_test.go
  tools/skill-auditor/reporter/store.go
  tools/skill-auditor/reporter/store_test.go
  tools/skill-auditor/scorer/dimensions.go
  tools/skill-auditor/scorer/grades.go
  tools/skill-auditor/scorer/grades_test.go
  tools/skill-auditor/scorer/scorer.go
  tools/skill-auditor/scorer/scorer_test.go
  tools/skill-auditor/testdata/fixtures/skill-full/SKILL.md
  tools/skill-auditor/testdata/fixtures/skill-full/evals/instructions.json
  tools/skill-auditor/testdata/fixtures/skill-full/evals/scenario-1/capability.txt
  tools/skill-auditor/testdata/fixtures/skill-full/evals/scenario-1/criteria.json
  tools/skill-auditor/testdata/fixtures/skill-full/evals/scenario-1/task.md
  tools/skill-auditor/testdata/fixtures/skill-full/evals/scenario-2/capability.txt
  tools/skill-auditor/testdata/fixtures/skill-full/evals/scenario-2/criteria.json
  tools/skill-auditor/testdata/fixtures/skill-full/evals/scenario-2/task.md
  tools/skill-auditor/testdata/fixtures/skill-full/evals/scenario-3/capability.txt
  tools/skill-auditor/testdata/fixtures/skill-full/evals/scenario-3/criteria.json
  tools/skill-auditor/testdata/fixtures/skill-full/evals/scenario-3/task.md
  tools/skill-auditor/testdata/fixtures/skill-full/evals/summary.json
  tools/skill-auditor/testdata/fixtures/skill-full/references/deep-reference.md
  tools/skill-auditor/testdata/fixtures/skill-minimal/SKILL.md
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review
