Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
      stage_fixed: true
    skill-artifacts:
      run: ./skills/skill-quality-auditor/scripts/validate-skill-artifacts.sh {staged_files}
      stage_fixed: true
    audit-readme-sync:
      glob: ".context/audits/*.md"
      run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
      stage_fixed: true
    shellcheck:
      glob: "*.sh"
      run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
      stage_fixed: true
    tessl-lint:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
      stage_fixed: true
    tessl-review:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
      stage_fixed: true
    tessl-publish-check:
      glob: "skills/**/tile.json"
      run: ./scripts/tessl-publish-check.sh {staged_files}
      stage_fixed: true

ci(plumber): post advisory Plumber Score as a PR comment
  .github/workflows/plumber.yml
Due: yamllint

ci(plumber): upsert PR comment via gh pr comment --edit-last
  .github/workflows/plumber.yml
Due: yamllint

ci(plumber): non-blocking advisory scan + PR-comment reporting (#160)
  .github/workflows/plumber.yml
Due: yamllint

ci(dependabot): group pip updates by dependency across skills
  .github/dependabot.yml
Due: yamllint

ci(dependabot): group pip updates by dependency across skills (#159)
  .github/dependabot.yml
Due: yamllint

ci(plumber): authorize the repo's trusted action sources
  .plumber.yaml
Due: yamllint

ci(plumber): authorize the repo's trusted action sources (#161)
  .plumber.yaml
Due: yamllint

feat(governance): add CODEOWNERS (@thoroc) for main branch review
  .github/BRANCH_PROTECTION.md
  .github/CODEOWNERS
Due: markdownlint

docs(security): decision-support for Plumber ISSUE-505 branch protection
  .github/BRANCH_PROTECTION.md
Due: markdownlint

docs(security): accept Plumber ISSUE-505 for solo-maintainer repo
  .github/BRANCH_PROTECTION.md
  .github/CODEOWNERS
Due: markdownlint

docs(security): accept Plumber ISSUE-505 (solo-maintainer repo) (#162)
  .github/BRANCH_PROTECTION.md
Due: markdownlint

ci: add concurrency guards to PR-triggered workflows
  .github/workflows/codeql.yml
  .github/workflows/plumber.yml
  .github/workflows/pr-cli-tests.yml
  .github/workflows/pr-skill-checks.yml
  .github/workflows/skill-audit.yml
  .github/workflows/skill-validate.yml
Due: yamllint

ci: add concurrency guards to PR-triggered workflows (#163)
  .github/workflows/codeql.yml
  .github/workflows/plumber.yml
  .github/workflows/pr-cli-tests.yml
  .github/workflows/pr-skill-checks.yml
  .github/workflows/skill-audit.yml
  .github/workflows/skill-validate.yml
Due: yamllint

ci(codeql): upgrade to Node 24 actions and fix Go cache path
  .github/workflows/codeql.yml
Due: yamllint

ci(codeql): upgrade to Node 24 actions and fix Go cache path (#164)
  .github/workflows/codeql.yml
Due: yamllint

feat(create-context-file)!: organize by typology with date-prefixed filenames
  docs/src/content/docs/tiles.md
  skills/project-mgmt/create-context-file/.tessl-plugin/plugin.json
  skills/project-mgmt/create-context-file/SKILL.md
  skills/project-mgmt/create-context-file/evals/scenario-01.md
  skills/project-mgmt/create-context-file/evals/scenario-02.md
  skills/project-mgmt/create-context-file/evals/scenario-03.md
  skills/project-mgmt/create-context-file/evals/scenario-04.md
  skills/project-mgmt/create-context-file/evals/scenario-05.md
  skills/project-mgmt/create-context-file/references/cli.md
  skills/project-mgmt/create-context-file/references/typologies.md
  skills/project-mgmt/create-context-file/scripts/create-context-file.sh
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review

feat(create-context-file)!: organize by typology with date-prefixed filenames (#170)
  docs/src/content/docs/tiles.md
  skills/project-mgmt/create-context-file/.tessl-plugin/plugin.json
  skills/project-mgmt/create-context-file/SKILL.md
  skills/project-mgmt/create-context-file/evals/scenario-01.md
  skills/project-mgmt/create-context-file/evals/scenario-02.md
  skills/project-mgmt/create-context-file/evals/scenario-03.md
  skills/project-mgmt/create-context-file/evals/scenario-04.md
  skills/project-mgmt/create-context-file/evals/scenario-05.md
  skills/project-mgmt/create-context-file/references/cli.md
  skills/project-mgmt/create-context-file/references/typologies.md
  skills/project-mgmt/create-context-file/scripts/create-context-file.sh
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review

feat(rust): scaffold Cargo workspace and CI (A1)
  .github/workflows/rust-ci.yml
  .github/workflows/rust-release.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/common/Cargo.toml
  crates/common/src/lib.rs
  crates/skill-install/Cargo.toml
  crates/skill-install/src/lib.rs
  crates/skill-validator-rs/Cargo.toml
  crates/skill-validator-rs/src/lib.rs
  dist-workspace.toml
  mise.toml
Due: yamllint

feat(rust): scaffold Cargo workspace and CI (A1) (#172)
  .github/workflows/rust-ci.yml
  .github/workflows/rust-release.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/common/Cargo.toml
  crates/common/src/lib.rs
  crates/skill-install/Cargo.toml
  crates/skill-install/src/lib.rs
  crates/skill-validator-rs/Cargo.toml
  crates/skill-validator-rs/src/lib.rs
  dist-workspace.toml
  mise.toml
Due: yamllint

docs(plans): add monorepo tools distribution migration wave plan
  .context/plans/monorepo-tools-distribution.md
  .gitignore
Due: markdownlint

docs(plans): mark A1 (workspace scaffold) done
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

docs(mise): update tool versions and streamline git hook setup
  .gitignore
  bun.lock
  mise.toml
Due: none

docs(plans): mark C1 done
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

docs(plans): flip S1 checkbox to done
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

docs(plans): mark B1 + B3 done (distribution premises corrected)
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

docs(plans): mark R1 done
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

docs(plans): v4 review corrections + resolve open decisions (D1-D5)
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

docs(plans): mark S1 (validator spike) done
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

docs(plans): mark B4 done (validate-schema already untracked)
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

docs(plans): monorepo tools distribution migration plan (v4) (#171)
  .context/plans/monorepo-tools-distribution.md
  .gitignore
  bun.lock
  mise.toml
Due: markdownlint

docs(spike): skill-validator Go-free port spec (S1)
  .context/plans/skill-validator-port-spec.md
  .gitignore
Due: markdownlint
