Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
      stage_fixed: true
    skill-artifacts:
      run: ./skills/skill-quality-auditor/scripts/validate-skill-artifacts.sh {staged_files}
      stage_fixed: true
    audit-readme-sync:
      glob: ".context/audits/*.md"
      run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
      stage_fixed: true
    shellcheck:
      glob: "*.sh"
      run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
      stage_fixed: true
    tessl-lint:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
      stage_fixed: true
    tessl-review:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
      stage_fixed: true
    tessl-publish-check:
      glob: "skills/**/tile.json"
      run: ./scripts/tessl-publish-check.sh {staged_files}
      stage_fixed: true

docs(plan): link migration follow-ups to tracking issues #243-#249 (#250)
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

chore(registry): retire crate-embedded skills from Tessl registry
  .release-please-manifest.json
  AGENTS.md
  release-please-config.json
  skills/agentic-harness/skill-quality-auditor/.tessl-plugin/plugin.json
  skills/documentation/adr-creator/.tessl-plugin/plugin.json
  skills/documentation/journal-entry-creator/.tessl-plugin/plugin.json
Due: biome, markdownlint

chore(registry): retire crate-embedded skills from Tessl registry (#251)
  .release-please-manifest.json
  AGENTS.md
  release-please-config.json
  skills/agentic-harness/skill-quality-auditor/.tessl-plugin/plugin.json
  skills/documentation/adr-creator/.tessl-plugin/plugin.json
  skills/documentation/journal-entry-creator/.tessl-plugin/plugin.json
Due: biome, markdownlint

feat(journal): add taxonomy engine and advisory tag lint
  Cargo.lock
  crates/journal/Cargo.toml
  crates/journal/src/lib.rs
  crates/journal/src/lint.rs
  crates/journal/src/main.rs
  crates/journal/src/scan.rs
  crates/journal/src/skill_bundle.rs
  crates/journal/src/taxonomy.rs
  crates/journal/tests/lint.rs
  skills/documentation/journal-entry-creator/SKILL.md
  skills/documentation/journal-entry-creator/assets/taxonomy.default.json
  skills/documentation/journal-entry-creator/assets/taxonomy.schema.json
Due: biome, markdownlint, tessl-lint, tessl-review

chore(journal): move taxonomy schema under assets/schemas per skill convention
  skills/documentation/journal-entry-creator/.aislop/session.jsonl
  skills/documentation/journal-entry-creator/SKILL.md
  skills/documentation/journal-entry-creator/assets/schemas/taxonomy.schema.json
  skills/documentation/journal-entry-creator/assets/taxonomy.default.json
Due: biome, markdownlint, tessl-lint, tessl-review

docs(journal): gate CLI-backed skill features behind a prerequisite check
  .context/plans/skill-distribution.md
  skills/documentation/journal-entry-creator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

test(parity): drop journal-entry-creator from the frozen golden corpora
  .context/plans/skill-distribution.md
  crates/skill-auditor/tests/golden-corpus/README.md
  crates/skill-auditor/tests/golden-corpus/corpus.txt
  crates/skill-auditor/tests/golden-corpus/goldens.json
  crates/skill-validator-rs/tests/golden-corpus/README.md
  crates/skill-validator-rs/tests/golden-corpus/corpus.txt
  crates/skill-validator-rs/tests/golden-corpus/goldens.json
Due: biome, markdownlint

feat(journal): taxonomy engine and advisory tag lint (#252)
  .context/plans/skill-distribution.md
  Cargo.lock
  crates/journal/Cargo.toml
  crates/journal/src/lib.rs
  crates/journal/src/lint.rs
  crates/journal/src/main.rs
  crates/journal/src/scan.rs
  crates/journal/src/skill_bundle.rs
  crates/journal/src/taxonomy.rs
  crates/journal/tests/lint.rs
  crates/skill-auditor/tests/golden-corpus/README.md
  crates/skill-auditor/tests/golden-corpus/corpus.txt
  crates/skill-auditor/tests/golden-corpus/goldens.json
  crates/skill-validator-rs/tests/golden-corpus/README.md
  crates/skill-validator-rs/tests/golden-corpus/corpus.txt
  crates/skill-validator-rs/tests/golden-corpus/goldens.json
  skills/documentation/journal-entry-creator/.aislop/session.jsonl
  skills/documentation/journal-entry-creator/SKILL.md
  skills/documentation/journal-entry-creator/assets/schemas/taxonomy.schema.json
  skills/documentation/journal-entry-creator/assets/taxonomy.default.json
Due: biome, markdownlint, tessl-lint, tessl-review

refactor(tools)!: namespace binaries to pantheon-* and harden embedded skills
  .github/workflows/skill-audit.yml
  .gitignore
  AGENTS.md
  Cargo.lock
  README.md
  crates/adr/Cargo.toml
  crates/adr/src/install_cmd.rs
  crates/adr/src/main.rs
  crates/journal/Cargo.toml
  crates/journal/src/install_cmd.rs
  crates/journal/src/main.rs
  crates/journal/tests/lint.rs
  crates/skill-auditor/Cargo.toml
  crates/skill-auditor/src/install_cmd.rs
  crates/skill-auditor/src/main.rs
  crates/skill-auditor/tests/golden-corpus/README.md
  crates/skill-auditor/tests/golden-corpus/corpus.txt
  crates/skill-auditor/tests/golden-corpus/goldens.json
  crates/skill-validator-rs/tests/golden-corpus/corpus.txt
  crates/skill-validator-rs/tests/golden-corpus/goldens.json
  dist-workspace.toml
  docs/src/pages/index.astro
  docs/src/pages/tools.astro
  hk.pkl
  package.json
  skills/agentic-harness/skill-quality-auditor/SKILL.md
  skills/agentic-harness/skill-quality-auditor/evals/instructions.json
  skills/agentic-harness/skill-quality-auditor/evals/scenario-2/criteria.json
  skills/agentic-harness/skill-quality-auditor/evals/scenario-3/criteria.json
  skills/agentic-harness/skill-quality-auditor/evals/summary.json
  skills/documentation/adr-creator/SKILL.md
  skills/documentation/adr-creator/evals/instructions.json
  skills/documentation/adr-creator/evals/scenario-1/criteria.json
  skills/documentation/adr-creator/evals/scenario-2/criteria.json
  skills/documentation/adr-creator/evals/scenario-3/criteria.json
  skills/documentation/adr-creator/evals/summary.json
  skills/documentation/adr-creator/references/cli-usage.md
  skills/documentation/journal-entry-creator/.aislop/session.jsonl
  skills/documentation/journal-entry-creator/SKILL.md
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review

refactor(tools)!: namespace binaries to pantheon-* and harden embedded skills (#253)
  .github/workflows/skill-audit.yml
  .gitignore
  AGENTS.md
  Cargo.lock
  README.md
  crates/adr/Cargo.toml
  crates/adr/src/install_cmd.rs
  crates/adr/src/main.rs
  crates/journal/Cargo.toml
  crates/journal/src/install_cmd.rs
  crates/journal/src/main.rs
  crates/journal/tests/lint.rs
  crates/skill-auditor/Cargo.toml
  crates/skill-auditor/src/install_cmd.rs
  crates/skill-auditor/src/main.rs
  crates/skill-auditor/tests/golden-corpus/README.md
  crates/skill-auditor/tests/golden-corpus/corpus.txt
  crates/skill-auditor/tests/golden-corpus/goldens.json
  crates/skill-validator-rs/tests/golden-corpus/corpus.txt
  crates/skill-validator-rs/tests/golden-corpus/goldens.json
  dist-workspace.toml
  docs/src/pages/index.astro
  docs/src/pages/tools.astro
  hk.pkl
  package.json
  skills/agentic-harness/skill-quality-auditor/SKILL.md
  skills/agentic-harness/skill-quality-auditor/evals/instructions.json
  skills/agentic-harness/skill-quality-auditor/evals/scenario-2/criteria.json
  skills/agentic-harness/skill-quality-auditor/evals/scenario-3/criteria.json
  skills/agentic-harness/skill-quality-auditor/evals/summary.json
  skills/documentation/adr-creator/SKILL.md
  skills/documentation/adr-creator/evals/instructions.json
  skills/documentation/adr-creator/evals/scenario-1/criteria.json
  skills/documentation/adr-creator/evals/scenario-2/criteria.json
  skills/documentation/adr-creator/evals/scenario-3/criteria.json
  skills/documentation/adr-creator/evals/summary.json
  skills/documentation/adr-creator/references/cli-usage.md
  skills/documentation/journal-entry-creator/.aislop/session.jsonl
  skills/documentation/journal-entry-creator/SKILL.md
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review

feat(journal): add corpus index (pantheon-journal index)
  crates/journal/src/index.rs
  crates/journal/src/lib.rs
  crates/journal/src/lint.rs
  crates/journal/src/main.rs
  crates/journal/src/scan.rs
  crates/journal/tests/index.rs
  docs/src/pages/tools.astro
  skills/documentation/journal-entry-creator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

feat(journal): add corpus index (pantheon-journal index) (#254)
  crates/journal/src/index.rs
  crates/journal/src/lib.rs
  crates/journal/src/lint.rs
  crates/journal/src/main.rs
  crates/journal/src/scan.rs
  crates/journal/tests/index.rs
  docs/src/pages/tools.astro
  skills/documentation/journal-entry-creator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

feat(journal): add frontmatter backfill (pantheon-journal backfill)
  crates/journal/src/backfill.rs
  crates/journal/src/lib.rs
  crates/journal/src/main.rs
  crates/journal/src/scan.rs
  crates/journal/tests/backfill.rs
  docs/src/pages/tools.astro
  skills/documentation/journal-entry-creator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

feat(journal): add frontmatter backfill (pantheon-journal backfill) (#255)
  crates/journal/src/backfill.rs
  crates/journal/src/lib.rs
  crates/journal/src/main.rs
  crates/journal/src/scan.rs
  crates/journal/tests/backfill.rs
  docs/src/pages/tools.astro
  skills/documentation/journal-entry-creator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

test(parity): retire goref, self-bless golden gates from Rust (#212)
  .context/plans/skill-distribution.md
  crates/skill-auditor/tests/golden-corpus/README.md
  crates/skill-auditor/tests/golden-corpus/corpus.txt
  crates/skill-auditor/tests/golden-corpus/goldens.json
  crates/skill-auditor/tests/golden-corpus/goref/go.mod
  crates/skill-auditor/tests/golden-corpus/goref/go.sum
  crates/skill-auditor/tests/golden-corpus/goref/main.go
  crates/skill-auditor/tests/grade_parity.rs
  crates/skill-validator-rs/tests/golden-corpus/README.md
  crates/skill-validator-rs/tests/golden-corpus/corpus.txt
  crates/skill-validator-rs/tests/golden-corpus/goldens.json
  crates/skill-validator-rs/tests/golden-corpus/goref/go.mod
  crates/skill-validator-rs/tests/golden-corpus/goref/go.sum
  crates/skill-validator-rs/tests/golden-corpus/goref/main.go
  crates/skill-validator-rs/tests/golden_parity.rs
Due: biome, markdownlint

docs(hk): refresh stale 'Go-generated goldens' comment to 'Rust-blessed'
  hk.pkl
Due: none

test(parity): retire goref, self-bless golden gates from Rust (#212) (#256)
  .context/plans/skill-distribution.md
  crates/skill-auditor/tests/golden-corpus/README.md
  crates/skill-auditor/tests/golden-corpus/corpus.txt
  crates/skill-auditor/tests/golden-corpus/goldens.json
  crates/skill-auditor/tests/golden-corpus/goref/go.mod
  crates/skill-auditor/tests/golden-corpus/goref/go.sum
  crates/skill-auditor/tests/golden-corpus/goref/main.go
  crates/skill-auditor/tests/grade_parity.rs
  crates/skill-validator-rs/tests/golden-corpus/README.md
  crates/skill-validator-rs/tests/golden-corpus/corpus.txt
  crates/skill-validator-rs/tests/golden-corpus/goldens.json
  crates/skill-validator-rs/tests/golden-corpus/goref/go.mod
  crates/skill-validator-rs/tests/golden-corpus/goref/go.sum
  crates/skill-validator-rs/tests/golden-corpus/goref/main.go
  crates/skill-validator-rs/tests/golden_parity.rs
  hk.pkl
Due: biome, markdownlint

fix(skill-validator): accept consolidated generator/validator skill names (#243)
  .context/plans/monorepo-tools-distribution.md
  crates/skill-validator-rs/src/artifacts.rs
Due: markdownlint

fix(skill-validator): accept consolidated generator/validator skill names (#243) (#257)
  .context/plans/monorepo-tools-distribution.md
  crates/skill-validator-rs/src/artifacts.rs
Due: markdownlint

fix(skill-validator): accept consolidated names in structure validator (#243 follow-up)
  crates/skill-validator-rs/src/structure/frontmatter.rs
  crates/skill-validator-rs/tests/golden-corpus/goldens.json
Due: biome

fix(skill-validator): accept consolidated names in structure validator (#243 follow-up) (#259)
  crates/skill-validator-rs/src/structure/frontmatter.rs
  crates/skill-validator-rs/tests/golden-corpus/goldens.json
Due: biome

feat(skills): raise terraform-validator to B+ (#244)
  docs/src/content/docs/tiles.md
  skills/infrastructure/terraform/validator/SKILL.md
  skills/infrastructure/terraform/validator/evals/instructions.json
  skills/infrastructure/terraform/validator/evals/scenario-01/capability.txt
  skills/infrastructure/terraform/validator/evals/scenario-01/criteria.json
  skills/infrastructure/terraform/validator/evals/scenario-01/task.md
  skills/infrastructure/terraform/validator/evals/scenario-02/capability.txt
  skills/infrastructure/terraform/validator/evals/scenario-02/criteria.json
  skills/infrastructure/terraform/validator/evals/scenario-02/task.md
  skills/infrastructure/terraform/validator/evals/scenario-03/capability.txt
  skills/infrastructure/terraform/validator/evals/scenario-03/criteria.json
  skills/infrastructure/terraform/validator/evals/scenario-03/task.md
  skills/infrastructure/terraform/validator/evals/summary.json
Due: biome, markdownlint, tessl-lint, tessl-review

feat(skills): raise observability promql skills to C+ (#244)
  docs/src/content/docs/tiles.md
  skills/observability/promql/generator/SKILL.md
  skills/observability/promql/generator/evals/instructions.json
  skills/observability/promql/generator/evals/scenario-01/capability.txt
  skills/observability/promql/generator/evals/scenario-01/criteria.json
  skills/observability/promql/generator/evals/scenario-01/task.md
  skills/observability/promql/generator/evals/scenario-02/capability.txt
  skills/observability/promql/generator/evals/scenario-02/criteria.json
  skills/observability/promql/generator/evals/scenario-02/task.md
  skills/observability/promql/generator/evals/scenario-03/capability.txt
  skills/observability/promql/generator/evals/scenario-03/criteria.json
  skills/observability/promql/generator/evals/scenario-03/task.md
  skills/observability/promql/generator/evals/summary.json
  skills/observability/promql/validator/SKILL.md
  skills/observability/promql/validator/evals/instructions.json
  skills/observability/promql/validator/evals/scenario-01/capability.txt
  skills/observability/promql/validator/evals/scenario-01/criteria.json
  skills/observability/promql/validator/evals/scenario-01/task.md
  skills/observability/promql/validator/evals/scenario-02/capability.txt
  skills/observability/promql/validator/evals/scenario-02/criteria.json
  skills/observability/promql/validator/evals/scenario-02/task.md
  skills/observability/promql/validator/evals/scenario-03/capability.txt
  skills/observability/promql/validator/evals/scenario-03/criteria.json
  skills/observability/promql/validator/evals/scenario-03/task.md
  skills/observability/promql/validator/evals/summary.json
Due: biome, markdownlint, tessl-lint, tessl-review

feat(skills): raise observability promql skills to C+ (#244) (#263)
  docs/src/content/docs/tiles.md
  skills/observability/promql/generator/SKILL.md
  skills/observability/promql/generator/evals/instructions.json
  skills/observability/promql/generator/evals/scenario-01/capability.txt
  skills/observability/promql/generator/evals/scenario-01/criteria.json
  skills/observability/promql/generator/evals/scenario-01/task.md
  skills/observability/promql/generator/evals/scenario-02/capability.txt
  skills/observability/promql/generator/evals/scenario-02/criteria.json
  skills/observability/promql/generator/evals/scenario-02/task.md
  skills/observability/promql/generator/evals/scenario-03/capability.txt
  skills/observability/promql/generator/evals/scenario-03/criteria.json
  skills/observability/promql/generator/evals/scenario-03/task.md
  skills/observability/promql/generator/evals/summary.json
  skills/observability/promql/validator/SKILL.md
  skills/observability/promql/validator/evals/instructions.json
  skills/observability/promql/validator/evals/scenario-01/capability.txt
  skills/observability/promql/validator/evals/scenario-01/criteria.json
  skills/observability/promql/validator/evals/scenario-01/task.md
  skills/observability/promql/validator/evals/scenario-02/capability.txt
  skills/observability/promql/validator/evals/scenario-02/criteria.json
  skills/observability/promql/validator/evals/scenario-02/task.md
  skills/observability/promql/validator/evals/scenario-03/capability.txt
  skills/observability/promql/validator/evals/scenario-03/criteria.json
  skills/observability/promql/validator/evals/scenario-03/task.md
  skills/observability/promql/validator/evals/summary.json
Due: biome, markdownlint, tessl-lint, tessl-review

fix(skill-validator): re-bless golden corpus to on-disk reality
  crates/skill-validator-rs/tests/golden-corpus/goldens.json
Due: biome

fix(skill-validator): accept consolidated toolkit skill names (#260)
  crates/skill-validator-rs/src/artifacts.rs
  crates/skill-validator-rs/src/structure/frontmatter.rs
  crates/skill-validator-rs/tests/golden-corpus/goldens.json
Due: biome

style(skill-validator-rs): apply cargo fmt to frontmatter.rs
  crates/skill-validator-rs/src/structure/frontmatter.rs
Due: none

chore(skill-auditor): re-bless golden corpus after #244 grade changes
  crates/skill-auditor/tests/golden-corpus/goldens.json
Due: biome

fix(skill-validator): accept consolidated toolkit skill names (#260) (#264)
  crates/skill-auditor/tests/golden-corpus/goldens.json
  crates/skill-validator-rs/src/artifacts.rs
  crates/skill-validator-rs/src/structure/frontmatter.rs
  crates/skill-validator-rs/tests/golden-corpus/goldens.json
Due: biome

docs(proof-of-work): check for project-specific evidence location first
  skills/documentation/proof-of-work/skills/proof-of-work/references/artifact-storage.md
Due: markdownlint

docs(proof-of-work): check for project-specific evidence location first (#270)
  skills/documentation/proof-of-work/skills/proof-of-work/references/artifact-storage.md
Due: markdownlint

feat(skills): import nasa-pm-lessons from Journal repo, genericize for redistribution
  skills/project-mgmt/nasa-pm-lessons/SKILL.md
  skills/project-mgmt/nasa-pm-lessons/evals/instructions.json
  skills/project-mgmt/nasa-pm-lessons/evals/scenario-01/capability.txt
  skills/project-mgmt/nasa-pm-lessons/evals/scenario-01/criteria.json
  skills/project-mgmt/nasa-pm-lessons/evals/scenario-01/task.md
  skills/project-mgmt/nasa-pm-lessons/evals/scenario-02/capability.txt
  skills/project-mgmt/nasa-pm-lessons/evals/scenario-02/criteria.json
  skills/project-mgmt/nasa-pm-lessons/evals/scenario-02/task.md
  skills/project-mgmt/nasa-pm-lessons/evals/scenario-03/capability.txt
  skills/project-mgmt/nasa-pm-lessons/evals/scenario-03/criteria.json
  skills/project-mgmt/nasa-pm-lessons/evals/scenario-03/task.md
  skills/project-mgmt/nasa-pm-lessons/evals/scenario-04/capability.txt
  skills/project-mgmt/nasa-pm-lessons/evals/scenario-04/criteria.json
  skills/project-mgmt/nasa-pm-lessons/evals/scenario-04/task.md
  skills/project-mgmt/nasa-pm-lessons/evals/scenario-05/capability.txt
  skills/project-mgmt/nasa-pm-lessons/evals/scenario-05/criteria.json
  skills/project-mgmt/nasa-pm-lessons/evals/scenario-05/task.md
  skills/project-mgmt/nasa-pm-lessons/evals/summary.json
  skills/project-mgmt/nasa-pm-lessons/references/contractor-relations.md
  skills/project-mgmt/nasa-pm-lessons/references/customer-stakeholder-relations.md
  skills/project-mgmt/nasa-pm-lessons/references/design-engineering.md
  skills/project-mgmt/nasa-pm-lessons/references/managing-project-staff.md
  skills/project-mgmt/nasa-pm-lessons/references/planning-and-decisions.md
  skills/project-mgmt/nasa-pm-lessons/references/working-with-superiors.md
Due: biome, markdownlint, tessl-lint, tessl-review

chore(catalog): regenerate skill catalog after Phase 5 import batch
  docs/src/content/docs/tiles.md
Due: markdownlint
