Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

fix: update-readme-ratings.sh syncs skills table dynamically
  README.md
  scripts/update-readme-ratings.sh
Due: markdownlint, shellcheck

fix: update-readme-ratings.sh supports new audits/<skill>/<date> structure
  scripts/update-readme-ratings.sh
Due: shellcheck

chore: update README with skill ratings and audit links
  README.md
  scripts/update-readme-ratings.sh
Due: markdownlint, shellcheck

fix: update-readme-ratings.sh handles malformed descriptions and date comparison
  scripts/simple-remediation.sh
  scripts/update-readme-ratings.sh
Due: shellcheck

fix: update-readme-ratings.sh cleans up corrupted descriptions with newlines
  README.md
  scripts/update-readme-ratings.sh
Due: markdownlint, shellcheck

fix: update-readme-ratings.sh correctly picks latest audit date
  README.md
  scripts/update-readme-ratings.sh
Due: markdownlint, shellcheck

fix: properly handle malformed skill descriptions in README
  README.md
  scripts/update-readme-ratings.sh
Due: markdownlint, shellcheck

chore: remove duplicate remediation plans already in audits
  .context/plans/acceptance-criteria-remediation-plan.md
  .context/plans/agents-md-remediation-plan.md
  .context/plans/bdd-testing-remediation-plan.md
  .context/plans/biome-complete-remediation-plan.md
  .context/plans/bun-development-remediation-plan.md
  .context/plans/cdk-nag-remediation-plan.md
  .context/plans/cfn-behavior-validator-remediation-plan.md
  .context/plans/cfn-template-compare-remediation-plan.md
  .context/plans/colyseus-multiplayer-remediation-plan.md
  .context/plans/commanderjs-remediation-plan.md
  .context/plans/conventional-commits-remediation-plan.md
  .context/plans/create-context-file-remediation-plan.md
  .context/plans/extending-nx-plugins-remediation-plan.md
  .context/plans/github-copilot-models-remediation-plan.md
  .context/plans/implementation-plan-splitter-remediation-plan.md
  .context/plans/markdown-authoring-remediation-plan.md
  .context/plans/mise-complete-remediation-plan.md
  .context/plans/moscow-prioritization-remediation-plan.md
  .context/plans/nx-biome-integration-remediation-plan.md
  .context/plans/nx-bun-integration-remediation-plan.md
  .context/plans/nx-executors-remediation-plan.md
  .context/plans/nx-generators-remediation-plan.md
  .context/plans/nx-vite-integration-remediation-plan.md
  .context/plans/nx-workspace-patterns-remediation-plan.md
  .context/plans/opencode-config-remediation-plan.md
  .context/plans/plain-english-remediation-plan.md
  .context/plans/skill-quality-auditor-remediation-plan.md
  .context/plans/software-design-principles-remediation-plan.md
  .context/plans/test-driven-development-remediation-plan.md
  .context/plans/typescript-advanced-remediation-plan.md
  .context/plans/ui-debug-workflow-remediation-plan.md
Due: markdownlint

fix: properly extract multiline YAML descriptions in README updater
  README.md
  scripts/update-readme-ratings.sh
Due: markdownlint, shellcheck

audit(journal-entry-creator): add skill quality audit with B rating (101/120)
  .context/audits/journal-entry-creator/2026-02-24/analysis.md
  .context/audits/journal-entry-creator/2026-02-24/audit.json
  README.md
Due: biome, markdownlint, audit-readme-sync

fix: handle YAML block scalar indicators in skill description parsing
  README.md
  scripts/update-readme-ratings.sh
Due: markdownlint, shellcheck

feat: add tessl publishing scripts and pre-commit integration
  README.md
  lefthook.yml
  package.json
  skills/agents-md/tile.json
  skills/biome-complete/SKILL.md
  skills/biome-complete/tile.json
  skills/nx-executors/SKILL.md
  skills/nx-executors/references/concepts.md
  skills/nx-executors/references/troubleshooting.md
  skills/nx-executors/references/workspace-setup.md
  skills/nx-executors/tile.json
  skills/skill-quality-auditor/tile.json
  skills/software-design-principles/SKILL.md
  skills/software-design-principles/tile.json
  skills/test-driven-development/tile.json
Due: biome, markdownlint, yamllint

feat: add tessl skill evaluation scenarios and conversion skills
  .claude/skills/tessl__converting-skill-to-tessl-tile
  .claude/skills/tessl__creating-eval-scenarios
  .codex/config.toml
  .codex/skills/tessl__converting-skill-to-tessl-tile
  .codex/skills/tessl__creating-eval-scenarios
  .cursor/mcp.json
  .cursor/skills/tessl__converting-skill-to-tessl-tile
  .cursor/skills/tessl__creating-eval-scenarios
  .gemini/settings.json
  .gemini/skills/tessl__converting-skill-to-tessl-tile
  .gemini/skills/tessl__creating-eval-scenarios
  .github/skills/tessl__converting-skill-to-tessl-tile
  .github/skills/tessl__creating-eval-scenarios
  .mcp.json
  .tessl/tiles/tessl-labs/tessl-skill-eval-scenarios/README.md
  .tessl/tiles/tessl-labs/tessl-skill-eval-scenarios/converting-skill-to-tessl-tile/SKILL.md
  .tessl/tiles/tessl-labs/tessl-skill-eval-scenarios/creating-eval-scenarios/SKILL.md
  .tessl/tiles/tessl-labs/tessl-skill-eval-scenarios/creating-eval-scenarios/references/scenario-generation.md
  .tessl/tiles/tessl-labs/tessl-skill-eval-scenarios/tile.json
  bun.lock
  lefthook.yml
  tessl.json
Due: biome, markdownlint, yamllint

feat(agents-md): add eval scenarios for skill validation
  skills/agents-md/evals/instructions.json
  skills/agents-md/evals/scenario-0/capability.txt
  skills/agents-md/evals/scenario-0/criteria.json
  skills/agents-md/evals/scenario-0/task.md
  skills/agents-md/evals/scenario-1/capability.txt
  skills/agents-md/evals/scenario-1/criteria.json
  skills/agents-md/evals/scenario-1/task.md
  skills/agents-md/evals/scenario-2/capability.txt
  skills/agents-md/evals/scenario-2/criteria.json
  skills/agents-md/evals/scenario-2/task.md
  skills/agents-md/evals/scenario-3/capability.txt
  skills/agents-md/evals/scenario-3/criteria.json
  skills/agents-md/evals/scenario-3/task.md
  skills/agents-md/evals/scenario-4/capability.txt
  skills/agents-md/evals/scenario-4/criteria.json
  skills/agents-md/evals/scenario-4/task.md
  skills/agents-md/evals/summary.json
  skills/agents-md/evals/summary_infeasible.json
  skills/agents-md/tile.json
Due: biome, markdownlint

fix: update version to 0.1.1 in software design principles tile
  skills/software-design-principles/tile.json
Due: biome

feat: add eval scenarios for software-design-principles skill
  skills/software-design-principles/evals/instructions.json
  skills/software-design-principles/evals/scenario-0/capability.txt
  skills/software-design-principles/evals/scenario-0/criteria.json
  skills/software-design-principles/evals/scenario-0/task.md
  skills/software-design-principles/evals/scenario-1/capability.txt
  skills/software-design-principles/evals/scenario-1/criteria.json
  skills/software-design-principles/evals/scenario-1/task.md
  skills/software-design-principles/evals/scenario-2/capability.txt
  skills/software-design-principles/evals/scenario-2/criteria.json
  skills/software-design-principles/evals/scenario-2/task.md
  skills/software-design-principles/evals/scenario-3/capability.txt
  skills/software-design-principles/evals/scenario-3/criteria.json
  skills/software-design-principles/evals/scenario-3/task.md
  skills/software-design-principles/evals/scenario-4/capability.txt
  skills/software-design-principles/evals/scenario-4/criteria.json
  skills/software-design-principles/evals/scenario-4/task.md
  skills/software-design-principles/evals/scenario-5/capability.txt
  skills/software-design-principles/evals/scenario-5/criteria.json
  skills/software-design-principles/evals/scenario-5/task.md
  skills/software-design-principles/evals/scenario-6/capability.txt
  skills/software-design-principles/evals/scenario-6/criteria.json
  skills/software-design-principles/evals/scenario-6/task.md
  skills/software-design-principles/evals/summary.json
  skills/software-design-principles/evals/summary_infeasible.json
  skills/software-design-principles/tile.json
Due: biome, markdownlint

Add skill review optimizer and tile creator with comprehensive documentation
  .claude/skills/tessl__skill-review-optimizer
  .claude/skills/tessl__tile-creator
  .codex/skills/tessl__skill-review-optimizer
  .codex/skills/tessl__tile-creator
  .cursor/skills/tessl__skill-review-optimizer
  .cursor/skills/tessl__tile-creator
  .gemini/skills/tessl__skill-review-optimizer
  .gemini/skills/tessl__tile-creator
  .github/skills/tessl__skill-review-optimizer
  .github/skills/tessl__tile-creator
  .tessl/tiles/tessl-labs/skill-review-optimizer/SKILL.md
  .tessl/tiles/tessl-labs/skill-review-optimizer/references/SCORING_GUIDE.md
  .tessl/tiles/tessl-labs/skill-review-optimizer/references/STRATEGIES.md
  .tessl/tiles/tessl-labs/skill-review-optimizer/scripts/optimize_skill.py
  .tessl/tiles/tessl-labs/skill-review-optimizer/tile.json
  .tessl/tiles/tessl-labs/tile-creator/SKILL.md
  .tessl/tiles/tessl-labs/tile-creator/references/cli-commands.md
  .tessl/tiles/tessl-labs/tile-creator/references/docs-format.md
  .tessl/tiles/tessl-labs/tile-creator/references/rules-format.md
  .tessl/tiles/tessl-labs/tile-creator/references/skills-format.md
  .tessl/tiles/tessl-labs/tile-creator/references/tile-json.md
  .tessl/tiles/tessl-labs/tile-creator/references/workflows/tile-from-docs.md
  .tessl/tiles/tessl-labs/tile-creator/references/workflows/tile-from-scratch.md
  .tessl/tiles/tessl-labs/tile-creator/references/workflows/tile-from-source.md
  .tessl/tiles/tessl-labs/tile-creator/scripts/lint-tile.sh
  .tessl/tiles/tessl-labs/tile-creator/tile.json
  skills/software-design-principles/tile.json
  tessl.json
Due: biome, markdownlint, shellcheck

enhance(skill-quality-auditor): improve description with natural trigger terms
  skills/skill-quality-auditor/SKILL.md
Due: markdownlint

feat: add comprehensive evaluation scenarios for skill-quality-auditor
  skills/skill-quality-auditor/evals/instructions.json
  skills/skill-quality-auditor/evals/scenario-0/capability.txt
  skills/skill-quality-auditor/evals/scenario-0/criteria.json
  skills/skill-quality-auditor/evals/scenario-0/task.md
  skills/skill-quality-auditor/evals/scenario-1/capability.txt
  skills/skill-quality-auditor/evals/scenario-1/criteria.json
  skills/skill-quality-auditor/evals/scenario-1/task.md
  skills/skill-quality-auditor/evals/scenario-2/capability.txt
  skills/skill-quality-auditor/evals/scenario-2/criteria.json
  skills/skill-quality-auditor/evals/scenario-2/task.md
  skills/skill-quality-auditor/evals/scenario-3/capability.txt
  skills/skill-quality-auditor/evals/scenario-3/criteria.json
  skills/skill-quality-auditor/evals/scenario-3/task.md
  skills/skill-quality-auditor/evals/scenario-4/capability.txt
  skills/skill-quality-auditor/evals/scenario-4/criteria.json
  skills/skill-quality-auditor/evals/scenario-4/task.md
  skills/skill-quality-auditor/evals/summary.json
  skills/skill-quality-auditor/evals/summary_infeasible.json
Due: biome, markdownlint

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
