Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

refactor(promql-validator): apply tessl optimization
  skills/promql-validator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

chore(promql-validator): mark as public for publishing
  skills/promql-validator/tile.json
Due: biome, tessl-publish-check

refactor(terraform-generator): apply tessl optimization
  skills/terraform-generator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

fix(terragrunt-generator): address linting issues
  skills/terragrunt-generator/tile.json
Due: biome, tessl-publish-check

fix(typescript-advanced): address linting issues
  skills/typescript-advanced/SKILL.md
  skills/typescript-advanced/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix(terraform-validator): address linting issues
  skills/terraform-validator/assets/.terraform.lock.hcl
  skills/terraform-validator/assets/sample.tf
  skills/terraform-validator/tile.json
Due: biome, tessl-publish-check

fix(ui-debug-workflow): address linting issues
  skills/ui-debug-workflow/SKILL.md
  skills/ui-debug-workflow/references/INSTALL-SUMMARY.md
  skills/ui-debug-workflow/references/agent-browser-browser-automation.md
  skills/ui-debug-workflow/references/agent-browser-not-found-troubleshooting.md
  skills/ui-debug-workflow/references/blank-screenshots-troubleshooting.md
  skills/ui-debug-workflow/references/comprehensive-template-reporting.md
  skills/ui-debug-workflow/references/dom-snapshots-evidence-collection.md
  skills/ui-debug-workflow/references/git-context-evidence-collection.md
  skills/ui-debug-workflow/references/logs-evidence-collection.md
  skills/ui-debug-workflow/references/playwright-testing-browser-automation.md
  skills/ui-debug-workflow/references/programmatic-selection-troubleshooting.md
  skills/ui-debug-workflow/references/screenshots-evidence-collection.md
  skills/ui-debug-workflow/references/ui-debug-test.spec.ts
  skills/ui-debug-workflow/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

refactor(typescript-advanced): apply tessl optimization
  skills/typescript-advanced/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

chore(typescript-advanced): mark as public for tessl registry
  skills/typescript-advanced/tile.json
Due: biome, tessl-publish-check

refactor(terraform-validator): apply tessl optimization
  skills/terraform-validator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

chore(terraform-validator): mark as public for registry
  skills/terraform-validator/tile.json
Due: biome, tessl-publish-check

refactor(terragrunt-generator): apply tessl optimization
  skills/terragrunt-generator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

chore(terragrunt-generator): make tile public for publishing
  skills/terragrunt-generator/tile.json
Due: biome, tessl-publish-check

feat(terragrunt-validator): publish to tessl registry
  skills/terragrunt-validator/tile.json
Due: biome, tessl-publish-check

fix(promql-validator): complete directory migration to assets/references
  .context/tessl-publishing-report.md
  skills/promql-validator/assets/bad_queries.promql
  skills/promql-validator/assets/good_queries.promql
  skills/promql-validator/assets/optimization_examples.promql
  skills/promql-validator/references/anti_patterns.md
  skills/promql-validator/references/best_practices.md
Due: markdownlint

docs: update tessl publishing report with accurate skill counts and scores
  .context/tessl-publishing-report.md
Due: markdownlint

audit: acceptance-criteria quality review
  .context/acceptance-criteria-audit-20260302-190122.txt
Due: none

audit: ansible-generator quality review
  .context/ansible-generator-audit-20260302-190124.txt
Due: none

audit: agents-md quality review
  .context/agents-md-audit-20260302-190123.txt
Due: none

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
