Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

docs: update README.md skills table for domain structure
  scripts/regenerate-readme-table.sh
Due: shellcheck

chore(hooks): update lefthook paths for domain structure
  lefthook.yml
Due: yamllint

docs: add skill reorganization summary
  .context/skill-reorganization-summary.md
Due: markdownlint

refactor(docs): reorganize README with 12 domain-based skill tables
  README.md
  scripts/update-readme-ratings.sh
Due: markdownlint, shellcheck

fix(docs): remove debug output from README
  README.md
Due: markdownlint

fix(docs): simplify skill names in README tables
  scripts/update-readme-ratings.sh
Due: shellcheck

fix(docs): simplify skill names in README tables
  README.md
Due: markdownlint

fix(docs): include subdomain in skill display names
  scripts/update-readme-ratings.sh
Due: shellcheck

fix(docs): include subdomain in skill display names
  README.md
Due: markdownlint

feat(skills): add tessl-publish-public skill for public tile publishing
  skills/agentic-harness/tessl/tessl-publish-public/SKILL.md
  skills/agentic-harness/tessl/tessl-publish-public/evaluation-scenarios/scenario-01.md
  skills/agentic-harness/tessl/tessl-publish-public/evaluation-scenarios/scenario-02.md
  skills/agentic-harness/tessl/tessl-publish-public/evaluation-scenarios/scenario-03.md
  skills/agentic-harness/tessl/tessl-publish-public/evaluation-scenarios/scenario-04.md
  skills/agentic-harness/tessl/tessl-publish-public/evaluation-scenarios/scenario-05.md
  skills/agentic-harness/tessl/tessl-publish-public/evaluation-scenarios/scenario-06.md
  skills/agentic-harness/tessl/tessl-publish-public/evaluation-scenarios/scenario-07.md
  skills/agentic-harness/tessl/tessl-publish-public/evaluation-scenarios/scenario-08.md
  skills/agentic-harness/tessl/tessl-publish-public/evaluation-scenarios/scenario-09.md
  skills/agentic-harness/tessl/tessl-publish-public/references/public-publication-requirements.md
  skills/agentic-harness/tessl/tessl-publish-public/references/tile-json-schema.md
  skills/agentic-harness/tessl/tessl-publish-public/scripts/check-publication-readiness.sh
  skills/agentic-harness/tessl/tessl-publish-public/tile.json
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

refactor(tessl-publish-public): optimize skill based on tessl review
  skills/agentic-harness/tessl/tessl-publish-public/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

refactor(tessl-publish-public): remove verbose when to use sections
  skills/agentic-harness/tessl/tessl-publish-public/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

docs(readme): add tessl-publish-public skill to skills table
  README.md
Due: markdownlint

fix(tessl-publish-public): correct directory structure and add quality audit
  .context/audits/agentic-harness/tessl-publish-public/2026-03-03/analysis.md
  .context/audits/agentic-harness/tessl-publish-public/2026-03-03/audit.json
  .context/audits/agentic-harness/tessl-publish-public/2026-03-03/remediation-plan.md
  .context/audits/agentic-harness/tessl-publish-public/latest
  README.md
  skills/agentic-harness/tessl-publish-public/SKILL.md
  skills/agentic-harness/tessl-publish-public/evaluation-scenarios/scenario-01.md
  skills/agentic-harness/tessl-publish-public/evaluation-scenarios/scenario-02.md
  skills/agentic-harness/tessl-publish-public/evaluation-scenarios/scenario-03.md
  skills/agentic-harness/tessl-publish-public/evaluation-scenarios/scenario-04.md
  skills/agentic-harness/tessl-publish-public/evaluation-scenarios/scenario-05.md
  skills/agentic-harness/tessl-publish-public/evaluation-scenarios/scenario-06.md
  skills/agentic-harness/tessl-publish-public/evaluation-scenarios/scenario-07.md
  skills/agentic-harness/tessl-publish-public/evaluation-scenarios/scenario-08.md
  skills/agentic-harness/tessl-publish-public/evaluation-scenarios/scenario-09.md
  skills/agentic-harness/tessl-publish-public/references/public-publication-requirements.md
  skills/agentic-harness/tessl-publish-public/references/tile-json-schema.md
  skills/agentic-harness/tessl-publish-public/scripts/check-publication-readiness.sh
  skills/agentic-harness/tessl-publish-public/tile.json
Due: biome, markdownlint, audit-readme-sync, shellcheck, tessl-lint, tessl-review, tessl-publish-check

docs: update README with reorganized skill taxonomy
  README.md
Due: markdownlint

docs: update README with correct audit ratings after migration
  .context/audits/agentic-harness/skill-quality-auditor/2026-02-21/analysis.md
  .context/audits/agentic-harness/skill-quality-auditor/2026-02-21/audit.json
  .context/audits/agentic-harness/skill-quality-auditor/2026-02-21/remediation-plan.md
  .context/audits/agentic-harness/skill-quality-auditor/2026-02-22/analysis.md
  .context/audits/agentic-harness/skill-quality-auditor/2026-02-22/audit.json
  .context/audits/agentic-harness/skill-quality-auditor/2026-02-22/remediation-plan.md
  .context/audits/agentic-harness/skill-quality-auditor/2026-02-23/analysis.md
  .context/audits/agentic-harness/skill-quality-auditor/2026-02-23/audit.json
  .context/audits/agentic-harness/skill-quality-auditor/2026-02-23/remediation-plan.md
  .context/audits/agentic-harness/skill-quality-auditor/2026-03-02/analysis.md
  .context/audits/agentic-harness/skill-quality-auditor/2026-03-02/audit.json
  .context/audits/agentic-harness/skill-quality-auditor/2026-03-02/remediation-plan.md
  .context/audits/agentic-harness/skill-quality-auditor/latest
  .context/audits/agentic-harness/tessl/publish-public/2026-03-03/analysis.md
  .context/audits/agentic-harness/tessl/publish-public/2026-03-03/audit.json
  .context/audits/agentic-harness/tessl/publish-public/2026-03-03/remediation-plan.md
  .context/audits/agentic-harness/tessl/publish-public/latest
  README.md
Due: biome, markdownlint, audit-readme-sync

feat(tiles): add 15 consolidated sub-domain tiles
  skills/ci-cd/azure-pipelines/tile.json
  skills/ci-cd/fluentbit/tile.json
  skills/ci-cd/github-actions/tile.json
  skills/ci-cd/gitlab-ci/tile.json
  skills/ci-cd/helm/tile.json
  skills/ci-cd/jenkinsfile/tile.json
  skills/infrastructure/ansible/tile.json
  skills/infrastructure/cfn/tile.json
  skills/infrastructure/dockerfile/tile.json
  skills/infrastructure/k8s-yaml/tile.json
  skills/infrastructure/terraform/tile.json
  skills/infrastructure/terragrunt/tile.json
  skills/observability/promql/tile.json
  skills/repository-mgmt/nx/tile.json
Due: biome, tessl-publish-check

refactor(tiles)!: remove 31 individual skill tiles
  AGENTS.md
  scripts/manage-skills.sh
  skills/ci-cd/azure-pipelines/generator/tile.json
  skills/ci-cd/azure-pipelines/validator/tile.json
  skills/ci-cd/fluentbit/generator/tile.json
  skills/ci-cd/fluentbit/validator/tile.json
  skills/ci-cd/github-actions/generator/tile.json
  skills/ci-cd/github-actions/validator/tile.json
  skills/ci-cd/gitlab-ci/generator/tile.json
  skills/ci-cd/gitlab-ci/validator/tile.json
  skills/ci-cd/helm/generator/tile.json
  skills/ci-cd/helm/validator/tile.json
  skills/ci-cd/jenkinsfile/generator/tile.json
  skills/ci-cd/jenkinsfile/validator/tile.json
  skills/development/scripting/bash-script/generator/tile.json
  skills/development/scripting/bash-script/tile.json
  skills/development/scripting/bash-script/validator/tile.json
  skills/development/scripting/makefile/generator/tile.json
  skills/development/scripting/makefile/tile.json
  skills/development/scripting/makefile/validator/tile.json
  skills/infrastructure/ansible/generator/tile.json
  skills/infrastructure/ansible/validator/tile.json
  skills/infrastructure/dockerfile/generator/tile.json
  skills/infrastructure/dockerfile/validator/tile.json
  skills/infrastructure/k8s-yaml/generator/tile.json
  skills/infrastructure/k8s-yaml/validator/tile.json
  skills/infrastructure/terraform/generator/tile.json
  skills/infrastructure/terraform/validator/tile.json
  skills/infrastructure/terragrunt/generator/tile.json
  skills/infrastructure/terragrunt/validator/tile.json
  skills/observability/promql/generator/tile.json
  skills/observability/promql/validator/tile.json
  skills/repository-mgmt/nx/executors/tile.json
  skills/repository-mgmt/nx/extending-plugins/tile.json
  skills/repository-mgmt/nx/generators/tile.json
Due: biome, markdownlint, shellcheck, tessl-publish-check

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
