Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

feat(skill-auditor): add batch --details-markdown for the audit comment
  crates/skill-auditor/src/main.rs
  crates/skill-auditor/tests/batch_details.rs
  crates/skill-auditor/tests/golden-corpus/pr-detail/grade-b-google-scholar-search.txt
  crates/skill-auditor/tests/golden-corpus/pr-detail/grade-bplus-moscow-prioritization.txt
  crates/skill-auditor/tests/pr_detail_golden.rs
Due: none

ci(skill-audit): show where points were lost for each skill below A
  .github/workflows/skill-audit.yml
Due: yamllint

feat(skill-auditor): show scores only in the per-skill detail blocks
  crates/skill-auditor/src/reporter/pr_detail.rs
  crates/skill-auditor/src/reporter/remediation.rs
  crates/skill-auditor/tests/golden-corpus/pr-detail/grade-b-google-scholar-search.txt
  crates/skill-auditor/tests/golden-corpus/pr-detail/grade-bplus-moscow-prioritization.txt
Due: none

chore(trial): TEMPORARY skill audit trial state 1, drop before ready
  skills/agentic-harness/guided-interview/references/question-design.md
  skills/project-mgmt/goal-tracker/references/clarity-test.md
Due: markdownlint

feat(skill-auditor): render per-skill detail blocks for below-A skills
  crates/skill-auditor/src/reporter/mod.rs
  crates/skill-auditor/src/reporter/pr_detail.rs
  crates/skill-auditor/src/reporter/remediation.rs
Due: none

chore(trial): TEMPORARY skill audit trial state 2, drop before merge
  skills/agentic-harness/guided-interview/references/question-design.md
Due: markdownlint

feat(skill-audit): show where points were lost for each skill below A (#348)
  .github/workflows/skill-audit.yml
  crates/skill-auditor/src/main.rs
  crates/skill-auditor/src/reporter/mod.rs
  crates/skill-auditor/src/reporter/pr_detail.rs
  crates/skill-auditor/src/reporter/remediation.rs
  crates/skill-auditor/tests/batch_details.rs
  crates/skill-auditor/tests/golden-corpus/pr-detail/grade-b-google-scholar-search.txt
  crates/skill-auditor/tests/golden-corpus/pr-detail/grade-bplus-moscow-prioritization.txt
  crates/skill-auditor/tests/pr_detail_golden.rs
  skills/project-mgmt/goal-tracker/references/clarity-test.md
Due: markdownlint, yamllint

refactor(skill-auditor)!: remove the tessl-check command
  crates/journal/README.md
  crates/skill-auditor/src/lib.rs
  crates/skill-auditor/src/main.rs
  crates/skill-auditor/src/tessl.rs
  docs/src/pages/tools.astro
Due: markdownlint

refactor(skill-auditor)!: remove the tessl-check command (#352)
  crates/journal/README.md
  crates/skill-auditor/src/lib.rs
  crates/skill-auditor/src/main.rs
  crates/skill-auditor/src/tessl.rs
  docs/src/pages/tools.astro
Due: markdownlint

feat(skill-auditor): add check-stored, and name skills by repo-relative key in batch
  crates/skill-auditor/src/check_stored.rs
  crates/skill-auditor/src/lib.rs
  crates/skill-auditor/src/main.rs
  crates/skill-auditor/src/prune.rs
  crates/skill-auditor/tests/check_stored_cli.rs
  crates/skill-auditor/tests/stored_audit_has_no_machine_path.rs
  docs/src/pages/tools.astro
Due: none

feat(skill-auditor): add check-stored, and name skills by repo-relative key in batch (#353)
  crates/skill-auditor/src/check_stored.rs
  crates/skill-auditor/src/lib.rs
  crates/skill-auditor/src/main.rs
  crates/skill-auditor/src/prune.rs
  crates/skill-auditor/tests/check_stored_cli.rs
  crates/skill-auditor/tests/stored_audit_has_no_machine_path.rs
  docs/src/pages/tools.astro
Due: none

fix(goal-tracker): restore the original wording in the clarity test
  skills/project-mgmt/goal-tracker/references/clarity-test.md
Due: markdownlint

fix(goal-tracker): restore the original wording in the clarity test (#351)
  skills/project-mgmt/goal-tracker/references/clarity-test.md
Due: markdownlint

ci(skills): do not grade a skill for changes that only store its audit
  .github/workflows/skill-audit.yml
Due: yamllint

ci(skills): do not grade a skill for changes that only store its audit (#354)
  .github/workflows/skill-audit.yml
Due: yamllint

ci(skills): check stored audits before a push, and align the local grade gate with CI
  hk.pkl
  scripts/stored-audits/changed-skills.sh
  scripts/stored-audits/changed-skills.test.ts
  scripts/stored-audits/check.sh
  scripts/stored-audits/check.test.ts
Due: biome, shellcheck

ci(skills): fail a pull request whose skill has a stale audit, and check all skills on main
  .github/workflows/stored-audits-full-tree.yml
  .github/workflows/stored-audits.yml
Due: yamllint

chore(docs): remove Tessl install tabs, registry links and catalog code
  docs/scripts/prelink.mjs
  docs/src/components/SkillPageTitle.astro
  docs/src/components/SkillTabs.astro
  docs/src/components/TileLanding.astro
  docs/src/content.config.ts
  docs/src/content/docs/index.mdx
  docs/src/content/docs/tiles.md
  scripts/catalog/discovery/get-tile-tessl.test.ts
  scripts/catalog/discovery/get-tile-tessl.ts
  scripts/catalog/discovery/index.ts
  scripts/catalog/discovery/tessl-status.test.ts
  scripts/catalog/discovery/tessl-status.ts
  scripts/catalog/rendering/build-domain-docs-section.ts
Due: biome, markdownlint

ci(skills): regenerate the catalogue without installing packages
  .github/workflows/stored-audits.yml
Due: yamllint

chore(docs): remove Tessl install tabs, registry links and catalog code (#357)
  docs/scripts/prelink.mjs
  docs/src/components/SkillPageTitle.astro
  docs/src/components/SkillTabs.astro
  docs/src/components/TileLanding.astro
  docs/src/content.config.ts
  docs/src/content/docs/index.mdx
  docs/src/content/docs/tiles.md
  scripts/catalog/discovery/get-tile-tessl.test.ts
  scripts/catalog/discovery/get-tile-tessl.ts
  scripts/catalog/discovery/index.ts
  scripts/catalog/discovery/tessl-status.test.ts
  scripts/catalog/discovery/tessl-status.ts
  scripts/catalog/rendering/build-domain-docs-section.ts
Due: biome, markdownlint

ci(skills): pass changed paths to the helper through a file, not a pipe into bash
  .github/workflows/stored-audits.yml
Due: yamllint

ci(skills): show what differs when the catalogue check fails
  .github/workflows/stored-audits.yml
Due: yamllint

fix(catalog): sort discovered files so the generated catalogue is the same on every machine
  docs/src/content/docs/tiles.md
  scripts/catalog/discovery/find-all-skills.ts
  scripts/catalog/discovery/find-all-tiles.ts
  scripts/catalog/discovery/parse-file-list.test.ts
  scripts/catalog/discovery/parse-file-list.ts
Due: biome, markdownlint

ci(skills): stop stored skill audits going stale: pre-push hook, PR check and full-tree check (#356)
  .github/workflows/stored-audits-full-tree.yml
  .github/workflows/stored-audits.yml
  docs/src/content/docs/tiles.md
  hk.pkl
  scripts/catalog/discovery/find-all-skills.ts
  scripts/catalog/discovery/find-all-tiles.ts
  scripts/catalog/discovery/parse-file-list.test.ts
  scripts/catalog/discovery/parse-file-list.ts
  scripts/stored-audits/changed-skills.sh
  scripts/stored-audits/changed-skills.test.ts
  scripts/stored-audits/check.sh
  scripts/stored-audits/check.test.ts
Due: biome, markdownlint, yamllint, shellcheck

proof: rename a heading in the pin skill so its stored audit goes stale (do not merge)
  skills/agentic-harness/pin/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

proof: store the refreshed audit for the pin skill (do not merge)
  docs/src/content/docs/tiles.md
  skills/agentic-harness/pin/.audits/2026-10-02/Analysis.md
  skills/agentic-harness/pin/.audits/2026-10-02/Remediation.md
  skills/agentic-harness/pin/.audits/2026-10-02/audit.json
Due: biome, markdownlint

proof: comment-only change in the scorer crate (do not merge)
  crates/skill-auditor/src/check_stored.rs
Due: none

proof: lower a scoring bonus by one point (do not merge)
  crates/skill-auditor/src/scorer/d8_practical_usability.rs
Due: none

proof: a wrongly rated catalogue row, committed without the hook (do not merge)
  docs/src/content/docs/tiles.md
Due: markdownlint

docs(ci): propose requiring the Stored Audits and Catalogue Up To Date checks
  .github/BRANCH_PROTECTION.md
Due: markdownlint

docs(ci): propose requiring the Stored Audits and Catalogue Up To Date checks (#362)
  .github/BRANCH_PROTECTION.md
Due: markdownlint

docs(agents): state the language preference for scripts and tools
  AGENTS.md
Due: markdownlint

docs(agents): state the language preference for scripts and tools (#363)
  AGENTS.md
Due: markdownlint

chore(skills): store current audits for the two k8s skills
  docs/src/content/docs/tiles.md
  skills/infrastructure/k8s/yaml-generator/.audits/2026-10-02/Analysis.md
  skills/infrastructure/k8s/yaml-generator/.audits/2026-10-02/Remediation.md
  skills/infrastructure/k8s/yaml-generator/.audits/2026-10-02/audit.json
  skills/infrastructure/k8s/yaml-validator/.audits/2026-10-02/Analysis.md
  skills/infrastructure/k8s/yaml-validator/.audits/2026-10-02/Remediation.md
  skills/infrastructure/k8s/yaml-validator/.audits/2026-10-02/audit.json
Due: biome, markdownlint

docs(skill-quality-auditor): link the repository instead of a local path
  skills/agentic-harness/skill-quality-auditor/references/skill-taxonomy.md
Due: markdownlint

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
