Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
      stage_fixed: true
    skill-artifacts:
      run: ./skills/skill-quality-auditor/scripts/validate-skill-artifacts.sh {staged_files}
      stage_fixed: true
    audit-readme-sync:
      glob: ".context/audits/*.md"
      run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
      stage_fixed: true
    shellcheck:
      glob: "*.sh"
      run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
      stage_fixed: true
    tessl-lint:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
      stage_fixed: true
    tessl-review:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
      stage_fixed: true
    tessl-publish-check:
      glob: "skills/**/tile.json"
      run: ./scripts/tessl-publish-check.sh {staged_files}
      stage_fixed: true

feat(cli): add --interactive flag to uninstall command
  cli/commands/uninstall.ts
  cli/lib/install/index.ts
  cli/lib/install/select-skills-to-uninstall-interactively.ts
  cli/lib/install/uninstall-skills-for-agent.ts
  cli/lib/install/uninstall-skills.ts
Due: biome

fix(cli): force exit after install/uninstall to prevent cliffy stdin hang
  cli/commands/install.ts
  cli/commands/uninstall.ts
Due: biome

feat(docs): migrate Starlight to bespoke Astro layout
  docs/astro.config.mjs
  docs/bun.lock
  docs/package.json
  docs/scripts/check-slugs.mjs
  docs/scripts/prelink.mjs
  docs/src/components/Breadcrumb.astro
  docs/src/components/FilterChips.astro
  docs/src/components/LeftNav.astro
  docs/src/components/NavToggle.astro
  docs/src/components/SearchBar.astro
  docs/src/components/SkillCard.astro
  docs/src/components/SkillPageTitle.astro
  docs/src/components/SkillSidebar.astro
  docs/src/components/SkillTabs.astro
  docs/src/components/ThemeToggle.astro
  docs/src/content.config.ts
  docs/src/content/docs/index.mdx
  docs/src/content/docs/tiles.md
  docs/src/layouts/BaseLayout.astro
  docs/src/layouts/DocsLayout.astro
  docs/src/layouts/SkillLayout.astro
  docs/src/pages/404.astro
  docs/src/pages/index.astro
  docs/src/pages/skills/[...slug].astro
  docs/src/pages/tiles.astro
  docs/src/styles/base.css
  docs/src/styles/custom.css
  docs/src/styles/tokens.css
Due: biome, markdownlint

fix(install): log all requested agents before deduplication
  cli/lib/install/install-skills.ts
  docs/src/content/docs/tiles.md
Due: biome, markdownlint

fix(install): deduplicate agents that resolve to the same target directory
  cli/lib/install/dedup-agents-by-target.ts
  cli/lib/install/index.ts
  cli/lib/install/install-skills.test.ts
  cli/lib/install/install-skills.ts
Due: biome

feat(cli): add uninstall command to remove project-owned skills
  cli/commands/uninstall.ts
  cli/index.ts
  cli/lib/install/classify-entry.ts
  cli/lib/install/display-uninstall-summary.ts
  cli/lib/install/find-installed-skills.ts
  cli/lib/install/index.ts
  cli/lib/install/is-owned-by-cwd.ts
  cli/lib/install/resolve-hard-copy-source.ts
  cli/lib/install/resolve-symlink-source.ts
  cli/lib/install/uninstall-skills-for-agent.ts
  cli/lib/install/uninstall-skills.ts
Due: biome

fix(install): log all requested agents before deduplication
  cli/lib/install/install-skills.ts
Due: biome

feat(uninstall): add --filter flag for fuzzy skill name matching
  cli/commands/uninstall.ts
  cli/lib/install/fuzzy-match-skill.test.ts
  cli/lib/install/fuzzy-match-skill.ts
  cli/lib/install/uninstall-skills-for-agent.ts
  cli/lib/install/uninstall-skills.ts
Due: biome

feat(docs): add astro-starlight tile with base, theme, and custom-component skills
  README.md
  docs/src/content/docs/tiles.md
  skills/documentation/astro-starlight/skills/starlight-base/SKILL.md
  skills/documentation/astro-starlight/skills/starlight-custom-component/SKILL.md
  skills/documentation/astro-starlight/skills/starlight-theme/SKILL.md
  skills/documentation/astro-starlight/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

feat(docs): add skill quality analysis, audit, and remediation plans for starlight-base, starlight-custom-component, and starlight-theme
  .context/audits/documentation/astro-starlight/skills/starlight-base/2026-03-17/analysis.md
  .context/audits/documentation/astro-starlight/skills/starlight-base/2026-03-17/audit.json
  .context/audits/documentation/astro-starlight/skills/starlight-base/2026-03-17/remediation-plan.md
  .context/audits/documentation/astro-starlight/skills/starlight-base/latest
  .context/audits/documentation/astro-starlight/skills/starlight-custom-component/2026-03-17/analysis.md
  .context/audits/documentation/astro-starlight/skills/starlight-custom-component/2026-03-17/audit.json
  .context/audits/documentation/astro-starlight/skills/starlight-custom-component/2026-03-17/remediation-plan.md
  .context/audits/documentation/astro-starlight/skills/starlight-custom-component/latest
  .context/audits/documentation/astro-starlight/skills/starlight-theme/2026-03-17/analysis.md
  .context/audits/documentation/astro-starlight/skills/starlight-theme/2026-03-17/audit.json
  .context/audits/documentation/astro-starlight/skills/starlight-theme/2026-03-17/remediation-plan.md
  .context/audits/documentation/astro-starlight/skills/starlight-theme/latest
Due: biome, markdownlint, audit-readme-sync

feat(docs): raise astro-starlight skills to A grade (126-131/140)
  docs/src/content/docs/tiles.md
  skills/documentation/astro-starlight/skills/starlight-base/SKILL.md
  skills/documentation/astro-starlight/skills/starlight-base/evals/instructions.json
  skills/documentation/astro-starlight/skills/starlight-base/evals/summary.json
  skills/documentation/astro-starlight/skills/starlight-custom-component/SKILL.md
  skills/documentation/astro-starlight/skills/starlight-custom-component/evals/instructions.json
  skills/documentation/astro-starlight/skills/starlight-theme/SKILL.md
  skills/documentation/astro-starlight/skills/starlight-theme/evals/instructions.json
  skills/documentation/astro-starlight/skills/starlight-theme/evals/summary.json
Due: biome, markdownlint, tessl-lint, tessl-review

refactor(astro-starlight): raise D2/D5/D8 scores across all 3 skills
  skills/documentation/astro-starlight/skills/starlight-base/SKILL.md
  skills/documentation/astro-starlight/skills/starlight-base/references/configuration-reference.md
  skills/documentation/astro-starlight/skills/starlight-custom-component/SKILL.md
  skills/documentation/astro-starlight/skills/starlight-custom-component/references/overrides-reference.md
  skills/documentation/astro-starlight/skills/starlight-theme/SKILL.md
  skills/documentation/astro-starlight/skills/starlight-theme/references/css-variables-reference.md
Due: markdownlint, tessl-lint, tessl-review

chore(audits): update astro-starlight quality audit results to A grade
  .context/audits/documentation/astro-starlight/skills/starlight-base/2026-03-17/analysis.md
  .context/audits/documentation/astro-starlight/skills/starlight-base/2026-03-17/audit.json
  .context/audits/documentation/astro-starlight/skills/starlight-custom-component/2026-03-17/analysis.md
  .context/audits/documentation/astro-starlight/skills/starlight-custom-component/2026-03-17/audit.json
  .context/audits/documentation/astro-starlight/skills/starlight-theme/2026-03-17/analysis.md
  .context/audits/documentation/astro-starlight/skills/starlight-theme/2026-03-17/audit.json
Due: biome, markdownlint, audit-readme-sync

feat(skill-quality-auditor): enforce lazy loading of references via D5
  skills/agentic-harness/skill-quality-auditor/SKILL.md
  skills/agentic-harness/skill-quality-auditor/references/detailed-anti-patterns.md
  skills/agentic-harness/skill-quality-auditor/references/framework-skill-judge-dimensions.md
Due: markdownlint, tessl-lint, tessl-review

feat(docs): migrate Starlight to bespoke Astro layout with tabbed skill view
  docs/astro.config.mjs
  docs/bun.lock
  docs/package.json
  docs/scripts/check-slugs.mjs
  docs/scripts/prelink.mjs
  docs/src/components/Breadcrumb.astro
  docs/src/components/FilterChips.astro
  docs/src/components/LeftNav.astro
  docs/src/components/NavToggle.astro
  docs/src/components/SearchBar.astro
  docs/src/components/SkillCard.astro
  docs/src/components/SkillPageTitle.astro
  docs/src/components/SkillSidebar.astro
  docs/src/components/SkillTabs.astro
  docs/src/components/ThemeToggle.astro
  docs/src/content.config.ts
  docs/src/content/docs/tiles.md
  docs/src/layouts/BaseLayout.astro
  docs/src/layouts/DocsLayout.astro
  docs/src/layouts/SkillLayout.astro
  docs/src/pages/404.astro
  docs/src/pages/index.astro
  docs/src/pages/skills/[...slug].astro
  docs/src/pages/tiles.astro
  docs/src/styles/base.css
  docs/src/styles/tokens.css
Due: biome, markdownlint

fix(ci): use --ignore-scripts on bun install to skip lefthook in CI
  .github/workflows/pr-cli-tests.yml
Due: yamllint

fix: add bunfig.toml to pin npm registry and regenerate lockfile
  bun.lock
  bunfig.toml
Due: none

feat(cli): add uninstall command with interactive mode and fuzzy filter (#28)
  .github/workflows/pr-cli-tests.yml
  bun.lock
  bunfig.toml
  cli/commands/install.ts
  cli/commands/uninstall.ts
  cli/index.ts
  cli/lib/install/classify-entry.ts
  cli/lib/install/dedup-agents-by-target.ts
  cli/lib/install/display-uninstall-summary.ts
  cli/lib/install/find-installed-skills.ts
  cli/lib/install/fuzzy-match-skill.test.ts
  cli/lib/install/fuzzy-match-skill.ts
  cli/lib/install/index.ts
  cli/lib/install/install-skills.test.ts
  cli/lib/install/install-skills.ts
  cli/lib/install/is-owned-by-cwd.ts
  cli/lib/install/resolve-hard-copy-source.ts
  cli/lib/install/resolve-symlink-source.ts
  cli/lib/install/select-skills-to-uninstall-interactively.ts
  cli/lib/install/uninstall-skills-for-agent.ts
  cli/lib/install/uninstall-skills.ts
Due: biome, yamllint

fix(skill-quality-auditor): enforce lazy loading of references in D5 (#30)
  skills/agentic-harness/skill-quality-auditor/SKILL.md
  skills/agentic-harness/skill-quality-auditor/references/detailed-anti-patterns.md
  skills/agentic-harness/skill-quality-auditor/references/framework-skill-judge-dimensions.md
Due: markdownlint, tessl-lint, tessl-review

feat(docs): replace Starlight with plain Astro + MDX (#31)
  docs/astro.config.mjs
  docs/bun.lock
  docs/package.json
  docs/scripts/check-slugs.mjs
  docs/scripts/prelink.mjs
  docs/src/components/Breadcrumb.astro
  docs/src/components/FilterChips.astro
  docs/src/components/LeftNav.astro
  docs/src/components/NavToggle.astro
  docs/src/components/SearchBar.astro
  docs/src/components/SkillCard.astro
  docs/src/components/SkillPageTitle.astro
  docs/src/components/SkillSidebar.astro
  docs/src/components/SkillTabs.astro
  docs/src/components/ThemeToggle.astro
  docs/src/content.config.ts
  docs/src/layouts/BaseLayout.astro
  docs/src/layouts/DocsLayout.astro
  docs/src/layouts/SkillLayout.astro
  docs/src/pages/404.astro
  docs/src/pages/index.astro
  docs/src/pages/skills/[...slug].astro
  docs/src/pages/tiles.astro
  docs/src/styles/base.css
  docs/src/styles/tokens.css
Due: biome

docs(plans): incorporate critical review into starlight migration plan
  .context/plans/docs-starlight-to-astro-migration.md
Due: markdownlint

docs: trim AGENTS.md to reduce agent session context by 68%
  AGENTS.md
Due: markdownlint

feat(docs): align theme with tessl.io registry
  docs/src/components/SkillTabs.astro
  docs/src/pages/skills/[...slug].astro
  docs/src/styles/base.css
  docs/src/styles/tokens.css
Due: none

feat(docs): add icons to skill tab buttons
  docs/src/components/SkillTabs.astro
Due: none
