Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
      stage_fixed: true
    skill-artifacts:
      run: ./skills/skill-quality-auditor/scripts/validate-skill-artifacts.sh {staged_files}
      stage_fixed: true
    audit-readme-sync:
      glob: ".context/audits/*.md"
      run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
      stage_fixed: true
    shellcheck:
      glob: "*.sh"
      run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
      stage_fixed: true
    tessl-lint:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
      stage_fixed: true
    tessl-review:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
      stage_fixed: true
    tessl-publish-check:
      glob: "skills/**/tile.json"
      run: ./scripts/tessl-publish-check.sh {staged_files}
      stage_fixed: true

refactor(extending-nx-plugins): apply tessl optimization
  skills/extending-nx-plugins/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

refactor(fluentbit-generator): apply tessl optimization
  skills/fluentbit-generator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

refactor(dockerfile-validator): apply tessl optimization
  skills/dockerfile-validator/SKILL.md
  skills/dockerfile-validator/assets/.dockerignore.example
  skills/dockerfile-validator/assets/bad-example.Dockerfile
  skills/dockerfile-validator/assets/golang-distroless.Dockerfile
  skills/dockerfile-validator/assets/good-example.Dockerfile
  skills/dockerfile-validator/assets/python-optimized.Dockerfile
  skills/dockerfile-validator/assets/security-issues.Dockerfile
  skills/dockerfile-validator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

refactor(dockerfile-generator): apply tessl optimization
  skills/dockerfile-generator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

fix(gitlab-ci-generator): address linting issues
  skills/fluentbit-validator/SKILL.md
  skills/fluentbit-validator/references/test-fixtures.md
  skills/fluentbit-validator/references/test-fixtures/invalid-missing-required.conf
  skills/fluentbit-validator/references/test-fixtures/invalid-opentelemetry.conf
  skills/fluentbit-validator/references/test-fixtures/invalid-security-issues.conf
  skills/fluentbit-validator/references/test-fixtures/invalid-tag-mismatch.conf
  skills/fluentbit-validator/references/test-fixtures/valid-basic.conf
  skills/fluentbit-validator/references/test-fixtures/valid-multioutput.conf
  skills/fluentbit-validator/references/test-fixtures/valid-opentelemetry.conf
  skills/github-copilot-models/SKILL.md
  skills/github-copilot-models/scripts/fetch-models.sh
  skills/gitlab-ci-generator/tile.json
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

fix(github-copilot-models): address linting issues
  skills/github-copilot-models/scripts/fetch-models.sh
Due: shellcheck

fix(fluentbit-validator): address linting issues
  skills/fluentbit-validator/SKILL.md
  skills/github-actions-validator/SKILL.md
  skills/github-actions-validator/assets/README.md
  skills/github-actions-validator/assets/outdated-versions.yml
  skills/github-actions-validator/assets/valid-ci.yml
  skills/github-actions-validator/assets/with-errors.yml
  skills/github-actions-validator/tile.json
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review, tessl-publish-check

refactor(github-copilot-models): apply tessl optimization
  skills/github-actions-generator/assets/examples/README.md
  skills/github-actions-generator/assets/examples/actions/setup-node-cached/action.yml
  skills/github-actions-generator/assets/examples/caching/docker-buildkit.yml
  skills/github-actions-generator/assets/examples/security/dependency-review.yml
  skills/github-actions-generator/assets/examples/security/sbom-attestation.yml
  skills/github-actions-generator/assets/examples/triggers/chatops-commands.yml
  skills/github-actions-generator/assets/examples/triggers/repository-dispatch.yml
  skills/github-actions-generator/assets/examples/triggers/workflow-orchestration.yml
  skills/github-actions-generator/assets/examples/workflows/docker-build-push.yml
  skills/github-actions-generator/assets/examples/workflows/go-ci.yml
  skills/github-actions-generator/assets/examples/workflows/monorepo-ci.yml
  skills/github-actions-generator/assets/examples/workflows/multi-environment-deploy.yml
  skills/github-actions-generator/assets/examples/workflows/nodejs-ci.yml
  skills/github-actions-generator/assets/examples/workflows/python-ci.yml
  skills/github-actions-generator/assets/examples/workflows/scheduled-tasks.yml
  skills/github-actions-generator/references/advanced-triggers.md
  skills/github-copilot-models/SKILL.md
Due: markdownlint, yamllint, tessl-lint, tessl-review

fix(github-copilot-models): remove broken reference to TROUBLESHOOTING.md
  skills/github-actions-generator/references/advanced-triggers.md
  skills/github-copilot-models/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

fix(github-actions-generator): address linting issues
  skills/github-actions-generator/references/advanced-triggers.md
Due: markdownlint

refactor(gitlab-ci-generator): apply tessl optimization
  skills/github-actions-generator/SKILL.md
  skills/gitlab-ci-generator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

chore(gitlab-ci-generator): set private to false for public registry
  skills/gitlab-ci-generator/tile.json
Due: biome, tessl-publish-check

refactor(github-actions-generator): apply tessl optimization
  skills/github-actions-generator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

chore(github-actions-generator): set private to false for public registry
  skills/github-actions-generator/tile.json
Due: biome, tessl-publish-check

refactor(fluentbit-validator): apply tessl optimization
  skills/fluentbit-validator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

refactor(github-actions-validator): apply tessl optimization
  skills/github-actions-validator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

fix(helm-generator): address linting issues
  skills/helm-generator/examples/webapp/.helmignore
  skills/helm-generator/examples/webapp/Chart.yaml
  skills/helm-generator/examples/webapp/templates/NOTES.txt
  skills/helm-generator/examples/webapp/templates/deployment.yaml
  skills/helm-generator/examples/webapp/templates/hpa.yaml
  skills/helm-generator/examples/webapp/templates/ingress.yaml
  skills/helm-generator/examples/webapp/templates/service.yaml
  skills/helm-generator/examples/webapp/templates/serviceaccount.yaml
  skills/helm-generator/examples/webapp/values.yaml
  skills/helm-generator/tile.json
Due: biome, yamllint, tessl-publish-check

fix(gitlab-ci-validator): address linting issues
  skills/gitlab-ci-validator/assets/basic-pipeline.gitlab-ci.yml
  skills/gitlab-ci-validator/assets/complex-workflow.gitlab-ci.yml
  skills/gitlab-ci-validator/assets/component-pipeline.gitlab-ci.yml
  skills/gitlab-ci-validator/assets/docker-build.gitlab-ci.yml
  skills/gitlab-ci-validator/assets/multi-stage.gitlab-ci.yml
  skills/gitlab-ci-validator/references/best-practices.md
  skills/gitlab-ci-validator/references/common-issues.md
  skills/gitlab-ci-validator/references/gitlab-ci-reference.md
Due: markdownlint, yamllint

fix(implementation-plan-splitter): address linting issues
  skills/implementation-plan-splitter/SKILL.md
  skills/implementation-plan-splitter/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

refactor(helm-validator): apply tessl optimization
  skills/helm-validator/SKILL.md
  skills/jenkinsfile-generator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review
