Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

feat(docs): add 2026-02-21 audit card to match directory tree
  .context/previews/skill-preview.html
Due: none

feat(docs): verbose dimension labels and D9 Eval Validation in audit cards
  .context/previews/skill-preview.html
Due: none

fix(docs): scope audit scroll to list container only
  .context/previews/skill-preview.html
Due: none

Revert "fix(docs): scope audit scroll to list container only"
  .context/previews/skill-preview.html
Due: none

fix(docs): scope audit scroll to list container with correct card height
  .context/previews/skill-preview.html
Due: none

fix(docs): correct audit card scroll-to-top position
  .context/previews/skill-preview.html
Due: none

refactor(docs): move References sidebar into References tab panel
  .context/previews/skill-preview.html
Due: none

fix(docs): correct skill-preview grade badge to reflect latest audit
  .context/previews/skill-preview.html
Due: none

feat(docs): add domain-preview page showing tiles for a domain
  .context/previews/domain-preview.html
Due: none

fix(docs): update tile-preview to show development-core instead of infrastructure-core
  .context/previews/tile-preview.html
Due: none

fix(docs): prevent underline on skill-entry card hover
  .context/previews/tile-preview.html
Due: none

feat(docs): add skills-preview and tiles-preview pages
  .context/previews/skill-preview.html
  .context/previews/skills-preview.html
  .context/previews/tile-preview.html
  .context/previews/tiles-preview.html
Due: none

fix(docs): flatten skills list when sorting by name or grade
  .context/previews/skills-preview.html
Due: none

fix(docs): make nav logo link to landing page across all previews
  .context/previews/domain-preview.html
  .context/previews/landing-preview.html
  .context/previews/skill-preview.html
  .context/previews/skills-preview.html
  .context/previews/tile-preview.html
  .context/previews/tiles-preview.html
Due: none

docs: add website hierarchy with site map and Mermaid diagram
  .context/website-hierarchy.md
Due: markdownlint

fix(previews): wire all nav, filter, and cross-page links
  .context/previews/domain-preview.html
  .context/previews/landing-preview.html
  .context/previews/skill-preview.html
  .context/previews/skills-preview.html
  .context/previews/tile-preview.html
  .context/previews/tiles-preview.html
Due: none

feat(previews): add 3 alternative theme variants with distinct layouts
  .context/previews/theme-amber/domain-preview.html
  .context/previews/theme-amber/landing-preview.html
  .context/previews/theme-amber/skill-preview.html
  .context/previews/theme-amber/skills-preview.html
  .context/previews/theme-amber/tile-preview.html
  .context/previews/theme-amber/tiles-preview.html
  .context/previews/theme-arctic/domain-preview.html
  .context/previews/theme-arctic/landing-preview.html
  .context/previews/theme-arctic/skill-preview.html
  .context/previews/theme-arctic/skills-preview.html
  .context/previews/theme-arctic/tile-preview.html
  .context/previews/theme-arctic/tiles-preview.html
  .context/previews/theme-midnight/domain-preview.html
  .context/previews/theme-midnight/landing-preview.html
  .context/previews/theme-midnight/skill-preview.html
  .context/previews/theme-midnight/skills-preview.html
  .context/previews/theme-midnight/tile-preview.html
  .context/previews/theme-midnight/tiles-preview.html
Due: none

refine(previews): polish all three theme variants
  .context/previews/theme-amber/domain-preview.html
  .context/previews/theme-amber/landing-preview.html
  .context/previews/theme-amber/skill-preview.html
  .context/previews/theme-amber/skills-preview.html
  .context/previews/theme-amber/tile-preview.html
  .context/previews/theme-amber/tiles-preview.html
  .context/previews/theme-arctic/domain-preview.html
  .context/previews/theme-arctic/landing-preview.html
  .context/previews/theme-arctic/skill-preview.html
  .context/previews/theme-arctic/skills-preview.html
  .context/previews/theme-arctic/tile-preview.html
  .context/previews/theme-arctic/tiles-preview.html
  .context/previews/theme-midnight/domain-preview.html
  .context/previews/theme-midnight/landing-preview.html
  .context/previews/theme-midnight/skill-preview.html
  .context/previews/theme-midnight/skills-preview.html
  .context/previews/theme-midnight/tile-preview.html
  .context/previews/theme-midnight/tiles-preview.html
Due: none

refine(previews/amber): editorial polish pass 2
  .context/previews/theme-amber/domain-preview.html
  .context/previews/theme-amber/landing-preview.html
  .context/previews/theme-amber/skill-preview.html
  .context/previews/theme-amber/skills-preview.html
  .context/previews/theme-amber/tile-preview.html
  .context/previews/theme-amber/tiles-preview.html
Due: none

fix(previews/amber): address all 12 Nielsen heuristic findings
  .context/previews/theme-amber/domain-preview.html
  .context/previews/theme-amber/landing-preview.html
  .context/previews/theme-amber/skill-preview.html
  .context/previews/theme-amber/skills-preview.html
  .context/previews/theme-amber/tile-preview.html
  .context/previews/theme-amber/tiles-preview.html
  .context/previews/theme-amber/ux-review.md
Due: markdownlint

feat(project-mgmt): add pr-decomposition skill
  README.md
  docs/src/content/docs/tiles.md
  skills/project-mgmt/pr-decomposition/AGENTS.md
  skills/project-mgmt/pr-decomposition/SKILL.md
  skills/project-mgmt/pr-decomposition/evals/instructions.json
  skills/project-mgmt/pr-decomposition/evals/scenario-0/capability.txt
  skills/project-mgmt/pr-decomposition/evals/scenario-0/criteria.json
  skills/project-mgmt/pr-decomposition/evals/scenario-0/task.md
  skills/project-mgmt/pr-decomposition/evals/scenario-1/capability.txt
  skills/project-mgmt/pr-decomposition/evals/scenario-1/criteria.json
  skills/project-mgmt/pr-decomposition/evals/scenario-1/task.md
  skills/project-mgmt/pr-decomposition/evals/scenario-2/capability.txt
  skills/project-mgmt/pr-decomposition/evals/scenario-2/criteria.json
  skills/project-mgmt/pr-decomposition/evals/scenario-2/task.md
  skills/project-mgmt/pr-decomposition/evals/scenario-3/capability.txt
  skills/project-mgmt/pr-decomposition/evals/scenario-3/criteria.json
  skills/project-mgmt/pr-decomposition/evals/scenario-3/task.md
  skills/project-mgmt/pr-decomposition/evals/summary.json
  skills/project-mgmt/pr-decomposition/references/anti-patterns.md
  skills/project-mgmt/pr-decomposition/references/worked-example.md
  skills/project-mgmt/pr-decomposition/references/workflow-steps.md
  skills/project-mgmt/pr-decomposition/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

chore: gitignore .env.keys (written by claude-code:pantheon-ai task)
  .gitignore
Due: none

feat(project-mgmt): add wave-execution-planner skill
  .gitignore
  README.md
  docs/src/content/docs/tiles.md
  skills/project-mgmt/wave-execution-planner/SKILL.md
  skills/project-mgmt/wave-execution-planner/evals/instructions.json
  skills/project-mgmt/wave-execution-planner/evals/scenario-1/capability.txt
  skills/project-mgmt/wave-execution-planner/evals/scenario-1/criteria.json
  skills/project-mgmt/wave-execution-planner/evals/scenario-1/task.md
  skills/project-mgmt/wave-execution-planner/evals/scenario-2/capability.txt
  skills/project-mgmt/wave-execution-planner/evals/scenario-2/criteria.json
  skills/project-mgmt/wave-execution-planner/evals/scenario-2/task.md
  skills/project-mgmt/wave-execution-planner/evals/scenario-3/capability.txt
  skills/project-mgmt/wave-execution-planner/evals/scenario-3/criteria.json
  skills/project-mgmt/wave-execution-planner/evals/scenario-3/task.md
  skills/project-mgmt/wave-execution-planner/evals/summary.json
  skills/project-mgmt/wave-execution-planner/references/dependency-analysis.md
  skills/project-mgmt/wave-execution-planner/references/status-tracking.md
  skills/project-mgmt/wave-execution-planner/references/wave-document.yaml
  skills/project-mgmt/wave-execution-planner/references/wave-format.md
  skills/project-mgmt/wave-execution-planner/tile.json
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review, tessl-publish-check

chore(audits): add missing skill quality audits
  .context/audits/project-mgmt/pr-decomposition/2026-04-03/analysis.md
  .context/audits/project-mgmt/pr-decomposition/2026-04-03/audit.json
  .context/audits/project-mgmt/pr-decomposition/2026-04-03/remediation-plan.md
  .context/audits/project-mgmt/pr-decomposition/latest
  .context/audits/project-mgmt/wave-execution-planner/2026-04-03/analysis.md
  .context/audits/project-mgmt/wave-execution-planner/2026-04-03/audit.json
  .context/audits/project-mgmt/wave-execution-planner/latest
  docs/src/content/docs/tiles.md
Due: biome, markdownlint, audit-readme-sync

feat(evals): add scenarios to reach 5 evals per new skill
  docs/src/content/docs/tiles.md
  skills/project-mgmt/pr-decomposition/evals/scenario-4/capability.txt
  skills/project-mgmt/pr-decomposition/evals/scenario-4/criteria.json
  skills/project-mgmt/pr-decomposition/evals/scenario-4/task.md
  skills/project-mgmt/pr-decomposition/evals/summary.json
  skills/project-mgmt/wave-execution-planner/evals/scenario-4/capability.txt
  skills/project-mgmt/wave-execution-planner/evals/scenario-4/criteria.json
  skills/project-mgmt/wave-execution-planner/evals/scenario-4/task.md
  skills/project-mgmt/wave-execution-planner/evals/scenario-5/capability.txt
  skills/project-mgmt/wave-execution-planner/evals/scenario-5/criteria.json
  skills/project-mgmt/wave-execution-planner/evals/scenario-5/task.md
  skills/project-mgmt/wave-execution-planner/evals/summary.json
Due: biome, markdownlint

chore(ci): migrate publish workflow to tesslio/setup-tessl@v2
  .github/workflows/publish-skills.yml
Due: yamllint

chore(gitignore): replace broken .github/ dir ignore with .github/skills/
  .gitignore
Due: none

chore(gitignore): ignore **/.tools/ local tool directories
  .gitignore
Due: none

chore(deps): add RoleModel/rolemodel-skills laws-of-ux and usability-heuristics
  tessl.json
Due: biome

feat(agentic-harness): add socratic-method skill
  README.md
  docs/src/content/docs/tiles.md
  skills/agentic-harness/socratic-method/SKILL.md
  skills/agentic-harness/socratic-method/evals/scenario-1/capability.txt
  skills/agentic-harness/socratic-method/evals/scenario-1/criteria.json
  skills/agentic-harness/socratic-method/evals/scenario-1/task.md
  skills/agentic-harness/socratic-method/evals/scenario-2/capability.txt
  skills/agentic-harness/socratic-method/evals/scenario-2/criteria.json
  skills/agentic-harness/socratic-method/evals/scenario-2/task.md
  skills/agentic-harness/socratic-method/evals/scenario-3/capability.txt
  skills/agentic-harness/socratic-method/evals/scenario-3/criteria.json
  skills/agentic-harness/socratic-method/evals/scenario-3/task.md
  skills/agentic-harness/socratic-method/evals/scenario-4/capability.txt
  skills/agentic-harness/socratic-method/evals/scenario-4/criteria.json
  skills/agentic-harness/socratic-method/evals/scenario-4/task.md
  skills/agentic-harness/socratic-method/evals/summary.json
  skills/agentic-harness/socratic-method/references/anti-patterns.md
  skills/agentic-harness/socratic-method/references/classical-foundations.md
  skills/agentic-harness/socratic-method/references/question-taxonomy.md
  skills/agentic-harness/socratic-method/references/worked-examples.md
  skills/agentic-harness/socratic-method/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix(skill-quality-auditor): use || true to suppress grep -c non-zero exit under set -e
  skills/agentic-harness/skill-quality-auditor/scripts/evaluate.sh
Due: shellcheck

feat(socratic-method): improve skill quality D → A (95 → 128/140)
  .context/audits/agentic-harness/socratic-method/2026-04-03/analysis.md
  .context/audits/agentic-harness/socratic-method/2026-04-03/audit.json
  .context/audits/agentic-harness/socratic-method/2026-04-03/remediation-plan.md
  .context/audits/agentic-harness/socratic-method/latest
  docs/src/content/docs/tiles.md
  skills/agentic-harness/socratic-method/SKILL.md
  skills/agentic-harness/socratic-method/evals/instructions.json
  skills/agentic-harness/socratic-method/evals/scenario-1/criteria.json
  skills/agentic-harness/socratic-method/evals/scenario-2/criteria.json
  skills/agentic-harness/socratic-method/evals/scenario-3/criteria.json
  skills/agentic-harness/socratic-method/evals/scenario-4/criteria.json
Due: biome, markdownlint, audit-readme-sync, tessl-lint, tessl-review

feat(ci): add release-please for automated tile versioning
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Due: biome, yamllint

fix(ci): pin tesslio/setup-tessl to SHA and add version-change guard
  .github/workflows/publish-skills.yml
Due: yamllint

chore: ignore entire .context/ directory instead of selected subdirs
  .gitignore
Due: none

fix(audit): guard against missing .context/audits dir; add fixture step for integration test
  cli/features/audit.feature
  cli/features/step-definitions/common.steps.ts
  cli/lib/audit/collect-audit-data.ts
  docs/src/content/docs/tiles.md
Due: biome, markdownlint

docs: fix stale counts and rule description in README and AGENTS
  AGENTS.md
  README.md
Due: markdownlint

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
