Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

fix: unblock the v0.2.0 tool releases (#289)
  Cargo.lock
  crates/adr/Cargo.toml
  crates/journal/Cargo.toml
  dist-workspace.toml
Due: none

fix(tools): report the real version instead of a hardcoded 0.1.0
  crates/adr/src/main.rs
  crates/journal/src/main.rs
  crates/skill-auditor/src/main.rs
Due: none

fix(tools): report the real version instead of a hardcoded 0.1.0 (#290)
  crates/adr/src/main.rs
  crates/journal/src/main.rs
  crates/skill-auditor/src/main.rs
Due: none

fix(ci): redeploy the docs when a tool crate version changes
  .github/workflows/deploy-docs.yml
Due: yamllint

fix(ci): redeploy the docs when a tool crate version changes (#291)
  .github/workflows/deploy-docs.yml
Due: yamllint

fix(tools): re-cut so the shipped binaries report their real version
  Cargo.lock
  README.md
  crates/adr/Cargo.toml
  crates/journal/Cargo.toml
  crates/skill-auditor/Cargo.toml
Due: markdownlint

fix(tools): re-cut so the shipped binaries report their real version (#292)
  Cargo.lock
  README.md
  crates/adr/Cargo.toml
  crates/journal/Cargo.toml
  crates/skill-auditor/Cargo.toml
Due: markdownlint

ci(rust): run the Rust gates on a skills/** change
  .github/workflows/rust-ci.yml
Due: yamllint

fix(google-scholar-search): drop an unused time import
  crates/skill-auditor/tests/golden-corpus/fixtures/grade-b-google-scholar-search/scripts/google-scholar-search.py
  skills/documentation/research/google-scholar-search/scripts/google-scholar-search.py
Due: none

ci: stop checkouts persisting credentials
  .github/workflows/aislop.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/plumber.yml
  .github/workflows/pr-skill-checks.yml
  .github/workflows/publish-skills.yml
  .github/workflows/python-allowlist.yml
  .github/workflows/rust-ci.yml
  .github/workflows/skill-audit.yml
Due: yamllint

ci: give every job a timeout
  .github/workflows/aislop.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/plumber.yml
  .github/workflows/pr-auto-rebase.yml
  .github/workflows/pr-skill-checks.yml
  .github/workflows/publish-skills.yml
  .github/workflows/python-allowlist.yml
  .github/workflows/release-automerge.yml
  .github/workflows/release-please.yml
  .github/workflows/rust-ci.yml
  .github/workflows/skill-audit.yml
Due: yamllint

chore: add editorconfig, taplo, and shellcheck configuration
  .editorconfig
  .shellcheckrc
  .taplo.toml
  mise.toml
Due: none

style: normalise comment spacing in dist-workspace.toml
  dist-workspace.toml
Due: none

ci: scope write permissions to the jobs that need them
  .github/workflows/deploy-docs.yml
  .github/workflows/pr-skill-checks.yml
Due: yamllint

ci: add zizmor workflow security scanning
  .github/workflows/zizmor.yml
  .github/zizmor.yml
Due: yamllint

ci: lint workflows with actionlint
  .github/actionlint.yaml
  hk.pkl
  mise.toml
Due: yamllint

ci: check pull request titles are conventional commits
  .github/commit-types.txt
  .github/workflows/conventional-commits.yml
  AGENTS.md
  hk.pkl
  scripts/check-commit-types.sh
  scripts/test-commit-title-regex.sh
Due: markdownlint, yamllint, shellcheck

docs: wrap a bare URL in branch protection notes
  .github/BRANCH_PROTECTION.md
Due: markdownlint

docs: record which status checks actually gate main
  .github/BRANCH_PROTECTION.md
  .github/workflows/conventional-commits.yml
  .github/workflows/zizmor.yml
Due: markdownlint, yamllint

fix(skills): repair broken eval links and an unclosed code fence
  skills/agentic-harness/opencode-toolkit/build-plugins/SKILL.md
  skills/agentic-harness/opencode-toolkit/build-plugins/references/hook-patterns.md
  skills/agentic-harness/opencode-toolkit/build-tool/SKILL.md
  skills/agentic-harness/opencode-toolkit/configure/SKILL.md
  skills/agentic-harness/opencode-toolkit/design-agents/SKILL.md
  skills/agentic-harness/opencode-toolkit/design-commands/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

fix: stop yamllint aborting on template files
  hk.pkl
Due: none

fix: stop biome scanning generated build output
  biome.json
Due: biome

fix: stop biome linting .astro files
  biome.json
Due: biome

fix: stop markdownlint scanning installed and generated trees
  .markdownlint-cli2.jsonc
Due: biome

fix: exclude nested generated trees from markdownlint
  .markdownlint-cli2.jsonc
Due: biome

ci: add cargo-deny configuration and its runbook
  AGENTS.md
  deny.toml
  mise.toml
Due: markdownlint

ci: cache Rust builds and make the supply-chain check a gate
  .github/workflows/rust-ci.yml
Due: yamllint

ci: watch for advisories on a schedule
  .github/workflows/advisories.yml
Due: yamllint

feat(context): add goals as a curated typology
  skills/project-mgmt/context-index/scripts/regenerate-context-index.sh
  skills/project-mgmt/create-context-file/assets/schemas/context-frontmatter.schema.json
  skills/project-mgmt/create-context-file/references/typologies.md
  skills/project-mgmt/create-context-file/scripts/create-context-file.sh
Due: biome, markdownlint, shellcheck

feat(project-mgmt): add goal-tracker skill
  docs/src/content/docs/tiles.md
  skills/project-mgmt/goal-tracker/CHANGELOG.md
  skills/project-mgmt/goal-tracker/SKILL.md
  skills/project-mgmt/goal-tracker/assets/goal-template.md.tmpl
  skills/project-mgmt/goal-tracker/assets/schemas/goal-frontmatter.schema.json
  skills/project-mgmt/goal-tracker/references/clarity-test.md
  skills/project-mgmt/goal-tracker/references/evidence.md
  skills/project-mgmt/goal-tracker/references/promotion.md
  skills/project-mgmt/goal-tracker/scripts/goal.sh
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review

refactor(project-mgmt): raise goal-tracker from F to A on the audit
  docs/src/content/docs/tiles.md
  skills/project-mgmt/goal-tracker/CHANGELOG.md
  skills/project-mgmt/goal-tracker/SKILL.md
  skills/project-mgmt/goal-tracker/evals/instructions.json
  skills/project-mgmt/goal-tracker/evals/scenario-1/capability.txt
  skills/project-mgmt/goal-tracker/evals/scenario-1/criteria.json
  skills/project-mgmt/goal-tracker/evals/scenario-1/task.md
  skills/project-mgmt/goal-tracker/evals/scenario-2/capability.txt
  skills/project-mgmt/goal-tracker/evals/scenario-2/criteria.json
  skills/project-mgmt/goal-tracker/evals/scenario-2/task.md
  skills/project-mgmt/goal-tracker/evals/scenario-3/capability.txt
  skills/project-mgmt/goal-tracker/evals/scenario-3/criteria.json
  skills/project-mgmt/goal-tracker/evals/scenario-3/task.md
  skills/project-mgmt/goal-tracker/evals/scenario-4/capability.txt
  skills/project-mgmt/goal-tracker/evals/scenario-4/criteria.json
  skills/project-mgmt/goal-tracker/evals/scenario-4/task.md
  skills/project-mgmt/goal-tracker/evals/summary.json
  skills/project-mgmt/goal-tracker/references/clarity-test.md
  skills/project-mgmt/goal-tracker/references/evidence.md
  skills/project-mgmt/goal-tracker/references/file-shape.md
  skills/project-mgmt/goal-tracker/references/promotion.md
Due: biome, markdownlint, tessl-lint, tessl-review

docs(project-mgmt): drop the keyword tail from goal-tracker's description
  skills/project-mgmt/goal-tracker/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

fix(goal-tracker): substitute the title literally, whatever it contains
  skills/project-mgmt/goal-tracker/scripts/goal.sh
Due: shellcheck

fix(goal-tracker): stop dropping table rows that end in a tight pipe
  skills/project-mgmt/goal-tracker/scripts/goal.sh
Due: shellcheck

feat: track a session goal and answer what's left (#300)
  docs/src/content/docs/tiles.md
  skills/project-mgmt/context-index/scripts/regenerate-context-index.sh
  skills/project-mgmt/create-context-file/assets/schemas/context-frontmatter.schema.json
  skills/project-mgmt/create-context-file/references/typologies.md
  skills/project-mgmt/create-context-file/scripts/create-context-file.sh
  skills/project-mgmt/goal-tracker/CHANGELOG.md
  skills/project-mgmt/goal-tracker/SKILL.md
  skills/project-mgmt/goal-tracker/assets/goal-template.md.tmpl
  skills/project-mgmt/goal-tracker/assets/schemas/goal-frontmatter.schema.json
  skills/project-mgmt/goal-tracker/evals/instructions.json
  skills/project-mgmt/goal-tracker/evals/scenario-1/capability.txt
  skills/project-mgmt/goal-tracker/evals/scenario-1/criteria.json
  skills/project-mgmt/goal-tracker/evals/scenario-1/task.md
  skills/project-mgmt/goal-tracker/evals/scenario-2/capability.txt
  skills/project-mgmt/goal-tracker/evals/scenario-2/criteria.json
  skills/project-mgmt/goal-tracker/evals/scenario-2/task.md
  skills/project-mgmt/goal-tracker/evals/scenario-3/capability.txt
  skills/project-mgmt/goal-tracker/evals/scenario-3/criteria.json
  skills/project-mgmt/goal-tracker/evals/scenario-3/task.md
  skills/project-mgmt/goal-tracker/evals/scenario-4/capability.txt
  skills/project-mgmt/goal-tracker/evals/scenario-4/criteria.json
  skills/project-mgmt/goal-tracker/evals/scenario-4/task.md
  skills/project-mgmt/goal-tracker/evals/summary.json
  skills/project-mgmt/goal-tracker/references/clarity-test.md
  skills/project-mgmt/goal-tracker/references/evidence.md
  skills/project-mgmt/goal-tracker/references/file-shape.md
  skills/project-mgmt/goal-tracker/references/promotion.md
  skills/project-mgmt/goal-tracker/scripts/goal.sh
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review

fix(goal-tracker): use a YAML template schema, per the house convention
  skills/project-mgmt/goal-tracker/CHANGELOG.md
  skills/project-mgmt/goal-tracker/SKILL.md
  skills/project-mgmt/goal-tracker/assets/goal-template.md.tmpl
  skills/project-mgmt/goal-tracker/assets/schemas/goal-frontmatter.schema.json
  skills/project-mgmt/goal-tracker/assets/templates/goal.yaml
  skills/project-mgmt/goal-tracker/references/file-shape.md
  skills/project-mgmt/goal-tracker/scripts/goal.sh
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review

fix(goal-tracker): use a YAML template schema, per the house convention (#301)
  skills/project-mgmt/goal-tracker/CHANGELOG.md
  skills/project-mgmt/goal-tracker/SKILL.md
  skills/project-mgmt/goal-tracker/assets/goal-template.md.tmpl
  skills/project-mgmt/goal-tracker/assets/schemas/goal-frontmatter.schema.json
  skills/project-mgmt/goal-tracker/assets/templates/goal.yaml
  skills/project-mgmt/goal-tracker/references/file-shape.md
  skills/project-mgmt/goal-tracker/scripts/goal.sh
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
