Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
      stage_fixed: true
    skill-artifacts:
      run: ./skills/skill-quality-auditor/scripts/validate-skill-artifacts.sh {staged_files}
      stage_fixed: true
    audit-readme-sync:
      glob: ".context/audits/*.md"
      run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
      stage_fixed: true
    shellcheck:
      glob: "*.sh"
      run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
      stage_fixed: true
    tessl-lint:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
      stage_fixed: true
    tessl-review:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
      stage_fixed: true
    tessl-publish-check:
      glob: "skills/**/tile.json"
      run: ./scripts/tessl-publish-check.sh {staged_files}
      stage_fixed: true

docs(spike): skill-validator Go-free port spec (S1) (#173)
  .context/plans/skill-validator-port-spec.md
  .gitignore
Due: markdownlint

fix(release): repoint stale extra-files + versioning policy (R1)
  .context/plans/release-versioning-policy.md
  .gitignore
  release-please-config.json
Due: biome, markdownlint

fix(release): repoint stale extra-files + versioning policy (R1) (#174)
  .context/plans/release-versioning-policy.md
  .gitignore
  release-please-config.json
Due: biome, markdownlint

docs(distribution): corrected skill distribution model + coverage (B1+B3)
  .context/plans/skill-distribution.md
  .gitignore
Due: markdownlint

docs(distribution): corrected skill distribution model + coverage (B1+B3) (#175)
  .context/plans/skill-distribution.md
  .gitignore
Due: markdownlint

fix(ci): keep Skill Audit gate green on transient comment-API errors
  .github/workflows/skill-audit.yml
Due: yamllint

fix(ci): keep Skill Audit gate green on transient comment-API errors (#177)
  .github/workflows/skill-audit.yml
Due: yamllint

chore(python): authoritative inventory + allowlist + research markers (C1)
  .context/plans/python-inventory.md
  .gitignore
  python-allowlist.txt
  skills/documentation/research/google-scholar-search/SKILL.md
  skills/documentation/research/notebooklm/SKILL.md
  skills/documentation/research/pubmed-search/SKILL.md
  skills/documentation/research/sci-data-extractor/SKILL.md
  skills/documentation/research/sci-hub-search/SKILL.md
  skills/documentation/research/semantic-scholar-search/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

chore(python): authoritative inventory + allowlist + research markers (C1) (#176)
  .context/plans/python-inventory.md
  .gitignore
  python-allowlist.txt
  skills/documentation/research/google-scholar-search/SKILL.md
  skills/documentation/research/notebooklm/SKILL.md
  skills/documentation/research/pubmed-search/SKILL.md
  skills/documentation/research/sci-data-extractor/SKILL.md
  skills/documentation/research/sci-hub-search/SKILL.md
  skills/documentation/research/semantic-scholar-search/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

chore(release): remove stale entries + re-home toolkits (R1 4b follow-up)
  .release-please-manifest.json
  release-please-config.json
  skills/documentation/acceptance-criteria/CHANGELOG.md
  skills/project-mgmt/implementation-plan-splitter/CHANGELOG.md
  skills/project-mgmt/implementation-planner/CHANGELOG.md
  skills/project-mgmt/moscow-prioritization/CHANGELOG.md
  skills/project-mgmt/pr-decomposition/CHANGELOG.md
  skills/project-mgmt/wave-execution-planner/CHANGELOG.md
Due: biome, markdownlint

chore(release): remove stale entries + re-home toolkits (R1 4b follow-up) (#178)
  .release-please-manifest.json
  release-please-config.json
  skills/documentation/acceptance-criteria/CHANGELOG.md
  skills/project-mgmt/implementation-plan-splitter/CHANGELOG.md
  skills/project-mgmt/implementation-planner/CHANGELOG.md
  skills/project-mgmt/moscow-prioritization/CHANGELOG.md
  skills/project-mgmt/pr-decomposition/CHANGELOG.md
  skills/project-mgmt/wave-execution-planner/CHANGELOG.md
Due: biome, markdownlint

feat(rust): implement common crate (A2)
  Cargo.lock
  Cargo.toml
  crates/common/Cargo.toml
  crates/common/src/config.rs
  crates/common/src/error.rs
  crates/common/src/fs.rs
  crates/common/src/lib.rs
  crates/common/src/output.rs
Due: none

feat(rust): implement common crate (A2) (#179)
  Cargo.lock
  Cargo.toml
  crates/common/Cargo.toml
  crates/common/src/config.rs
  crates/common/src/error.rs
  crates/common/src/fs.rs
  crates/common/src/lib.rs
  crates/common/src/output.rs
Due: none

chore(python): replace inline python3 with jq + pin jq (C2)
  .github/workflows/skill-audit.yml
  hk.pkl
  mise.toml
Due: yamllint

chore(python): replace inline python3 with jq + pin jq (C2) (#180)
  .github/workflows/skill-audit.yml
  hk.pkl
  mise.toml
Due: yamllint

ci(release-please): cut releases weekly, refresh PR on push
  .github/workflows/release-please.yml
Due: yamllint

ci(release-please): cut releases weekly, refresh PR on push (#165)
  .github/workflows/release-please.yml
Due: yamllint

chore(python): allowlist validators/generators via root allowlist (C2b)
  .context/plans/monorepo-tools-distribution.md
  .context/plans/python-inventory.md
  python-allowlist.txt
Due: markdownlint

chore(python): allowlist validators/generators via root allowlist (C2b) (#181)
  .context/plans/monorepo-tools-distribution.md
  .context/plans/python-inventory.md
  python-allowlist.txt
Due: markdownlint

docs(plans): mark A2 + C2 done (Wave 2 complete)
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

docs(plans): mark A2 + C2 done (Wave 2 complete) (#183)
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

docs(plans): flip C2 checkbox to done
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

docs(plans): flip C2 checkbox to done (#184)
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

docs(plans): add living Execution progress + mark Wave 1-2 done
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

docs(plans): add living Execution progress + mark Wave 1-2 done (#185)
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint
