Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

feat(journal): add ticket-kickoff entry type (#318)
  crates/journal/src/entry.rs
  crates/journal/src/main.rs
  crates/journal/src/validate.rs
Due: none

feat(journal): accept an optional appendOnlyBaseline field in taxonomy.json
  crates/journal/src/taxonomy.rs
  skills/documentation/journal-entry-creator/assets/schemas/taxonomy.schema.json
Due: biome

feat(journal): accept an optional appendOnlyBaseline field in taxonomy.json (#319)
  crates/journal/src/taxonomy.rs
  skills/documentation/journal-entry-creator/assets/schemas/taxonomy.schema.json
Due: biome

feat(journal): add taxonomy sync, porting classify-tag and check-append-only
  crates/journal/src/lib.rs
  crates/journal/src/main.rs
  crates/journal/src/taxonomy_sync.rs
Due: none

fix(skills): restore eval scenarios lost during the flat-file cleanup
  docs/src/content/docs/tiles.md
  skills/agentic-harness/socratic-method/evals/scenario-0/capability.txt
  skills/agentic-harness/socratic-method/evals/scenario-0/criteria.json
  skills/agentic-harness/socratic-method/evals/scenario-0/task.md
  skills/agentic-harness/socratic-method/evals/scenario-1/capability.txt
  skills/agentic-harness/socratic-method/evals/scenario-1/criteria.json
  skills/agentic-harness/socratic-method/evals/scenario-1/task.md
  skills/agentic-harness/socratic-method/evals/scenario-2/capability.txt
  skills/agentic-harness/socratic-method/evals/scenario-2/criteria.json
  skills/agentic-harness/socratic-method/evals/scenario-2/task.md
  skills/agentic-harness/socratic-method/evals/scenario-3/capability.txt
  skills/agentic-harness/socratic-method/evals/scenario-3/criteria.json
  skills/agentic-harness/socratic-method/evals/scenario-3/task.md
  skills/agentic-harness/tessl/publish-public/evals/scenario-0/capability.txt
  skills/agentic-harness/tessl/publish-public/evals/scenario-0/criteria.json
  skills/agentic-harness/tessl/publish-public/evals/scenario-0/task.md
  skills/agentic-harness/tessl/publish-public/evals/scenario-1/capability.txt
  skills/agentic-harness/tessl/publish-public/evals/scenario-1/criteria.json
  skills/agentic-harness/tessl/publish-public/evals/scenario-1/task.md
  skills/agentic-harness/tessl/publish-public/evals/scenario-2/capability.txt
  skills/agentic-harness/tessl/publish-public/evals/scenario-2/criteria.json
  skills/agentic-harness/tessl/publish-public/evals/scenario-2/task.md
  skills/agentic-harness/tessl/publish-public/evals/scenario-3/capability.txt
  skills/agentic-harness/tessl/publish-public/evals/scenario-3/criteria.json
  skills/agentic-harness/tessl/publish-public/evals/scenario-3/task.md
  skills/agentic-harness/tessl/publish-public/evals/scenario-4/capability.txt
  skills/agentic-harness/tessl/publish-public/evals/scenario-4/criteria.json
  skills/agentic-harness/tessl/publish-public/evals/scenario-4/task.md
  skills/agentic-harness/tessl/publish-public/evals/scenario-5/capability.txt
  skills/agentic-harness/tessl/publish-public/evals/scenario-5/criteria.json
  skills/agentic-harness/tessl/publish-public/evals/scenario-5/task.md
  skills/agentic-harness/tessl/publish-public/evals/scenario-6/capability.txt
  skills/agentic-harness/tessl/publish-public/evals/scenario-6/criteria.json
  skills/agentic-harness/tessl/publish-public/evals/scenario-6/task.md
  skills/agentic-harness/tessl/publish-public/evals/scenario-7/capability.txt
  skills/agentic-harness/tessl/publish-public/evals/scenario-7/criteria.json
  skills/agentic-harness/tessl/publish-public/evals/scenario-7/task.md
  skills/agentic-harness/tessl/publish-public/evals/scenario-8/capability.txt
  skills/agentic-harness/tessl/publish-public/evals/scenario-8/criteria.json
  skills/agentic-harness/tessl/publish-public/evals/scenario-8/task.md
Due: biome, markdownlint

fix(journal): remove unused BTreeMap import in taxonomy_sync tests
  crates/journal/src/taxonomy_sync.rs
Due: none

fix(skill-auditor): update golden-corpus list for the typescript-advanced split
  crates/skill-auditor/tests/golden-corpus/corpus.txt
Due: none

fix(journal): index --validate now catches an unindexed new entry
  crates/journal/src/main.rs
  crates/journal/tests/index.rs
Due: none

fix(journal): index --validate now catches an unindexed new entry (#321)
  crates/journal/src/main.rs
  crates/journal/tests/index.rs
Due: none

feat(journal): port archive-media, the one deliberate network exception
  Cargo.lock
  Cargo.toml
  crates/journal/Cargo.toml
  crates/journal/src/archive_media.rs
  crates/journal/src/lib.rs
  crates/journal/src/main.rs
Due: none

feat(journal): port archive-media, the one deliberate network exception (#322)
  Cargo.lock
  Cargo.toml
  crates/journal/Cargo.toml
  crates/journal/src/archive_media.rs
  crates/journal/src/lib.rs
  crates/journal/src/main.rs
Due: none

feat(journal): add a status subcommand for a consuming repo's own follow-ups/plans
  Cargo.lock
  crates/journal/Cargo.toml
  crates/journal/src/lib.rs
  crates/journal/src/main.rs
  crates/journal/src/status.rs
Due: none

style(journal): apply cargo fmt to status.rs
  crates/journal/src/status.rs
Due: none

feat(journal): add status subcommand for a consuming repo's own follow-ups/plans (#323)
  Cargo.lock
  crates/journal/Cargo.toml
  crates/journal/src/lib.rs
  crates/journal/src/main.rs
  crates/journal/src/status.rs
Due: none

feat(journal): build the new YYYY/MM-Month/DD-Weekday entry path into entry.rs
  crates/journal/src/archive_media.rs
  crates/journal/src/date.rs
  crates/journal/src/entry.rs
  crates/journal/src/lib.rs
  crates/journal/src/main.rs
  crates/journal/tests/roundtrip.rs
Due: none

feat(journal): build the new YYYY/MM-Month/DD-Weekday entry path into entry.rs (#324)
  crates/journal/src/archive_media.rs
  crates/journal/src/date.rs
  crates/journal/src/entry.rs
  crates/journal/src/lib.rs
  crates/journal/src/main.rs
  crates/journal/tests/roundtrip.rs
Due: none

fix(journal-entry-creator): update the skill's path convention to match entry.rs
  docs/src/content/docs/tiles.md
  skills/documentation/journal-entry-creator/.tessl-plugin/plugin.json
  skills/documentation/journal-entry-creator/SKILL.md
  skills/documentation/journal-entry-creator/assets/templates/article-summary.yaml
  skills/documentation/journal-entry-creator/assets/templates/journal-entry.yaml
  skills/documentation/journal-entry-creator/assets/templates/learning.yaml
  skills/documentation/journal-entry-creator/assets/templates/ticket-kickoff.yaml
  skills/documentation/journal-entry-creator/assets/templates/ticket-refinement.yaml
  skills/documentation/journal-entry-creator/assets/templates/troubleshooting.yaml
  skills/documentation/journal-entry-creator/evals/scenario-01.md
  skills/documentation/journal-entry-creator/evals/scenario-02.md
  skills/documentation/journal-entry-creator/evals/scenario-03.md
  skills/documentation/journal-entry-creator/evals/scenario-04.md
  skills/documentation/journal-entry-creator/references/compliance.md
  skills/documentation/journal-entry-creator/references/edge-cases.md
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review

fix(journal-entry-creator): update the skill's path convention to match entry.rs (#325)
  docs/src/content/docs/tiles.md
  skills/documentation/journal-entry-creator/.tessl-plugin/plugin.json
  skills/documentation/journal-entry-creator/SKILL.md
  skills/documentation/journal-entry-creator/assets/templates/article-summary.yaml
  skills/documentation/journal-entry-creator/assets/templates/journal-entry.yaml
  skills/documentation/journal-entry-creator/assets/templates/learning.yaml
  skills/documentation/journal-entry-creator/assets/templates/ticket-kickoff.yaml
  skills/documentation/journal-entry-creator/assets/templates/ticket-refinement.yaml
  skills/documentation/journal-entry-creator/assets/templates/troubleshooting.yaml
  skills/documentation/journal-entry-creator/evals/scenario-01.md
  skills/documentation/journal-entry-creator/evals/scenario-02.md
  skills/documentation/journal-entry-creator/evals/scenario-03.md
  skills/documentation/journal-entry-creator/evals/scenario-04.md
  skills/documentation/journal-entry-creator/references/compliance.md
  skills/documentation/journal-entry-creator/references/edge-cases.md
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review

feat(journal-entry-creator): port jira_ticket and emoji-ban enforcement forward
  skills/documentation/journal-entry-creator/SKILL.md
  skills/documentation/journal-entry-creator/assets/templates/journal-entry.yaml
  skills/documentation/journal-entry-creator/references/compliance.md
  skills/documentation/journal-entry-creator/scripts/validate-journal-entry.sh
Due: markdownlint, yamllint, shellcheck, tessl-lint, tessl-review

feat(journal-entry-creator): port jira_ticket and emoji-ban enforcement forward (#326)
  skills/documentation/journal-entry-creator/SKILL.md
  skills/documentation/journal-entry-creator/assets/templates/journal-entry.yaml
  skills/documentation/journal-entry-creator/references/compliance.md
  skills/documentation/journal-entry-creator/scripts/validate-journal-entry.sh
Due: markdownlint, yamllint, shellcheck, tessl-lint, tessl-review

fix(journal-entry-creator): replace a real-looking ticket ID with the existing fictional convention
  skills/documentation/journal-entry-creator/assets/templates/journal-entry.yaml
  skills/documentation/journal-entry-creator/references/compliance.md
Due: markdownlint, yamllint

fix(journal-entry-creator): replace a real-looking ticket ID with the existing fictional convention (#327)
  skills/documentation/journal-entry-creator/assets/templates/journal-entry.yaml
  skills/documentation/journal-entry-creator/references/compliance.md
Due: markdownlint, yamllint

feat(skills): add handover-document-creator and context-radar-audit
  docs/src/content/docs/tiles.md
  skills/agentic-harness/context-radar-audit/CHANGELOG.md
  skills/agentic-harness/context-radar-audit/SKILL.md
  skills/agentic-harness/context-radar-audit/evals/eval-set.json
  skills/agentic-harness/context-radar-audit/evals/instructions.json
  skills/agentic-harness/context-radar-audit/evals/scenario-1/capability.txt
  skills/agentic-harness/context-radar-audit/evals/scenario-1/criteria.json
  skills/agentic-harness/context-radar-audit/evals/scenario-1/task.md
  skills/agentic-harness/context-radar-audit/evals/scenario-2/capability.txt
  skills/agentic-harness/context-radar-audit/evals/scenario-2/criteria.json
  skills/agentic-harness/context-radar-audit/evals/scenario-2/task.md
  skills/agentic-harness/context-radar-audit/evals/scenario-3/capability.txt
  skills/agentic-harness/context-radar-audit/evals/scenario-3/criteria.json
  skills/agentic-harness/context-radar-audit/evals/scenario-3/task.md
  skills/agentic-harness/context-radar-audit/evals/scenario-4/capability.txt
  skills/agentic-harness/context-radar-audit/evals/scenario-4/criteria.json
  skills/agentic-harness/context-radar-audit/evals/scenario-4/task.md
  skills/agentic-harness/context-radar-audit/evals/summary.json
  skills/agentic-harness/context-radar-audit/references/data-shape.md
  skills/agentic-harness/context-radar-audit/scripts/collect-active-tools.sh
  skills/agentic-harness/context-radar-audit/scripts/fetch-comparison-data.js
  skills/agentic-harness/handover-document-creator/CHANGELOG.md
  skills/agentic-harness/handover-document-creator/SKILL.md
  skills/agentic-harness/handover-document-creator/assets/schemas/handover-frontmatter.schema.json
  skills/agentic-harness/handover-document-creator/assets/templates/handover.yaml
  skills/agentic-harness/handover-document-creator/evals/instructions.json
  skills/agentic-harness/handover-document-creator/evals/scenario-1/capability.txt
  skills/agentic-harness/handover-document-creator/evals/scenario-1/criteria.json
  skills/agentic-harness/handover-document-creator/evals/scenario-1/task.md
  skills/agentic-harness/handover-document-creator/evals/scenario-2/capability.txt
  skills/agentic-harness/handover-document-creator/evals/scenario-2/criteria.json
  skills/agentic-harness/handover-document-creator/evals/scenario-2/task.md
  skills/agentic-harness/handover-document-creator/evals/scenario-3/capability.txt
  skills/agentic-harness/handover-document-creator/evals/scenario-3/criteria.json
  skills/agentic-harness/handover-document-creator/evals/scenario-3/task.md
  skills/agentic-harness/handover-document-creator/evals/summary.json
  skills/agentic-harness/handover-document-creator/references/document-structure.md
  skills/agentic-harness/handover-document-creator/references/typology-and-lifecycle.md
  skills/agentic-harness/handover-document-creator/scripts/validate-handover.sh
  skills/agentic-harness/save-context/SKILL.md
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review

feat(skills): add handover-document-creator and context-radar-audit (#328)
  docs/src/content/docs/tiles.md
  skills/agentic-harness/context-radar-audit/CHANGELOG.md
  skills/agentic-harness/context-radar-audit/SKILL.md
  skills/agentic-harness/context-radar-audit/evals/eval-set.json
  skills/agentic-harness/context-radar-audit/evals/instructions.json
  skills/agentic-harness/context-radar-audit/evals/scenario-1/capability.txt
  skills/agentic-harness/context-radar-audit/evals/scenario-1/criteria.json
  skills/agentic-harness/context-radar-audit/evals/scenario-1/task.md
  skills/agentic-harness/context-radar-audit/evals/scenario-2/capability.txt
  skills/agentic-harness/context-radar-audit/evals/scenario-2/criteria.json
  skills/agentic-harness/context-radar-audit/evals/scenario-2/task.md
  skills/agentic-harness/context-radar-audit/evals/scenario-3/capability.txt
  skills/agentic-harness/context-radar-audit/evals/scenario-3/criteria.json
  skills/agentic-harness/context-radar-audit/evals/scenario-3/task.md
  skills/agentic-harness/context-radar-audit/evals/scenario-4/capability.txt
  skills/agentic-harness/context-radar-audit/evals/scenario-4/criteria.json
  skills/agentic-harness/context-radar-audit/evals/scenario-4/task.md
  skills/agentic-harness/context-radar-audit/evals/summary.json
  skills/agentic-harness/context-radar-audit/references/data-shape.md
  skills/agentic-harness/context-radar-audit/scripts/collect-active-tools.sh
  skills/agentic-harness/context-radar-audit/scripts/fetch-comparison-data.js
  skills/agentic-harness/handover-document-creator/CHANGELOG.md
  skills/agentic-harness/handover-document-creator/SKILL.md
  skills/agentic-harness/handover-document-creator/assets/schemas/handover-frontmatter.schema.json
  skills/agentic-harness/handover-document-creator/assets/templates/handover.yaml
  skills/agentic-harness/handover-document-creator/evals/instructions.json
  skills/agentic-harness/handover-document-creator/evals/scenario-1/capability.txt
  skills/agentic-harness/handover-document-creator/evals/scenario-1/criteria.json
  skills/agentic-harness/handover-document-creator/evals/scenario-1/task.md
  skills/agentic-harness/handover-document-creator/evals/scenario-2/capability.txt
  skills/agentic-harness/handover-document-creator/evals/scenario-2/criteria.json
  skills/agentic-harness/handover-document-creator/evals/scenario-2/task.md
  skills/agentic-harness/handover-document-creator/evals/scenario-3/capability.txt
  skills/agentic-harness/handover-document-creator/evals/scenario-3/criteria.json
  skills/agentic-harness/handover-document-creator/evals/scenario-3/task.md
  skills/agentic-harness/handover-document-creator/evals/summary.json
  skills/agentic-harness/handover-document-creator/references/document-structure.md
  skills/agentic-harness/handover-document-creator/references/typology-and-lifecycle.md
  skills/agentic-harness/handover-document-creator/scripts/validate-handover.sh
  skills/agentic-harness/save-context/SKILL.md
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review

fix(skills): move aws-investigation-toolkit up a level so the skills CLI finds it
  .release-please-manifest.json
  PUNCHLIST.md
  crates/skill-auditor/tests/golden-corpus/corpus.txt
  crates/skill-validator-rs/tests/golden-corpus/corpus.txt
  docs/src/content/docs/tiles.md
  release-please-config.json
  skills/infrastructure/aws-investigation-toolkit/.tessl-plugin/plugin.json
  skills/infrastructure/aws-investigation-toolkit/CHANGELOG.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-cloudwatch-url-builder/.audits/2026-04-06/analysis.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-cloudwatch-url-builder/.audits/2026-04-06/audit.json
  skills/infrastructure/aws-investigation-toolkit/skills/aws-cloudwatch-url-builder/.audits/latest
  skills/infrastructure/aws-investigation-toolkit/skills/aws-cloudwatch-url-builder/SKILL.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/scenario-01.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/scenario-02.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/scenario-03.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-cloudwatch-url-builder/references/encoding-reference.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-console-navigator/.audits/2026-04-06/analysis.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-console-navigator/.audits/2026-04-06/audit.json
  skills/infrastructure/aws-investigation-toolkit/skills/aws-console-navigator/.audits/2026-04-06/remediation-plan.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-console-navigator/.audits/latest
  skills/infrastructure/aws-investigation-toolkit/skills/aws-console-navigator/SKILL.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-console-navigator/evals/scenario-01.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-console-navigator/evals/scenario-02.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-console-navigator/evals/scenario-03.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-console-navigator/references/console-reference.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-console-navigator/references/playwright-patterns.md
Due: biome, markdownlint, tessl-lint, tessl-review

fix(skills): move aws-investigation-toolkit up a level so the skills CLI finds it (#333)
  .release-please-manifest.json
  PUNCHLIST.md
  crates/skill-auditor/tests/golden-corpus/corpus.txt
  crates/skill-validator-rs/tests/golden-corpus/corpus.txt
  docs/src/content/docs/tiles.md
  release-please-config.json
  skills/infrastructure/aws-investigation-toolkit/.tessl-plugin/plugin.json
  skills/infrastructure/aws-investigation-toolkit/CHANGELOG.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-cloudwatch-url-builder/.audits/2026-04-06/analysis.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-cloudwatch-url-builder/.audits/2026-04-06/audit.json
  skills/infrastructure/aws-investigation-toolkit/skills/aws-cloudwatch-url-builder/.audits/latest
  skills/infrastructure/aws-investigation-toolkit/skills/aws-cloudwatch-url-builder/SKILL.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/scenario-01.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/scenario-02.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-cloudwatch-url-builder/evals/scenario-03.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-cloudwatch-url-builder/references/encoding-reference.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-console-navigator/.audits/2026-04-06/analysis.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-console-navigator/.audits/2026-04-06/audit.json
  skills/infrastructure/aws-investigation-toolkit/skills/aws-console-navigator/.audits/2026-04-06/remediation-plan.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-console-navigator/.audits/latest
  skills/infrastructure/aws-investigation-toolkit/skills/aws-console-navigator/SKILL.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-console-navigator/evals/scenario-01.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-console-navigator/evals/scenario-02.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-console-navigator/evals/scenario-03.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-console-navigator/references/console-reference.md
  skills/infrastructure/aws-investigation-toolkit/skills/aws-console-navigator/references/playwright-patterns.md
Due: biome, markdownlint, tessl-lint, tessl-review

feat(goal-tracker): confirm a drafted goal, persist every change, hand over on wrap-up
  docs/src/content/docs/tiles.md
  skills/project-mgmt/goal-tracker/CHANGELOG.md
  skills/project-mgmt/goal-tracker/SKILL.md
  skills/project-mgmt/goal-tracker/evals/instructions.json
  skills/project-mgmt/goal-tracker/evals/scenario-5/capability.txt
  skills/project-mgmt/goal-tracker/evals/scenario-5/criteria.json
  skills/project-mgmt/goal-tracker/evals/scenario-5/task.md
  skills/project-mgmt/goal-tracker/evals/scenario-6/capability.txt
  skills/project-mgmt/goal-tracker/evals/scenario-6/criteria.json
  skills/project-mgmt/goal-tracker/evals/scenario-6/task.md
  skills/project-mgmt/goal-tracker/evals/summary.json
Due: biome, markdownlint, tessl-lint, tessl-review

refactor(goal-tracker): tighten SKILL.md to raise the audit grade to A
  skills/project-mgmt/goal-tracker/CHANGELOG.md
  skills/project-mgmt/goal-tracker/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

feat(goal-tracker): confirm a drafted goal, persist every change, hand over on wrap-up (#334)
  docs/src/content/docs/tiles.md
  skills/project-mgmt/goal-tracker/CHANGELOG.md
  skills/project-mgmt/goal-tracker/SKILL.md
  skills/project-mgmt/goal-tracker/evals/instructions.json
  skills/project-mgmt/goal-tracker/evals/scenario-5/capability.txt
  skills/project-mgmt/goal-tracker/evals/scenario-5/criteria.json
  skills/project-mgmt/goal-tracker/evals/scenario-5/task.md
  skills/project-mgmt/goal-tracker/evals/scenario-6/capability.txt
  skills/project-mgmt/goal-tracker/evals/scenario-6/criteria.json
  skills/project-mgmt/goal-tracker/evals/scenario-6/task.md
  skills/project-mgmt/goal-tracker/evals/summary.json
Due: biome, markdownlint, tessl-lint, tessl-review

feat(goal-tracker): scope the one-active-goal rule to a session
  docs/src/content/docs/tiles.md
  features/goal-tracker.feature
  features/step-definitions/goal-tracker.steps.ts
  features/step-definitions/run.ts
  skills/project-mgmt/goal-tracker/CHANGELOG.md
  skills/project-mgmt/goal-tracker/SKILL.md
  skills/project-mgmt/goal-tracker/assets/templates/goal.yaml
  skills/project-mgmt/goal-tracker/evals/instructions.json
  skills/project-mgmt/goal-tracker/evals/scenario-7/capability.txt
  skills/project-mgmt/goal-tracker/evals/scenario-7/criteria.json
  skills/project-mgmt/goal-tracker/evals/scenario-7/task.md
  skills/project-mgmt/goal-tracker/evals/summary.json
  skills/project-mgmt/goal-tracker/scripts/goal.sh
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review

fix(goal-tracker): unquote frontmatter values before comparing a session
  features/goal-tracker.feature
  features/step-definitions/goal-tracker.steps.ts
  skills/project-mgmt/goal-tracker/CHANGELOG.md
  skills/project-mgmt/goal-tracker/scripts/goal.sh
Due: biome, markdownlint, shellcheck

feat(goal-tracker): scope the one-active-goal rule to a session (#335)
  docs/src/content/docs/tiles.md
  features/goal-tracker.feature
  features/step-definitions/goal-tracker.steps.ts
  features/step-definitions/run.ts
  skills/project-mgmt/goal-tracker/CHANGELOG.md
  skills/project-mgmt/goal-tracker/SKILL.md
  skills/project-mgmt/goal-tracker/assets/templates/goal.yaml
  skills/project-mgmt/goal-tracker/evals/instructions.json
  skills/project-mgmt/goal-tracker/evals/scenario-7/capability.txt
  skills/project-mgmt/goal-tracker/evals/scenario-7/criteria.json
  skills/project-mgmt/goal-tracker/evals/scenario-7/task.md
  skills/project-mgmt/goal-tracker/evals/summary.json
  skills/project-mgmt/goal-tracker/scripts/goal.sh
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review

chore(skills): make rtk optional in load-context and save-context
  skills/agentic-harness/load-context/SKILL.md
  skills/agentic-harness/load-context/evals/scenario-01.md
  skills/agentic-harness/load-context/evals/scenario-02.md
  skills/agentic-harness/load-context/evals/scenario-04.md
  skills/agentic-harness/load-context/evals/scenario-05.md
  skills/agentic-harness/save-context/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

ci(skills): block skills below grade B and re-audit on any skill file change
  .github/workflows/skill-audit.yml
Due: yamllint

ci(skills): block skills below grade B and re-audit on any skill file change (#337)
  .github/workflows/skill-audit.yml
Due: yamllint

chore: remove tessl CLI scripts, dependency, hk lint hook and config
  hk.pkl
  package.json
  scripts/test-tessl-api.ts
  tessl.json
Due: biome

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
