Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
      stage_fixed: true
    skill-artifacts:
      run: ./skills/skill-quality-auditor/scripts/validate-skill-artifacts.sh {staged_files}
      stage_fixed: true
    audit-readme-sync:
      glob: ".context/audits/*.md"
      run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
      stage_fixed: true
    shellcheck:
      glob: "*.sh"
      run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
      stage_fixed: true
    tessl-lint:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
      stage_fixed: true
    tessl-review:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
      stage_fixed: true
    tessl-publish-check:
      glob: "skills/**/tile.json"
      run: ./scripts/tessl-publish-check.sh {staged_files}
      stage_fixed: true

refactor(infrastructure): consolidate K8s skills into unified tile
  .context/k8s-consolidation-summary.md
  skills/infrastructure/k8s-yaml/tile.json
  skills/infrastructure/k8s/debug/SKILL.md
  skills/infrastructure/k8s/debug/references/common_issues.md
  skills/infrastructure/k8s/debug/references/troubleshooting_workflow.md
  skills/infrastructure/k8s/debug/scripts/cluster_health.sh
  skills/infrastructure/k8s/debug/scripts/network_debug.sh
  skills/infrastructure/k8s/debug/scripts/pod_diagnostics.py
  skills/infrastructure/k8s/tile.json
  skills/infrastructure/k8s/yaml-generator/SKILL.md
  skills/infrastructure/k8s/yaml-validator/SKILL.md
  skills/infrastructure/k8s/yaml-validator/assets/.yamllint
  skills/infrastructure/k8s/yaml-validator/assets/certificate-crd-test.yaml
  skills/infrastructure/k8s/yaml-validator/assets/comprehensive-test.yaml
  skills/infrastructure/k8s/yaml-validator/assets/deployment-test.yaml
  skills/infrastructure/k8s/yaml-validator/references/k8s_best_practices.md
  skills/infrastructure/k8s/yaml-validator/references/validation_workflow.md
  skills/infrastructure/k8s/yaml-validator/scripts/detect_crd.py
  skills/infrastructure/k8s/yaml-validator/scripts/detect_crd_wrapper.sh
  skills/infrastructure/k8s/yaml-validator/scripts/setup_tools.sh
  skills/observability/k8s-debug/.gitignore
  skills/observability/k8s-debug/tile.json
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

fix(infrastructure): correct k8s tile.json format and reference files
  skills/infrastructure/k8s/tile.json
Due: biome, tessl-publish-check

feat(infrastructure): enhance K8s skills with anti-patterns, mindset, and evals
  .context/audits/infrastructure/k8s/debug/2026-03-06/analysis.md
  .context/audits/infrastructure/k8s/debug/2026-03-06/audit.json
  .context/audits/infrastructure/k8s/debug/2026-03-06/remediation-plan.md
  .context/audits/infrastructure/k8s/debug/latest
  .context/audits/infrastructure/k8s/yaml-generator/2026-03-06/analysis.md
  .context/audits/infrastructure/k8s/yaml-generator/2026-03-06/audit.json
  .context/audits/infrastructure/k8s/yaml-generator/2026-03-06/remediation-plan.md
  .context/audits/infrastructure/k8s/yaml-generator/latest
  .context/audits/infrastructure/k8s/yaml-validator/2026-03-06/analysis.md
  .context/audits/infrastructure/k8s/yaml-validator/2026-03-06/audit.json
  .context/audits/infrastructure/k8s/yaml-validator/2026-03-06/remediation-plan.md
  .context/audits/infrastructure/k8s/yaml-validator/latest
  skills/infrastructure/k8s/debug/SKILL.md
  skills/infrastructure/k8s/evals/debug/scenario-1-crashloop.md
  skills/infrastructure/k8s/evals/debug/scenario-2-service-routing.md
  skills/infrastructure/k8s/evals/yaml-generator/scenario-1-deployment.md
  skills/infrastructure/k8s/evals/yaml-generator/scenario-2-crd-generation.md
  skills/infrastructure/k8s/evals/yaml-validator/scenario-1-multi-stage-validation.md
  skills/infrastructure/k8s/evals/yaml-validator/scenario-2-crd-validation.md
  skills/infrastructure/k8s/yaml-generator/SKILL.md
  skills/infrastructure/k8s/yaml-validator/SKILL.md
Due: biome, markdownlint, audit-readme-sync, tessl-lint, tessl-review

chore(infrastructure): add eval scenarios to k8s tile files array
  skills/infrastructure/k8s/tile.json
Due: biome, tessl-publish-check

docs(infrastructure): add K8s skills quality audit summary
  .context/k8s-quality-audit-summary.md
Due: markdownlint

chore(infrastructure): update K8s skill audit results
  .context/audits/infrastructure/k8s/debug/2026-03-06/analysis.md
  .context/audits/infrastructure/k8s/debug/2026-03-06/audit.json
  .context/audits/infrastructure/k8s/yaml-generator/2026-03-06/analysis.md
  .context/audits/infrastructure/k8s/yaml-generator/2026-03-06/audit.json
  .context/audits/infrastructure/k8s/yaml-generator/2026-03-06/remediation-plan.md
  .context/audits/infrastructure/k8s/yaml-validator/2026-03-06/analysis.md
  .context/audits/infrastructure/k8s/yaml-validator/2026-03-06/audit.json
  .context/audits/infrastructure/k8s/yaml-validator/2026-03-06/remediation-plan.md
Due: biome, markdownlint, audit-readme-sync

docs: update README with consolidated k8s-toolkit
  README.md
  TILES.md
Due: markdownlint

docs(nx): add README and TILE documentation for nx-plugin-toolkit
  skills/repository-mgmt/nx/README.md
  skills/repository-mgmt/nx/TILE.md
Due: markdownlint

docs(nx): add README and TILE documentation for nx-plugin-toolkit (#4)
  skills/repository-mgmt/nx/README.md
  skills/repository-mgmt/nx/TILE.md
Due: markdownlint

feat(scripts): add script to delete empty directories
  scripts/delete-empty-dirs.sh
Due: shellcheck

feat(project-mgmt): add implementation-planner skill
  skills/project-mgmt/implementation-planner/SKILL.md
  skills/project-mgmt/implementation-planner/schemas/phase.schema.json
  skills/project-mgmt/implementation-planner/schemas/plan.schema.json
  skills/project-mgmt/implementation-planner/schemas/task.schema.json
  skills/project-mgmt/implementation-planner/scripts/new-phase.sh
  skills/project-mgmt/implementation-planner/scripts/new-plan.sh
  skills/project-mgmt/implementation-planner/scripts/new-task.sh
  skills/project-mgmt/implementation-planner/scripts/validate-plan.sh
  skills/project-mgmt/implementation-planner/templates/phase.yaml
  skills/project-mgmt/implementation-planner/templates/plan.yaml
  skills/project-mgmt/implementation-planner/templates/task.yaml
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review

merge implementation-plan-splitter into implementation-planner
  skills/project-mgmt/implementation-plan-splitter/SKILL.md
  skills/project-mgmt/implementation-plan-splitter/tile.json
  skills/project-mgmt/implementation-planner/SKILL.md
  skills/project-mgmt/implementation-planner/references/example-transformation.md
  skills/project-mgmt/implementation-planner/references/schemas/phase.schema.json
  skills/project-mgmt/implementation-planner/references/schemas/plan.schema.json
  skills/project-mgmt/implementation-planner/references/schemas/readme-file.schema.json
  skills/project-mgmt/implementation-planner/references/schemas/step-file.schema.json
  skills/project-mgmt/implementation-planner/references/schemas/task.schema.json
  skills/project-mgmt/implementation-planner/references/templates/group-readme.yaml
  skills/project-mgmt/implementation-planner/references/templates/intermediate-readme.yaml
  skills/project-mgmt/implementation-planner/references/templates/phase-readme.yaml
  skills/project-mgmt/implementation-planner/references/templates/phase.yaml
  skills/project-mgmt/implementation-planner/references/templates/plan.yaml
  skills/project-mgmt/implementation-planner/references/templates/step-file.yaml
  skills/project-mgmt/implementation-planner/references/templates/task.yaml
  skills/project-mgmt/implementation-planner/scripts/generate-structure.sh
  skills/project-mgmt/implementation-planner/scripts/validate-structure.sh
  skills/project-mgmt/implementation-planner/tile.json
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

feat(skill): enhance implementation-planner description and usage examples
  skills/project-mgmt/implementation-planner/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

feat(evals): add evaluation scenarios for implementation-planner skill
  skills/project-mgmt/implementation-planner/evals/instructions.json
  skills/project-mgmt/implementation-planner/evals/scenario-1/capability.txt
  skills/project-mgmt/implementation-planner/evals/scenario-1/criteria.json
  skills/project-mgmt/implementation-planner/evals/scenario-1/task.md
  skills/project-mgmt/implementation-planner/evals/scenario-2/capability.txt
  skills/project-mgmt/implementation-planner/evals/scenario-2/criteria.json
  skills/project-mgmt/implementation-planner/evals/scenario-2/task.md
  skills/project-mgmt/implementation-planner/evals/scenario-3/capability.txt
  skills/project-mgmt/implementation-planner/evals/scenario-3/criteria.json
  skills/project-mgmt/implementation-planner/evals/scenario-3/task.md
  skills/project-mgmt/implementation-planner/evals/scenario-4/capability.txt
  skills/project-mgmt/implementation-planner/evals/scenario-4/criteria.json
  skills/project-mgmt/implementation-planner/evals/scenario-4/task.md
  skills/project-mgmt/implementation-planner/evals/scenario-5/capability.txt
  skills/project-mgmt/implementation-planner/evals/scenario-5/criteria.json
  skills/project-mgmt/implementation-planner/evals/scenario-5/task.md
  skills/project-mgmt/implementation-planner/evals/summary.json
  skills/project-mgmt/implementation-planner/evals/summary_infeasible.json
Due: biome, markdownlint

improve(implementation-planner): remediate quality audit — add mental model, anti-patterns, worked examples, decision frameworks, and quick start
  skills/project-mgmt/implementation-planner/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

improve(implementation-planner): strengthen anti-patterns (D3) and extract Mode 2 advanced reference (D5)
  .context/audits/project-mgmt/implementation-planner/2026-03-10/analysis.md
  .context/audits/project-mgmt/implementation-planner/2026-03-10/audit.json
  .context/audits/project-mgmt/implementation-planner/2026-03-10/remediation-plan.md
  .context/audits/project-mgmt/implementation-planner/latest
  skills/project-mgmt/implementation-planner/SKILL.md
  skills/project-mgmt/implementation-planner/references/mode2-advanced.md
Due: biome, markdownlint, audit-readme-sync, tessl-lint, tessl-review

fix(implementation-planner): clarify >8-phase guardrail — stop and ask, never silently cap or proceed
  skills/project-mgmt/implementation-planner/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

fix(implementation-planner): strengthen script/validate enforcement and clarify N>=9 phase guardrail trigger
  skills/project-mgmt/implementation-planner/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

fix(implementation-planner): add phase-counting heuristic and make S4 eval guardrail trigger unambiguous
  skills/project-mgmt/implementation-planner/SKILL.md
  skills/project-mgmt/implementation-planner/evals/scenario-4/task.md
Due: markdownlint, tessl-lint, tessl-review

chore(implementation-planner): bump tile version to 0.2.0
  skills/project-mgmt/implementation-planner/tile.json
Due: biome, tessl-publish-check

fix(implementation-planner): enforce additive-only writes when appending phases and fix S2 eval constraint
  skills/project-mgmt/implementation-planner/SKILL.md
  skills/project-mgmt/implementation-planner/evals/scenario-2/task.md
  skills/project-mgmt/implementation-planner/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix(implementation-planner): add scenario-2 setup.sh to pre-create plan files for additive-phase eval
  .context/audits/project-mgmt/implementation-planner/2026-03-10/analysis.md
  .context/audits/project-mgmt/implementation-planner/2026-03-10/audit.json
  skills/project-mgmt/implementation-planner/evals/scenario-2/setup.sh
  skills/project-mgmt/implementation-planner/tile.json
Due: biome, markdownlint, audit-readme-sync, shellcheck, tessl-publish-check

feat(plain-english): improve skill quality from C (103/140) to A-grade (128/140)
  skills/documentation/plain-english/SKILL.md
  skills/documentation/plain-english/evals/instructions.json
  skills/documentation/plain-english/evals/scenario-0/capability.txt
  skills/documentation/plain-english/evals/scenario-0/criteria.json
  skills/documentation/plain-english/evals/scenario-0/task.md
  skills/documentation/plain-english/evals/scenario-1/capability.txt
  skills/documentation/plain-english/evals/scenario-1/criteria.json
  skills/documentation/plain-english/evals/scenario-1/task.md
  skills/documentation/plain-english/evals/scenario-2/capability.txt
  skills/documentation/plain-english/evals/scenario-2/criteria.json
  skills/documentation/plain-english/evals/scenario-2/task.md
  skills/documentation/plain-english/evals/scenario-3/capability.txt
  skills/documentation/plain-english/evals/scenario-3/criteria.json
  skills/documentation/plain-english/evals/scenario-3/task.md
  skills/documentation/plain-english/evals/scenario-4/capability.txt
  skills/documentation/plain-english/evals/scenario-4/criteria.json
  skills/documentation/plain-english/evals/scenario-4/task.md
  skills/documentation/plain-english/evals/scenario-5/capability.txt
  skills/documentation/plain-english/evals/scenario-5/criteria.json
  skills/documentation/plain-english/evals/scenario-5/task.md
  skills/documentation/plain-english/evals/scenario-6/capability.txt
  skills/documentation/plain-english/evals/scenario-6/criteria.json
  skills/documentation/plain-english/evals/scenario-6/task.md
  skills/documentation/plain-english/evals/scenario-7/capability.txt
  skills/documentation/plain-english/evals/scenario-7/criteria.json
  skills/documentation/plain-english/evals/scenario-7/task.md
  skills/documentation/plain-english/evals/summary.json
  skills/documentation/plain-english/evals/summary_infeasible.json
  skills/documentation/plain-english/references/anti-patterns.md
  skills/documentation/plain-english/references/before-after-examples.md
  skills/documentation/plain-english/references/constraints-and-fallbacks.md
Due: biome, markdownlint, tessl-lint, tessl-review

feat(plain-english): improve skill quality from C (103/140) to A-grade (128/140)
  .context/audits/documentation/plain-english/2026-03-11/analysis.md
  .context/audits/documentation/plain-english/2026-03-11/audit.json
  .context/audits/documentation/plain-english/2026-03-11/remediation-plan.md
  .context/audits/documentation/plain-english/latest
  skills/documentation/plain-english/SKILL.md
  skills/documentation/plain-english/evals/instructions.json
  skills/documentation/plain-english/evals/scenario-0/capability.txt
  skills/documentation/plain-english/evals/scenario-0/criteria.json
  skills/documentation/plain-english/evals/scenario-0/task.md
  skills/documentation/plain-english/evals/scenario-1/capability.txt
  skills/documentation/plain-english/evals/scenario-1/criteria.json
  skills/documentation/plain-english/evals/scenario-1/task.md
  skills/documentation/plain-english/evals/scenario-2/capability.txt
  skills/documentation/plain-english/evals/scenario-2/criteria.json
  skills/documentation/plain-english/evals/scenario-2/task.md
  skills/documentation/plain-english/evals/scenario-3/capability.txt
  skills/documentation/plain-english/evals/scenario-3/criteria.json
  skills/documentation/plain-english/evals/scenario-3/task.md
  skills/documentation/plain-english/evals/scenario-4/capability.txt
  skills/documentation/plain-english/evals/scenario-4/criteria.json
  skills/documentation/plain-english/evals/scenario-4/task.md
  skills/documentation/plain-english/evals/scenario-5/capability.txt
  skills/documentation/plain-english/evals/scenario-5/criteria.json
  skills/documentation/plain-english/evals/scenario-5/task.md
  skills/documentation/plain-english/evals/scenario-6/capability.txt
  skills/documentation/plain-english/evals/scenario-6/criteria.json
  skills/documentation/plain-english/evals/scenario-6/task.md
  skills/documentation/plain-english/evals/scenario-7/capability.txt
  skills/documentation/plain-english/evals/scenario-7/criteria.json
  skills/documentation/plain-english/evals/scenario-7/task.md
  skills/documentation/plain-english/evals/summary.json
  skills/documentation/plain-english/evals/summary_infeasible.json
  skills/documentation/plain-english/references/anti-patterns.md
  skills/documentation/plain-english/references/before-after-examples.md
  skills/documentation/plain-english/references/constraints-and-fallbacks.md
Due: biome, markdownlint, audit-readme-sync, tessl-lint, tessl-review

skill: pr comment resolver
  .claude/skills/tessl__pr-comment-resolver
  .codex/skills/tessl__pr-comment-resolver
  .cursor/skills/tessl__pr-comment-resolver
  .gemini/skills/tessl__pr-comment-resolver
  .github/skills/tessl__pr-comment-resolver
  .tessl/tiles/sahildmk/pr-comment-resolver/skills/pr-comment-resolver/SKILL.md
  .tessl/tiles/sahildmk/pr-comment-resolver/tile.json
  scripts/sync-opencode.sh
  tessl.json
Due: biome, markdownlint, shellcheck

fix(implementation-planner): address Copilot review issues from PR #5
  skills/project-mgmt/implementation-planner/evals/scenario-2/setup.sh
  skills/project-mgmt/implementation-planner/references/schemas/task.schema.json
  skills/project-mgmt/implementation-planner/references/templates/phase.yaml
  skills/project-mgmt/implementation-planner/scripts/generate-structure.sh
  skills/project-mgmt/implementation-planner/scripts/new-task.sh
  skills/project-mgmt/implementation-planner/scripts/validate-plan.sh
  skills/project-mgmt/implementation-planner/scripts/validate-structure.sh
  skills/project-mgmt/implementation-planner/tile.json
Due: biome, yamllint, shellcheck, tessl-publish-check

fix(implementation-planner): improve quality audit score to B+ (119/140)
  skills/agentic-harness/skill-quality-auditor/scripts/evaluate.sh
  skills/project-mgmt/implementation-planner/SKILL.md
  skills/project-mgmt/implementation-planner/evals/instructions.json
  skills/project-mgmt/implementation-planner/evals/summary.json
  skills/project-mgmt/implementation-planner/tile.json
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

chore(implementation-planner): bump version to 0.4.3 for registry publish
  skills/project-mgmt/implementation-planner/tile.json
Due: biome, tessl-publish-check

chore(audits): store implementation-planner quality audit results (119/140 B+)
  .context/audits/project-mgmt/implementation-planner/2026-03-11/analysis.md
  .context/audits/project-mgmt/implementation-planner/2026-03-11/audit.json
  .context/audits/project-mgmt/implementation-planner/2026-03-11/remediation-plan.md
  .context/audits/project-mgmt/implementation-planner/latest
Due: biome, markdownlint, audit-readme-sync

fix(opencode): correct singular resource paths and modes to match OpenCode docs
  skills/agentic-harness/opencode/build-plugins/SKILL.md
  skills/agentic-harness/opencode/design-agents/SKILL.md
  skills/agentic-harness/opencode/design-commands/SKILL.md
Due: markdownlint, tessl-lint, tessl-review
