Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

fix(bash-script-generator): address linting issues
  skills/bash-script-generator/docs/bash-scripting-guide.md
  skills/bash-script-generator/docs/generation-best-practices.md
  skills/bash-script-generator/docs/script-patterns.md
  skills/bash-script-generator/docs/text-processing-guide.md
  skills/bash-script-generator/examples/log-analyzer.sh
Due: markdownlint, shellcheck

fix(azure-pipelines-validator): address linting issues
  .tmp-check-skills.sh
  scripts/migrate-skills-from-agents.sh
  skills/azure-pipelines-validator/SKILL.md
  skills/azure-pipelines-validator/assets/examples/basic-pipeline.yml
  skills/azure-pipelines-validator/assets/examples/deployment-pipeline.yml
  skills/azure-pipelines-validator/assets/examples/docker-build.yml
  skills/azure-pipelines-validator/assets/examples/multi-platform.yml
  skills/azure-pipelines-validator/assets/examples/template-example.yml
  skills/azure-pipelines-validator/assets/examples/test-with-issues.yml
  skills/azure-pipelines-validator/references/azure-pipelines-reference.md
  skills/azure-pipelines-validator/tile.json
  skills/bun-development/tile.json
  skills/cdk-nag/tile.json
  skills/commanderjs/tile.json
  skills/create-context-file/tile.json
  skills/extending-nx-plugins/tile.json
  skills/github-copilot-models/tile.json
  skills/nx-biome-integration/tile.json
  skills/nx-bun-integration/tile.json
  skills/nx-generators/tile.json
  skills/nx-vite-integration/tile.json
  skills/nx-workspace-patterns/tile.json
  skills/opencode-config/tile.json
  skills/plain-english/tile.json
  skills/typescript-advanced/tile.json
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

refactor(ansible-generator): apply tessl optimization
  skills/ansible-generator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

refactor(azure-pipelines-validator): apply tessl optimization
  skills/azure-pipelines-validator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

chore(ansible-validator): mark as public for tessl registry
  skills/ansible-validator/tile.json
Due: biome, tessl-publish-check

refactor(azure-pipelines-generator): apply tessl optimization
  skills/azure-pipelines-generator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

refactor(bash-script-generator): apply tessl optimization
  skills/bash-script-generator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

fix(colyseus-multiplayer): address linting issues
  skills/colyseus-multiplayer/SKILL.md
  skills/colyseus-multiplayer/tile.json
  skills/commanderjs/SKILL.md
  skills/conventional-commits/SKILL.md
  skills/conventional-commits/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix(commanderjs): address linting issues
  skills/bash-script-validator/SKILL.md
  skills/bash-script-validator/assets/bad-bash.sh
  skills/bash-script-validator/assets/bad-shell.sh
  skills/bash-script-validator/assets/good-bash.sh
  skills/bash-script-validator/assets/good-shell.sh
  skills/bash-script-validator/references/awk-reference.md
  skills/bash-script-validator/references/bash-reference.md
  skills/bash-script-validator/references/common-mistakes.md
  skills/bash-script-validator/references/grep-reference.md
  skills/bash-script-validator/references/regex-reference.md
  skills/bash-script-validator/references/sed-reference.md
  skills/bash-script-validator/references/shell-reference.md
  skills/bash-script-validator/references/shellcheck-reference.md
  skills/bun-development/SKILL.md
  skills/bun-development/tile.json
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

fix(bash-script-validator): address linting issues
  skills/bash-script-validator/.markdownlint.yaml
  skills/bash-script-validator/.shellcheckrc
Due: yamllint

refactor(colyseus-multiplayer): apply tessl optimization
  skills/colyseus-multiplayer/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

chore(colyseus-multiplayer): mark tile as public
  skills/colyseus-multiplayer/tile.json
Due: biome, tessl-publish-check

refactor(conventional-commits): apply tessl optimization
  skills/conventional-commits/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

refactor(commanderjs): apply tessl optimization
  skills/commanderjs/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

chore(commanderjs): mark as public for tessl registry
  skills/commanderjs/tile.json
Due: biome, tessl-publish-check

refactor(bun-development): apply tessl optimization
  skills/bun-development/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

refactor(bash-script-validator): apply tessl optimization
  skills/bash-script-validator/.markdownlint.yaml
  skills/bash-script-validator/SKILL.md
Due: markdownlint, yamllint, tessl-lint, tessl-review

fix(fluentbit-generator): address linting issues
  skills/fluentbit-generator/assets/application-multiline.conf
  skills/fluentbit-generator/assets/cloudwatch.conf
  skills/fluentbit-generator/assets/file-tail-s3.conf
  skills/fluentbit-generator/assets/full-production.conf
  skills/fluentbit-generator/assets/http-input-kafka.conf
  skills/fluentbit-generator/assets/kubernetes-elasticsearch.conf
  skills/fluentbit-generator/assets/kubernetes-loki.conf
  skills/fluentbit-generator/assets/kubernetes-opentelemetry.conf
  skills/fluentbit-generator/assets/lua-filtering.conf
  skills/fluentbit-generator/assets/multi-destination.conf
  skills/fluentbit-generator/assets/parsers.conf
  skills/fluentbit-generator/assets/prometheus-metrics.conf
  skills/fluentbit-generator/assets/stream-processor.conf
  skills/fluentbit-generator/assets/syslog-forward.conf
  skills/fluentbit-generator/references/output/k8s-errors-elasticsearch.conf
  skills/fluentbit-generator/references/output/parsers.conf
Due: none

fix(dockerfile-generator): address linting issues
  skills/create-context-file/SKILL.md
  skills/dockerfile-generator/SKILL.md
  skills/dockerfile-generator/assets/example.dockerignore
  skills/dockerfile-generator/assets/golang-distroless.Dockerfile
  skills/dockerfile-generator/assets/java-springboot.Dockerfile
  skills/dockerfile-generator/assets/nextjs-production.Dockerfile
  skills/dockerfile-generator/assets/nodejs-multistage.Dockerfile
  skills/dockerfile-generator/assets/python-fastapi.Dockerfile
  skills/dockerfile-generator/assets/test-nodejs.Dockerfile
  skills/dockerfile-validator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
