Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
      stage_fixed: true
    skill-artifacts:
      run: ./skills/skill-quality-auditor/scripts/validate-skill-artifacts.sh {staged_files}
      stage_fixed: true
    audit-readme-sync:
      glob: ".context/audits/*.md"
      run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
      stage_fixed: true
    shellcheck:
      glob: "*.sh"
      run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
      stage_fixed: true
    tessl-lint:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
      stage_fixed: true
    tessl-review:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
      stage_fixed: true
    tessl-publish-check:
      glob: "skills/**/tile.json"
      run: ./scripts/tessl-publish-check.sh {staged_files}
      stage_fixed: true

feat: migrate two opencode-recon-storage-cli keep-list skills (#101)
  docs/src/content/docs/tiles.md
  skills/agentic-harness/professional-honesty/SKILL.md
  skills/documentation/professional-communication/SKILL.md
  skills/documentation/professional-communication/references/email-templates.md
  skills/documentation/professional-communication/references/jargon-simplification.md
  skills/documentation/professional-communication/references/meeting-structures.md
  skills/documentation/professional-communication/references/remote-async-communication.md
Due: markdownlint, tessl-lint, tessl-review

ci: add grade-A skill audit gate (pre-push + CI); fix post-merge
  .github/workflows/post-merge.yml
  .github/workflows/skill-audit.yml
  lefthook.yml
Due: yamllint

ci: add grade-A skill audit gate (pre-push + CI); fix post-merge (#102)
  .github/workflows/post-merge.yml
  .github/workflows/skill-audit.yml
  lefthook.yml
Due: yamllint

feat(professional-honesty): conform to grade C (retro-conform W2)
  docs/src/content/docs/tiles.md
  skills/agentic-harness/professional-honesty/SKILL.md
  skills/agentic-harness/professional-honesty/evals/instructions.json
  skills/agentic-harness/professional-honesty/evals/scenario-1/capability.txt
  skills/agentic-harness/professional-honesty/evals/scenario-1/criteria.json
  skills/agentic-harness/professional-honesty/evals/scenario-1/task.md
  skills/agentic-harness/professional-honesty/evals/scenario-2/capability.txt
  skills/agentic-harness/professional-honesty/evals/scenario-2/criteria.json
  skills/agentic-harness/professional-honesty/evals/scenario-2/task.md
  skills/agentic-harness/professional-honesty/evals/scenario-3/capability.txt
  skills/agentic-harness/professional-honesty/evals/scenario-3/criteria.json
  skills/agentic-harness/professional-honesty/evals/scenario-3/task.md
  skills/agentic-harness/professional-honesty/evals/summary.json
  skills/agentic-harness/professional-honesty/references/response-patterns.md
Due: biome, markdownlint, tessl-lint, tessl-review

feat(professional-honesty): conform to grade C (retro-conform W2) (#104)
  docs/src/content/docs/tiles.md
  skills/agentic-harness/professional-honesty/SKILL.md
  skills/agentic-harness/professional-honesty/evals/instructions.json
  skills/agentic-harness/professional-honesty/evals/scenario-1/capability.txt
  skills/agentic-harness/professional-honesty/evals/scenario-1/criteria.json
  skills/agentic-harness/professional-honesty/evals/scenario-1/task.md
  skills/agentic-harness/professional-honesty/evals/scenario-2/capability.txt
  skills/agentic-harness/professional-honesty/evals/scenario-2/criteria.json
  skills/agentic-harness/professional-honesty/evals/scenario-2/task.md
  skills/agentic-harness/professional-honesty/evals/scenario-3/capability.txt
  skills/agentic-harness/professional-honesty/evals/scenario-3/criteria.json
  skills/agentic-harness/professional-honesty/evals/scenario-3/task.md
  skills/agentic-harness/professional-honesty/evals/summary.json
  skills/agentic-harness/professional-honesty/references/response-patterns.md
Due: biome, markdownlint, tessl-lint, tessl-review

feat(fp): retro-conform functional-programming trio to grade C (W2)
  docs/src/content/docs/tiles.md
  skills/software-engineering/fp-higher-order-functions/SKILL.md
  skills/software-engineering/fp-higher-order-functions/evals/instructions.json
  skills/software-engineering/fp-higher-order-functions/evals/scenario-1/capability.txt
  skills/software-engineering/fp-higher-order-functions/evals/scenario-1/criteria.json
  skills/software-engineering/fp-higher-order-functions/evals/scenario-1/task.md
  skills/software-engineering/fp-higher-order-functions/evals/scenario-2/capability.txt
  skills/software-engineering/fp-higher-order-functions/evals/scenario-2/criteria.json
  skills/software-engineering/fp-higher-order-functions/evals/scenario-2/task.md
  skills/software-engineering/fp-higher-order-functions/evals/scenario-3/capability.txt
  skills/software-engineering/fp-higher-order-functions/evals/scenario-3/criteria.json
  skills/software-engineering/fp-higher-order-functions/evals/scenario-3/task.md
  skills/software-engineering/fp-higher-order-functions/evals/summary.json
  skills/software-engineering/fp-immutability/SKILL.md
  skills/software-engineering/fp-immutability/evals/instructions.json
  skills/software-engineering/fp-immutability/evals/scenario-1/capability.txt
  skills/software-engineering/fp-immutability/evals/scenario-1/criteria.json
  skills/software-engineering/fp-immutability/evals/scenario-1/task.md
  skills/software-engineering/fp-immutability/evals/scenario-2/capability.txt
  skills/software-engineering/fp-immutability/evals/scenario-2/criteria.json
  skills/software-engineering/fp-immutability/evals/scenario-2/task.md
  skills/software-engineering/fp-immutability/evals/scenario-3/capability.txt
  skills/software-engineering/fp-immutability/evals/scenario-3/criteria.json
  skills/software-engineering/fp-immutability/evals/scenario-3/task.md
  skills/software-engineering/fp-immutability/evals/summary.json
  skills/software-engineering/fp-pure-functions/evals/instructions.json
  skills/software-engineering/fp-pure-functions/evals/scenario-1/capability.txt
  skills/software-engineering/fp-pure-functions/evals/scenario-1/criteria.json
  skills/software-engineering/fp-pure-functions/evals/scenario-1/task.md
  skills/software-engineering/fp-pure-functions/evals/scenario-2/capability.txt
  skills/software-engineering/fp-pure-functions/evals/scenario-2/criteria.json
  skills/software-engineering/fp-pure-functions/evals/scenario-2/task.md
  skills/software-engineering/fp-pure-functions/evals/scenario-3/capability.txt
  skills/software-engineering/fp-pure-functions/evals/scenario-3/criteria.json
  skills/software-engineering/fp-pure-functions/evals/scenario-3/task.md
  skills/software-engineering/fp-pure-functions/evals/summary.json
Due: biome, markdownlint, tessl-lint, tessl-review

feat(fp): retro-conform functional-programming trio to grade C (W2) (#105)
  docs/src/content/docs/tiles.md
  skills/software-engineering/fp-higher-order-functions/SKILL.md
  skills/software-engineering/fp-higher-order-functions/evals/instructions.json
  skills/software-engineering/fp-higher-order-functions/evals/scenario-1/capability.txt
  skills/software-engineering/fp-higher-order-functions/evals/scenario-1/criteria.json
  skills/software-engineering/fp-higher-order-functions/evals/scenario-1/task.md
  skills/software-engineering/fp-higher-order-functions/evals/scenario-2/capability.txt
  skills/software-engineering/fp-higher-order-functions/evals/scenario-2/criteria.json
  skills/software-engineering/fp-higher-order-functions/evals/scenario-2/task.md
  skills/software-engineering/fp-higher-order-functions/evals/scenario-3/capability.txt
  skills/software-engineering/fp-higher-order-functions/evals/scenario-3/criteria.json
  skills/software-engineering/fp-higher-order-functions/evals/scenario-3/task.md
  skills/software-engineering/fp-higher-order-functions/evals/summary.json
  skills/software-engineering/fp-immutability/SKILL.md
  skills/software-engineering/fp-immutability/evals/instructions.json
  skills/software-engineering/fp-immutability/evals/scenario-1/capability.txt
  skills/software-engineering/fp-immutability/evals/scenario-1/criteria.json
  skills/software-engineering/fp-immutability/evals/scenario-1/task.md
  skills/software-engineering/fp-immutability/evals/scenario-2/capability.txt
  skills/software-engineering/fp-immutability/evals/scenario-2/criteria.json
  skills/software-engineering/fp-immutability/evals/scenario-2/task.md
  skills/software-engineering/fp-immutability/evals/scenario-3/capability.txt
  skills/software-engineering/fp-immutability/evals/scenario-3/criteria.json
  skills/software-engineering/fp-immutability/evals/scenario-3/task.md
  skills/software-engineering/fp-immutability/evals/summary.json
  skills/software-engineering/fp-pure-functions/evals/instructions.json
  skills/software-engineering/fp-pure-functions/evals/scenario-1/capability.txt
  skills/software-engineering/fp-pure-functions/evals/scenario-1/criteria.json
  skills/software-engineering/fp-pure-functions/evals/scenario-1/task.md
  skills/software-engineering/fp-pure-functions/evals/scenario-2/capability.txt
  skills/software-engineering/fp-pure-functions/evals/scenario-2/criteria.json
  skills/software-engineering/fp-pure-functions/evals/scenario-2/task.md
  skills/software-engineering/fp-pure-functions/evals/scenario-3/capability.txt
  skills/software-engineering/fp-pure-functions/evals/scenario-3/criteria.json
  skills/software-engineering/fp-pure-functions/evals/scenario-3/task.md
  skills/software-engineering/fp-pure-functions/evals/summary.json
Due: biome, markdownlint, tessl-lint, tessl-review

ci: remove broken post-merge.yml workflow
  .github/workflows/post-merge.yml
Due: yamllint

ci: remove broken post-merge.yml workflow (#106)
  .github/workflows/post-merge.yml
Due: yamllint

feat(docs): retro-conform documentation trio to grade C+ (W2)
  docs/src/content/docs/tiles.md
  skills/documentation/humanizer/SKILL.md
  skills/documentation/humanizer/evals/instructions.json
  skills/documentation/humanizer/evals/scenario-1/capability.txt
  skills/documentation/humanizer/evals/scenario-1/criteria.json
  skills/documentation/humanizer/evals/scenario-1/task.md
  skills/documentation/humanizer/evals/scenario-2/capability.txt
  skills/documentation/humanizer/evals/scenario-2/criteria.json
  skills/documentation/humanizer/evals/scenario-2/task.md
  skills/documentation/humanizer/evals/scenario-3/capability.txt
  skills/documentation/humanizer/evals/scenario-3/criteria.json
  skills/documentation/humanizer/evals/scenario-3/task.md
  skills/documentation/humanizer/evals/summary.json
  skills/documentation/humanizer/references/writing-tells.md
  skills/documentation/mermaid-diagrams/SKILL.md
  skills/documentation/mermaid-diagrams/evals/instructions.json
  skills/documentation/mermaid-diagrams/evals/scenario-1/capability.txt
  skills/documentation/mermaid-diagrams/evals/scenario-1/criteria.json
  skills/documentation/mermaid-diagrams/evals/scenario-1/task.md
  skills/documentation/mermaid-diagrams/evals/scenario-2/capability.txt
  skills/documentation/mermaid-diagrams/evals/scenario-2/criteria.json
  skills/documentation/mermaid-diagrams/evals/scenario-2/task.md
  skills/documentation/mermaid-diagrams/evals/scenario-3/capability.txt
  skills/documentation/mermaid-diagrams/evals/scenario-3/criteria.json
  skills/documentation/mermaid-diagrams/evals/scenario-3/task.md
  skills/documentation/mermaid-diagrams/evals/summary.json
  skills/documentation/professional-communication/SKILL.md
  skills/documentation/professional-communication/evals/instructions.json
  skills/documentation/professional-communication/evals/scenario-1/capability.txt
  skills/documentation/professional-communication/evals/scenario-1/criteria.json
  skills/documentation/professional-communication/evals/scenario-1/task.md
  skills/documentation/professional-communication/evals/scenario-2/capability.txt
  skills/documentation/professional-communication/evals/scenario-2/criteria.json
  skills/documentation/professional-communication/evals/scenario-2/task.md
  skills/documentation/professional-communication/evals/scenario-3/capability.txt
  skills/documentation/professional-communication/evals/scenario-3/criteria.json
  skills/documentation/professional-communication/evals/scenario-3/task.md
  skills/documentation/professional-communication/evals/summary.json
Due: biome, markdownlint, tessl-lint, tessl-review

feat(docs): retro-conform documentation trio to grade C+ (W2) (#107)
  docs/src/content/docs/tiles.md
  skills/documentation/humanizer/SKILL.md
  skills/documentation/humanizer/evals/instructions.json
  skills/documentation/humanizer/evals/scenario-1/capability.txt
  skills/documentation/humanizer/evals/scenario-1/criteria.json
  skills/documentation/humanizer/evals/scenario-1/task.md
  skills/documentation/humanizer/evals/scenario-2/capability.txt
  skills/documentation/humanizer/evals/scenario-2/criteria.json
  skills/documentation/humanizer/evals/scenario-2/task.md
  skills/documentation/humanizer/evals/scenario-3/capability.txt
  skills/documentation/humanizer/evals/scenario-3/criteria.json
  skills/documentation/humanizer/evals/scenario-3/task.md
  skills/documentation/humanizer/evals/summary.json
  skills/documentation/humanizer/references/writing-tells.md
  skills/documentation/mermaid-diagrams/SKILL.md
  skills/documentation/mermaid-diagrams/evals/instructions.json
  skills/documentation/mermaid-diagrams/evals/scenario-1/capability.txt
  skills/documentation/mermaid-diagrams/evals/scenario-1/criteria.json
  skills/documentation/mermaid-diagrams/evals/scenario-1/task.md
  skills/documentation/mermaid-diagrams/evals/scenario-2/capability.txt
  skills/documentation/mermaid-diagrams/evals/scenario-2/criteria.json
  skills/documentation/mermaid-diagrams/evals/scenario-2/task.md
  skills/documentation/mermaid-diagrams/evals/scenario-3/capability.txt
  skills/documentation/mermaid-diagrams/evals/scenario-3/criteria.json
  skills/documentation/mermaid-diagrams/evals/scenario-3/task.md
  skills/documentation/mermaid-diagrams/evals/summary.json
  skills/documentation/professional-communication/SKILL.md
  skills/documentation/professional-communication/evals/instructions.json
  skills/documentation/professional-communication/evals/scenario-1/capability.txt
  skills/documentation/professional-communication/evals/scenario-1/criteria.json
  skills/documentation/professional-communication/evals/scenario-1/task.md
  skills/documentation/professional-communication/evals/scenario-2/capability.txt
  skills/documentation/professional-communication/evals/scenario-2/criteria.json
  skills/documentation/professional-communication/evals/scenario-2/task.md
  skills/documentation/professional-communication/evals/scenario-3/capability.txt
  skills/documentation/professional-communication/evals/scenario-3/criteria.json
  skills/documentation/professional-communication/evals/scenario-3/task.md
  skills/documentation/professional-communication/evals/summary.json
Due: biome, markdownlint, tessl-lint, tessl-review

feat: retro-conform final three raw skills to >=C (W2 complete)
  docs/src/content/docs/tiles.md
  skills/agentic-harness/cache-audit/SKILL.md
  skills/agentic-harness/cache-audit/evals/instructions.json
  skills/agentic-harness/cache-audit/evals/scenario-1/capability.txt
  skills/agentic-harness/cache-audit/evals/scenario-1/criteria.json
  skills/agentic-harness/cache-audit/evals/scenario-1/task.md
  skills/agentic-harness/cache-audit/evals/scenario-2/capability.txt
  skills/agentic-harness/cache-audit/evals/scenario-2/criteria.json
  skills/agentic-harness/cache-audit/evals/scenario-2/task.md
  skills/agentic-harness/cache-audit/evals/scenario-3/capability.txt
  skills/agentic-harness/cache-audit/evals/scenario-3/criteria.json
  skills/agentic-harness/cache-audit/evals/scenario-3/task.md
  skills/agentic-harness/cache-audit/evals/summary.json
  skills/agentic-harness/cache-audit/references/checklist.md
  skills/agentic-harness/vault-search/SKILL.md
  skills/agentic-harness/vault-search/references/query-tips.md
  skills/software-engineering/simplicity-principles/SKILL.md
  skills/software-engineering/simplicity-principles/evals/instructions.json
  skills/software-engineering/simplicity-principles/evals/scenario-1/capability.txt
  skills/software-engineering/simplicity-principles/evals/scenario-1/criteria.json
  skills/software-engineering/simplicity-principles/evals/scenario-1/task.md
  skills/software-engineering/simplicity-principles/evals/scenario-2/capability.txt
  skills/software-engineering/simplicity-principles/evals/scenario-2/criteria.json
  skills/software-engineering/simplicity-principles/evals/scenario-2/task.md
  skills/software-engineering/simplicity-principles/evals/scenario-3/capability.txt
  skills/software-engineering/simplicity-principles/evals/scenario-3/criteria.json
  skills/software-engineering/simplicity-principles/evals/scenario-3/task.md
  skills/software-engineering/simplicity-principles/evals/summary.json
  skills/software-engineering/simplicity-principles/references/heuristics.md
Due: biome, markdownlint, tessl-lint, tessl-review

feat: retro-conform final three raw skills to >=C (W2 complete) (#108)
  docs/src/content/docs/tiles.md
  skills/agentic-harness/cache-audit/SKILL.md
  skills/agentic-harness/cache-audit/evals/instructions.json
  skills/agentic-harness/cache-audit/evals/scenario-1/capability.txt
  skills/agentic-harness/cache-audit/evals/scenario-1/criteria.json
  skills/agentic-harness/cache-audit/evals/scenario-1/task.md
  skills/agentic-harness/cache-audit/evals/scenario-2/capability.txt
  skills/agentic-harness/cache-audit/evals/scenario-2/criteria.json
  skills/agentic-harness/cache-audit/evals/scenario-2/task.md
  skills/agentic-harness/cache-audit/evals/scenario-3/capability.txt
  skills/agentic-harness/cache-audit/evals/scenario-3/criteria.json
  skills/agentic-harness/cache-audit/evals/scenario-3/task.md
  skills/agentic-harness/cache-audit/evals/summary.json
  skills/agentic-harness/cache-audit/references/checklist.md
  skills/agentic-harness/vault-search/SKILL.md
  skills/agentic-harness/vault-search/references/query-tips.md
  skills/software-engineering/simplicity-principles/SKILL.md
  skills/software-engineering/simplicity-principles/evals/instructions.json
  skills/software-engineering/simplicity-principles/evals/scenario-1/capability.txt
  skills/software-engineering/simplicity-principles/evals/scenario-1/criteria.json
  skills/software-engineering/simplicity-principles/evals/scenario-1/task.md
  skills/software-engineering/simplicity-principles/evals/scenario-2/capability.txt
  skills/software-engineering/simplicity-principles/evals/scenario-2/criteria.json
  skills/software-engineering/simplicity-principles/evals/scenario-2/task.md
  skills/software-engineering/simplicity-principles/evals/scenario-3/capability.txt
  skills/software-engineering/simplicity-principles/evals/scenario-3/criteria.json
  skills/software-engineering/simplicity-principles/evals/scenario-3/task.md
  skills/software-engineering/simplicity-principles/evals/summary.json
  skills/software-engineering/simplicity-principles/references/heuristics.md
Due: biome, markdownlint, tessl-lint, tessl-review

feat(journal-entry-creator): conform to grade C (W2 final)
  skills/documentation/journal-entry-creator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

feat(journal-entry-creator): conform to grade C (W2 final) (#109)
  skills/documentation/journal-entry-creator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

ci: tessl currency pass part 1 (publish pipeline + review wiring)
  .github/workflows/pr-skill-checks.yml
  .github/workflows/publish-skills.yml
  cli/lib/tessl/review-skill.ts
  package.json
Due: biome, yamllint

ci: tessl currency pass part 1 (publish pipeline + review wiring) (#111)
  .github/workflows/pr-skill-checks.yml
  .github/workflows/publish-skills.yml
  cli/lib/tessl/review-skill.ts
  package.json
Due: biome, yamllint

ci: tessl currency pass part 2 (deps cleanup + advisory plugin lint)
  .github/workflows/pr-skill-checks.yml
  tessl.json
Due: biome, yamllint

ci: tessl currency pass part 2 (deps cleanup + advisory plugin lint) (#112)
  .github/workflows/pr-skill-checks.yml
  tessl.json
Due: biome, yamllint

feat(sop-structure): migrate + conform to grade C+ (recon keep-list)
  docs/src/content/docs/tiles.md
  skills/documentation/sop-structure/SKILL.md
  skills/documentation/sop-structure/evals/instructions.json
  skills/documentation/sop-structure/evals/scenario-1/capability.txt
  skills/documentation/sop-structure/evals/scenario-1/criteria.json
  skills/documentation/sop-structure/evals/scenario-1/task.md
  skills/documentation/sop-structure/evals/scenario-2/capability.txt
  skills/documentation/sop-structure/evals/scenario-2/criteria.json
  skills/documentation/sop-structure/evals/scenario-2/task.md
  skills/documentation/sop-structure/evals/scenario-3/capability.txt
  skills/documentation/sop-structure/evals/scenario-3/criteria.json
  skills/documentation/sop-structure/evals/scenario-3/task.md
  skills/documentation/sop-structure/evals/summary.json
  skills/documentation/sop-structure/references/sop-templates.md
Due: biome, markdownlint, tessl-lint, tessl-review

fix(stars-local): drop plan-execute (needs manual fence-split); finalise 3 skills
  docs/src/content/docs/tiles.md
  skills/project-mgmt/plan-execute/SKILL.md
  skills/project-mgmt/plan-execute/evals/audit-report.md
  skills/project-mgmt/plan-execute/evals/instructions.json
  skills/project-mgmt/plan-execute/evals/scenario-01/criteria.json
  skills/project-mgmt/plan-execute/evals/scenario-01/task.md
  skills/project-mgmt/plan-execute/evals/scenario-02/criteria.json
  skills/project-mgmt/plan-execute/evals/scenario-02/task.md
  skills/project-mgmt/plan-execute/evals/scenario-03/criteria.json
  skills/project-mgmt/plan-execute/evals/scenario-03/task.md
  skills/project-mgmt/plan-execute/evals/scenario-04/criteria.json
  skills/project-mgmt/plan-execute/evals/scenario-04/task.md
  skills/project-mgmt/plan-execute/evals/summary.json
  skills/project-mgmt/plan-execute/references/worked-examples.md
  skills/software-engineering/codebase-alignment/SKILL.md
Due: biome, markdownlint, tessl-lint, tessl-review

fix(standards-to-tooling): point Biome ref at HEAD-friendly GitHub URL
  skills/software-engineering/standards-to-tooling/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

feat(sop-structure): migrate + conform to grade C+ (recon keep-list) (#113)
  docs/src/content/docs/tiles.md
  skills/documentation/sop-structure/SKILL.md
  skills/documentation/sop-structure/evals/instructions.json
  skills/documentation/sop-structure/evals/scenario-1/capability.txt
  skills/documentation/sop-structure/evals/scenario-1/criteria.json
  skills/documentation/sop-structure/evals/scenario-1/task.md
  skills/documentation/sop-structure/evals/scenario-2/capability.txt
  skills/documentation/sop-structure/evals/scenario-2/criteria.json
  skills/documentation/sop-structure/evals/scenario-2/task.md
  skills/documentation/sop-structure/evals/scenario-3/capability.txt
  skills/documentation/sop-structure/evals/scenario-3/criteria.json
  skills/documentation/sop-structure/evals/scenario-3/task.md
  skills/documentation/sop-structure/evals/summary.json
  skills/documentation/sop-structure/references/sop-templates.md
Due: biome, markdownlint, tessl-lint, tessl-review

feat(plan-execute): migrate + split to grade B (W3, project-mgmt)
  docs/src/content/docs/tiles.md
  skills/project-mgmt/plan-execute/SKILL.md
  skills/project-mgmt/plan-execute/evals/instructions.json
  skills/project-mgmt/plan-execute/evals/scenario-01/capability.txt
  skills/project-mgmt/plan-execute/evals/scenario-01/criteria.json
  skills/project-mgmt/plan-execute/evals/scenario-01/task.md
  skills/project-mgmt/plan-execute/evals/scenario-02/capability.txt
  skills/project-mgmt/plan-execute/evals/scenario-02/criteria.json
  skills/project-mgmt/plan-execute/evals/scenario-02/task.md
  skills/project-mgmt/plan-execute/evals/scenario-03/capability.txt
  skills/project-mgmt/plan-execute/evals/scenario-03/criteria.json
  skills/project-mgmt/plan-execute/evals/scenario-03/task.md
  skills/project-mgmt/plan-execute/evals/scenario-04/capability.txt
  skills/project-mgmt/plan-execute/evals/scenario-04/criteria.json
  skills/project-mgmt/plan-execute/evals/scenario-04/task.md
  skills/project-mgmt/plan-execute/evals/summary.json
  skills/project-mgmt/plan-execute/references/checklist-templates.md
Due: biome, markdownlint, tessl-lint, tessl-review

feat(plan-execute): migrate + split to grade B (W3, project-mgmt) (#115)
  docs/src/content/docs/tiles.md
  skills/project-mgmt/plan-execute/SKILL.md
  skills/project-mgmt/plan-execute/evals/instructions.json
  skills/project-mgmt/plan-execute/evals/scenario-01/capability.txt
  skills/project-mgmt/plan-execute/evals/scenario-01/criteria.json
  skills/project-mgmt/plan-execute/evals/scenario-01/task.md
  skills/project-mgmt/plan-execute/evals/scenario-02/capability.txt
  skills/project-mgmt/plan-execute/evals/scenario-02/criteria.json
  skills/project-mgmt/plan-execute/evals/scenario-02/task.md
  skills/project-mgmt/plan-execute/evals/scenario-03/capability.txt
  skills/project-mgmt/plan-execute/evals/scenario-03/criteria.json
  skills/project-mgmt/plan-execute/evals/scenario-03/task.md
  skills/project-mgmt/plan-execute/evals/scenario-04/capability.txt
  skills/project-mgmt/plan-execute/evals/scenario-04/criteria.json
  skills/project-mgmt/plan-execute/evals/scenario-04/task.md
  skills/project-mgmt/plan-execute/evals/summary.json
  skills/project-mgmt/plan-execute/references/checklist-templates.md
Due: biome, markdownlint, tessl-lint, tessl-review
