Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

fix(skills): drop invalid context: main from the imported skills
  skills/agentic-harness/create-context/SKILL.md
  skills/agentic-harness/load-context/SKILL.md
  skills/agentic-harness/pick-model/SKILL.md
  skills/agentic-harness/pin/SKILL.md
  skills/agentic-harness/save-context/SKILL.md
  skills/software-engineering/bridge/SKILL.md
  skills/software-engineering/challenge/SKILL.md
  skills/software-engineering/frame-problem/SKILL.md
  skills/software-engineering/probe/SKILL.md
  skills/software-engineering/troubleshoot/SKILL.md
  skills/specialized/retrospect-collab/SKILL.md
  skills/specialized/retrospect-domain/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

fix(skill-auditor): store repo-relative skill paths in the golden corpus
  crates/skill-auditor/tests/golden-corpus/goldens.json
  crates/skill-auditor/tests/grade_parity.rs
Due: biome

fix(skills): use Claude Code tool names in allowed-tools
  skills/agentic-harness/create-context/SKILL.md
  skills/agentic-harness/load-context/SKILL.md
  skills/agentic-harness/pin/SKILL.md
  skills/agentic-harness/save-context/SKILL.md
  skills/software-engineering/bridge/SKILL.md
  skills/software-engineering/challenge/SKILL.md
  skills/specialized/colyseus-multiplayer/SKILL.md
  skills/specialized/retrospect-collab/SKILL.md
  skills/specialized/retrospect-domain/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

feat(pick-model): raise the skill to grade A
  docs/src/content/docs/tiles.md
  skills/agentic-harness/pick-model/.audits/2026-10-07/Analysis.md
  skills/agentic-harness/pick-model/.audits/2026-10-07/Remediation.md
  skills/agentic-harness/pick-model/.audits/2026-10-07/audit.json
  skills/agentic-harness/pick-model/SKILL.md
  skills/agentic-harness/pick-model/evals/instructions.json
  skills/agentic-harness/pick-model/evals/scenario-1/capability.txt
  skills/agentic-harness/pick-model/evals/scenario-1/criteria.json
  skills/agentic-harness/pick-model/evals/scenario-1/task.md
  skills/agentic-harness/pick-model/evals/scenario-2/capability.txt
  skills/agentic-harness/pick-model/evals/scenario-2/criteria.json
  skills/agentic-harness/pick-model/evals/scenario-2/task.md
  skills/agentic-harness/pick-model/evals/scenario-3/capability.txt
  skills/agentic-harness/pick-model/evals/scenario-3/criteria.json
  skills/agentic-harness/pick-model/evals/scenario-3/task.md
  skills/agentic-harness/pick-model/evals/scenario-4/capability.txt
  skills/agentic-harness/pick-model/evals/scenario-4/criteria.json
  skills/agentic-harness/pick-model/evals/scenario-4/task.md
  skills/agentic-harness/pick-model/evals/scenario-5/capability.txt
  skills/agentic-harness/pick-model/evals/scenario-5/criteria.json
  skills/agentic-harness/pick-model/evals/scenario-5/task.md
  skills/agentic-harness/pick-model/evals/summary.json
  skills/agentic-harness/pick-model/references/decision-matrix.md
  skills/agentic-harness/pick-model/references/escalators.md
  skills/agentic-harness/pick-model/references/examples.md
  skills/agentic-harness/pick-model/references/reference.md
Due: biome, markdownlint, tessl-lint, tessl-review

feat(skill-validator-rs): report dropped description trigger phrases
  .github/workflows/skill-audit.yml
  AGENTS.md
  crates/skill-validator-rs/src/lib.rs
  crates/skill-validator-rs/src/main.rs
  crates/skill-validator-rs/src/model.rs
  crates/skill-validator-rs/src/render.rs
  crates/skill-validator-rs/src/run.rs
  crates/skill-validator-rs/src/triggers.rs
  crates/skill-validator-rs/tests/cli.rs
Due: markdownlint, yamllint

ci(agnix): lint skills against Claude Code formats, non-blocking
  .agnix.toml
  .github/workflows/agnix.yml
  mise.toml
Due: yamllint

feat(skill-validator-rs): report dropped description trigger phrases (#416)
  .github/workflows/skill-audit.yml
  AGENTS.md
  crates/skill-validator-rs/src/lib.rs
  crates/skill-validator-rs/src/main.rs
  crates/skill-validator-rs/src/model.rs
  crates/skill-validator-rs/src/render.rs
  crates/skill-validator-rs/src/run.rs
  crates/skill-validator-rs/src/triggers.rs
  crates/skill-validator-rs/tests/cli.rs
Due: markdownlint, yamllint

ci(agnix): download over the public URL and check a pinned digest
  .github/workflows/agnix.yml
Due: yamllint

ci(agnix): post a PASS/FAIL comment on the pull request
  .github/workflows/agnix.yml
Due: yamllint

ci(agnix): lint skills against Claude Code formats, non-blocking (#417)
  .agnix.toml
  .github/workflows/agnix.yml
  mise.toml
Due: yamllint

Prefer mise in SessionStart hook, fall back to container tools
  .claude/hooks/session-start.sh
Due: shellcheck

Add SessionStart hook for cloud sessions
  .claude/hooks/session-start.sh
  .claude/settings.json
  .gitignore
Due: biome, shellcheck

chore(claude): add sessionstart hook for cloud sessions (#415)
  .claude/hooks/session-start.sh
  .claude/settings.json
  .gitignore
Due: biome, shellcheck

ci(agnix): bump to 0.56.6
  .github/workflows/agnix.yml
  mise.toml
Due: yamllint

ci(agnix): bump to 0.56.6 (#419)
  .github/workflows/agnix.yml
  mise.toml
Due: yamllint

feat(skill-validator-rs): warn near the description limit, explain unquoted YAML colons
  AGENTS.md
  crates/skill-validator-rs/src/skill.rs
  crates/skill-validator-rs/src/structure/frontmatter.rs
  crates/skill-validator-rs/src/structure/mod.rs
  crates/skill-validator-rs/tests/cli.rs
  crates/skill-validator-rs/tests/golden-corpus/goldens.json
Due: biome, markdownlint

feat(skill-validator-rs): warn near the description limit, explain unquoted YAML colons (#418)
  AGENTS.md
  crates/skill-validator-rs/src/skill.rs
  crates/skill-validator-rs/src/structure/frontmatter.rs
  crates/skill-validator-rs/src/structure/mod.rs
  crates/skill-validator-rs/tests/cli.rs
  crates/skill-validator-rs/tests/golden-corpus/goldens.json
Due: biome, markdownlint

chore(claude): make mise the only install path in the sessionstart hook
  .claude/hooks/session-start.sh
Due: shellcheck

chore(claude): make mise the only install path in the sessionstart hook (#420)
  .claude/hooks/session-start.sh
Due: shellcheck

ci(agnix): file a GitHub issue for each error the check finds
  .github/workflows/agnix.yml
  scripts/agnix/file-issues.sh
  scripts/agnix/file-issues.test.ts
Due: biome, yamllint, shellcheck

docs(agnix): note the known limits of the issue automation
  scripts/agnix/file-issues.sh
Due: shellcheck

feat(skill-validator-rs): add invocation probes to score description routing
  .github/workflows/rust-ci.yml
  AGENTS.md
  crates/skill-validator-rs/src/lib.rs
  crates/skill-validator-rs/src/main.rs
  crates/skill-validator-rs/src/probes.rs
  crates/skill-validator-rs/src/probes_cmd.rs
  crates/skill-validator-rs/tests/cli.rs
  mise.toml
  probes/baselines/listing-overlap.json
  probes/terraform-generator.json
  probes/terraform-validator.json
Due: biome, markdownlint, yamllint

ci(agnix): fail a pull request only on errors it introduces, and track warnings per rule
  .github/workflows/agnix.yml
  scripts/agnix/file-issues.sh
  scripts/agnix/file-issues.test.ts
  scripts/agnix/introduced-errors.sh
  scripts/agnix/introduced-errors.test.ts
Due: biome, yamllint, shellcheck

feat(skill-validator-rs): add invocation probes to score description routing (#424)
  .github/workflows/rust-ci.yml
  AGENTS.md
  crates/skill-validator-rs/src/lib.rs
  crates/skill-validator-rs/src/main.rs
  crates/skill-validator-rs/src/probes.rs
  crates/skill-validator-rs/src/probes_cmd.rs
  crates/skill-validator-rs/tests/cli.rs
  mise.toml
  probes/baselines/listing-overlap.json
  probes/terraform-generator.json
  probes/terraform-validator.json
Due: biome, markdownlint, yamllint

ci(agnix): file a GitHub issue for each error the check finds (#423)
  .github/workflows/agnix.yml
  scripts/agnix/file-issues.sh
  scripts/agnix/file-issues.test.ts
  scripts/agnix/introduced-errors.sh
  scripts/agnix/introduced-errors.test.ts
Due: biome, yamllint, shellcheck

chore(claude): install tools from mise.lock in the sessionstart hook
  .claude/hooks/session-start.sh
  mise.lock
Due: shellcheck

chore(claude): install tools from mise.lock in the sessionstart hook (#429)
  .claude/hooks/session-start.sh
  mise.lock
Due: shellcheck

feat(probes): add google-scholar-search and semantic-scholar-search probes
  probes/baselines/listing-overlap.json
  probes/google-scholar-search.json
  probes/semantic-scholar-search.json
Due: biome

feat(probes): add google-scholar-search and semantic-scholar-search probes (#430)
  probes/baselines/listing-overlap.json
  probes/google-scholar-search.json
  probes/semantic-scholar-search.json
Due: biome

fix(agnix): list each warning message under its own file and read issues back after writing
  scripts/agnix/file-issues.sh
  scripts/agnix/file-issues.test.ts
Due: biome, shellcheck

fix(agnix): list each warning message under its own file and read issues back after writing (#432)
  scripts/agnix/file-issues.sh
  scripts/agnix/file-issues.test.ts
Due: biome, shellcheck

fix(skill-validator-rs): read Triggers: as a trigger phrase marker
  AGENTS.md
  crates/skill-validator-rs/src/triggers.rs
  crates/skill-validator-rs/tests/cli.rs
  probes/baselines/listing-overlap.json
Due: biome, markdownlint

fix(skill-validator-rs): read Triggers: as a trigger phrase marker (#433)
  AGENTS.md
  crates/skill-validator-rs/src/triggers.rs
  crates/skill-validator-rs/tests/cli.rs
  probes/baselines/listing-overlap.json
Due: biome, markdownlint

feat(project-mgmt): add follow-up severity and priority grades
  skills/project-mgmt/context-index/scripts/regenerate-context-index.sh
  skills/project-mgmt/create-context-file/assets/schemas/context-frontmatter.schema.json
  skills/project-mgmt/create-context-file/scripts/create-context-file.sh
Due: biome, shellcheck

feat(follow-up): rank active follow-ups by severity and priority
  skills/project-mgmt/follow-up/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

docs(project-mgmt): document follow-up grades and the grading rubric
  skills/project-mgmt/context-index/SKILL.md
  skills/project-mgmt/context-index/references/regeneration-reference.md
  skills/project-mgmt/create-context-file/CHANGELOG.md
  skills/project-mgmt/create-context-file/SKILL.md
  skills/project-mgmt/create-context-file/references/cli.md
  skills/project-mgmt/create-context-file/references/follow-up-grading.md
Due: markdownlint, tessl-lint, tessl-review

chore(project-mgmt): refresh stored audits for the grading change
  docs/src/content/docs/tiles.md
  skills/project-mgmt/context-index/.audits/2026-10-07/audit.json
  skills/project-mgmt/create-context-file/.audits/2026-10-07/audit.json
  skills/project-mgmt/follow-up/.audits/2026-10-07/Analysis.md
  skills/project-mgmt/follow-up/.audits/2026-10-07/Remediation.md
  skills/project-mgmt/follow-up/.audits/2026-10-07/audit.json
Due: biome, markdownlint

feat(project-mgmt): add severity and priority grades to follow-ups (#434)
  docs/src/content/docs/tiles.md
  skills/project-mgmt/context-index/.audits/2026-10-07/audit.json
  skills/project-mgmt/context-index/SKILL.md
  skills/project-mgmt/context-index/references/regeneration-reference.md
  skills/project-mgmt/context-index/scripts/regenerate-context-index.sh
  skills/project-mgmt/create-context-file/.audits/2026-10-07/audit.json
  skills/project-mgmt/create-context-file/CHANGELOG.md
  skills/project-mgmt/create-context-file/SKILL.md
  skills/project-mgmt/create-context-file/assets/schemas/context-frontmatter.schema.json
  skills/project-mgmt/create-context-file/references/cli.md
  skills/project-mgmt/create-context-file/references/follow-up-grading.md
  skills/project-mgmt/create-context-file/scripts/create-context-file.sh
  skills/project-mgmt/follow-up/.audits/2026-10-07/Analysis.md
  skills/project-mgmt/follow-up/.audits/2026-10-07/Remediation.md
  skills/project-mgmt/follow-up/.audits/2026-10-07/audit.json
  skills/project-mgmt/follow-up/SKILL.md
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
