Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

fix(install): resolve symlink target through symlinked parent dirs
  cli/lib/install/create-symlink.test.ts
  cli/lib/install/create-symlink.ts
Due: biome

feat(distribution): add opt-in live-global skill install hook (Phase 4)
  .gitignore
  lefthook-local.example.yml
Due: yamllint

fix(ci): Skill Audit gate must report on non-skill PRs
  .github/workflows/skill-audit.yml
Due: yamllint

fix(ci): Skill Audit gate must report on non-skill PRs (#118)
  .github/workflows/skill-audit.yml
Due: yamllint

fix(install): resolve symlink target through symlinked parent dirs (#116)
  cli/lib/install/create-symlink.test.ts
  cli/lib/install/create-symlink.ts
Due: biome

feat(distribution): add opt-in live-global skill install hook (Phase 4) (#117)
  .gitignore
  lefthook-local.example.yml
Due: yamllint

chore(hooks): migrate from lefthook to hk
  .gitignore
  AGENTS.md
  CONTRIBUTING.md
  bun.lock
  cli/README.md
  cli/lib/validate/validate-skill-frontmatter.ts
  hk.pkl
  lefthook-local.example.yml
  lefthook.yml
  mise.toml
  package.json
Due: biome, markdownlint, yamllint

chore(hooks): migrate from lefthook to hk (#119)
  .gitignore
  AGENTS.md
  CONTRIBUTING.md
  bun.lock
  cli/README.md
  cli/lib/validate/validate-skill-frontmatter.ts
  hk.pkl
  lefthook-local.example.yml
  lefthook.yml
  mise.toml
  package.json
Due: biome, markdownlint, yamllint

ci(security): add Dependabot, CodeQL scanning, and security policy
  .github/dependabot.yml
  .github/workflows/codeql.yml
  SECURITY.md
Due: markdownlint, yamllint

Create codeql.yml
  .github/workflows/codeql.yml
Due: yamllint

ci(security): add Dependabot, CodeQL scanning, and security policy (#120)
  .github/dependabot.yml
  .github/workflows/codeql.yml
  SECURITY.md
Due: markdownlint, yamllint

ci: auto-rebase behind PR branches via pantheon-ai-bot
  .github/workflows/pr-auto-rebase.yml
Due: yamllint

ci: strengthen dependency, security, and PR automation (#134)
  .github/workflows/pr-auto-rebase.yml
Due: yamllint

fix(ci): use compare API instead of race-prone mergeStateStatus
  .github/workflows/pr-auto-rebase.yml
Due: yamllint

fix(ci): use compare API instead of race-prone mergeStateStatus (#135)
  .github/workflows/pr-auto-rebase.yml
Due: yamllint

chore(ci): use App client-id instead of deprecated app-id
  .github/workflows/pr-auto-rebase.yml
Due: yamllint

chore(ci): use App client-id instead of deprecated app-id (#136)
  .github/workflows/pr-auto-rebase.yml
Due: yamllint

ci(codeql): scan each language only when its files change; add python
  .github/workflows/codeql.yml
Due: yamllint

ci(codeql): scan each language only when its files change; add python (#137)
  .github/workflows/codeql.yml
Due: yamllint

fix(codeql): run all languages per PR; revert per-language filtering
  .github/workflows/codeql.yml
Due: yamllint

fix(codeql): run all languages per PR; revert per-language filtering (#138)
  .github/workflows/codeql.yml
Due: yamllint

ci(plumber): add Plumber CI/CD security scan workflow
  .github/workflows/plumber.yml
  .plumber.yaml
Due: yamllint

ci(plumber): add Plumber CI/CD security scan workflow (#139)
  .github/workflows/plumber.yml
  .plumber.yaml
Due: yamllint

fix(deps): bump python-dotenv to 1.2.2 (GHSA-mf9w-mj56-hr94)
  skills/documentation/research/notebooklm/requirements.txt
Due: none

ci(dependabot): monitor pip deps in research skills
  .github/dependabot.yml
Due: yamllint

ci(dependabot): add 7-day cooldown before update PRs
  .github/dependabot.yml
Due: yamllint

fix(deps): patch python-dotenv CVE and add pip Dependabot coverage (#140)
  .github/dependabot.yml
  skills/documentation/research/notebooklm/requirements.txt
Due: yamllint

ci(plumber): keep advisory scan from blocking PRs on runtime errors
  .github/workflows/plumber.yml
Due: yamllint

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
