Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

fix: address audit findings for acceptance-criteria
  .context/ansible-validator-audit-20260302-190126.md
  .context/azure-pipelines-generator-audit-20260302-190127.md
  skills/acceptance-criteria/tile.json
  skills/agents-md/tile.json
Due: biome, markdownlint, tessl-publish-check

audit: ansible-validator quality review
  .context/ansible-validator-audit-20260302-190126.md
Due: markdownlint

fix: address audit findings for ansible-generator
  skills/ansible-generator/SKILL.md
  skills/ansible-generator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

audit: azure-pipelines-generator quality review
  .context/azure-pipelines-generator-audit-20260302-190127.md
Due: markdownlint

fix: address audit findings for ansible-validator
  skills/ansible-validator/SKILL.md
  skills/ansible-validator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: address audit findings for azure-pipelines-generator
  skills/azure-pipelines-generator/SKILL.md
  skills/azure-pipelines-generator/references/typical-workflow.md
  skills/azure-pipelines-generator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

audit: azure-pipelines-validator quality review
  .context/azure-pipelines-validator-audit-20260302-190506.md
  .context/bash-script-generator-audit-20260302.md
  .context/bash-script-validator-audit-20260302-190509.md
  .context/bdd-testing-audit-20260302-190510.md
  .context/biome-complete-audit-20260302-190512.md
Due: markdownlint

audit: bdd-testing quality review
  .context/bash-script-generator-audit-20260302.md
  .context/bdd-testing-audit-20260302-190510.md
Due: markdownlint

audit: biome-complete quality review
  .context/biome-complete-audit-20260302-190512.md
Due: markdownlint

audit: bash-script-validator quality review
  .context/bash-script-validator-audit-20260302-190509.md
Due: markdownlint

fix: address audit findings for azure-pipelines-validator
  skills/azure-pipelines-validator/tile.json
Due: biome, tessl-publish-check

fix: address audit findings for bash-script-validator
  skills/bash-script-validator/tile.json
Due: biome, tessl-publish-check

fix: address audit findings for bdd-testing
  skills/bdd-testing/SKILL.md
  skills/bdd-testing/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: address audit findings for biome-complete
  skills/biome-complete/SKILL.md
  skills/biome-complete/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

fix: address audit findings for bash-script-generator
  skills/bash-script-generator/SKILL.md
  skills/bash-script-generator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

audit: bun-development quality review
  .context/bun-development-audit-20260302-190705.txt
Due: none

audit: cdk-nag quality review
  .context/cdk-nag-audit-20260302-190707.txt
  .context/colyseus-multiplayer-audit-20260302-190712.md
Due: markdownlint

fix: address audit findings for bun-development
  skills/bun-development/tile.json
Due: biome, tessl-publish-check

audit: cfn-behavior-validator quality review
  .context/cfn-behavior-validator-audit-20260302-190708.md
Due: markdownlint

audit: cfn-template-compare quality review
  .context/cfn-template-compare-audit-20260302-190709.txt
  .context/colyseus-multiplayer-audit-20260302-190712.md
Due: markdownlint

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
