Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
      stage_fixed: true
    skill-artifacts:
      run: ./skills/skill-quality-auditor/scripts/validate-skill-artifacts.sh {staged_files}
      stage_fixed: true
    audit-readme-sync:
      glob: ".context/audits/*.md"
      run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
      stage_fixed: true
    shellcheck:
      glob: "*.sh"
      run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
      stage_fixed: true
    tessl-lint:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
      stage_fixed: true
    tessl-review:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
      stage_fixed: true
    tessl-publish-check:
      glob: "skills/**/tile.json"
      run: ./scripts/tessl-publish-check.sh {staged_files}
      stage_fixed: true

refactor(readme): move tile description and Tessl link to section body
  README.md
  cli/lib/readme/update-readme.ts
Due: biome, markdownlint

fix(readme): remove 80-char truncation from tile descriptions
  README.md
  cli/lib/readme/update-readme.ts
Due: biome, markdownlint

feat(readme): add Evals column and tile version to skill sections
  README.md
  cli/lib/readme/tile-parser.ts
  cli/lib/readme/update-readme.ts
Due: biome, markdownlint

refactor(readme): replace inline meta with structured list per tile section
  README.md
  cli/lib/readme/tile-parser.ts
  cli/lib/readme/update-readme.ts
Due: biome, markdownlint

refactor(readme): split catalog into README summary + TILES.md detail
  README.md
  TILES.md
  cli/lib/readme/tile-parser.ts
  cli/lib/readme/update-readme.ts
Due: biome, markdownlint

refactor(readme): move Evals column from README to TILES.md
  README.md
  cli/lib/readme/update-readme.ts
Due: biome, markdownlint

docs: update design-principles split plan and run post-split audits
  .context/audits/software-engineering/clean-architecture/2026-03-04/analysis.md
  .context/audits/software-engineering/clean-architecture/2026-03-04/audit.json
  .context/audits/software-engineering/clean-architecture/2026-03-04/remediation-plan.md
  .context/audits/software-engineering/clean-architecture/latest
  .context/audits/software-engineering/design-patterns/2026-03-04/analysis.md
  .context/audits/software-engineering/design-patterns/2026-03-04/audit.json
  .context/audits/software-engineering/design-patterns/2026-03-04/remediation-plan.md
  .context/audits/software-engineering/design-patterns/latest
  .context/audits/software-engineering/solid-principles/2026-03-04/analysis.md
  .context/audits/software-engineering/solid-principles/2026-03-04/audit.json
  .context/audits/software-engineering/solid-principles/2026-03-04/remediation-plan.md
  .context/audits/software-engineering/solid-principles/latest
  .context/audits/software-engineering/testable-design/2026-03-04/analysis.md
  .context/audits/software-engineering/testable-design/2026-03-04/audit.json
  .context/audits/software-engineering/testable-design/2026-03-04/remediation-plan.md
  .context/audits/software-engineering/testable-design/latest
  .context/plans/split-software-design-principles/README.md
  .context/plans/split-software-design-principles/dependency-report.txt
Due: biome, markdownlint, audit-readme-sync

ci: add GitHub Actions workflows for PR skill checks and post-merge maintenance
  .github/workflows/post-merge.yml
  .github/workflows/pr-skill-checks.yml
Due: yamllint

ci: remove temporary skill check script
  .tmp-check-skills.sh
Due: shellcheck

Update .github/workflows/pr-skill-checks.yml
  .github/workflows/pr-skill-checks.yml
Due: yamllint

Update .github/workflows/post-merge.yml
  .github/workflows/post-merge.yml
Due: yamllint

ci: address Copilot review comments on PR/post-merge workflows
  .github/workflows/post-merge.yml
  .github/workflows/pr-skill-checks.yml
Due: yamllint

ci: address second round of Copilot review comments
  .github/workflows/post-merge.yml
  .github/workflows/pr-skill-checks.yml
Due: yamllint

ci: gate lint/review jobs on non-fork to avoid read-only token errors
  .github/workflows/pr-skill-checks.yml
Due: yamllint

ci: add fetch-depth:0 and --autostash to readme update job
  .github/workflows/post-merge.yml
Due: yamllint

ci: add GitHub Actions workflows for PR skill checks and post-merge maintenance (#1)
  .github/workflows/post-merge.yml
  .github/workflows/pr-skill-checks.yml
  .tmp-check-skills.sh
Due: yamllint, shellcheck

docs(context): add navigation hub completion plan
  .context/plans/navigation-hub-completion/README.md
  .context/plans/navigation-hub-completion/phases/phase-0-state-audit/README.md
  .context/plans/navigation-hub-completion/phases/phase-1-extending-nx-plugins/README.md
  .context/plans/navigation-hub-completion/phases/phase-2-conventional-commits/README.md
  .context/plans/navigation-hub-completion/phases/phase-3-reference-audit/README.md
  .context/plans/navigation-hub-completion/phases/phase-4-quality-validation/README.md
Due: markdownlint

feat: Add Phase 4 and Phase 5 documentation for skill audit remediation
  .claude/settings.local.json
  .codex/config.toml
  .context/plans/complete-skill-audit-remediation/README.md
  .context/plans/complete-skill-audit-remediation/phases/phase-1-establish-baseline.md
  .context/plans/complete-skill-audit-remediation/phases/phase-2-batch-processing.md
  .context/plans/complete-skill-audit-remediation/phases/phase-3-analysis-documentation.md
  .context/plans/complete-skill-audit-remediation/phases/phase-4-process-improvement.md
  .context/plans/complete-skill-audit-remediation/phases/phase-5-comprehensive-remediation.md
  .mcp.json
Due: biome, markdownlint

feat(skills): complete navigation hub conversion for nx and conventional-commits skills
  .context/audits/documentation/conventional-commits/2026-03-06/analysis.md
  .context/audits/documentation/conventional-commits/2026-03-06/audit.json
  .context/audits/documentation/conventional-commits/2026-03-06/remediation-plan.md
  .context/audits/documentation/conventional-commits/latest
  .context/audits/repository-mgmt/nx/biome-integration/2026-03-06/analysis.md
  .context/audits/repository-mgmt/nx/biome-integration/2026-03-06/audit.json
  .context/audits/repository-mgmt/nx/biome-integration/2026-03-06/remediation-plan.md
  .context/audits/repository-mgmt/nx/biome-integration/latest
  .context/audits/repository-mgmt/nx/bun-integration/2026-03-06/analysis.md
  .context/audits/repository-mgmt/nx/bun-integration/2026-03-06/audit.json
  .context/audits/repository-mgmt/nx/bun-integration/2026-03-06/remediation-plan.md
  .context/audits/repository-mgmt/nx/bun-integration/latest
  .context/audits/repository-mgmt/nx/extending-plugins/2026-03-06/analysis.md
  .context/audits/repository-mgmt/nx/extending-plugins/2026-03-06/audit.json
  .context/audits/repository-mgmt/nx/extending-plugins/2026-03-06/remediation-plan.md
  .context/audits/repository-mgmt/nx/extending-plugins/latest
  .context/audits/repository-mgmt/nx/workspace-patterns/2026-03-06/analysis.md
  .context/audits/repository-mgmt/nx/workspace-patterns/2026-03-06/audit.json
  .context/audits/repository-mgmt/nx/workspace-patterns/2026-03-06/remediation-plan.md
  .context/audits/repository-mgmt/nx/workspace-patterns/latest
  .context/plans/navigation-hub-completion/README.md
  .gitignore
  .mcp.json
  skills/agentic-harness/skill-quality-auditor/scripts/evaluate.sh
  skills/documentation/conventional-commits/SKILL.md
  skills/repository-mgmt/nx/extending-plugins/SKILL.md
  skills/repository-mgmt/nx/extending-plugins/references/common-patterns.md
  skills/repository-mgmt/nx/extending-plugins/references/devkit-api.md
  skills/repository-mgmt/nx/extending-plugins/references/generators.md
  skills/repository-mgmt/nx/extending-plugins/references/plugin-setup.md
  skills/repository-mgmt/nx/extending-plugins/tile.json
Due: biome, markdownlint, audit-readme-sync, shellcheck, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add graphthulhu knowledge graph skill
  .claude/settings.local.json
  .gitignore
  .mcp.json
  skills/agentic-harness/graphthulhu/SKILL.md
  skills/agentic-harness/graphthulhu/evals/instructions.json
  skills/agentic-harness/graphthulhu/evals/scenario-0/capability.txt
  skills/agentic-harness/graphthulhu/evals/scenario-0/criteria.json
  skills/agentic-harness/graphthulhu/evals/scenario-0/task.md
  skills/agentic-harness/graphthulhu/evals/scenario-1/capability.txt
  skills/agentic-harness/graphthulhu/evals/scenario-1/criteria.json
  skills/agentic-harness/graphthulhu/evals/scenario-1/task.md
  skills/agentic-harness/graphthulhu/evals/scenario-2/capability.txt
  skills/agentic-harness/graphthulhu/evals/scenario-2/criteria.json
  skills/agentic-harness/graphthulhu/evals/scenario-2/task.md
  skills/agentic-harness/graphthulhu/evals/scenario-3/capability.txt
  skills/agentic-harness/graphthulhu/evals/scenario-3/criteria.json
  skills/agentic-harness/graphthulhu/evals/scenario-3/task.md
  skills/agentic-harness/graphthulhu/evals/scenario-4/capability.txt
  skills/agentic-harness/graphthulhu/evals/scenario-4/criteria.json
  skills/agentic-harness/graphthulhu/evals/scenario-4/task.md
  skills/agentic-harness/graphthulhu/evals/summary.json
  skills/agentic-harness/graphthulhu/references/tool-catalogue.md
  skills/agentic-harness/graphthulhu/references/workflow.md
  skills/agentic-harness/graphthulhu/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check
