Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

refactor(gitlab-ci-validator): apply tessl optimization
  skills/gitlab-ci-validator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

chore(gitlab-ci-validator): set private to false for public registry
  skills/gitlab-ci-validator/tile.json
Due: biome, tessl-publish-check

refactor(helm-generator): apply tessl optimization
  skills/helm-generator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

chore(helm-generator): set private=false for public publishing
  skills/helm-generator/tile.json
Due: biome, tessl-publish-check

refactor(jenkinsfile-generator): apply tessl optimization
  skills/jenkinsfile-generator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

fix(jenkinsfile-generator): address linting issues
  skills/jenkinsfile-generator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

refactor(implementation-plan-splitter): apply tessl optimization
  skills/implementation-plan-splitter/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

chore(implementation-plan-splitter): set private to false for public registry
  skills/implementation-plan-splitter/tile.json
Due: biome, tessl-publish-check

fix(k8s-yaml-validator): address linting issues
  skills/k8s-yaml-validator/assets/certificate-crd-test.yaml
  skills/k8s-yaml-validator/assets/comprehensive-test.yaml
  skills/k8s-yaml-validator/assets/deployment-test.yaml
  skills/k8s-yaml-validator/tile.json
Due: biome, yamllint, tessl-publish-check

refactor(k8s-yaml-generator): apply tessl optimization
  skills/k8s-yaml-generator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

fix(logql-generator): address linting issues
  skills/logql-generator/SKILL.md
  skills/logql-generator/assets/common_queries.logql
Due: markdownlint, tessl-lint, tessl-review

fix(jenkinsfile-validator): address linting issues
  skills/jenkinsfile-validator/SKILL.md
  skills/jenkinsfile-validator/assets/examples/bad-declarative-pipeline.Jenkinsfile
  skills/jenkinsfile-validator/assets/examples/bad-scripted-pipeline.Jenkinsfile
  skills/jenkinsfile-validator/assets/examples/declarative-docker.Jenkinsfile
  skills/jenkinsfile-validator/assets/examples/declarative-kubernetes.Jenkinsfile
  skills/jenkinsfile-validator/assets/examples/declarative-parallel.Jenkinsfile
  skills/jenkinsfile-validator/assets/examples/declarative-unknown-plugins.Jenkinsfile
  skills/jenkinsfile-validator/assets/examples/scripted-basic.Jenkinsfile
  skills/jenkinsfile-validator/assets/examples/scripted-conditional.Jenkinsfile
  skills/jenkinsfile-validator/assets/examples/scripted-docker.Jenkinsfile
  skills/jenkinsfile-validator/assets/examples/shared-library/src/com/example/BuildConfig.groovy
  skills/jenkinsfile-validator/assets/examples/shared-library/vars/BadStep.groovy
  skills/jenkinsfile-validator/assets/examples/shared-library/vars/buildApp.groovy
  skills/jenkinsfile-validator/references/best_practices.md
  skills/jenkinsfile-validator/references/common_plugins.md
  skills/jenkinsfile-validator/references/declarative_syntax.md
  skills/jenkinsfile-validator/references/scripted_syntax.md
  skills/jenkinsfile-validator/references/troubleshooting.md
  skills/jenkinsfile-validator/references/validation_rules.md
  skills/jenkinsfile-validator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

refactor(k8s-debug): apply tessl optimization
  skills/k8s-debug/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

chore(k8s-debug): set skill to public for registry
  skills/k8s-debug/tile.json
Due: biome, tessl-publish-check

refactor(k8s-yaml-validator): apply tessl optimization
  skills/k8s-yaml-validator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

chore(k8s-yaml-validator): set private to false for public registry
  skills/k8s-yaml-validator/tile.json
Due: biome, tessl-publish-check

refactor(jenkinsfile-validator): apply tessl optimization
  skills/jenkinsfile-validator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

chore(jenkinsfile-validator): prepare for public release
  skills/jenkinsfile-validator/tile.json
Due: biome, tessl-publish-check

refactor(logql-generator): apply tessl optimization
  skills/logql-generator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

chore(logql-generator): prepare for public release
  skills/logql-generator/tile.json
Due: biome, tessl-publish-check

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
