Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

feat(skill-auditor): add `skill bundle` to introspect embedded skill files
  crates/skill-auditor/src/main.rs
  crates/skill-auditor/src/skill_bundle.rs
  docs/src/pages/tools.astro
Due: none

feat(skill-auditor): port duplication detection to Rust (Wave 1)
  crates/skill-auditor/src/duplication.rs
  crates/skill-auditor/src/lib.rs
  crates/skill-auditor/src/main.rs
  docs/src/pages/tools.astro
Due: none

feat(skill-auditor): add bundle introspection and duplication detection (#210)
  crates/skill-auditor/src/duplication.rs
  crates/skill-auditor/src/lib.rs
  crates/skill-auditor/src/main.rs
  crates/skill-auditor/src/skill_bundle.rs
  docs/src/pages/tools.astro
Due: none

feat(skill-validator-rs): port validate-skill-artifacts to `validate artifacts` (Wave 2)
  crates/skill-validator-rs/src/artifacts.rs
  crates/skill-validator-rs/src/lib.rs
  crates/skill-validator-rs/src/main.rs
  crates/skill-validator-rs/src/run.rs
  hk.pkl
Due: none

chore(skill-quality-auditor): retire redundant check-consistency.sh (Wave 2)
  skills/agentic-harness/skill-quality-auditor/AGENTS.md
  skills/agentic-harness/skill-quality-auditor/scripts/check-consistency.sh
Due: markdownlint, shellcheck

test(skill-validator-rs): re-freeze golden for skill-quality-auditor AGENTS.md
  crates/skill-validator-rs/tests/golden-corpus/goldens.json
Due: biome

feat(skill-validator-rs): port validate-skill-artifacts; retire check-consistency (Wave 2) (#211)
  crates/skill-validator-rs/src/artifacts.rs
  crates/skill-validator-rs/src/lib.rs
  crates/skill-validator-rs/src/main.rs
  crates/skill-validator-rs/src/run.rs
  crates/skill-validator-rs/tests/golden-corpus/goldens.json
  hk.pkl
  skills/agentic-harness/skill-quality-auditor/AGENTS.md
  skills/agentic-harness/skill-quality-auditor/scripts/check-consistency.sh
Due: biome, markdownlint, shellcheck

feat(skill-auditor): port prune-audits to Rust (Wave 3)
  crates/skill-auditor/src/lib.rs
  crates/skill-auditor/src/main.rs
  crates/skill-auditor/src/prune.rs
  docs/src/pages/tools.astro
Due: none

feat(skill-auditor): port plan-aggregation to Rust (Wave 3)
  crates/skill-auditor/src/aggregation.rs
  crates/skill-auditor/src/lib.rs
  crates/skill-auditor/src/main.rs
  docs/src/pages/tools.astro
Due: none

feat(skill-auditor): audit tooling — prune-audits + plan-aggregation (Wave 3) (#213)
  crates/skill-auditor/src/aggregation.rs
  crates/skill-auditor/src/lib.rs
  crates/skill-auditor/src/main.rs
  crates/skill-auditor/src/prune.rs
  docs/src/pages/tools.astro
Due: none

feat(skill-auditor): port tessl-compliance-check to Rust (Wave 4)
  crates/skill-auditor/src/lib.rs
  crates/skill-auditor/src/main.rs
  crates/skill-auditor/src/tessl.rs
  docs/src/pages/tools.astro
Due: none

test(skill-auditor): fix tessl platform-path test fixture (Wave 4)
  crates/skill-auditor/src/tessl.rs
Due: none

feat(skill-auditor): port tessl-compliance-check (Wave 4) (#214)
  crates/skill-auditor/src/lib.rs
  crates/skill-auditor/src/main.rs
  crates/skill-auditor/src/tessl.rs
  docs/src/pages/tools.astro
Due: none

fix(hk): resolve pre-commit friction from validate-artifacts whole-tree scan
  .github/skills/tessl__pr-comment-resolver
  crates/skill-validator-rs/src/artifacts.rs
  hk.pkl
Due: none

fix(hk): resolve pre-commit friction from validate-artifacts whole-tree scan (#215)
  .github/skills/tessl__pr-comment-resolver
  crates/skill-validator-rs/src/artifacts.rs
  hk.pkl
Due: none

feat(skill-auditor): port the pattern-analysis trio to Rust (Wave 5)
  crates/skill-auditor/src/lib.rs
  crates/skill-auditor/src/main.rs
  crates/skill-auditor/src/pattern_analysis.rs
  crates/skill-auditor/src/quality_signals.rs
  crates/skill-auditor/src/reports.rs
  crates/skill-auditor/src/semantic.rs
  docs/src/pages/tools.astro
Due: none

feat(skill-auditor): port the pattern-analysis trio to Rust (Wave 5) (#217)
  crates/skill-auditor/src/lib.rs
  crates/skill-auditor/src/main.rs
  crates/skill-auditor/src/pattern_analysis.rs
  crates/skill-auditor/src/quality_signals.rs
  crates/skill-auditor/src/reports.rs
  crates/skill-auditor/src/semantic.rs
  docs/src/pages/tools.astro
Due: none

docs(agents): note inline code spans are exempt from self-containment check
  AGENTS.md
Due: markdownlint

ci: add scheduled release-please auto-merge workflow
  .github/workflows/release-automerge.yml
Due: yamllint

ci: add scheduled release-please auto-merge workflow (#219)
  .github/workflows/release-automerge.yml
Due: yamllint

ci(skill-audit): add duplication scan and batch grade audit
  .github/workflows/skill-audit.yml
Due: yamllint

ci(skill-audit): add duplication scan and batch grade audit (#220)
  .github/workflows/skill-audit.yml
Due: yamllint

ci(skill-audit): surface duplication results in the PR comment
  .github/workflows/skill-audit.yml
Due: yamllint

ci(skill-audit): surface duplication results in the PR comment (#221)
  .github/workflows/skill-audit.yml
Due: yamllint

ci(plumber): gate on Critical findings + track High/Medium/Low backlog
  .github/workflows/plumber.yml
  scripts/plumber-file-issues.sh
  scripts/plumber-gate.sh
  scripts/plumber-pr-comment.sh
Due: yamllint, shellcheck

ci(plumber): gate on Critical findings + track High/Medium/Low backlog (#222)
  .github/workflows/plumber.yml
  scripts/plumber-file-issues.sh
  scripts/plumber-gate.sh
  scripts/plumber-pr-comment.sh
Due: yamllint, shellcheck

ci: add inert general-purpose PR Agent workflow (non-skill PRs)
  .github/workflows/pr-agent.yml
Due: yamllint

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
