Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
      stage_fixed: true
    skill-artifacts:
      run: ./skills/skill-quality-auditor/scripts/validate-skill-artifacts.sh {staged_files}
      stage_fixed: true
    audit-readme-sync:
      glob: ".context/audits/*.md"
      run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
      stage_fixed: true
    shellcheck:
      glob: "*.sh"
      run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
      stage_fixed: true

fix: update version and visibility for skill-quality-auditor and software-design-principles tiles
  skills/skill-quality-auditor/tile.json
  skills/software-design-principles/tile.json
Due: biome

fix: update version to 0.1.2 and set visibility to public for agents-md tile
  skills/agents-md/tile.json
Due: biome

feat: add comprehensive evaluation scenarios for acceptance-criteria skill
  skills/acceptance-criteria/SKILL.md
  skills/acceptance-criteria/evals/instructions.json
  skills/acceptance-criteria/evals/scenario-0/capability.txt
  skills/acceptance-criteria/evals/scenario-0/criteria.json
  skills/acceptance-criteria/evals/scenario-0/task.md
  skills/acceptance-criteria/evals/scenario-1/capability.txt
  skills/acceptance-criteria/evals/scenario-1/criteria.json
  skills/acceptance-criteria/evals/scenario-1/task.md
  skills/acceptance-criteria/evals/scenario-2/capability.txt
  skills/acceptance-criteria/evals/scenario-2/criteria.json
  skills/acceptance-criteria/evals/scenario-2/task.md
  skills/acceptance-criteria/evals/scenario-3/capability.txt
  skills/acceptance-criteria/evals/scenario-3/criteria.json
  skills/acceptance-criteria/evals/scenario-3/task.md
  skills/acceptance-criteria/evals/scenario-4/capability.txt
  skills/acceptance-criteria/evals/scenario-4/criteria.json
  skills/acceptance-criteria/evals/scenario-4/task.md
  skills/acceptance-criteria/evals/summary.json
  skills/acceptance-criteria/evals/summary_infeasible.json
  skills/acceptance-criteria/tile.json
Due: biome, markdownlint

fix: add missing newlines at the end of task markdown files for scenarios 0-4
  skills/acceptance-criteria/evals/scenario-0/task.md
  skills/acceptance-criteria/evals/scenario-1/task.md
  skills/acceptance-criteria/evals/scenario-2/task.md
  skills/acceptance-criteria/evals/scenario-3/task.md
  skills/acceptance-criteria/evals/scenario-4/task.md
Due: markdownlint

fix: update version to 0.1.2 and modify criteria structure for software design principles scenarios
  skills/software-design-principles/evals/scenario-5/criteria.json
  skills/software-design-principles/evals/scenario-6/criteria.json
  skills/software-design-principles/tile.json
Due: biome

fix: link all reference files in SKILL.md and bump to v0.1.3
  skills/software-design-principles/SKILL.md
  skills/software-design-principles/tile.json
Due: biome, markdownlint

feat: add tessl publish validation to pre-commit hooks
  lefthook.yml
  package.json
  scripts/tessl-manage-skills.sh
  scripts/tessl-publish-check.sh
Due: biome, yamllint, shellcheck

feat: add comprehensive tessl registry compliance support
  AGENTS.md
  README.md
  skills/skill-quality-auditor/SKILL.md
  skills/skill-quality-auditor/references/aggregation-pattern.md
  skills/skill-quality-auditor/references/framework-quality-standards.md
  skills/skill-quality-auditor/references/framework-scoring-rubric.md
  skills/skill-quality-auditor/references/framework-skill-judge-dimensions.md
  skills/skill-quality-auditor/references/tessl-compliance-framework.md
  skills/skill-quality-auditor/scripts/tessl-compliance-check.sh
Due: markdownlint, shellcheck

feat: add automated skill management script
  AGENTS.md
  README.md
  scripts/manage-skills.sh
Due: markdownlint, shellcheck

feat: publish test-driven-development skill to tessl public registry
  AGENTS.md
  skills/test-driven-development/SKILL.md
  skills/test-driven-development/tile.json
Due: biome, markdownlint

fix: correct markdown table formatting in README
  README.md
  scripts/update-readme-ratings.sh
  skills/test-driven-development/tile.json
Due: biome, markdownlint, shellcheck

fix: correct broken table row markdown formatting
  README.md
  scripts/update-readme-ratings.sh
Due: markdownlint, shellcheck

fix: remove unnecessary keywords from TDD skill documentation
  skills/test-driven-development/SKILL.md
  skills/test-driven-development/tile.json
Due: biome, markdownlint

feat: add comprehensive evaluation scenarios for test-driven-development skill
  skills/test-driven-development/evals/instructions.json
  skills/test-driven-development/evals/scenario-0/capability.txt
  skills/test-driven-development/evals/scenario-0/criteria.json
  skills/test-driven-development/evals/scenario-0/task.md
  skills/test-driven-development/evals/scenario-1/capability.txt
  skills/test-driven-development/evals/scenario-1/criteria.json
  skills/test-driven-development/evals/scenario-1/task.md
  skills/test-driven-development/evals/scenario-2/capability.txt
  skills/test-driven-development/evals/scenario-2/criteria.json
  skills/test-driven-development/evals/scenario-2/task.md
  skills/test-driven-development/evals/scenario-3/capability.txt
  skills/test-driven-development/evals/scenario-3/criteria.json
  skills/test-driven-development/evals/scenario-3/task.md
  skills/test-driven-development/evals/scenario-4/capability.txt
  skills/test-driven-development/evals/scenario-4/criteria.json
  skills/test-driven-development/evals/scenario-4/task.md
  skills/test-driven-development/evals/summary.json
  skills/test-driven-development/evals/summary_infeasible.json
  skills/test-driven-development/tile.json
Due: biome, markdownlint

fix: resolve markdown formatting issues in eval scenarios
  skills/journal-entry-creator/evals/instructions.json
  skills/journal-entry-creator/evals/scenario-0/capability.txt
  skills/journal-entry-creator/evals/scenario-0/criteria.json
  skills/journal-entry-creator/evals/scenario-0/task.md
  skills/journal-entry-creator/evals/scenario-1/capability.txt
  skills/journal-entry-creator/evals/scenario-1/criteria.json
  skills/journal-entry-creator/evals/scenario-1/task.md
  skills/journal-entry-creator/evals/scenario-2/capability.txt
  skills/journal-entry-creator/evals/scenario-2/criteria.json
  skills/journal-entry-creator/evals/scenario-2/task.md
  skills/journal-entry-creator/evals/scenario-3/capability.txt
  skills/journal-entry-creator/evals/scenario-3/criteria.json
  skills/journal-entry-creator/evals/scenario-3/task.md
  skills/journal-entry-creator/evals/scenario-4/capability.txt
  skills/journal-entry-creator/evals/scenario-4/criteria.json
  skills/journal-entry-creator/evals/scenario-4/task.md
  skills/journal-entry-creator/evals/summary.json
  skills/journal-entry-creator/evals/summary_infeasible.json
  skills/journal-entry-creator/tile.json
Due: biome, markdownlint

fix: update violation guidelines for journal entry creation
  skills/journal-entry-creator/SKILL.md
  skills/journal-entry-creator/tile.json
Due: biome, markdownlint

fix: update version to 0.1.2 in skill-quality-auditor tile
  skills/skill-quality-auditor/tile.json
Due: biome

fix: update version to 0.1.3 in journal-entry-creator tile
  skills/journal-entry-creator/SKILL.md
  skills/journal-entry-creator/tile.json
Due: biome, markdownlint

improve(skill-quality-auditor): enhance progressive disclosure, artifact validation, and score thresholds
  skills/skill-quality-auditor/SKILL.md
  skills/skill-quality-auditor/tile.json
Due: biome, markdownlint
