Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
      stage_fixed: true
    skill-artifacts:
      run: ./skills/skill-quality-auditor/scripts/validate-skill-artifacts.sh {staged_files}
      stage_fixed: true
    audit-readme-sync:
      glob: ".context/audits/*.md"
      run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
      stage_fixed: true
    shellcheck:
      glob: "*.sh"
      run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
      stage_fixed: true
    tessl-lint:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
      stage_fixed: true
    tessl-review:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
      stage_fixed: true
    tessl-publish-check:
      glob: "skills/**/tile.json"
      run: ./scripts/tessl-publish-check.sh {staged_files}
      stage_fixed: true

ci: add inert general-purpose PR Agent workflow (non-skill PRs) (#223)
  .github/workflows/pr-agent.yml
Due: yamllint

ci: add aislop full-repo code-quality gate (advisory)
  .github/workflows/aislop.yml
Due: yamllint

ci: add aislop full-repo code-quality gate (advisory) (#224)
  .github/workflows/aislop.yml
Due: yamllint

ci(deps): bump getplumber/plumber from 0.4.2 to 0.4.3 in the actions-minor-patch group
  .github/workflows/plumber.yml
Due: yamllint

ci(deps): bump getplumber/plumber from 0.4.2 to 0.4.3 in the actions-minor-patch group (#228)
  .github/workflows/plumber.yml
Due: yamllint

ci(deps): bump the actions-minor-patch group across 1 directory with 3 updates
  .github/workflows/codeql.yml
  .github/workflows/plumber.yml
Due: yamllint

ci(deps): bump the actions-minor-patch group across 1 directory with 3 updates (#229)
  .github/workflows/codeql.yml
  .github/workflows/plumber.yml
Due: yamllint

chore(mcp): register local dev MCP servers in .mcp.json
  .mcp.json
Due: biome

chore(mcp): register local dev MCP servers in .mcp.json (#226)
  .mcp.json
Due: biome

fix(aislop): clear all 30 aislop errors (swallowed exceptions + false positives)
  .aislop/config.yml
  .gitignore
  skills/documentation/research/google-scholar-search/scripts/google-scholar-search.py
  skills/documentation/research/notebooklm/scripts/ask_question.py
  skills/documentation/research/notebooklm/scripts/auth_manager.py
  skills/documentation/research/notebooklm/scripts/browser_session.py
  skills/documentation/research/notebooklm/scripts/browser_utils.py
  skills/documentation/research/notebooklm/scripts/cleanup_manager.py
  skills/documentation/research/notebooklm/scripts/notebook_manager.py
  skills/documentation/research/notebooklm/scripts/setup_environment.py
  skills/documentation/research/pubmed-search/scripts/pubmed_search.py
  skills/documentation/research/sci-data-extractor/scripts/extractor.py
  skills/documentation/research/sci-hub-search/scripts/sci_hub_search.py
  skills/documentation/research/semantic-scholar-search/scripts/semantic-scholar-search.py
  skills/infrastructure/terraform/validator/scripts/extract_tf_info.py
  skills/infrastructure/terragrunt/validator/scripts/detect_custom_resources.py
Due: yamllint

fix(aislop): drop unused Optional import in browser_utils
  skills/documentation/research/notebooklm/scripts/browser_utils.py
Due: none

fix(aislop): clear all 30 aislop errors (Wave 1 of cleanup-to-green) (#231)
  .aislop/config.yml
  .gitignore
  skills/documentation/research/google-scholar-search/scripts/google-scholar-search.py
  skills/documentation/research/notebooklm/scripts/ask_question.py
  skills/documentation/research/notebooklm/scripts/auth_manager.py
  skills/documentation/research/notebooklm/scripts/browser_session.py
  skills/documentation/research/notebooklm/scripts/browser_utils.py
  skills/documentation/research/notebooklm/scripts/cleanup_manager.py
  skills/documentation/research/notebooklm/scripts/notebook_manager.py
  skills/documentation/research/notebooklm/scripts/setup_environment.py
  skills/documentation/research/pubmed-search/scripts/pubmed_search.py
  skills/documentation/research/sci-data-extractor/scripts/extractor.py
  skills/documentation/research/sci-hub-search/scripts/sci_hub_search.py
  skills/documentation/research/semantic-scholar-search/scripts/semantic-scholar-search.py
  skills/infrastructure/terraform/validator/scripts/extract_tf_info.py
  skills/infrastructure/terragrunt/validator/scripts/detect_custom_resources.py
Due: yamllint

chore(aislop): disable duplicate Biome format engine + remove unused imports
  .aislop/config.yml
  skills/ci-cd/azure-pipelines/validator/scripts/check_best_practices.py
  skills/ci-cd/azure-pipelines/validator/scripts/validate_syntax.py
  skills/ci-cd/fluentbit/validator/scripts/validate_config.py
  skills/ci-cd/jenkinsfile/generator/scripts/generate_declarative.py
  skills/ci-cd/jenkinsfile/generator/scripts/generate_scripted.py
  skills/documentation/research/notebooklm/scripts/auth_manager.py
  skills/documentation/research/notebooklm/scripts/cleanup_manager.py
  skills/documentation/research/notebooklm/scripts/notebook_manager.py
  skills/documentation/research/sci-data-extractor/scripts/extractor.py
  skills/documentation/research/sci-hub-search/scripts/sci_hub_search.py
  skills/infrastructure/terragrunt/validator/scripts/detect_custom_resources.py
  skills/observability/promql/validator/scripts/check_best_practices.py
  skills/observability/promql/validator/scripts/validate_syntax.py
Due: yamllint

ci(aislop): scope gate to core code and make it blocking
  .aislop/config.yml
  .github/workflows/aislop.yml
Due: yamllint

ci(aislop): scope gate to core code + make it blocking (Wave 2) (#232)
  .aislop/config.yml
  .github/workflows/aislop.yml
  skills/ci-cd/azure-pipelines/validator/scripts/check_best_practices.py
  skills/ci-cd/azure-pipelines/validator/scripts/validate_syntax.py
  skills/ci-cd/fluentbit/validator/scripts/validate_config.py
  skills/ci-cd/jenkinsfile/generator/scripts/generate_declarative.py
  skills/ci-cd/jenkinsfile/generator/scripts/generate_scripted.py
  skills/documentation/research/notebooklm/scripts/auth_manager.py
  skills/documentation/research/notebooklm/scripts/cleanup_manager.py
  skills/documentation/research/notebooklm/scripts/notebook_manager.py
  skills/documentation/research/sci-data-extractor/scripts/extractor.py
  skills/documentation/research/sci-hub-search/scripts/sci_hub_search.py
  skills/infrastructure/terragrunt/validator/scripts/detect_custom_resources.py
  skills/observability/promql/validator/scripts/check_best_practices.py
  skills/observability/promql/validator/scripts/validate_syntax.py
Due: yamllint

ci(dist): pin generated Actions to commit SHAs; upgrade cargo-dist 0.28 -> 0.32
  .github/workflows/tool-release.yml
  dist-workspace.toml
  mise.toml
Due: yamllint

ci(dist): pin generated Actions to commit SHAs; upgrade cargo-dist 0.28 -> 0.32 (#234)
  .github/workflows/tool-release.yml
  dist-workspace.toml
  mise.toml
Due: yamllint

ci(plumber): disable classic branch-protection check (main uses a ruleset)
  .plumber.yaml
Due: yamllint

ci(plumber): disable classic branch-protection check (main uses a ruleset) (#235)
  .plumber.yaml
Due: yamllint

ci(pr-agent): fix fallback chain (set custom_model_max_tokens)
  .github/workflows/pr-agent.yml
Due: yamllint

ci(pr-agent): fix fallback chain (set custom_model_max_tokens) (#236)
  .github/workflows/pr-agent.yml
Due: yamllint

chore: genericize internal references in examples and fixtures
  .github/workflows/pr-agent.yml
  skills/infrastructure/cfn/template-compare/references/markdown-report-example.md
  skills/infrastructure/cfn/template-compare/scripts/compare-cfn-templates.sh
Due: markdownlint, yamllint, shellcheck

test(skill-validator): refresh golden corpus after genericization
  crates/skill-validator-rs/tests/golden-corpus/goldens.json
Due: biome

test(skill-validator): refresh golden corpus after genericization (#238)
  crates/skill-validator-rs/tests/golden-corpus/goldens.json
Due: biome

chore(release-please): reconcile manifest/plugin.json drift and register all skills
  .context/plans/monorepo-tools-distribution.md
  .context/plans/release-versioning-policy.md
  .release-please-manifest.json
  release-please-config.json
  skills/agentic-harness/opencode-toolkit/build-plugins/.tessl-plugin/plugin.json
  skills/agentic-harness/opencode-toolkit/design-agents/.tessl-plugin/plugin.json
  skills/agentic-harness/opencode-toolkit/design-commands/.tessl-plugin/plugin.json
  skills/agentic-harness/tessl/publish-public/.tessl-plugin/plugin.json
  skills/ci-cd/azure-pipelines/.tessl-plugin/plugin.json
  skills/ci-cd/fluentbit/.tessl-plugin/plugin.json
  skills/ci-cd/github-actions/.tessl-plugin/plugin.json
  skills/ci-cd/gitlab-ci/.tessl-plugin/plugin.json
  skills/ci-cd/helm/.tessl-plugin/plugin.json
  skills/ci-cd/jenkinsfile/.tessl-plugin/plugin.json
  skills/development/scripting/bash-script/.tessl-plugin/plugin.json
  skills/development/scripting/makefile/.tessl-plugin/plugin.json
  skills/documentation/journal-entry-creator/.tessl-plugin/plugin.json
  skills/documentation/markdown-authoring/.tessl-plugin/plugin.json
  skills/infrastructure/ansible/.tessl-plugin/plugin.json
  skills/infrastructure/cfn/.tessl-plugin/plugin.json
  skills/infrastructure/dockerfile/.tessl-plugin/plugin.json
  skills/infrastructure/k8s/.tessl-plugin/plugin.json
  skills/infrastructure/terraform/.tessl-plugin/plugin.json
  skills/infrastructure/terragrunt/.tessl-plugin/plugin.json
  skills/observability/promql/.tessl-plugin/plugin.json
  skills/project-mgmt/create-context-file/.tessl-plugin/plugin.json
  skills/repository-mgmt/nx/.tessl-plugin/plugin.json
  skills/software-engineering/design-principles/.tessl-plugin/plugin.json
  skills/specialized/github-copilot-models/.tessl-plugin/plugin.json
  skills/specialized/gitlab-api/.tessl-plugin/plugin.json
  skills/testing/test-driven-development/.tessl-plugin/plugin.json
Due: biome, markdownlint

chore(release-please): reconcile manifest/plugin.json drift and register all skills (#240)
  .context/plans/monorepo-tools-distribution.md
  .context/plans/release-versioning-policy.md
  .release-please-manifest.json
  release-please-config.json
  skills/agentic-harness/opencode-toolkit/build-plugins/.tessl-plugin/plugin.json
  skills/agentic-harness/opencode-toolkit/design-agents/.tessl-plugin/plugin.json
  skills/agentic-harness/opencode-toolkit/design-commands/.tessl-plugin/plugin.json
  skills/agentic-harness/tessl/publish-public/.tessl-plugin/plugin.json
  skills/ci-cd/azure-pipelines/.tessl-plugin/plugin.json
  skills/ci-cd/fluentbit/.tessl-plugin/plugin.json
  skills/ci-cd/github-actions/.tessl-plugin/plugin.json
  skills/ci-cd/gitlab-ci/.tessl-plugin/plugin.json
  skills/ci-cd/helm/.tessl-plugin/plugin.json
  skills/ci-cd/jenkinsfile/.tessl-plugin/plugin.json
  skills/development/scripting/bash-script/.tessl-plugin/plugin.json
  skills/development/scripting/makefile/.tessl-plugin/plugin.json
  skills/documentation/journal-entry-creator/.tessl-plugin/plugin.json
  skills/documentation/markdown-authoring/.tessl-plugin/plugin.json
  skills/infrastructure/ansible/.tessl-plugin/plugin.json
  skills/infrastructure/cfn/.tessl-plugin/plugin.json
  skills/infrastructure/dockerfile/.tessl-plugin/plugin.json
  skills/infrastructure/k8s/.tessl-plugin/plugin.json
  skills/infrastructure/terraform/.tessl-plugin/plugin.json
  skills/infrastructure/terragrunt/.tessl-plugin/plugin.json
  skills/observability/promql/.tessl-plugin/plugin.json
  skills/project-mgmt/create-context-file/.tessl-plugin/plugin.json
  skills/repository-mgmt/nx/.tessl-plugin/plugin.json
  skills/software-engineering/design-principles/.tessl-plugin/plugin.json
  skills/specialized/github-copilot-models/.tessl-plugin/plugin.json
  skills/specialized/gitlab-api/.tessl-plugin/plugin.json
  skills/testing/test-driven-development/.tessl-plugin/plugin.json
Due: biome, markdownlint

chore(catalog): re-baseline grade-badge SVGs to current generator output
  .github/badges/A-plus.svg
  .github/badges/A.svg
  .github/badges/B-plus.svg
  .github/badges/B.svg
  .github/badges/C-plus.svg
  .github/badges/C.svg
  .github/badges/D.svg
  .github/badges/F.svg
  .github/badges/unknown.svg
  docs/public/.github/badges/A-plus.svg
  docs/public/.github/badges/A.svg
  docs/public/.github/badges/B-plus.svg
  docs/public/.github/badges/B.svg
  docs/public/.github/badges/C-plus.svg
  docs/public/.github/badges/C.svg
  docs/public/.github/badges/D.svg
  docs/public/.github/badges/F.svg
  docs/public/.github/badges/unknown.svg
Due: none

chore(catalog): re-baseline grade-badge SVGs to current generator output (#241)
  .github/badges/A-plus.svg
  .github/badges/A.svg
  .github/badges/B-plus.svg
  .github/badges/B.svg
  .github/badges/C-plus.svg
  .github/badges/C.svg
  .github/badges/D.svg
  .github/badges/F.svg
  .github/badges/unknown.svg
  docs/public/.github/badges/A-plus.svg
  docs/public/.github/badges/A.svg
  docs/public/.github/badges/B-plus.svg
  docs/public/.github/badges/B.svg
  docs/public/.github/badges/C-plus.svg
  docs/public/.github/badges/C.svg
  docs/public/.github/badges/D.svg
  docs/public/.github/badges/F.svg
  docs/public/.github/badges/unknown.svg
Due: none

ci: promote Python allowlist guardrail to a CI gate
  .context/plans/monorepo-tools-distribution.md
  .github/workflows/python-allowlist.yml
  AGENTS.md
Due: markdownlint, yamllint

ci: promote Python allowlist guardrail to a CI gate (#242)
  .context/plans/monorepo-tools-distribution.md
  .github/workflows/python-allowlist.yml
  AGENTS.md
Due: markdownlint, yamllint

docs(plan): link migration follow-ups to tracking issues #243-#249
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint
