Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

fix(create-context-file): write singular type in frontmatter, not the plural folder name
  skills/project-mgmt/create-context-file/evals/scenario-02.md
  skills/project-mgmt/create-context-file/references/typologies.md
  skills/project-mgmt/create-context-file/scripts/create-context-file.sh
Due: markdownlint, shellcheck

fix(create-context-file): write singular type in frontmatter, not the plural folder name (#274)
  skills/project-mgmt/create-context-file/evals/scenario-02.md
  skills/project-mgmt/create-context-file/references/typologies.md
  skills/project-mgmt/create-context-file/scripts/create-context-file.sh
Due: markdownlint, shellcheck

feat(context-index): port context-index skill from Journal repo
  docs/src/content/docs/tiles.md
  skills/project-mgmt/context-index/.tessl-plugin/plugin.json
  skills/project-mgmt/context-index/SKILL.md
  skills/project-mgmt/context-index/evals/instructions.json
  skills/project-mgmt/context-index/evals/scenario-1/capability.txt
  skills/project-mgmt/context-index/evals/scenario-1/criteria.json
  skills/project-mgmt/context-index/evals/scenario-1/task.md
  skills/project-mgmt/context-index/evals/scenario-2/capability.txt
  skills/project-mgmt/context-index/evals/scenario-2/criteria.json
  skills/project-mgmt/context-index/evals/scenario-2/task.md
  skills/project-mgmt/context-index/evals/scenario-3/capability.txt
  skills/project-mgmt/context-index/evals/scenario-3/criteria.json
  skills/project-mgmt/context-index/evals/scenario-3/task.md
  skills/project-mgmt/context-index/evals/scenario-4/capability.txt
  skills/project-mgmt/context-index/evals/scenario-4/criteria.json
  skills/project-mgmt/context-index/evals/scenario-4/task.md
  skills/project-mgmt/context-index/evals/summary.json
  skills/project-mgmt/context-index/references/regeneration-reference.md
  skills/project-mgmt/context-index/scripts/check-context-filenames.sh
  skills/project-mgmt/context-index/scripts/check-context-frontmatter.sh
  skills/project-mgmt/context-index/scripts/check-plan-staleness.sh
  skills/project-mgmt/context-index/scripts/regenerate-context-index.sh
  skills/project-mgmt/context-index/scripts/validate-context-frontmatter.sh
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review

feat(adr-creator): add context-extraction workflow for existing decisions
  docs/src/content/docs/tiles.md
  skills/documentation/adr-creator/SKILL.md
  skills/documentation/adr-creator/references/context-extraction.md
Due: markdownlint, tessl-lint, tessl-review

feat(create-context-file): add frontmatter schema and related: field
  skills/project-mgmt/create-context-file/SKILL.md
  skills/project-mgmt/create-context-file/assets/schemas/context-frontmatter.schema.json
  skills/project-mgmt/create-context-file/references/cli.md
  skills/project-mgmt/create-context-file/scripts/create-context-file.sh
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review

feat(journal-entry-creator): add ticket-kickoff type, continuation links, executive summary rule
  docs/src/content/docs/tiles.md
  skills/documentation/journal-entry-creator/.tessl-plugin/plugin.json
  skills/documentation/journal-entry-creator/SKILL.md
  skills/documentation/journal-entry-creator/assets/taxonomy.default.json
  skills/documentation/journal-entry-creator/assets/templates/journal-entry.yaml
  skills/documentation/journal-entry-creator/assets/templates/ticket-kickoff.yaml
  skills/documentation/journal-entry-creator/references/compliance.md
  skills/documentation/journal-entry-creator/scripts/validate-journal-entry.sh
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review

feat(journal-entry-import): add new skill for legacy entry import and enrichment
  docs/src/content/docs/tiles.md
  skills/documentation/journal-entry-import/.tessl-plugin/plugin.json
  skills/documentation/journal-entry-import/SKILL.md
  skills/documentation/journal-entry-import/assets/schemas/ticket-detail-frontmatter.schema.json
  skills/documentation/journal-entry-import/assets/templates/ticket-detail-template.yaml
  skills/documentation/journal-entry-import/evals/instructions.json
  skills/documentation/journal-entry-import/evals/scenario-1/capability.txt
  skills/documentation/journal-entry-import/evals/scenario-1/criteria.json
  skills/documentation/journal-entry-import/evals/scenario-1/task.md
  skills/documentation/journal-entry-import/evals/scenario-2/capability.txt
  skills/documentation/journal-entry-import/evals/scenario-2/criteria.json
  skills/documentation/journal-entry-import/evals/scenario-2/task.md
  skills/documentation/journal-entry-import/evals/scenario-3/capability.txt
  skills/documentation/journal-entry-import/evals/scenario-3/criteria.json
  skills/documentation/journal-entry-import/evals/scenario-3/task.md
  skills/documentation/journal-entry-import/evals/scenario-4/capability.txt
  skills/documentation/journal-entry-import/evals/scenario-4/criteria.json
  skills/documentation/journal-entry-import/evals/scenario-4/task.md
  skills/documentation/journal-entry-import/evals/scenario-5/capability.txt
  skills/documentation/journal-entry-import/evals/scenario-5/criteria.json
  skills/documentation/journal-entry-import/evals/scenario-5/task.md
  skills/documentation/journal-entry-import/evals/summary.json
  skills/documentation/journal-entry-import/references/data-and-privacy-policy.md
  skills/documentation/journal-entry-import/references/mode-a-bulk-import.md
  skills/documentation/journal-entry-import/references/mode-b-ticket-enrichment.md
  skills/documentation/journal-entry-import/references/mode-c-link-migration.md
  skills/documentation/journal-entry-import/scripts/import-legacy-entries.sh
  skills/documentation/journal-entry-import/scripts/validate-ticket-detail.sh
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review

chore(catalog): regenerate skill tiles after upstream import batch
  docs/src/content/docs/tiles.md
Due: markdownlint

fix(journal-entry-import): shell-quote import-legacy-entries.sh interpolation
  docs/src/content/docs/tiles.md
  skills/documentation/journal-entry-import/references/data-and-privacy-policy.md
  skills/documentation/journal-entry-import/scripts/import-legacy-entries.sh
Due: markdownlint, shellcheck

fix(journal-entry-creator): replace real name in example placeholders
  skills/documentation/journal-entry-creator/assets/templates/learning.yaml
  skills/documentation/journal-entry-creator/references/example-with-frontmatter.md
Due: markdownlint, yamllint

feat(adr-creator): add check-undocumented-decisions.sh
  docs/src/content/docs/tiles.md
  skills/documentation/adr-creator/SKILL.md
  skills/documentation/adr-creator/evals/instructions.json
  skills/documentation/adr-creator/evals/scenario-4/capability.txt
  skills/documentation/adr-creator/evals/scenario-4/criteria.json
  skills/documentation/adr-creator/evals/scenario-4/task.md
  skills/documentation/adr-creator/evals/summary.json
  skills/documentation/adr-creator/references/context-extraction.md
  skills/documentation/adr-creator/scripts/check-undocumented-decisions.sh
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review

fix(adr-creator): guard --adr-dir/--source-dir against a missing value
  skills/documentation/adr-creator/scripts/check-undocumented-decisions.sh
Due: shellcheck

feat(adr-creator): add check-undocumented-decisions.sh (#276)
  docs/src/content/docs/tiles.md
  skills/documentation/adr-creator/SKILL.md
  skills/documentation/adr-creator/evals/instructions.json
  skills/documentation/adr-creator/evals/scenario-4/capability.txt
  skills/documentation/adr-creator/evals/scenario-4/criteria.json
  skills/documentation/adr-creator/evals/scenario-4/task.md
  skills/documentation/adr-creator/evals/summary.json
  skills/documentation/adr-creator/references/context-extraction.md
  skills/documentation/adr-creator/scripts/check-undocumented-decisions.sh
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review

fix(rules-management): schema/structural validation silently passed invalid rules
  skills/agentic-harness/rules-management/scripts/validate-rules.sh
Due: shellcheck

test(skill-auditor): re-bless golden-corpus baseline
  crates/skill-auditor/tests/golden-corpus/goldens.json
Due: biome

fix(skill-auditor): scope prune-audits to .audits/ directories only
  crates/skill-auditor/src/main.rs
  crates/skill-auditor/src/prune.rs
Due: none

test(skill-validator-rs): re-bless golden-corpus baseline
  crates/skill-validator-rs/tests/golden-corpus/goldens.json
Due: biome

feat(project-mgmt): add blocks/blocked-by frontmatter + context-ready.sh
  skills/project-mgmt/context-index/SKILL.md
  skills/project-mgmt/context-index/references/regeneration-reference.md
  skills/project-mgmt/context-index/scripts/context-ready.sh
  skills/project-mgmt/context-index/scripts/regenerate-context-index.sh
  skills/project-mgmt/create-context-file/SKILL.md
  skills/project-mgmt/create-context-file/assets/schemas/context-frontmatter.schema.json
  skills/project-mgmt/create-context-file/references/cli.md
  skills/project-mgmt/create-context-file/scripts/create-context-file.sh
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review

feat(project-mgmt): add blocks/blocked-by frontmatter + context-ready.sh (#284)
  skills/project-mgmt/context-index/SKILL.md
  skills/project-mgmt/context-index/references/regeneration-reference.md
  skills/project-mgmt/context-index/scripts/context-ready.sh
  skills/project-mgmt/context-index/scripts/regenerate-context-index.sh
  skills/project-mgmt/create-context-file/SKILL.md
  skills/project-mgmt/create-context-file/assets/schemas/context-frontmatter.schema.json
  skills/project-mgmt/create-context-file/references/cli.md
  skills/project-mgmt/create-context-file/scripts/create-context-file.sh
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review

feat(skills): add interview + gap-detection to jira-ticket-readyup
  docs/src/content/docs/tiles.md
  skills/project-mgmt/issue-tracker-toolkit/jira-ticket-readyup/SKILL.md
  skills/project-mgmt/issue-tracker-toolkit/jira-ticket-readyup/assets/schemas/ready-for-refinement.schema.json
  skills/project-mgmt/issue-tracker-toolkit/jira-ticket-readyup/assets/templates/ready-for-refinement.yaml
  skills/project-mgmt/issue-tracker-toolkit/jira-ticket-readyup/references/yaml-field-guide.md
  skills/project-mgmt/issue-tracker-toolkit/jira-ticket-readyup/scripts/validate-ticket.ts
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review

feat(skills): add interview + gap-detection to jira-ticket-readyup (#285)
  docs/src/content/docs/tiles.md
  skills/project-mgmt/issue-tracker-toolkit/jira-ticket-readyup/SKILL.md
  skills/project-mgmt/issue-tracker-toolkit/jira-ticket-readyup/assets/schemas/ready-for-refinement.schema.json
  skills/project-mgmt/issue-tracker-toolkit/jira-ticket-readyup/assets/templates/ready-for-refinement.yaml
  skills/project-mgmt/issue-tracker-toolkit/jira-ticket-readyup/references/yaml-field-guide.md
  skills/project-mgmt/issue-tracker-toolkit/jira-ticket-readyup/scripts/validate-ticket.ts
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review

fix(skill-auditor): regenerate golden-corpus baselines after skill content changes
  crates/skill-auditor/tests/golden-corpus/goldens.json
  crates/skill-validator-rs/tests/golden-corpus/goldens.json
Due: biome

fix(skill-auditor): regenerate golden-corpus baselines after skill content changes (#287)
  crates/skill-auditor/tests/golden-corpus/goldens.json
  crates/skill-validator-rs/tests/golden-corpus/goldens.json
Due: biome

feat(context-index): add check-wave-evidence.sh sibling to check-plan-staleness.sh
  docs/src/content/docs/tiles.md
  skills/project-mgmt/context-index/scripts/check-wave-evidence.sh
Due: markdownlint, shellcheck

fix(context-index): specify utf-8 encoding when reading plan files
  skills/project-mgmt/context-index/scripts/check-wave-evidence.sh
Due: shellcheck

feat(context-index): add check-wave-evidence.sh sibling to check-plan-staleness.sh (#286)
  docs/src/content/docs/tiles.md
  skills/project-mgmt/context-index/scripts/check-wave-evidence.sh
Due: markdownlint, shellcheck

fix(catalog): discover tiles from .tessl-plugin/plugin.json
  docs/scripts/prelink.mjs
  docs/src/lib/tiles.ts
  scripts/catalog/discovery/find-all-tiles.ts
  scripts/catalog/discovery/index.ts
  scripts/catalog/discovery/tile-root.test.ts
  scripts/catalog/discovery/tile-root.ts
Due: biome

chore(catalog): regenerate catalog with discovered tiles
  README.md
  docs/src/content/docs/tiles.md
Due: markdownlint

test(skill-validator): refresh golden corpus after the release CHANGELOGs
  crates/skill-validator-rs/tests/golden-corpus/goldens.json
Due: biome

fix(tools)!: release the pantheon-* binaries as v0.2.0
  Cargo.lock
  README.md
  crates/adr/Cargo.toml
  crates/journal/Cargo.toml
  crates/skill-auditor/Cargo.toml
  docs/src/lib/crate-versions.ts
  docs/src/pages/tools.astro
  scripts/catalog/discovery/read-package-section.test.ts
Due: biome, markdownlint

fix(docs): make tile discovery path-separator agnostic
  docs/src/lib/tiles.ts
Due: biome

fix: make the published install paths work (#288)
  Cargo.lock
  README.md
  crates/adr/Cargo.toml
  crates/journal/Cargo.toml
  crates/skill-auditor/Cargo.toml
  crates/skill-validator-rs/tests/golden-corpus/goldens.json
  docs/scripts/prelink.mjs
  docs/src/content/docs/tiles.md
  docs/src/lib/crate-versions.ts
  docs/src/lib/tiles.ts
  docs/src/pages/tools.astro
  scripts/catalog/discovery/find-all-tiles.ts
  scripts/catalog/discovery/index.ts
  scripts/catalog/discovery/read-package-section.test.ts
  scripts/catalog/discovery/tile-root.test.ts
  scripts/catalog/discovery/tile-root.ts
Due: biome, markdownlint

fix(dist): repin actions/checkout to v7.0.1 to match the workflow
  dist-workspace.toml
Due: none

fix(tools): give each tool crate a distinct version
  Cargo.lock
  crates/adr/Cargo.toml
  crates/journal/Cargo.toml
Due: none

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
