Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

fix(markdown-authoring): refine description and enhance linting workflow instructions
  skills/markdown-authoring/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

fix(markdown-authoring): add tile.json and fix tessl lint issues
  .markdownlint-cli2.jsonc
  .markdownlintignore
  skills/markdown-authoring/SKILL.md
  skills/markdown-authoring/references/docs-readme.md
  skills/markdown-authoring/references/docs-writing-style.md
  skills/markdown-authoring/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

feat(cdk-nag): add tile.json and enhance skill with code examples
  skills/cdk-nag/SKILL.md
  skills/cdk-nag/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

docs: add Tessl CLI analysis report and API test script
  .context/tessl-cli-report.md
  scripts/test-tessl-api.ts
Due: biome, markdownlint

fix(tile.json): update version to 0.1.1 for cfn-behavior-validator and cfn-template-compare
  skills/cfn-behavior-validator/tile.json
  skills/cfn-template-compare/tile.json
Due: biome, tessl-publish-check

feat(gitlab-api): add new skill for GitLab API integration and automation
  skills/gitlab-api/SKILL.md
  skills/gitlab-api/evals/instructions.json
  skills/gitlab-api/evals/scenario-0/capability.txt
  skills/gitlab-api/evals/scenario-0/criteria.json
  skills/gitlab-api/evals/scenario-0/task.md
  skills/gitlab-api/evals/scenario-1/capability.txt
  skills/gitlab-api/evals/scenario-1/criteria.json
  skills/gitlab-api/evals/scenario-1/task.md
  skills/gitlab-api/evals/scenario-2/capability.txt
  skills/gitlab-api/evals/scenario-2/criteria.json
  skills/gitlab-api/evals/scenario-2/task.md
  skills/gitlab-api/evals/scenario-3/capability.txt
  skills/gitlab-api/evals/scenario-3/criteria.json
  skills/gitlab-api/evals/scenario-3/task.md
  skills/gitlab-api/evals/scenario-4/capability.txt
  skills/gitlab-api/evals/scenario-4/criteria.json
  skills/gitlab-api/evals/scenario-4/task.md
  skills/gitlab-api/evals/summary.json
  skills/gitlab-api/evals/summary_infeasible.json
  skills/gitlab-api/scripts/get_mr_comments.sh
  skills/gitlab-api/tile.json
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add ansible-generator
  skills/ansible-generator/.gitignore
  skills/ansible-generator/SKILL.md
  skills/ansible-generator/assets/templates/inventory/group_vars/all.yml
  skills/ansible-generator/assets/templates/inventory/group_vars/databases.yml
  skills/ansible-generator/assets/templates/inventory/group_vars/webservers.yml
  skills/ansible-generator/assets/templates/inventory/host_vars/web1.example.com.yml
  skills/ansible-generator/assets/templates/inventory/hosts
  skills/ansible-generator/assets/templates/playbook/basic_playbook.yml
  skills/ansible-generator/assets/templates/project/.ansible-lint
  skills/ansible-generator/assets/templates/project/ansible.cfg
  skills/ansible-generator/assets/templates/project/requirements.yml
  skills/ansible-generator/assets/templates/role/README.md
  skills/ansible-generator/assets/templates/role/defaults/main.yml
  skills/ansible-generator/assets/templates/role/handlers/main.yml
  skills/ansible-generator/assets/templates/role/meta/argument_specs.yml
  skills/ansible-generator/assets/templates/role/meta/main.yml
  skills/ansible-generator/assets/templates/role/tasks/main.yml
  skills/ansible-generator/assets/templates/role/templates/config.j2
  skills/ansible-generator/assets/templates/role/vars/Debian.yml
  skills/ansible-generator/assets/templates/role/vars/RedHat.yml
  skills/ansible-generator/assets/templates/role/vars/main.yml
  skills/ansible-generator/references/best-practices.md
  skills/ansible-generator/references/module-patterns.md
  skills/ansible-generator/tile.json
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add azure-pipelines-validator
  skills/azure-pipelines-validator/.gitignore
  skills/azure-pipelines-validator/SKILL.md
  skills/azure-pipelines-validator/assets/.yamllint
  skills/azure-pipelines-validator/docs/azure-pipelines-reference.md
  skills/azure-pipelines-validator/examples/basic-pipeline.yml
  skills/azure-pipelines-validator/examples/deployment-pipeline.yml
  skills/azure-pipelines-validator/examples/docker-build.yml
  skills/azure-pipelines-validator/examples/multi-platform.yml
  skills/azure-pipelines-validator/examples/template-example.yml
  skills/azure-pipelines-validator/examples/test-with-issues.yml
  skills/azure-pipelines-validator/scripts/check_best_practices.py
  skills/azure-pipelines-validator/scripts/check_security.py
  skills/azure-pipelines-validator/scripts/python_wrapper.sh
  skills/azure-pipelines-validator/scripts/validate_azure_pipelines.sh
  skills/azure-pipelines-validator/scripts/validate_syntax.py
  skills/azure-pipelines-validator/scripts/yamllint_check.sh
  skills/azure-pipelines-validator/tile.json
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add azure-pipelines-generator
  skills/azure-pipelines-generator/.gitignore
  skills/azure-pipelines-generator/SKILL.md
  skills/azure-pipelines-generator/docs/best-practices.md
  skills/azure-pipelines-generator/docs/tasks-reference.md
  skills/azure-pipelines-generator/docs/templates-guide.md
  skills/azure-pipelines-generator/docs/yaml-schema.md
  skills/azure-pipelines-generator/examples/basic-ci.yml
  skills/azure-pipelines-generator/examples/dotnet-cicd.yml
  skills/azure-pipelines-generator/examples/go-cicd.yml
  skills/azure-pipelines-generator/examples/kubernetes-deploy.yml
  skills/azure-pipelines-generator/examples/multi-stage-cicd.yml
  skills/azure-pipelines-generator/examples/python-cicd.yml
  skills/azure-pipelines-generator/examples/template-usage.yml
  skills/azure-pipelines-generator/examples/templates/build-template.yml
  skills/azure-pipelines-generator/examples/templates/deploy-template.yml
  skills/azure-pipelines-generator/tile.json
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add fluentbit-generator
  skills/fluentbit-generator/.gitignore
  skills/fluentbit-generator/SKILL.md
  skills/fluentbit-generator/examples/application-multiline.conf
  skills/fluentbit-generator/examples/cloudwatch.conf
  skills/fluentbit-generator/examples/file-tail-s3.conf
  skills/fluentbit-generator/examples/full-production.conf
  skills/fluentbit-generator/examples/http-input-kafka.conf
  skills/fluentbit-generator/examples/kubernetes-elasticsearch.conf
  skills/fluentbit-generator/examples/kubernetes-loki.conf
  skills/fluentbit-generator/examples/kubernetes-opentelemetry.conf
  skills/fluentbit-generator/examples/lua-filtering.conf
  skills/fluentbit-generator/examples/multi-destination.conf
  skills/fluentbit-generator/examples/parsers.conf
  skills/fluentbit-generator/examples/prometheus-metrics.conf
  skills/fluentbit-generator/examples/stream-processor.conf
  skills/fluentbit-generator/examples/syslog-forward.conf
  skills/fluentbit-generator/output/k8s-errors-elasticsearch.conf
  skills/fluentbit-generator/output/parsers.conf
  skills/fluentbit-generator/scripts/generate_config.py
  skills/fluentbit-generator/tile.json
Due: biome, markdownlint, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add dockerfile-generator
  skills/dockerfile-generator/SKILL.md
  skills/dockerfile-generator/examples/example.dockerignore
  skills/dockerfile-generator/examples/golang-distroless.Dockerfile
  skills/dockerfile-generator/examples/java-springboot.Dockerfile
  skills/dockerfile-generator/examples/nextjs-production.Dockerfile
  skills/dockerfile-generator/examples/nodejs-multistage.Dockerfile
  skills/dockerfile-generator/examples/python-fastapi.Dockerfile
  skills/dockerfile-generator/examples/test-nodejs.Dockerfile
  skills/dockerfile-generator/references/language_specific_guides.md
  skills/dockerfile-generator/references/multistage_builds.md
  skills/dockerfile-generator/references/optimization_patterns.md
  skills/dockerfile-generator/references/security_best_practices.md
  skills/dockerfile-generator/scripts/generate_dockerignore.sh
  skills/dockerfile-generator/scripts/generate_golang.sh
  skills/dockerfile-generator/scripts/generate_java.sh
  skills/dockerfile-generator/scripts/generate_nodejs.sh
  skills/dockerfile-generator/scripts/generate_python.sh
  skills/dockerfile-generator/tile.json
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add dockerfile-validator
  skills/dockerfile-validator/.gitignore
  skills/dockerfile-validator/SKILL.md
  skills/dockerfile-validator/examples/.dockerignore.example
  skills/dockerfile-validator/examples/bad-example.Dockerfile
  skills/dockerfile-validator/examples/golang-distroless.Dockerfile
  skills/dockerfile-validator/examples/good-example.Dockerfile
  skills/dockerfile-validator/examples/python-optimized.Dockerfile
  skills/dockerfile-validator/examples/security-issues.Dockerfile
  skills/dockerfile-validator/references/docker_best_practices.md
  skills/dockerfile-validator/references/optimization_guide.md
  skills/dockerfile-validator/references/security_checklist.md
  skills/dockerfile-validator/scripts/dockerfile-validate.sh
  skills/dockerfile-validator/tile.json
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add bash-script-generator
  skills/bash-script-generator/SKILL.md
  skills/bash-script-generator/assets/templates/standard-template.sh
  skills/bash-script-generator/docs/bash-scripting-guide.md
  skills/bash-script-generator/docs/generation-best-practices.md
  skills/bash-script-generator/docs/script-patterns.md
  skills/bash-script-generator/docs/text-processing-guide.md
  skills/bash-script-generator/examples/log-analyzer.sh
  skills/bash-script-generator/scripts/generate_script_template.sh
  skills/bash-script-generator/tile.json
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add bash-script-validator
  skills/bash-script-validator/SKILL.md
  skills/bash-script-validator/docs/awk-reference.md
  skills/bash-script-validator/docs/bash-reference.md
  skills/bash-script-validator/docs/common-mistakes.md
  skills/bash-script-validator/docs/grep-reference.md
  skills/bash-script-validator/docs/regex-reference.md
  skills/bash-script-validator/docs/sed-reference.md
  skills/bash-script-validator/docs/shell-reference.md
  skills/bash-script-validator/docs/shellcheck-reference.md
  skills/bash-script-validator/examples/bad-bash.sh
  skills/bash-script-validator/examples/bad-shell.sh
  skills/bash-script-validator/examples/good-bash.sh
  skills/bash-script-validator/examples/good-shell.sh
  skills/bash-script-validator/scripts/shellcheck_wrapper.sh
  skills/bash-script-validator/scripts/validate.sh
  skills/bash-script-validator/tile.json
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add github-actions-validator
  skills/github-actions-validator/.gitignore
  skills/github-actions-validator/SKILL.md
  skills/github-actions-validator/examples/README.md
  skills/github-actions-validator/examples/outdated-versions.yml
  skills/github-actions-validator/examples/valid-ci.yml
  skills/github-actions-validator/examples/with-errors.yml
  skills/github-actions-validator/references/act_usage.md
  skills/github-actions-validator/references/action_versions.md
  skills/github-actions-validator/references/actionlint_usage.md
  skills/github-actions-validator/references/common_errors.md
  skills/github-actions-validator/references/modern_features.md
  skills/github-actions-validator/references/runners.md
  skills/github-actions-validator/scripts/install_tools.sh
  skills/github-actions-validator/scripts/validate_workflow.sh
  skills/github-actions-validator/tile.json
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add github-actions-generator
  skills/github-actions-generator/SKILL.md
  skills/github-actions-generator/assets/templates/action/composite/action.yml
  skills/github-actions-generator/assets/templates/action/docker/Dockerfile
  skills/github-actions-generator/assets/templates/action/docker/action.yml
  skills/github-actions-generator/assets/templates/action/docker/entrypoint.sh
  skills/github-actions-generator/assets/templates/action/javascript/action.yml
  skills/github-actions-generator/assets/templates/action/javascript/index.js
  skills/github-actions-generator/assets/templates/action/javascript/package.json
  skills/github-actions-generator/assets/templates/workflow/basic_workflow.yml
  skills/github-actions-generator/assets/templates/workflow/reusable_workflow.yml
  skills/github-actions-generator/examples/README.md
  skills/github-actions-generator/examples/actions/setup-node-cached/action.yml
  skills/github-actions-generator/examples/caching/docker-buildkit.yml
  skills/github-actions-generator/examples/security/dependency-review.yml
  skills/github-actions-generator/examples/security/sbom-attestation.yml
  skills/github-actions-generator/examples/triggers/chatops-commands.yml
  skills/github-actions-generator/examples/triggers/repository-dispatch.yml
  skills/github-actions-generator/examples/triggers/workflow-orchestration.yml
  skills/github-actions-generator/examples/workflows/docker-build-push.yml
  skills/github-actions-generator/examples/workflows/go-ci.yml
  skills/github-actions-generator/examples/workflows/monorepo-ci.yml
  skills/github-actions-generator/examples/workflows/multi-environment-deploy.yml
  skills/github-actions-generator/examples/workflows/nodejs-ci.yml
  skills/github-actions-generator/examples/workflows/python-ci.yml
  skills/github-actions-generator/examples/workflows/scheduled-tasks.yml
  skills/github-actions-generator/references/advanced-triggers.md
  skills/github-actions-generator/references/best-practices.md
  skills/github-actions-generator/references/common-actions.md
  skills/github-actions-generator/references/custom-actions.md
  skills/github-actions-generator/references/expressions-and-contexts.md
  skills/github-actions-generator/references/modern-features.md
  skills/github-actions-generator/tile.json
Due: biome, markdownlint, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add fluentbit-validator
  skills/fluentbit-validator/.gitignore
  skills/fluentbit-validator/SKILL.md
  skills/fluentbit-validator/scripts/validate.sh
  skills/fluentbit-validator/scripts/validate_config.py
  skills/fluentbit-validator/tests/invalid-missing-required.conf
  skills/fluentbit-validator/tests/invalid-opentelemetry.conf
  skills/fluentbit-validator/tests/invalid-security-issues.conf
  skills/fluentbit-validator/tests/invalid-tag-mismatch.conf
  skills/fluentbit-validator/tests/valid-basic.conf
  skills/fluentbit-validator/tests/valid-multioutput.conf
  skills/fluentbit-validator/tests/valid-opentelemetry.conf
  skills/fluentbit-validator/tile.json
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

feat(skills): add gitlab-ci-generator
  skills/gitlab-ci-generator/.gitignore
  skills/gitlab-ci-generator/SKILL.md
  skills/gitlab-ci-generator/assets/templates/basic-pipeline.yml
  skills/gitlab-ci-generator/assets/templates/docker-build.yml
  skills/gitlab-ci-generator/assets/templates/kubernetes-deploy.yml
  skills/gitlab-ci-generator/assets/templates/multi-project.yml
  skills/gitlab-ci-generator/references/best-practices.md
  skills/gitlab-ci-generator/references/common-patterns.md
  skills/gitlab-ci-generator/references/gitlab-ci-reference.md
  skills/gitlab-ci-generator/references/security-guidelines.md
  skills/gitlab-ci-generator/tile.json
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review, tessl-publish-check

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
