Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

tessl-lint:
  run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
  stage_fixed: true

tessl-review:
  run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
  stage_fixed: true

tessl-publish-check:
  run: ./scripts/tessl-publish-check.sh {staged_files}
  stage_fixed: true

feat(adr): adr crate CLI with bundled skill + dist wiring for all tools (A7) (#195)
  .github/workflows/tool-release.yml
  Cargo.lock
  Cargo.toml
  crates/adr/Cargo.toml
  crates/adr/build.rs
  crates/adr/src/adr.rs
  crates/adr/src/date.rs
  crates/adr/src/install_cmd.rs
  crates/adr/src/lib.rs
  crates/adr/src/main.rs
  crates/adr/src/skill_bundle.rs
  crates/adr/tests/integration.rs
  dist-workspace.toml
  docs/src/content/docs/tiles.md
  skills/documentation/adr-creator/.tessl-plugin/plugin.json
  skills/documentation/adr-creator/SKILL.md
  skills/documentation/adr-creator/evals/instructions.json
  skills/documentation/adr-creator/evals/scenario-1/capability.txt
  skills/documentation/adr-creator/evals/scenario-1/criteria.json
  skills/documentation/adr-creator/evals/scenario-1/task.md
  skills/documentation/adr-creator/evals/scenario-2/capability.txt
  skills/documentation/adr-creator/evals/scenario-2/criteria.json
  skills/documentation/adr-creator/evals/scenario-2/task.md
  skills/documentation/adr-creator/evals/scenario-3/capability.txt
  skills/documentation/adr-creator/evals/scenario-3/criteria.json
  skills/documentation/adr-creator/evals/scenario-3/task.md
  skills/documentation/adr-creator/evals/summary.json
  skills/documentation/adr-creator/references/adr-lifecycle.md
  skills/documentation/adr-creator/references/cli-usage.md
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review

docs(plans): mark A7 + A8 done; Wave 6 in progress (A6/A6c/B5 remain)
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

docs(plans): mark A7 + A8 done; Wave 6 in progress (A6/A6c/B5 remain) (#196)
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

feat(skill-validator-rs): add standalone validator CLI binary and report rendering (A5b)
  Cargo.lock
  crates/skill-validator-rs/Cargo.toml
  crates/skill-validator-rs/src/main.rs
  crates/skill-validator-rs/src/model.rs
  crates/skill-validator-rs/src/render.rs
  crates/skill-validator-rs/src/run.rs
  crates/skill-validator-rs/tests/cli.rs
Due: none

chore(skill-validator-rs): bump to 0.1.0 for cargo-dist distribution (A5b)
  Cargo.lock
  crates/skill-validator-rs/Cargo.toml
Due: none

feat(skill-validator-rs): standalone validator CLI binary + distribution (A5b) (#197)
  Cargo.lock
  crates/skill-validator-rs/Cargo.toml
  crates/skill-validator-rs/src/main.rs
  crates/skill-validator-rs/src/model.rs
  crates/skill-validator-rs/src/render.rs
  crates/skill-validator-rs/src/run.rs
  crates/skill-validator-rs/tests/cli.rs
Due: none

ci(dependabot): add cargo ecosystem for the Rust workspace (A6)
  .github/dependabot.yml
Due: yamllint

docs(plans): mark A6+A6c done (Go retired); record uninstall/sync owners for B5
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

docs(plans): mark A6+A6c done (Go retired); record uninstall/sync owners for B5 (#199)
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

feat(skill-install): add uninstall verb to the tool skill subcommand (B5)
  crates/adr/src/install_cmd.rs
  crates/adr/src/main.rs
  crates/journal/src/install_cmd.rs
  crates/journal/src/main.rs
  crates/skill-auditor/src/install_cmd.rs
  crates/skill-auditor/src/main.rs
  crates/skill-install/src/install.rs
Due: none

docs(plans): mark Wave 6 complete (Go + TS cli retired); record C3 CodeQL playbook
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

docs(plans): mark Wave 6 complete (Go + TS cli retired); record C3 CodeQL playbook (#203)
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

chore(remove-python): narrow pip scope + add allowlist guardrail; verify Python footprint (C3)
  .github/dependabot.yml
  hk.pkl
  scripts/check-python-allowlist.sh
Due: yamllint, shellcheck

chore(remove-python): narrow pip scope + add allowlist guardrail; verify Python footprint (C3) (#204)
  .github/dependabot.yml
  hk.pkl
  scripts/check-python-allowlist.sh
Due: yamllint, shellcheck

feat(docs): add Tools section listing the shipped CLIs (B2b)
  docs/src/components/HeaderNav.astro
  docs/src/layouts/DocsLayout.astro
  docs/src/pages/tools.astro
Due: none

feat(docs): add Tools section listing the shipped CLIs (B2b) (#205)
  docs/src/components/HeaderNav.astro
  docs/src/layouts/DocsLayout.astro
  docs/src/pages/tools.astro
Due: none

docs(plans): mark Wave 7 + the whole migration complete; Definition of Done
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

docs(plans): mark Wave 7 + the whole migration complete; Definition of Done (#206)
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

ci(dist): pin release runners to ubuntu-22.04 (ubuntu-20.04 retired)
  .github/workflows/tool-release.yml
  dist-workspace.toml
Due: yamllint

ci(dist): pin release runners to ubuntu-22.04 (ubuntu-20.04 retired) (#207)
  .github/workflows/tool-release.yml
  dist-workspace.toml
Due: yamllint

ci(dist): pin apple-darwin release runners to macos-latest (macos-13 unavailable)
  dist-workspace.toml
Due: none

ci(dist): pin apple-darwin release runners to macos-latest (macos-13 unavailable) (#208)
  dist-workspace.toml
Due: none

docs(plans): record v0.1.0 releases cut for all 4 tools; close install-standalone DoD
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

docs(plans): record v0.1.0 releases cut for all 4 tools; close install-standalone DoD (#209)
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
  tessl-lint: any of: skills/**/SKILL.md
  tessl-review: any of: skills/**/SKILL.md
  tessl-publish-check: any of: skills/**/tile.json
