Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
      stage_fixed: true
    skill-artifacts:
      run: ./skills/skill-quality-auditor/scripts/validate-skill-artifacts.sh {staged_files}
      stage_fixed: true
    audit-readme-sync:
      glob: ".context/audits/*.md"
      run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
      stage_fixed: true
    shellcheck:
      glob: "*.sh"
      run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
      stage_fixed: true
    tessl-lint:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
      stage_fixed: true
    tessl-review:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
      stage_fixed: true
    tessl-publish-check:
      glob: "skills/**/tile.json"
      run: ./scripts/tessl-publish-check.sh {staged_files}
      stage_fixed: true

feat(adr): add the record model, store, scoring, git context and catalogue
  crates/adr/Cargo.toml
  crates/adr/src/completeness.rs
  crates/adr/src/date.rs
  crates/adr/src/git.rs
  crates/adr/src/index.rs
  crates/adr/src/lib.rs
  crates/adr/src/record.rs
  crates/adr/src/store.rs
Due: none

docs(adr-creator): correct install instructions and name the binary unambiguously
  docs/src/content/docs/tiles.md
  skills/documentation/adr-creator/.tessl-plugin/plugin.json
  skills/documentation/adr-creator/SKILL.md
  skills/documentation/adr-creator/evals/scenario-1/criteria.json
  skills/documentation/adr-creator/evals/scenario-1/task.md
  skills/documentation/adr-creator/references/cli-usage.md
Due: biome, markdownlint, tessl-lint, tessl-review

chore(adr): record the serde and serde_yaml_ng additions in the lockfile
  Cargo.lock
Due: none

docs(adr-creator): rewrite the skill for the absorbed command surface
  skills/documentation/adr-creator/.tessl-plugin/plugin.json
  skills/documentation/adr-creator/SKILL.md
  skills/documentation/adr-creator/evals/instructions.json
  skills/documentation/adr-creator/evals/scenario-1/criteria.json
  skills/documentation/adr-creator/evals/scenario-1/task.md
  skills/documentation/adr-creator/evals/scenario-2/criteria.json
  skills/documentation/adr-creator/evals/scenario-2/task.md
  skills/documentation/adr-creator/evals/scenario-3/criteria.json
  skills/documentation/adr-creator/evals/scenario-3/task.md
  skills/documentation/adr-creator/evals/scenario-4/criteria.json
  skills/documentation/adr-creator/evals/scenario-4/task.md
  skills/documentation/adr-creator/evals/summary.json
  skills/documentation/adr-creator/references/adr-lifecycle.md
  skills/documentation/adr-creator/references/cli-usage.md
  skills/documentation/adr-creator/references/context-extraction.md
  skills/documentation/adr-creator/scripts/check-undocumented-decisions.sh
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review

docs(adr): record the consolidation decision and preserve its design rationale
  crates/adr/docs/design/agent-driven-adr-lifecycle.md
  docs/adr/absorb-go-adr-cli.md
  docs/adr/index.md
Due: markdownlint

feat(adr): consolidate the full ADR command surface into pantheon-adr
  crates/adr/src/adr.rs
  crates/adr/src/commands.rs
  crates/adr/src/completeness.rs
  crates/adr/src/draft.rs
  crates/adr/src/git.rs
  crates/adr/src/hooks.rs
  crates/adr/src/index.rs
  crates/adr/src/lib.rs
  crates/adr/src/main.rs
  crates/adr/src/record.rs
  crates/adr/src/sync.rs
  crates/adr/tests/integration.rs
Due: none

docs: regenerate the skill catalogue for the rewritten adr-creator entry
  docs/src/content/docs/tiles.md
Due: markdownlint

docs: name the ADR binary correctly in the install instructions
  AGENTS.md
Due: markdownlint

docs(adr): align the record's branch field with the renamed branch
  docs/adr/consolidate-adr-tooling.md
Due: markdownlint

docs(adr): describe the consolidation without naming its source
  crates/adr/docs/design/agent-driven-adr-lifecycle.md
  docs/adr/absorb-go-adr-cli.md
  docs/adr/consolidate-adr-tooling.md
  docs/adr/index.md
  skills/documentation/adr-creator/SKILL.md
  skills/documentation/adr-creator/references/cli-usage.md
Due: markdownlint, tessl-lint, tessl-review

docs(adr): accept the ADR-tooling consolidation decision
  docs/adr/consolidate-adr-tooling.md
  docs/adr/index.md
Due: markdownlint

fix(adr): accept records checked out with CRLF line endings
  crates/adr/src/record.rs
  crates/adr/src/store.rs
Due: none

fix(adr-creator): read markdown as UTF-8 and tolerate CRLF in the checker
  skills/documentation/adr-creator/scripts/check-undocumented-decisions.sh
Due: shellcheck

style(adr): apply rustfmt to the CRLF helper
  crates/adr/src/record.rs
Due: none

feat(adr): consolidate ADR tooling into pantheon-adr (#305)
  AGENTS.md
  Cargo.lock
  crates/adr/Cargo.toml
  crates/adr/docs/design/agent-driven-adr-lifecycle.md
  crates/adr/src/adr.rs
  crates/adr/src/commands.rs
  crates/adr/src/completeness.rs
  crates/adr/src/date.rs
  crates/adr/src/draft.rs
  crates/adr/src/git.rs
  crates/adr/src/hooks.rs
  crates/adr/src/index.rs
  crates/adr/src/lib.rs
  crates/adr/src/main.rs
  crates/adr/src/record.rs
  crates/adr/src/store.rs
  crates/adr/src/sync.rs
  crates/adr/tests/integration.rs
  docs/adr/consolidate-adr-tooling.md
  docs/adr/index.md
  docs/src/content/docs/tiles.md
  skills/documentation/adr-creator/.tessl-plugin/plugin.json
  skills/documentation/adr-creator/SKILL.md
  skills/documentation/adr-creator/evals/instructions.json
  skills/documentation/adr-creator/evals/scenario-1/criteria.json
  skills/documentation/adr-creator/evals/scenario-1/task.md
  skills/documentation/adr-creator/evals/scenario-2/criteria.json
  skills/documentation/adr-creator/evals/scenario-2/task.md
  skills/documentation/adr-creator/evals/scenario-3/criteria.json
  skills/documentation/adr-creator/evals/scenario-3/task.md
  skills/documentation/adr-creator/evals/scenario-4/criteria.json
  skills/documentation/adr-creator/evals/scenario-4/task.md
  skills/documentation/adr-creator/evals/summary.json
  skills/documentation/adr-creator/references/adr-lifecycle.md
  skills/documentation/adr-creator/references/cli-usage.md
  skills/documentation/adr-creator/references/context-extraction.md
  skills/documentation/adr-creator/scripts/check-undocumented-decisions.sh
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review

feat(adr): add shell completion
  Cargo.lock
  Cargo.toml
  crates/adr/Cargo.toml
  crates/adr/src/main.rs
  skills/documentation/adr-creator/references/cli-usage.md
Due: markdownlint

docs(adr-creator): raise the skill audit from B to B+ and clear both warnings
  skills/documentation/adr-creator/.audits/2026-09-15/Analysis.md
  skills/documentation/adr-creator/.audits/2026-09-15/Remediation.md
  skills/documentation/adr-creator/.audits/2026-09-15/audit.json
  skills/documentation/adr-creator/SKILL.md
Due: biome, markdownlint, tessl-lint, tessl-review

feat(adr): add shell completion and raise the skill audit to B+ (#306)
  Cargo.lock
  Cargo.toml
  crates/adr/Cargo.toml
  crates/adr/src/main.rs
  skills/documentation/adr-creator/.audits/2026-09-15/Analysis.md
  skills/documentation/adr-creator/.audits/2026-09-15/Remediation.md
  skills/documentation/adr-creator/.audits/2026-09-15/audit.json
  skills/documentation/adr-creator/SKILL.md
  skills/documentation/adr-creator/references/cli-usage.md
Due: biome, markdownlint, tessl-lint, tessl-review

feat(create-context-file): add the evidence typology
  docs/src/content/docs/tiles.md
  skills/project-mgmt/create-context-file/SKILL.md
  skills/project-mgmt/create-context-file/references/typologies.md
  skills/project-mgmt/create-context-file/scripts/create-context-file.sh
Due: markdownlint, shellcheck, tessl-lint, tessl-review

feat(context-index): group evidence files in the index
  docs/src/content/docs/tiles.md
  skills/project-mgmt/context-index/.tessl-plugin/plugin.json
  skills/project-mgmt/context-index/SKILL.md
  skills/project-mgmt/context-index/evals/instructions.json
  skills/project-mgmt/context-index/evals/summary.json
  skills/project-mgmt/context-index/scripts/regenerate-context-index.sh
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review

feat: add the evidence typology for progression evidence capture (#307)
  docs/src/content/docs/tiles.md
  skills/project-mgmt/context-index/.tessl-plugin/plugin.json
  skills/project-mgmt/context-index/SKILL.md
  skills/project-mgmt/context-index/evals/instructions.json
  skills/project-mgmt/context-index/evals/summary.json
  skills/project-mgmt/context-index/scripts/regenerate-context-index.sh
  skills/project-mgmt/create-context-file/SKILL.md
  skills/project-mgmt/create-context-file/references/typologies.md
  skills/project-mgmt/create-context-file/scripts/create-context-file.sh
Due: biome, markdownlint, shellcheck, tessl-lint, tessl-review

fix: exclude .claude/ from python-allowlist guardrail scan
  scripts/check-python-allowlist.sh
Due: shellcheck

feat: add zip-skill mise task for skill archive uploads
  mise.toml
  scripts/zip-skill.sh
Due: shellcheck

fix: prune matched dotdirs in zip-skill dotfile cleanup
  scripts/zip-skill.sh
Due: shellcheck

fix: validate symlinks before writing the zip in zip-skill
  scripts/zip-skill.sh
Due: shellcheck

feat: add zip-skill mise task for skill archive uploads (#308)
  mise.toml
  scripts/check-python-allowlist.sh
  scripts/zip-skill.sh
Due: shellcheck

docs(journal): document the skill update/release path
  crates/journal/README.md
Due: markdownlint

docs(journal): document the skill update/release path (#312)
  crates/journal/README.md
Due: markdownlint

feat(dev): move crate build/skill-install tasks to mise, allow local-build skill installs
  AGENTS.md
  CONTRIBUTING.md
  README.md
  mise.toml
  package.json
Due: biome, markdownlint

feat(dev): move crate build/skill-install tasks to mise, allow local-build skill installs (#313)
  AGENTS.md
  CONTRIBUTING.md
  README.md
  mise.toml
  package.json
Due: biome, markdownlint

fix(journal-entry-creator): document the required ## Compliance section
  skills/documentation/journal-entry-creator/assets/templates/article-summary.yaml
  skills/documentation/journal-entry-creator/assets/templates/journal-entry.yaml
  skills/documentation/journal-entry-creator/assets/templates/learning.yaml
  skills/documentation/journal-entry-creator/assets/templates/ticket-kickoff.yaml
  skills/documentation/journal-entry-creator/assets/templates/ticket-refinement.yaml
  skills/documentation/journal-entry-creator/assets/templates/troubleshooting.yaml
  skills/documentation/journal-entry-creator/references/compliance.md
Due: markdownlint, yamllint

fix(journal-entry-creator): document the required ## Compliance section (#314)
  skills/documentation/journal-entry-creator/assets/templates/article-summary.yaml
  skills/documentation/journal-entry-creator/assets/templates/journal-entry.yaml
  skills/documentation/journal-entry-creator/assets/templates/learning.yaml
  skills/documentation/journal-entry-creator/assets/templates/ticket-kickoff.yaml
  skills/documentation/journal-entry-creator/assets/templates/ticket-refinement.yaml
  skills/documentation/journal-entry-creator/assets/templates/troubleshooting.yaml
  skills/documentation/journal-entry-creator/references/compliance.md
Due: markdownlint, yamllint

fix(journal-entry-creator): correct the false gitignored-assets claim
  skills/documentation/journal-entry-creator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

fix(journal-entry-creator): correct the false gitignored-assets claim (#315)
  skills/documentation/journal-entry-creator/SKILL.md
Due: markdownlint, tessl-lint, tessl-review

feat(journal): add pantheon-journal taxonomy add, a write path for the taxonomy
  crates/journal/src/main.rs
  crates/journal/src/taxonomy.rs
Due: none

fix(journal): normalize tags in taxonomy add before checking/writing
  crates/journal/src/taxonomy.rs
Due: none

feat(journal): add pantheon-journal taxonomy add, a write path for the taxonomy (#316)
  crates/journal/src/main.rs
  crates/journal/src/taxonomy.rs
Due: none

feat(journal): add pantheon-journal kb-index for a separate KB corpus
  crates/journal/src/kb.rs
  crates/journal/src/lib.rs
  crates/journal/src/main.rs
  crates/journal/src/scan.rs
Due: none

feat(journal): add pantheon-journal kb-index for a separate KB corpus (#317)
  crates/journal/src/kb.rs
  crates/journal/src/lib.rs
  crates/journal/src/main.rs
  crates/journal/src/scan.rs
Due: none

feat(journal): add ticket-kickoff entry type
  crates/journal/src/entry.rs
  crates/journal/src/main.rs
  crates/journal/src/validate.rs
Due: none
