Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck

biome:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
  stage_fixed: true

audit-readme-sync:
  run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
  stage_fixed: true

yamllint:
  run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
  stage_fixed: true

shellcheck:
  run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
  stage_fixed: true

feat: remediate nx-bun-integration skill quality
  .context/audits/nx-bun-integration-audit-2026-02-23.md
  .context/plans/nx-bun-integration-remediation-plan.md
  README.md
  skills/nx-bun-integration/SKILL.md
  skills/nx-bun-integration/references/bun-runtime-api.md
  skills/nx-bun-integration/references/migration-from-node.md
  skills/nx-bun-integration/references/nx-executor-configuration.md
  skills/nx-bun-integration/references/testing-with-bun.md
Due: markdownlint, audit-readme-sync

feat: remediate nx-executors skill quality
  .context/audits/nx-executors-audit-2026-02-23.md
  .context/plans/nx-executors-remediation-plan.md
  README.md
  skills/nx-executors/SKILL.md
  skills/nx-executors/references/context-api-reference.md
  skills/nx-executors/references/executor-schema-design.md
Due: markdownlint, audit-readme-sync

feat: remediate nx-generators skill quality
  .context/audits/nx-generators-audit-2026-02-23.md
  .context/plans/nx-generators-remediation-plan.md
  README.md
  skills/nx-generators/SKILL.md
  skills/nx-generators/references/schema-design-patterns.md
  skills/nx-generators/references/template-engine-guide.md
  skills/nx-generators/references/tree-api-reference.md
Due: markdownlint, audit-readme-sync

feat: remediate nx-workspace-patterns skill quality
  .context/audits/nx-workspace-patterns-audit-2026-02-23.md
  .context/plans/nx-workspace-patterns-remediation-plan.md
  README.md
  skills/nx-workspace-patterns/SKILL.md
  skills/nx-workspace-patterns/references/affected-commands.md
  skills/nx-workspace-patterns/references/caching-strategies.md
  skills/nx-workspace-patterns/references/project-boundaries.md
  skills/nx-workspace-patterns/references/project-graph-configuration.md
Due: markdownlint, audit-readme-sync

feat: remediate opencode-config skill quality
  .context/audits/opencode-config-audit-2026-02-23.md
  .context/plans/opencode-config-remediation-plan.md
  README.md
  skills/opencode-config/SKILL.md
  skills/opencode-config/references/permission-schema.md
  skills/opencode-config/references/provider-configuration.md
Due: markdownlint, audit-readme-sync

feat: remediate plain-english skill quality
  .context/audits/plain-english-audit-2026-02-23.md
  .context/plans/plain-english-remediation-plan.md
  README.md
  skills/plain-english/SKILL.md
  skills/plain-english/references/audience-types.md
  skills/plain-english/references/jargon-translations.md
Due: markdownlint, audit-readme-sync

feat: remediate skill-quality-auditor quality
  .context/audits/skill-quality-auditor-audit-2026-02-23.md
  .context/plans/skill-quality-auditor-remediation-plan.md
  README.md
  skills/skill-quality-auditor/SKILL.md
  skills/skill-quality-auditor/references/dimension-analysis-template.md
  skills/skill-quality-auditor/references/scoring-rubric.md
  skills/skill-quality-auditor/scripts/check-consistency.sh
Due: markdownlint, audit-readme-sync, shellcheck

feat: enhance plain-english skill guidelines with detailed explanations and examples
  skills/plain-english/SKILL.md
Due: markdownlint

feat: remediate software-design-principles skill quality
  .context/audits/software-design-principles-audit-2026-02-23.md
  .context/plans/software-design-principles-remediation-plan.md
  README.md
  skills/software-design-principles/SKILL.md
Due: markdownlint, audit-readme-sync

feat: enhance skill guidelines with detailed explanations and examples
  skills/mise-complete/SKILL.md
  skills/moscow-prioritization/SKILL.md
  skills/nx-biome-integration/SKILL.md
  skills/nx-bun-integration/SKILL.md
  skills/nx-executors/SKILL.md
  skills/nx-generators/SKILL.md
  skills/nx-workspace-patterns/SKILL.md
  skills/opencode-config/SKILL.md
  skills/skill-quality-auditor/SKILL.md
Due: markdownlint

feat: remediate test-driven-development skill quality
  .context/audits/test-driven-development-audit-2026-02-23.md
  .context/plans/test-driven-development-remediation-plan.md
  README.md
  skills/test-driven-development/SKILL.md
Due: markdownlint, audit-readme-sync

feat: remediate typescript-advanced skill quality
  .context/audits/typescript-advanced-audit-2026-02-23.md
  .context/plans/typescript-advanced-remediation-plan.md
  README.md
  skills/typescript-advanced/SKILL.md
Due: markdownlint, audit-readme-sync

feat: remediate acceptance-criteria skill quality
  .context/audits/acceptance-criteria-audit-2026-02-23.md
  .context/plans/acceptance-criteria-remediation-plan.md
  README.md
  skills/acceptance-criteria/SKILL.md
  skills/acceptance-criteria/references/examples.md
  skills/acceptance-criteria/references/invest-criteria.md
  skills/acceptance-criteria/references/templates.md
Due: markdownlint, audit-readme-sync

feat: remediate agents-md skill quality
  .context/audits/agents-md-audit-2026-02-23.md
  .context/plans/agents-md-remediation-plan.md
  README.md
  skills/agents-md/SKILL.md
Due: markdownlint, audit-readme-sync

feat: remediate cfn-behavior-validator skill quality
  .context/audits/cfn-behavior-validator-audit-2026-02-23.md
  .context/plans/cfn-behavior-validator-remediation-plan.md
  README.md
  skills/cfn-behavior-validator/SKILL.md
  skills/cfn-behavior-validator/references/test-templates.md
  skills/cfn-behavior-validator/references/validation-workflow.md
Due: markdownlint, audit-readme-sync

feat: add GitHub workflow design for automated skill auditing
  .context/features/github-workflow-skill-audit-pr.md
Due: markdownlint

plan: add implementation plan for GitHub workflow skill audit
  .context/plans/github-workflow-skill-audit-pr-plan.md
Due: markdownlint

Add revision plan for GitHub workflow skill audit PR
  .context/plans/github-workflow-skill-audit-pr-plan-rev1.md
Due: markdownlint

refactor: restructure audit storage with dated directories and delta tracking
  .context/plans/bdd-testing-remediation-plan.md
  skills/skill-quality-auditor/SKILL.md
  skills/skill-quality-auditor/scripts/audit-skills.sh
  skills/skill-quality-auditor/scripts/evaluate.sh
  skills/skill-quality-auditor/scripts/generate-remediation-plan.sh
  skills/skill-quality-auditor/scripts/prune-audits.sh
Due: markdownlint, shellcheck

add: journal-entry-creator skill with templates, validation, and compliance
  skills/journal-entry-creator/SKILL.md
  skills/journal-entry-creator/checklist/compliance.md
  skills/journal-entry-creator/references/example-journal-entry.md
  skills/journal-entry-creator/references/example-with-frontmatter.md
  skills/journal-entry-creator/references/journal-command.md
  skills/journal-entry-creator/scripts/validate-journal-entry.sh
  skills/journal-entry-creator/template/article-summary.yaml
  skills/journal-entry-creator/template/journal-entry.yaml
  skills/journal-entry-creator/template/learning.yaml
  skills/journal-entry-creator/template/troubleshooting.yaml
  skills/skill-quality-auditor/scripts/validate-skill-artifacts.sh
Due: markdownlint, yamllint, shellcheck

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}
  markdownlint: any of: *.md
  audit-readme-sync: any of: .context/audits/*.md
  yamllint: any of: *.{yml,yaml}
  shellcheck: any of: *.sh
