Repository pantheon-org/tekhne: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdownlint, audit-readme-sync, yamllint, shellcheck, tessl-lint, tessl-review, tessl-publish-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,tsx,jsx,json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    markdownlint:
      glob: "*.md"
      run: bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc {staged_files}
      stage_fixed: true
    skill-artifacts:
      run: ./skills/skill-quality-auditor/scripts/validate-skill-artifacts.sh {staged_files}
      stage_fixed: true
    audit-readme-sync:
      glob: ".context/audits/*.md"
      run: ./scripts/update-readme-ratings.sh && bunx markdownlint-cli2 --config .markdownlint-cli2.jsonc README.md && git add README.md
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: command -v yq >/dev/null 2>&1 && yq eval '.' {staged_files} >/dev/null
      stage_fixed: true
    shellcheck:
      glob: "*.sh"
      run: command -v shellcheck >/dev/null 2>&1 && shellcheck {staged_files}
      stage_fixed: true
    tessl-lint:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:lint -- "$f"; done
      stage_fixed: true
    tessl-review:
      glob: "skills/**/SKILL.md"
      run: for f in {staged_files}; do bun run tessl:review -- "$f"; done
      stage_fixed: true
    tessl-publish-check:
      glob: "skills/**/tile.json"
      run: ./scripts/tessl-publish-check.sh {staged_files}
      stage_fixed: true

docs(plans): add living Execution progress + mark Wave 1-2 done (#185)
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

feat(skill-install): port agent detection table and install action from TypeScript
  Cargo.lock
  crates/skill-install/Cargo.toml
  crates/skill-install/src/agents.rs
  crates/skill-install/src/env.rs
  crates/skill-install/src/install.rs
  crates/skill-install/src/lib.rs
  crates/skill-install/tests/parity.rs
Due: none

feat(skill-install): port agent detection table and install action from TypeScript (#186)
  Cargo.lock
  crates/skill-install/Cargo.toml
  crates/skill-install/src/agents.rs
  crates/skill-install/src/env.rs
  crates/skill-install/src/install.rs
  crates/skill-install/src/lib.rs
  crates/skill-install/tests/parity.rs
Due: none

wip(skill-validator-rs): partial A4a validator port (INCOMPLETE, does not build)
  Cargo.lock
  Cargo.toml
  crates/skill-validator-rs/Cargo.toml
  crates/skill-validator-rs/src/contamination.rs
  crates/skill-validator-rs/src/content.rs
  crates/skill-validator-rs/src/links.rs
  crates/skill-validator-rs/src/skill.rs
  crates/skill-validator-rs/src/structure/frontmatter.rs
  crates/skill-validator-rs/src/structure/fsutil.rs
  crates/skill-validator-rs/src/structure/internal_links.rs
  crates/skill-validator-rs/src/structure/markdown.rs
  crates/skill-validator-rs/src/structure/tokens.rs
  crates/skill-validator-rs/src/types.rs
  crates/skill-validator-rs/src/util.rs
Due: none

feat(skill-validator-rs): wire and compile A4a validator core (structure/content/contamination)
  Cargo.lock
  crates/skill-validator-rs/Cargo.toml
  crates/skill-validator-rs/src/contamination.rs
  crates/skill-validator-rs/src/content.rs
  crates/skill-validator-rs/src/lib.rs
  crates/skill-validator-rs/src/links.rs
  crates/skill-validator-rs/src/skill.rs
  crates/skill-validator-rs/src/structure/frontmatter.rs
  crates/skill-validator-rs/src/structure/fsutil.rs
  crates/skill-validator-rs/src/structure/internal_links.rs
  crates/skill-validator-rs/src/structure/markdown.rs
  crates/skill-validator-rs/src/structure/mod.rs
  crates/skill-validator-rs/src/structure/orphans.rs
  crates/skill-validator-rs/src/structure/tokens.rs
  crates/skill-validator-rs/src/types.rs
  crates/skill-validator-rs/src/util.rs
  crates/skill-validator-rs/tests/token_parity.rs
Due: none

fix(skill-validator-rs): reject non-scalar metadata frontmatter to match Go (A4a)
  crates/skill-validator-rs/src/skill.rs
Due: none

test(skill-validator-rs): add S1 tiktoken token-parity gate (A4a)
  Cargo.lock
  crates/skill-validator-rs/Cargo.toml
  crates/skill-validator-rs/tests/token-parity/README.md
  crates/skill-validator-rs/tests/token-parity/corpus.jsonl
  crates/skill-validator-rs/tests/token-parity/descriptions.json
  crates/skill-validator-rs/tests/token-parity/expected_counts.json
  crates/skill-validator-rs/tests/token-parity/gen_corpus.mjs
  crates/skill-validator-rs/tests/token-parity/goref/go.mod
  crates/skill-validator-rs/tests/token-parity/goref/go.sum
  crates/skill-validator-rs/tests/token-parity/goref/main.go
  crates/skill-validator-rs/tests/token_parity.rs
Due: biome, markdownlint

docs(plans): mark Wave 3 (A3, A4a) complete; token-parity GO
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

docs(plans): mark Wave 3 (A3, A4a) complete; token-parity GO (#188)
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

feat(skill-auditor): port Go skill-auditor scorer, reporter, store and CLI to Rust (A4b)
  Cargo.lock
  Cargo.toml
  crates/skill-auditor/Cargo.toml
  crates/skill-auditor/src/lib.rs
  crates/skill-auditor/src/main.rs
  crates/skill-auditor/src/reporter/analysis.rs
  crates/skill-auditor/src/reporter/mod.rs
  crates/skill-auditor/src/reporter/remediation.rs
  crates/skill-auditor/src/reporter/report.rs
  crates/skill-auditor/src/reporter/store.rs
  crates/skill-auditor/src/scorer/agents.rs
  crates/skill-auditor/src/scorer/bridge.rs
  crates/skill-auditor/src/scorer/d1_knowledge_delta.rs
  crates/skill-auditor/src/scorer/d2_mindset_procedures.rs
  crates/skill-auditor/src/scorer/d3_anti_pattern.rs
  crates/skill-auditor/src/scorer/d4_specification.rs
  crates/skill-auditor/src/scorer/d5_progressive_disclosure.rs
  crates/skill-auditor/src/scorer/d6_freedom_calibration.rs
  crates/skill-auditor/src/scorer/d7_pattern_recognition.rs
  crates/skill-auditor/src/scorer/d8_practical_usability.rs
  crates/skill-auditor/src/scorer/d9_eval_validation.rs
  crates/skill-auditor/src/scorer/grades.rs
  crates/skill-auditor/src/scorer/helpers.rs
  crates/skill-auditor/src/scorer/mod.rs
  crates/skill-auditor/testdata/fixtures/skill-full/SKILL.md
  crates/skill-auditor/testdata/fixtures/skill-full/evals/instructions.json
  crates/skill-auditor/testdata/fixtures/skill-full/evals/scenario-1/capability.txt
  crates/skill-auditor/testdata/fixtures/skill-full/evals/scenario-1/criteria.json
  crates/skill-auditor/testdata/fixtures/skill-full/evals/scenario-1/task.md
  crates/skill-auditor/testdata/fixtures/skill-full/evals/scenario-2/capability.txt
  crates/skill-auditor/testdata/fixtures/skill-full/evals/scenario-2/criteria.json
  crates/skill-auditor/testdata/fixtures/skill-full/evals/scenario-2/task.md
  crates/skill-auditor/testdata/fixtures/skill-full/evals/scenario-3/capability.txt
  crates/skill-auditor/testdata/fixtures/skill-full/evals/scenario-3/criteria.json
  crates/skill-auditor/testdata/fixtures/skill-full/evals/scenario-3/task.md
  crates/skill-auditor/testdata/fixtures/skill-full/evals/summary.json
  crates/skill-auditor/testdata/fixtures/skill-full/references/deep-reference.md
  crates/skill-auditor/testdata/fixtures/skill-minimal/SKILL.md
Due: biome, markdownlint

fix(skill-auditor): honour skill load failure in validator bridge (A4b)
  crates/skill-auditor/src/scorer/bridge.rs
Due: none

test(skill-auditor): add golden-corpus grade-parity gate vs Go auditor (A4b)
  biome.json
  crates/skill-auditor/tests/golden-corpus/README.md
  crates/skill-auditor/tests/golden-corpus/corpus.txt
  crates/skill-auditor/tests/golden-corpus/goldens.json
  crates/skill-auditor/tests/golden-corpus/goref/go.mod
  crates/skill-auditor/tests/golden-corpus/goref/go.sum
  crates/skill-auditor/tests/golden-corpus/goref/main.go
  crates/skill-auditor/tests/grade_parity.rs
  hk.pkl
Due: biome, markdownlint

docs(plans): mark Wave 4 (A4b) complete; Wave 5 next
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

docs(plans): mark Wave 4 (A4b) complete; Wave 5 next (#190)
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

feat(skill-auditor): add self-contained 'skill install' subcommand (A5)
  Cargo.lock
  Cargo.toml
  crates/skill-auditor/Cargo.toml
  crates/skill-auditor/build.rs
  crates/skill-auditor/src/install_cmd.rs
  crates/skill-auditor/src/lib.rs
  crates/skill-auditor/src/main.rs
  crates/skill-auditor/src/skill_bundle.rs
Due: none

feat(auditor-dist): finalize cargo-dist distribution for skill-auditor (A5)
  .github/workflows/release.yml
  .github/workflows/rust-release.yml
  Cargo.toml
  crates/skill-auditor/Cargo.toml
  dist-workspace.toml
  mise.toml
Due: yamllint

refactor(auditor-dist): scope tool releases via cargo-dist tag-namespace (A5)
  .context/plans/release-versioning-policy.md
  .github/workflows/tool-release.yml
  dist-workspace.toml
Due: markdownlint, yamllint

ci(plumber): allowlist dist bootstrap URLs + relax container digest for tool-release (A5)
  .plumber.yaml
Due: yamllint

feat: auditor distribution + self-contained skill install (A5) (#191)
  .context/plans/release-versioning-policy.md
  .github/workflows/rust-release.yml
  .github/workflows/tool-release.yml
  .plumber.yaml
  Cargo.lock
  Cargo.toml
  crates/skill-auditor/Cargo.toml
  crates/skill-auditor/build.rs
  crates/skill-auditor/src/install_cmd.rs
  crates/skill-auditor/src/lib.rs
  crates/skill-auditor/src/main.rs
  crates/skill-auditor/src/skill_bundle.rs
  dist-workspace.toml
  mise.toml
Due: markdownlint, yamllint

docs(plans): mark Wave 5 (A5) complete; at GO/NO-GO gate
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

docs(plans): mark Wave 5 (A5) complete; at GO/NO-GO gate (#192)
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

docs(plans): record GO gate decision + A6/B5 precondition resolutions
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

docs(plans): record GO gate decision + A6/B5 precondition resolutions (#193)
  .context/plans/monorepo-tools-distribution.md
Due: markdownlint

feat(journal): add journal crate CLI promoting journal-entry-creator (A8)
  Cargo.lock
  Cargo.toml
  crates/journal/Cargo.toml
  crates/journal/build.rs
  crates/journal/src/date.rs
  crates/journal/src/entry.rs
  crates/journal/src/install_cmd.rs
  crates/journal/src/lib.rs
  crates/journal/src/main.rs
  crates/journal/src/skill_bundle.rs
  crates/journal/src/validate.rs
  crates/journal/tests/roundtrip.rs
Due: none

feat(journal): add journal crate CLI promoting journal-entry-creator (A8) (#194)
  Cargo.lock
  Cargo.toml
  crates/journal/Cargo.toml
  crates/journal/build.rs
  crates/journal/src/date.rs
  crates/journal/src/entry.rs
  crates/journal/src/install_cmd.rs
  crates/journal/src/lib.rs
  crates/journal/src/main.rs
  crates/journal/src/skill_bundle.rs
  crates/journal/src/validate.rs
  crates/journal/tests/roundtrip.rs
Due: none

feat(adr): add adr crate CLI with bundled skill and installer (A7)
  Cargo.lock
  Cargo.toml
  crates/adr/Cargo.toml
  crates/adr/build.rs
  crates/adr/src/adr.rs
  crates/adr/src/date.rs
  crates/adr/src/install_cmd.rs
  crates/adr/src/lib.rs
  crates/adr/src/main.rs
  crates/adr/src/skill_bundle.rs
  crates/adr/tests/integration.rs
  docs/src/content/docs/tiles.md
  skills/documentation/adr-creator/.tessl-plugin/plugin.json
  skills/documentation/adr-creator/SKILL.md
  skills/documentation/adr-creator/evals/instructions.json
  skills/documentation/adr-creator/evals/scenario-1/capability.txt
  skills/documentation/adr-creator/evals/scenario-1/criteria.json
  skills/documentation/adr-creator/evals/scenario-1/task.md
  skills/documentation/adr-creator/evals/scenario-2/capability.txt
  skills/documentation/adr-creator/evals/scenario-2/criteria.json
  skills/documentation/adr-creator/evals/scenario-2/task.md
  skills/documentation/adr-creator/evals/scenario-3/capability.txt
  skills/documentation/adr-creator/evals/scenario-3/criteria.json
  skills/documentation/adr-creator/evals/scenario-3/task.md
  skills/documentation/adr-creator/evals/summary.json
  skills/documentation/adr-creator/references/adr-lifecycle.md
  skills/documentation/adr-creator/references/cli-usage.md
Due: biome, markdownlint, tessl-lint, tessl-review

ci(dist): add adr + journal to releases; skip release workflow on PRs (A7)
  .github/workflows/tool-release.yml
  dist-workspace.toml
Due: yamllint

feat(adr): adr crate CLI with bundled skill + dist wiring for all tools (A7) (#195)
  .github/workflows/tool-release.yml
  Cargo.lock
  Cargo.toml
  crates/adr/Cargo.toml
  crates/adr/build.rs
  crates/adr/src/adr.rs
  crates/adr/src/date.rs
  crates/adr/src/install_cmd.rs
  crates/adr/src/lib.rs
  crates/adr/src/main.rs
  crates/adr/src/skill_bundle.rs
  crates/adr/tests/integration.rs
  dist-workspace.toml
  docs/src/content/docs/tiles.md
  skills/documentation/adr-creator/.tessl-plugin/plugin.json
  skills/documentation/adr-creator/SKILL.md
  skills/documentation/adr-creator/evals/instructions.json
  skills/documentation/adr-creator/evals/scenario-1/capability.txt
  skills/documentation/adr-creator/evals/scenario-1/criteria.json
  skills/documentation/adr-creator/evals/scenario-1/task.md
  skills/documentation/adr-creator/evals/scenario-2/capability.txt
  skills/documentation/adr-creator/evals/scenario-2/criteria.json
  skills/documentation/adr-creator/evals/scenario-2/task.md
  skills/documentation/adr-creator/evals/scenario-3/capability.txt
  skills/documentation/adr-creator/evals/scenario-3/criteria.json
  skills/documentation/adr-creator/evals/scenario-3/task.md
  skills/documentation/adr-creator/evals/summary.json
  skills/documentation/adr-creator/references/adr-lifecycle.md
  skills/documentation/adr-creator/references/cli-usage.md
Due: biome, markdownlint, yamllint, tessl-lint, tessl-review
